extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")
    link(rel="stylesheet" href="../assets/app/vendor/select2/select2.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-datatables-bs3/assets/css/datatables.css")
    link(rel='stylesheet', href='../assets/app/vendor/daterangepicker/daterangepicker.css')

block info
    style(type='text/css').
        .hide {
            display: none;
        }
    script.
        var page_name = "statics-page";
        var page_sub_name="bao-cao-ban-hang";
        var page_master_group = "Báo cáo";
        var page_child_group = "Báo cáo bán hàng";

block header
    include includes/headerCustom
    +headerCustom(
    "Báo cáo bán hàng",
    "Báo cáo")


block content

    // start: page
    section.panel

        header(class="panel-heading")
            .pull-right
                a(href="#" class="btn btn-default" onclick="export_excel()") Xuất file
                a(href="#" class="panel-action panel-action-toggle" data-panel-toggle)
                a(href="#" class="panel-action panel-action-dismiss" data-panel-dismiss)
            h2.panel-title Báo cáo bán hàng

        div.panel-body.form-bordered
            .form-group.need
                label.col-md-2.control-label() Thời gian báo cáo
                .col-md-6
                    select.input-group.mb-md#select-date.form-control.populate(data-plugin-selecttwo='' onchange="change_sort()")
                        option(value="1") 48 giờ gần nhất
                        option(value="2") 7 ngày gần đây
                        option(value="3") Tùy chọn
                    .input-group.mb-md.hide#date
                        span.input-group-addon
                            i.fa.fa-calendar
                        input.form-control#ip-begin-date(type='text', name='start')
            .form-group.need
                label.col-md-2.control-label() Báo cáo
                .col-md-6
                    select#select-sort.form-control.populate(data-plugin-selecttwo='' onchange="change_sort_type()")
                        option(value="1") Theo sản phẩm
                        option(value="2") Theo khách hàng


            .form-group.need
                label.col-md-2.control-label() Tình trạng đơn
                .col-md-6
                    select#select-status.form-control.populate(data-plugin-selecttwo='' onchange="change_sort_status()")
                        option(value="0") Tất cả đơn hàng
                        option(value="1") Đơn hàng mới
                        option(value="2") Đơn hàng nhân viên đã gọi xác nhận
                        option(value="3") Đơn hàng đã xuất hàng
                        option(value="4") Đơn hàng đã giao và thanh toán
                        option(value="5") Đơn hàng đang được tạo
                        option(value="6") Đơn hàng đang thanh toán
                        //option(value="1") Đơn hàng chờ xác nhận
                        //option(value="2") Đơn hàng chờ giao hàng
                        //option(value="3") Đơn hàng đang giao hàng
                        //option(value="4") Đơn hàng giao hàng thành công
                        //option(value="5") Đơn hàng bị huỷ
                        //option(value="6") Đơn hàng bị giao hàng thất bại
            .form-group
                label.col-md-2.control-label() Báo cáo tổng doanh thu
                label.col-md-7.control-label()#lb-doanhthu #{tong}







            div.hide#person
                table.table.table-bordered.table-striped.mb-none#table-person()
                    thead
                        tr
                            th Tên khách hàng
                            th Email
                            th Số lượng sản phẩm
                            th Thành tiền

                    tbody
                        each obj in data
                            tr.gradeX
                                td #{obj.fullname}
                                td #{obj.email}bao
                                td #{obj.total_amount}
                                td #{obj.total_quantity}

            div#product
                table.table.table-bordered.table-striped.mb-none#product-person()
                    thead
                        tr
                            th Mã sản phẩm
                            th Tên sản phẩm
                            th Số lượng sản phẩm
                            th Thành tiền

                    tbody
                        each obj in data
                            tr.gradeX
                                td #{obj.product_code}
                                td #{obj.product_name}
                                td #{obj.total_product_quantity}
                                td #{obj.total_after_promotion}



            iv.hide#person1
                table.table.table-bordered.table-striped.mb-none#table-person1()
                    thead
                        tr
                            th Tên khách hàng
                            th Email
                            th Số lượng sản phẩm
                            th Thành tiền

                    tbody
                        each obj in data
                            tr.gradeX
                                td #{obj.fullname}
                                td #{obj.email}bao
                                td #{obj.total_amount}
                                td #{obj.total_quantity}

            div.hide#product1
                table.table.table-bordered.table-striped.mb-none#product-person1()
                    thead
                        tr
                            th Mã sản phẩm
                            th Tên sản phẩm
                            th Số lượng sản phẩm
                            th Thành tiền

                    tbody
                        each obj in data
                            tr.gradeX
                                td #{obj.product_code}
                                td #{obj.product_name}
                                td #{obj.total_product_quantity}
                                td #{obj.total_after_promotion}


block JS
    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/jquery-easypiechart/jquery.easypiechart.js")
    script(src="../assets/app/vendor/flot/jquery.flot.js")
    script(src="../assets/app/vendor/flot-tooltip/jquery.flot.tooltip.js")
    script(src="../assets/app/vendor/flot/jquery.flot.pie.js")
    script(src="../assets/app/vendor/flot/jquery.flot.categories.js")
    script(src="../assets/app/vendor/flot/jquery.flot.resize.js")
    script(src="../assets/app/vendor/jquery-sparkline/jquery.sparkline.js")
    script(src="../assets/app/vendor/raphael/raphael.js")
    script(src="../assets/app/vendor/morris/morris.js")
    script(src="../assets/app/vendor/gauge/gauge.js")
    script(src="../assets/app/vendor/snap-svg/snap.svg.js")
    script(src="../assets/app/vendor/liquid-meter/liquid.meter.js")
    script(src="../assets/app/vendor/jqvmap/jquery.vmap.js")
    script(src="../assets/app/vendor/jqvmap/data/jquery.vmap.sampledata.js")
    script(src="../assets/app/vendor/jqvmap/maps/jquery.vmap.world.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.africa.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.asia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.australia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.europe.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")
    script(src='../assets/app/vendor/daterangepicker/moment.min.js')
    script(src='../assets/app/vendor/daterangepicker/daterangepicker.js')
    script(src='../js/Chart.min.js')


block footerJS
    script(src="../assets/app/javascripts/bao-cao/bao-cao-ban-hang.js")


