extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")

    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")
    link(rel="stylesheet" href="../assets/app/vendor/select2/select2.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-datatables-bs3/assets/css/datatables.css")
block info
    script.
        var page_name = "monanngon_slider_page";
        var page_number_child_left_menu = 1;
        
        function go_page(url) {
            var temp = 'sua-slider-mon-an-ngon?id='+url;
            location.href = temp;
        }
        function deleted(id) {
            $.ajax({
                url: "danh-sach-slider-mon-an-ngon/xoa",
                type: "post", //send it through get method
                data: JSON.stringify({
                    id: id
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Xóa  [' + id + "] thành công",
                            type: 'success'
                        });
                        var table = $('#datatable-tabletools').DataTable();
                        table
                            .row($("#row" + id).parents('tr'))
                            .remove()
                            .draw();
                    } else {
                        new PNotify({
                            title: 'Thông báo',
                            text: "Xóa  [" + id + "] thất bại\n" + response.description,
                            type: 'error'
                        });
                    }

                },
                error: function (xhr) {
                    //Do Something to handle error
                    new PNotify({
                        title: 'Thông báo',
                        text: "Xóa [" + id + "] thất bại",
                        type: 'error'
                    });
                }
            });
        }



block header
    header.page-header
        h2 Tổng quan
        div(class="right-wrapper pull-right")
            ol.breadcrumbs
                li
                    a(href="dashboard")
                        i(class="fa fa-home")
                li
                    span Tổng quan

            a(class="sidebar-right-toggle" data-open="sidebar-right")
                i(class="fa fa-chevron-left")

block content

    // start: page
    section.panel

        header(class="panel-heading")
            div(class="panel-actions")
                a(href="#" class="panel-action panel-action-toggle" data-panel-toggle)
                a(href="#" class="panel-action panel-action-dismiss" data-panel-dismiss)

            a.btn.btn-default.btn-delete(href="them-slider-mon-an-ngon")= "Thêm ảnh"

        div.panel-body
            table.table.table-bordered.table-striped.mb-none#datatable-tabletools()
                thead
                    tr
                        th Tiêu đề
                        th Hình ảnh
                        th Thứ tự sắp xếp
                        th Hành động
                        
                tbody
                    each obj in data
                        tr.gradeX
                            td #{obj.title}
                            td
                                img(src='../upload/' + obj.image class="image-sample")
                            td #{obj.sort_order}
                            td(class="actions" on)
                                a(class="modal-with-form btn btn-default" onclick='go_page("'+obj.id+'")')
                                    i(class="fa fa-pencil")
                                button(class="btn btn-default" id='row'+obj.id onclick='deleted("'+obj.id+'")' )
                                    i(class="fa fa-trash-o")





block JS

    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/jquery-easypiechart/jquery.easypiechart.js")
    script(src="../assets/app/vendor/flot/jquery.flot.js")
    script(src="../assets/app/vendor/flot-tooltip/jquery.flot.tooltip.js")
    script(src="../assets/app/vendor/flot/jquery.flot.pie.js")
    script(src="../assets/app/vendor/flot/jquery.flot.categories.js")
    script(src="../assets/app/vendor/flot/jquery.flot.resize.js")
    script(src="../assets/app/vendor/jquery-sparkline/jquery.sparkline.js")
    script(src="../assets/app/vendor/raphael/raphael.js")
    script(src="../assets/app/vendor/morris/morris.js")
    script(src="../assets/app/vendor/gauge/gauge.js")
    script(src="../assets/app/vendor/snap-svg/snap.svg.js")
    script(src="../assets/app/vendor/liquid-meter/liquid.meter.js")
    script(src="../assets/app/vendor/jqvmap/jquery.vmap.js")
    script(src="../assets/app/vendor/jqvmap/data/jquery.vmap.sampledata.js")
    script(src="../assets/app/vendor/jqvmap/maps/jquery.vmap.world.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.africa.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.asia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.australia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.europe.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")
    script(src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js")

    script(src="../assets/app/javascripts/chinh-sach-ban-hang/examples.chinh-sach-ban-hang.js")
    script(src="../assets/app/javascripts/quan-ly-san-pham/table-tool.js")

block footerJS


