extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")

    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")
    link(rel="stylesheet" href="../assets/app/vendor/select2/select2.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-datatables-bs3/assets/css/datatables.css")

block info
    script.
        var page_name = "khuyenmai-page";
        var page_sub_name="danh-sach-chuong-trinh-khuyen-mai";
        var page_master_group = "Quản lý khuyến mãi";
        var page_child_group = "Danh sách CT khuyến mãi";

        function go(url) {
            location.href = "sua-chuong-trinh-khuyen-mai?id="+url;
        }
        function deleted(id,  name) {
            $.ajax({
                url: "danh-sach-chuong-trinh-khuyen-mai/xoa",
                type: "post", //send it through get method
                data: JSON.stringify({
                    id: id
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Xóa chương trình khuyến mãi [' + name + "] thành công",
                            type: 'success'
                        });
                        var table = $('#datatable-tabletools').DataTable();
                        table
                            .row($("#row" + id).parents('tr'))
                            .remove()
                            .draw();
                    } else {
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Xóa chương trình khuyến mãi [' + name + "] thất bại\n" + response.description,
                            type: 'error'
                        });
                    }

                },
                error: function (xhr) {
                    //Do Something to handle error
                    new PNotify({
                        title: 'Thông báo',
                        text: 'Thêm chương trình khuyến mãi [' + name + "] thất bại",
                        type: 'error'
                    });
                }
            });
        }
        function change(e,id) {
            var current_status = e.attributes.status.nodeValue;
            if(current_status == 1){
                current_status = 2;
            }else if(current_status == 2){
                current_status = 1;
            }

            $.ajax({
                url: "danh-sach-chuong-trinh-khuyen-mai/update_status",
                type: "post", //send it through get method
                data: JSON.stringify({
                    id: id,
                    status: current_status
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Thay đổi chương trình khuyến mãi  thành công',
                            type: 'success'
                        });
                        $('#button' + id).attr("status", current_status);
                        if (current_status == 2) {
                            $('#button' + id).attr('class', 'btn btn-default');
                            $('#status' + id).html('Ngừng hoạt động');
                            e.textContent = "Kích hoạt";
                        } else {
                            $('#button' + id).attr('class', 'btn btn-primary');
                            $('#status' + id).html('Đang hoạt động');
                            e.textContent = "Tạm ngưng";
                        }
                    } else {
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Thay đổi chương trình khuyến mãi thất bại\n' + response.description,
                            type: 'error'
                        });
                    }
                },
                error: function (xhr) {
                    //Do Something to handle error
                    new PNotify({
                        title: 'Thông báo',
                        text: 'Thay đổi chương trình khuyến mãi thất bại',
                        type: 'error'
                    });
                }
            });
        }

block header
    header.page-header
        h2 Danh sách chương trình khuyến mãi
        div(class="right-wrapper pull-right")
            ol.breadcrumbs
                li
                    a(href="dashboard")
                        i(class="fa fa-home")
                li
                    span Quản lý chương trình khuyến mãi
                li
                    span Danh sách chương trình khuyến mãi

            a(class="sidebar-right-toggle" data-open="sidebar-right")
                i(class="fa fa-chevron-left")

block content

    // start: page
    section.panel

        header(class="panel-heading")
            div(class="panel-actions")
                a(href="#" class="panel-action panel-action-toggle" data-panel-toggle)
                a(href="#" class="panel-action panel-action-dismiss" data-panel-dismiss)

            a#btn-add.btn.btn-default.btn-delete(href="them-chuong-trinh-khuyen-mai")= "Thêm chương trình khuyến mãi"

        div.panel-body
            table.table.table-bordered.table-striped.mb-none#datatable-tabletools()
                thead
                    tr
                        th Mã chương trình khuyến mãi
                        th Tên chương trình khuyến mãi
                        th Thứ tự sắp xếp
                        th Trạng thái
                        th Hành động

                tbody
                    each obj in data
                        tr.gradeX
                            td #{obj.code}
                            td #{obj.name}
                            td.canEdit(id="id"+obj.id) #{obj.sort_order}
                            td(id='status'+obj.id)
                                if obj.status == 1
                                    | Đang hoạt động
                                else if obj.status == 2
                                    | Ngưng hoạt động
                            td(class="actions" on)
                                button.btn-edit(class="modal-with-form btn btn-default" onclick='go("'+obj.id+'")')
                                    i(class="fa fa-pencil")
                                button.btn-del(class="btn btn-default" id='row'+obj.id onclick='deleted("'+obj.id+'","'+obj.name+'")' )
                                    i(class="fa fa-trash-o")
                                if obj.status == 1
                                    button.btn-edit(class="btn btn-primary" status=obj.status id='button' + obj.id onclick='change(this,"' + obj.id + '")' ) Tạm ngưng
                                else if obj.status == 2
                                    button.btn-edit(class="btn btn-default" status=obj.status id='button' + obj.id onclick='change(this,"' + obj.id + '")' ) Kích hoạt






block JS
    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/jquery-easypiechart/jquery.easypiechart.js")
    script(src="../assets/app/vendor/flot/jquery.flot.js")
    script(src="../assets/app/vendor/flot-tooltip/jquery.flot.tooltip.js")
    script(src="../assets/app/vendor/flot/jquery.flot.pie.js")
    script(src="../assets/app/vendor/flot/jquery.flot.categories.js")
    script(src="../assets/app/vendor/flot/jquery.flot.resize.js")
    script(src="../assets/app/vendor/jquery-sparkline/jquery.sparkline.js")
    script(src="../assets/app/vendor/raphael/raphael.js")
    script(src="../assets/app/vendor/morris/morris.js")
    script(src="../assets/app/vendor/gauge/gauge.js")
    script(src="../assets/app/vendor/snap-svg/snap.svg.js")
    script(src="../assets/app/vendor/liquid-meter/liquid.meter.js")
    script(src="../assets/app/vendor/jqvmap/jquery.vmap.js")
    script(src="../assets/app/vendor/jqvmap/data/jquery.vmap.sampledata.js")
    script(src="../assets/app/vendor/jqvmap/maps/jquery.vmap.world.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.africa.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.asia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.australia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.europe.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")
    script(src="../assets/app/javascripts/edit-inline-order/order-chuong-trinh-khuyen-mai.js")

    script.
        $('#datatable-tabletools').editableTableWidget();

block footerJS
    script(src="../assets/app/javascripts/quan-ly-san-pham/table-tool.js")
