extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")

    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-datatables-bs3/assets/css/datatables.css")
block info
    script.
        var page_name = "chinhanh-page";
        var page_sub_name="danh-sach-chi-nhanh-cua-hang";
        var page_master_group = "Quản lý chi nhánh (để sau)";
        var page_child_group = "Danh sách chi nhánh";

        function go_edit(url) {
            location.href = url;
        }
        function deleted(id, name) {
            $.ajax({
                url: "danh-sach-chi-nhanh-cua-hang/xoa",
                type: "post", //send it through get method
                data: JSON.stringify({
                    id: id
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Xóa chi nhánh [' + name + "] thành công",
                            type: 'success'
                        });
                        var table = $('#datatable-tabletools').DataTable();
                        table
                            .row($("#row" + id).parents('tr'))
                            .remove()
                            .draw();
                    } else {
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Xóa chi nhánh [' + name + "] thất bại\n" + response.description,
                            type: 'error'
                        });
                    }

                },
                error: function (xhr) {
                    //Do Something to handle error
                    new PNotify({
                        title: 'Thông báo',
                        text: 'Xoá chi nhánh [' + name + '] thất bại',
                        type: 'error'
                    });
                }
            });
        }

block header
    header.page-header
        h2 Danh sách chi nhánh
        div(class="right-wrapper pull-right")
            ol.breadcrumbs
                li
                    a(href="dashboard")
                        i(class="fa fa-home")
                li
                    span Quản lý chi nhánh
                li
                    span Danh sách chi nhánh

            a(class="sidebar-right-toggle" data-open="sidebar-right")
                i(class="fa fa-chevron-left")

block content

    // start: page
    section.panel

        header(class="panel-heading")
            div(class="panel-actions")
                a(href="#" class="panel-action panel-action-toggle" data-panel-toggle)
                a(href="#" class="panel-action panel-action-dismiss" data-panel-dismiss)

            a#btn-add.btn.btn-default.btn-delete(href="them-danh-muc-san-pham")= "Thêm chi nhánh"

        div.panel-body
            table.table.table-bordered.table-striped.mb-none#datatable-tabletools()
                thead
                    tr
                        th Địa chỉ
                        th Hành động

                tbody
                    each obj in data
                        tr.gradeX
                            td #{obj.title}
                            td(class="actions" on)
                                button.btn-edit(class="modal-with-form btn btn-default" onclick='go_edit("sua-chi-nhanh-cua-hang?id='+obj.id+'")' )
                                    i(class="fa fa-pencil")
                                button.btn-del(class="btn btn-default" id='row'+obj.id onclick='deleted("'+obj.id+'","'+obj.title+'")' )
                                    i(class="fa fa-trash-o")



block JS
    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")
    script(src="../assets/app/javascripts/quan-ly-san-pham/table-tool.js")

block footerJS
