extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")
    link(rel="stylesheet" href="../assets/app/vendor/select2/select2.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-datatables-bs3/assets/css/datatables.css")

block info
    style(type='text/css').
        .hide {
            display: none;
        }
    script.
        var page_name = "khuyenmai-page";
        var page_sub_name="danh-sach-coupon";
        var page_master_group = "Quản lý khuyến mãi";
        var page_child_group = "Danh sách tất cả Coupon";

        function xem(url) {
            location.href = "sua-chuong-trinh-coupon?id="+url;
        }


        function change_multi(e,id) {
            var current_status = e.attributes.status.nodeValue;
            if(current_status == 1){
                current_status = 2;
            }else if(current_status == 2){
                current_status = 1;
            }

            $.ajax({
                url: "danh-sach-coupon/update_status_multi",
                type: "post", //send it through get method
                data: JSON.stringify({
                    id: id,
                    status: current_status
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Thay đổi chương trình khuyến mãi  thành công',
                            type: 'success'
                        });
                        $('#button' + id).attr("status", current_status);
                        if (current_status == 2) {
                            $('#button' + id).attr('class', 'btn btn-default');
                            $('#status' + id).html('Ngừng hoạt động');
                            e.textContent = "Kích hoạt";
                        } else {
                            $('#button' + id).attr('class', 'btn btn-primary');
                            $('#status' + id).html('Đang hoạt động');
                            e.textContent = "Tạm ngưng";
                        }
                    } else {
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Thay đổi chương trình khuyến mãi thất bại\n' + response.description,
                            type: 'error'
                        });
                    }
                },
                error: function (xhr) {
                    //Do Something to handle error
                    new PNotify({
                        title: 'Thông báo',
                        text: 'Thay đổi chương trình khuyến mãi thất bại',
                        type: 'error'
                    });
                }
            });
        }

        function export_excel() {
            function create_header(name) {
                return "<th style='font-size: 16px;min-width: 100px;max-width: 300px'>"+name+"</th>"
            }

            function create_column(text) {
                return "<td style='text-align: center;font-size: 14px;min-width: 100px;max-width: 300px'>" + text + "</td>"
            }
            var htmls = "";
            var uri = 'data:application/vnd.ms-excel;base64,';
            var template =
                '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40">' +
                '<head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]-->' +
                '<meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8">' +
                '</head>' +
                '<body>' +
                '<table>{table}</table>' +
                '</body>' +
                '</html>';
            var base64 = function (s) {
                return window.btoa(unescape(encodeURIComponent(s)))
            };

            var formatTemplate = function (s, c) {
                return s.replace(/{(\w+)}/g, function (m, p) {
                    return c[p];
                })
            };

            htmls += "<tr>" +
                create_header("Tên chương trình khuyến mãi") +
                create_header("Ngày khởi tạo") +
                create_header("Ngày kết thúc") +
                create_header("Coupon") +
                create_header("Số lần sử dụng") +
                create_header("Chưa sử dụng") +
                create_header("Đã sử dụng hết") +
                create_header("Đã tạm ngưng") +
                create_header("Hết hạn") +
                "</tr>";
            $('#table-custom > tbody  > tr').each(function () {
                var a = this;
                var object = JSON.parse($(this).attr("data-obj"));
                var promotion_name = object.promotion_name;
                var start_date = moment(object.start_date).format('dd/MM/YYYY HH:mm:ss');
                var end_date = moment(object.end_date).format('dd/MM/YYYY HH:mm:ss');
                var coupon = $(this).find(".coupon").html();
                var number = $(this).find(".number").html();
                var not_used = $(this).find(".not-used").html();
                var used = $(this).find(".used").html();
                var suspended = $(this).find(".suspended").html();
                var outdate = $(this).find(".outdate").html();
                var b = coupon;
                htmls += "<tr>" +
                    create_column(promotion_name) +
                    create_column(start_date) +
                    create_column(end_date) +
                    create_column(coupon) +
                    create_column(number) +
                    create_column(not_used) +
                    create_column(used) +
                    create_column(suspended) +
                    create_column(outdate) +
                    "</tr>";
            });


            var ctx = {
                    worksheet: 'Worksheet',
                    table: "<table>" + htmls + "</table>"
                }

                var link = document.createElement("a");
                link.download = "danh-sach-coupon-export.xls";
                link.href = uri + base64(formatTemplate(template, ctx));
                link.click();
        }
        function change_one(e, id) {
            var current_status = e.attributes.status.nodeValue;
            if (current_status == 1) {
                current_status = 2;
            } else if (current_status == 2) {
                current_status = 1;
            }

            $.ajax({
                url: "danh-sach-coupon/update_status_one",
                type: "post", //send it through get method
                data: JSON.stringify({
                    id: id,
                    status: current_status
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Thay đổi chương trình khuyến mãi  thành công',
                            type: 'success'
                        });
                        $('#button' + id).attr("status", current_status);
                        if (current_status == 2) {
                            $('#button' + id).attr('class', 'btn btn-default');
                            $('#status' + id).html('Ngừng hoạt động');
                            e.textContent = "Kích hoạt";
                        } else {
                            $('#button' + id).attr('class', 'btn btn-primary');
                            $('#status' + id).html('Đang hoạt động');
                            e.textContent = "Tạm ngưng";
                        }
                    } else {
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Thay đổi chương trình khuyến mãi thất bại\n' + response.description,
                            type: 'error'
                        });
                    }
                },
                error: function (xhr) {
                    //Do Something to handle error
                    new PNotify({
                        title: 'Thông báo',
                        text: 'Thay đổi chương trình khuyến mãi thất bại',
                        type: 'error'
                    });
                }
            });
        }

block header
    header.page-header
        h2 Danh sách coupon
        div(class="right-wrapper pull-right")
            ol.breadcrumbs
                li
                    a(href="dashboard")
                        i(class="fa fa-home")
                li
                    span Quản lý danh sách coupon
                li
                    span Danh sách coupon

            a(class="sidebar-right-toggle" data-open="sidebar-right")
                i(class="fa fa-chevron-left")

block content

    // start: page
    section.panel

        header(class="panel-heading")
            div(class="panel-actions")
                a(href="#" class="panel-action panel-action-toggle" data-panel-toggle)
                a(href="#" class="panel-action panel-action-dismiss" data-panel-dismiss)

            a(class="mb-xs mt-xs mr-xs btn btn-default" href="tao-coupon")= "Tạo coupon"
            a(class="mb-xs mt-xs mr-xs btn btn-default" onclick="switch_view()")= "Chuyển view"
            button(class="mb-xs mt-xs mr-xs btn btn-default export-button" onclick="export_excel()") Xuất file
        div.panel-body
            div.hide#view-one
                table.table.table-bordered.table-striped.mb-none#datatable-tabletools()
                    thead
                        tr
                            th#code-col Mã coupon
                            th#name-col Tên chương trình khuyến mãi
                            th#start-date-col Ngày khởi tạo
                            th#end-date-col Ngày kết thúc
                            th#time-use-col Số lần sử dụng
                            th#state-col Trạng thái
                            th#action-col Hành động
                            th#watch-col Xem

                    tbody
                        each obj in couponUseOneTime
                            if obj.coupon && obj.coupon.length > 0
                                tr.gradeX
                                    td #{obj.coupon}
                                    td #{obj.promotion_name}
                                    td #{obj.start_date}
                                    td #{obj.end_date}
                                    td
                                        if obj.status == 1
                                            | 1
                                        else
                                            | 0

                                    td(id='status' + obj.id)
                                        if obj.status == 1
                                            | Đang hoạt động
                                        else if obj.status == 2
                                            | Ngưng hoạt động
                                        else if obj.status == 3
                                            | Đã sử dụng hết
                                    td(class="actions" on)
                                        if !obj.promotion_suspended
                                            if obj.status == 1
                                                button(class="btn btn-primary" status=obj.status id='button' + obj.id onclick='change_one(this,"' + obj.id + '")' ) Tạm ngưng
                                            else if obj.status == 2
                                                button(class="btn btn-default" status=obj.status id='button' + obj.id onclick='change_one(this,"' + obj.id + '")' ) Kích hoạt
                                        else
                                            | Chương trình khuyến mãi đã ngưng hoạt động
                                    td(class="actions" on)
                                        button(class="btn btn-primary" onclick='xem("' + obj.promotion_id + '")' ) Xem CT coupon

                        each obj in couponUseMultiTime
                            tr.gradeX
                                td #{obj.coupon}
                                td #{obj.promotion_name}
                                td #{obj.start_date}
                                td #{obj.end_date}
                                td #{obj.number_of_uses}
                                td(id='status'+obj.id)
                                    if obj.status == 1
                                        | Đang hoạt động
                                    else if obj.status == 2
                                        | Ngưng hoạt động
                                    else if obj.status == 3
                                        | Đã sử dụng hết
                                td(class="actions" on)
                                    if !obj.promotion_suspended
                                        if obj.status == 1
                                            button(class="btn btn-primary" status=obj.status id='button' + obj.id onclick='change_multi(this,"' + obj.id + '")' ) Tạm ngưng
                                        else if obj.status == 2
                                            button(class="btn btn-default" status=obj.status id='button' + obj.id onclick='change_multi(this,"' + obj.id + '")' ) Kích hoạt
                                    else
                                        | Chương trình khuyến mãi đã ngưng hoạt động
                                td(class="actions" on)
                                    button(class="btn btn-primary" onclick='xem("' + obj.id + '")' ) Xem CT coupon


            div#view-two
                table.table.table-bordered.table-striped.mb-none#table-custom()
                    .form-group
                        label.col-md-3.control-label Trạng thái cần chuyển
                        .col-md-3
                            select#status-select.form-control.populate(data-plugin-selecttwo='')
                                option(value="2") Tạm ngưng
                                option(value="1") Kích hoạt
                        .col-md-3
                            button(class="btn btn-default" onclick="apply()") Áp dụng

                    thead
                        tr
                            th#th_all Tất cả
                                br
                                input#check_all(type='checkbox' onclick="check_all()")
                            th Coupon
                            th Số lần sử dụng
                            th Chưa sử dụng
                            th Đã sử dụng hết
                            th Đã tạm ngưng
                            th Hết hạn

                    tbody
                        each obj in checkCouponList
                            tr.gradeX(data-obj=obj)
                                td
                                    if !obj.out_date && !obj.used && !obj.promotion_suspended
                                        input.check-coupon(type='checkbox' promotion-id=obj.promotion_id promotion-detail-id=obj.promotion_detail_id)
                                    if obj.used
                                        input.hide.check-coupon(type='checkbox' promotion-id=obj.promotion_id promotion-detail-id=obj.promotion_detail_id)
                                td.coupon #{obj.coupon}
                                td.number.canEdit(align="center" promotion-id=obj.promotion_id promotion-detail-id=obj.promotion_detail_id) #{obj.use_time}
                                td.not-used(align="center"  )
                                    if obj.not_used && !obj.promotion_suspended
                                        | X
                                td.used(align="center" )
                                    if obj.used && !obj.promotion_suspended
                                        | X
                                td.suspended(align="center" )
                                    if (obj.suspended && !obj.out_date) || (obj.promotion_suspended && !obj.out_date)
                                        | X
                                td.outdate(align="center")
                                    if obj.out_date
                                        | X
block JS
    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")
    script(src="../assets/app/javascripts/edit-inline-order/order-chuong-trinh-khuyen-mai.js")
    script(src="../assets/app/javascripts/edit-inline-order/number-coupon.js")
    script.
        $('#datatable-tabletools').editableTableWidget();
        $('#table-custom').editableTableWidget();
block footerJS
    script(src="../assets/app/javascripts/coupon/table-tool.js")
    script.
        $('#table-custom').on('draw.dt', function () {
            $('.check-coupon').prop('checked', false);
            $('#check_all').prop('checked', false);
        });


