extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")
    link(rel="stylesheet" href="../assets/app/vendor/select2/select2.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-datatables-bs3/assets/css/datatables.css")

block info
    script.
        var page_name = "monanngon-page";
        var page_sub_name="danh-sach-mon-an-ngon";
        var page_master_group = "Quản lý món ăn ngon";
        var page_child_group = "Danh sách bài viết";

        function deleted(id, name) {
            $.ajax({
                url: "danh-sach-mon-an-ngon/xoa",
                type: "post", //send it through get method
                data: JSON.stringify({
                    id: id
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Xóa bài viết [' + name + '] thành công',
                            type: 'success'
                        });
                        var table = $('#datatable-tabletools').DataTable();
                        table
                            .row($("#row" + id).parents('tr'))
                            .remove()
                            .draw();
                    } else {
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Xóa bài viết [' + name + '] thất bại\n' + response.description,
                            type: 'error'
                        });
                    }

                },
                error: function (xhr) {
                    //Do Something to handle error
                    new PNotify({
                        title: 'Thông báo',
                        text: 'Thêm bài viết [' + name + '] thất bại',
                        type: 'error'
                    });
                }
            });
        }

block header
    header.page-header
        h2 Danh sách bài viết
        div(class="right-wrapper pull-right")
            ol.breadcrumbs
                li
                    a(href="dashboard")
                        i(class="fa fa-home")
                li
                    span Tổng quan

            a(class="sidebar-right-toggle" data-open="sidebar-right")
                i(class="fa fa-chevron-left")

block content

    // start: page
    section.panel

        header(class="panel-heading")
            div(class="panel-actions")
                a(href="#" class="panel-action panel-action-toggle" data-panel-toggle)
                a(href="#" class="panel-action panel-action-dismiss" data-panel-dismiss)

            a#btn-add.btn.btn-default.btn-delete(href="them-mon-an-ngon")= "Thêm bài viết"

        div.panel-body
            table.table.table-bordered.table-striped.mb-none#datatable-tabletools()
                thead
                    tr
                        th Tiêu đề
                        th Số thứ tự
                        th Hành động

                tbody
                    each obj in data
                        tr.gradeX
                            td #{obj.title}
                            td.canEdit(id="id"+obj.id) #{obj.sort_order}
                            td(class="actions" on)
                                a.btn-edit(class="modal-with-form btn btn-default" href="sua-mon-an-ngon?id="+obj.id)
                                    i(class="fa fa-pencil")
                                button.btn-del(class="btn btn-default" id='row'+obj.id onclick='deleted("'+obj.id+'","'+obj.title+'")')
                                    i(class="fa fa-trash-o")





block JS

    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")
    script(src="../assets/app/javascripts/edit-inline-order/order-mon-an-ngon.js")
    script.
        $('#datatable-tabletools').editableTableWidget();
block footerJS

