extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")
    link(rel="stylesheet" href="../assets/app/vendor/select2/select2.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-datatables-bs3/assets/css/datatables.css")

block info
    style.
        .hide {
            visibility: hidden;
            display: none;
        }

        .un-hide {
            visibility: visible;
            display: inherit;
        }
    script.
        var page_name = "customer-page";
        var page_sub_name="danh-sach-khach-hang-than-thiet";
        var page_master_group = "Quản lý khách hàng thân thiết";
        var page_child_group = "Danh sách khách hàng thân thiết";

        function go(url) {
            location.href = "sua-san-pham?id="+url;
        }
        function filter_table(option) {
            var table = document.getElementById('datatable-tabletools');

            var rowLength = table.rows.length;

            for (var i = 1; i < rowLength; i += 1) {
                var row = table.rows[i];
                var status = $(row).attr("status");
                if (option == status) {
                    row.classList.remove("hide");
                } else {
                    row.classList.add("hide");
                }
            }
        }

        function show_all() {
            var table = document.getElementById('datatable-tabletools');

            var rowLength = table.rows.length;

            for (var i = 1; i < rowLength; i += 1) {
                var row = table.rows[i];

                row.classList.remove("hide");

            }
        }
        function search() {
            var e = document.getElementById("contact-select");
            var option = e.options[e.selectedIndex].value;
            if (option == -1) {
                show_all();
            }else{
                filter_table(option);
            }

        }

block header
    include includes/headerCustom
    +headerCustom(
    "Quản lý khách hàng thân thiết",
    "Danh sách khách hàng thân thiết")

block content

    // start: page
    section.panel

        header(class="panel-heading")
            div(class="panel-actions")
                a(href="#" class="panel-action panel-action-toggle" data-panel-toggle)
                a(href="#" class="panel-action panel-action-dismiss" data-panel-dismiss)

            h2.panel-title Danh sách khách hàng thân thiết

        div.panel-body
            table.table.table-bordered.table-striped.mb-none#datatable-tabletools()
                .form-group
                    label.col-md-2.control-label
                    .col-md-3
                    .col-md-5
                    .col-md-2
                        //button(class="btn btn-default" onclick='export_excel()') Xuất danh sách

                thead
                    tr
                        th Tên khách hàng
                        th Email
                        th Số điện thoại
                        th Địa phương
                        th Đơn hàng đã đặt
                        th Đã thanh toán (VNĐ

                tbody
                    -for (var i = 0; i < customers.length; i++)
                        tr.gradeX(Object=customers[i] status=customers[i].status)
                            td #{customers[i].person_name}
                            td #{customers[i].person_email}
                            td #{customers[i].person_phone}
                            td #{customers[i].customer_address != null ? customers[i].customer_address : ""}
                            td #{customers[i].customer_count_order != null ? customers[i].customer_count_order : 0}
                            td #{customers[i].customer_total_bought != null ? customers[i].customer_total_bought : 0}

            div.totalA(style='display:none;')
                tr.couponTotal
                    td(colspan=6 align="right") Tổng khuyến mãi Coupon (Name)
                    td - 100.000 VNĐ
                tr.orderTotal
                    td(colspan=6 align="right") Tổng tiền
                    td 346.000 VNĐ

            table#template-excel-export(style='display:none;')
                thead
                tbody
                    tr
                        td(style="font-weight:bold") Mã đơn hàng
                        td.order_code(align="left")
                        td(style="font-weight:bold") Trạng thái
                        td.order_status
                    tr
                        td(style="font-weight:bold") Tên khách hàng
                        td.order_customer
                        td(style="font-weight:bold") Email
                        td.order_email
                    tr
                        td(style="font-weight:bold") Số điện thoại
                        td.order_phonenumber(align="left")
                        td(style="font-weight:bold") Địa chỉ
                        td.order_address(colspan="2")
                    tr
                    tr
                        td(colspan="7")
                            table.order-details-gift( border=1)
                                thead
                                    th Mã sản phẩm
                                    th Tên sản phẩm quà tặng
                                    th Số lượng
                                tbody
                                    tr
                                        td.order_product_gift_code
                                        td.order_product_gift_name
                                        td.order_product_gift_quantity 1

                            table.order-details(border=1)
                                thead
                                    th Mã sản phẩm
                                    th Tên sản phẩm
                                    th Số lượng
                                    th Giá
                                    th Khuyến mãi
                                    th Thuộc CT Khuyến mãi
                                    th Thành tiền
                                tbody
                                    tr
                                        td.order_product_code
                                        td.order_product_name
                                        td.order_product_quantity
                                        td.order_product_price
                                        td.order_promotion_total 0 VNĐ
                                        td.order_promotion_name
                                        td.order_total_amount 0 VNĐ
                                    tr
                                        td
                                        td
                                        td
                                        td
                                        td
                                        td Chương trình coupon
                                        td.order_coupon_price 0 VNĐ
                                    tr
                                        td
                                        td
                                        td
                                        td
                                        td
                                        td Tổng tiền
                                        td.order_total 0 VNĐ


                    tr
                    tr
                    tr




block JS
    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")
    script(src="../assets/app/javascripts/export/src/jquery.table2excel.js")

block footerJS

    script.
        var tableClone = $("#template-excel-export").clone();
        var detailTableClone = $(".order-details tbody", tableClone).clone();
        var giftTableClone = $(".order-details-gift tbody", tableClone).clone();

        function export_excel() {

            var htmls = "";
            var uri = 'data:application/vnd.ms-excel;base64,';
            var template =
                '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40">' +
                '<head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]-->' +
                '<meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8">' +
                '</head>' +
                '<body>' +
                '<table>{table}</table>' +
                '</body>' +
                '</html>';
            var base64 = function (s) {
                return window.btoa(unescape(encodeURIComponent(s)))
            };

            var formatTemplate = function (s, c) {
                return s.replace(/{(\w+)}/g, function (m, p) {
                    return c[p];
                })
            };


            var tableRows = $("#datatable-tabletools>tbody>tr").not(".hide");

            var process = 0;
            process = tableRows.length;
            tableRows.each(function (index, value) {

                if (value.attributes && value.attributes.object != null && value.attributes.object.value != null) {


                    var data = JSON.parse(value.attributes.object.value);
                    var item = tableClone.clone();

                    var orderStatus = "";
                    var statuses = JSON.parse('!{JSON.stringify(statuses)}');
                    for (var index = 0; index < statuses.length; index++) {
                        if (data.status == statuses[index].value) {
                            orderStatus = statuses[index].name;
                        }
                    }
                    $(".order_customer", item).html(data.fullname);
                    $(".order_address", item).html(data.address_delivery + ", " + data.district_name + ", " + data.city_name);
                    $(".order_code", item).html(data.code);
                    $(".order_status", item).html(orderStatus);
                    $(".order_email", item).html(data.email);
                    $(".order_phonenumber", item).html(data.phonenumber);

                    $.ajax({
                        url: "danh-sach-don-hang/getPurchaseDetails",
                        type: "post", //send it through get method
                        data: JSON.stringify({
                            order_id: data.id
                        }), contentType: "application/json",
                        success: function (response) {
                            function get_product_gift(giftTableClone, purchase_order_detail_id, item, callback) {


                                get_gift_product(purchase_order_detail_id, function (data) {
                                    var giftHtmlString = "";

                                    for (var alpha = 0; alpha < data.length; alpha++) {
                                        var product_gift_code = data[alpha].product_code;
                                        var product_gift_name = data[alpha].product_name;
                                        var giftItem = giftTableClone.clone();
                                        $(".order_product_gift_code", giftItem).html(product_gift_code);
                                        $(".order_product_gift_name", giftItem).html(product_gift_name);
                                        giftHtmlString += giftItem.html();
                                    }
                                    $(".order-details-gift tbody", item).html(giftHtmlString);

                                })
                            }

                            var second = 0;
                            if (response.response_code == "SUCC_EXEC") {
                                var detailHtmlString = "";
                                var giftHtmlString = "";
                                response.data.forEach(function (content, index) {
                                    var detailItem = detailTableClone.clone();
                                    var giftItem = giftTableClone.clone();

                                    $(".order_product_code", detailItem).html(content.product_code);
                                    $(".order_product_name", detailItem).html(content.product_name);
                                    $(".order_product_quantity", detailItem).html(content.quantity);
                                    $(".order_product_price", detailItem).html(format(content.product_price) + " VNĐ");


                                    var amountAfterPromotion = content.total_amount;
                                    var type = null;
                                    if (content.is_promotion) {
                                        if (content.minimum_price != null && content.product_price < content.minimum_price) { // no discount
                                            return;
                                        }

                                        if (content.percent_promotion == null && content.price_promotion == null) {
                                            type = 3;
                                        } else if (content.percent_promotion == null && content.price_promotion != null) {
                                            type = 1;
                                            $(".order-details-gift", item).remove();
                                        } else if (content.percent_promotion != null) {
                                            type = 2;
                                            $(".order-details-gift", item).remove();
                                            content.price_promotion = content.product_price * content.percent_promotion / 100;
                                            if (content.maximum_price != null && content.maximum_price < content.price_promotion) {
                                                content.price_promotion = content.maximum_price;
                                            }
                                        }
                                        if (type == 3) {
                                            second += 1000;
                                            get_product_gift(giftTableClone, content.id, item);
                                        } else {
                                            $(".order-details-gift", item).remove();
                                        }
                                        var price_promotion_temp = content.price_promotion != null ? content.price_promotion : 0;
                                        var code_promotion_temp = content.code_promotion != null ? content.code_promotion : 0;
                                        var code_coupon = content.code_coupon != null ? content.code_coupon : "";
                                        var price_coupon = content.price_coupon != null ? content.price_coupon : 0;
                                        if (code_coupon.length > 0) {
                                            $(".order_coupon_price", detailItem).html("-" + format(price_coupon) + " VNĐ");
                                        }
                                        amountAfterPromotion = content.total_amount - price_promotion_temp - code_promotion_temp;

                                        $(".order_promotion_total", detailItem).html(format(-price_promotion_temp) + " VNĐ");
                                        $(".order_promotion_name", detailItem).html(content.promotion_name);

                                    } else {
                                        $(".order-details-gift", item).remove();

                                    }
                                    var code_coupon = content.code_coupon != null ? content.code_coupon : "";


                                    $(".order_total_amount", detailItem).html(format(amountAfterPromotion) + " VNĐ");
                                    if (code_coupon.length > 0) {
                                        $(".order_total", detailItem).html(format(amountAfterPromotion - content.price_coupon) + " VNĐ");
                                    } else {
                                        $(".order_total", detailItem).html(format(amountAfterPromotion) + " VNĐ");
                                    }
                                    detailHtmlString += detailItem.html();
                                });
                                $(".order-details tbody", item).html(detailHtmlString);

                            }
                            htmls += item.html();
                            process--;
                            if (process == 0) {
                                setTimeout(function () {
                                    var ctx = {
                                        worksheet: 'Worksheet',
                                        table: "<table>" + htmls + "</table>"
                                    }

                                    var link = document.createElement("a");
                                    link.download = "don-hang-export.xls";
                                    link.href = uri + base64(formatTemplate(template, ctx));
                                    link.click();
                                }, second);

                            }


                        }

                    });
                }else {
                    process--;
                }


            });

            //var order_details = $("#template-excel-export");

        }


    script.
        (function ($) {

            'use strict';

            var datatableInit = function () {
                var $table = $('#datatable-tabletools');

                // initialize
                var datatable = $table.dataTable({
                    aoColumnDefs: [{
                        bSortable: false,
                        aTargets: [0]
                    }],
                    aaSorting: [
                        [1, 'asc']
                    ]
                });

                // add a listener
                $table.on('click', 'i[data-toggle]', function () {
                    var $this = $(this),
                        tr = $(this).closest('tr').get(0);

                    if (datatable.fnIsOpen(tr)) {
                        $this.removeClass('fa-minus-square-o').addClass('fa-plus-square-o');
                        datatable.fnClose(tr);
                    } else {
                        $this.removeClass('fa-plus-square-o').addClass('fa-minus-square-o');
                        var src = JSON.parse(tr.attributes.object.value);
                        $.ajax({
                            url: "danh-sach-don-hang/getPurchaseDetails",
                            type: "post", //send it through get method
                            data: JSON.stringify({
                                order_id: src.id
                            }), contentType: "application/json",
                            success: function (response) {
                                if (response.response_code == "SUCC_EXEC") {
                                    var html = ['<table class="table mb-none">'];
                                    handle_data(0, response.data, html, src, datatable, tr);


                                }
                            }
                        });

                    }
                });

            };

            $(function () {
                datatableInit();
            });

        }).apply(this, [jQuery]);

        (function ($) {

            'use strict';

            /*
            Basic
            */
            $('.modal-basic').magnificPopup({
                type: 'inline',
                preloader: false,
                modal: true
            });

            /*
            Sizes
            */
            $('.modal-sizes').magnificPopup({
                type: 'inline',
                preloader: false,
                modal: true
            });

            /*
            Modal with CSS animation
            */
            $('.modal-with-zoom-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in',
                modal: true
            });

            $('.modal-with-move-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom',
                modal: true
            });

            /*
            Modal Dismiss
            */
            $(document).on('click', '.modal-dismiss', function (e) {
                e.preventDefault();
                $.magnificPopup.close();
            });

            /*
            Modal Confirm
            */


            /*
            Form
            */
            $('.modal-with-form').magnificPopup({
                type: 'inline',
                preloader: false,
                focus: '#name',
                modal: true,

                // When elemened is focused, some mobile browsers in some cases zoom in
                // It looks not nice, so we disable it:
                callbacks: {
                    beforeOpen: function () {
                        if ($(window).width() < 700) {
                            this.st.focus = false;
                        } else {
                            this.st.focus = '#name';
                        }
                    }
                }
            });

            /*
            Ajax
            */
            $('.simple-ajax-modal').magnificPopup({
                type: 'ajax',
                modal: true
            });

        }).apply(this, [jQuery]);