extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")

    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")
    link(rel="stylesheet" href="../assets/app/vendor/select2/select2.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-datatables-bs3/assets/css/datatables.css")

block info
    style.
        .hide {
            visibility: hidden;
            display: none;
        }

        .un-hide {
            visibility: visible;
            display: inherit;
        }
    script.
        var page_name = "order-page";
        var page_sub_name="danh-sach-don-hang";
        var page_master_group = "Quản lý đơn hàng";
        var page_child_group = "Danh sách đơn hàng";
        var payment_methods = "#{JSON.stringify(payment_methods)}"
        function go(url) {
            location.href = "sua-san-pham?id="+url;
        }
        function filter_table(option) {
            var table = document.getElementById('datatable-tabletools');

            var rowLength = table.rows.length;

            for (var i = 1; i < rowLength; i += 1) {
                var row = table.rows[i];
                var status = $(row).attr("status");
                if (option == status) {
                    row.classList.remove("hide");
                } else {
                    row.classList.add("hide");
                }
            }
        }

        function show_all() {
            var table = document.getElementById('datatable-tabletools');

            var rowLength = table.rows.length;

            for (var i = 1; i < rowLength; i += 1) {
                var row = table.rows[i];

                row.classList.remove("hide");

            }
        }
        function search() {
            var e = document.getElementById("contact-select");
            var option = e.options[e.selectedIndex].value;
            if (option == -1) {
                show_all();
            }else{
                filter_table(option);
            }

        }


block header
    header.page-header
        h2 Danh sách đơn hàng
        div(class="right-wrapper pull-right")
            ol.breadcrumbs
                li
                    a(href="dashboard")
                        i(class="fa fa-home")
                li
                    span Quản lý đơn hàng
                li
                    span Danh sách đơn hàng

            a(class="sidebar-right-toggle" data-open="sidebar-right")
                i(class="fa fa-chevron-left")

block content

    // start: page
    section.panel

        header(class="panel-heading")
            div(class="panel-actions")
                a(href="#" class="panel-action panel-action-toggle" data-panel-toggle)
                a(href="#" class="panel-action panel-action-dismiss" data-panel-dismiss)

            h2.panel-title Danh sách đơn hàng

        div.panel-body
            table.table.table-bordered.table-striped.mb-none#datatable-tabletools()
                .form-group
                    label.col-md-2.control-label Lọc theo trạng thái
                    .col-md-3
                        select#contact-select.form-control.populate(data-plugin-selecttwo='' onclick="search()")
                            option(value="-1") Tất cả
                            -for (var index = 1; index < statuses.length; index++)
                                option(value=statuses[index].value) #{statuses[index].name}
                    .col-md-4
                        button(class="btn btn-default" onclick='export_excel(false)') Xuất danh sách chi tiết
                    .col-md-3
                        button(class="btn btn-default" onclick='export_excel(true)') Xuất danh sách tổng hợp

                thead
                    tr
                        th Ngày tạo đơn hàng
                        th Mã đơn hàng
                        th Tên khách hàng
                        th Email
                        th Số điện thoại
                        th Địa chỉ
                        th Phương thức thanh toán
                        th.noExl Hành động

                tbody
                    -for (var i = 0; i < data.length; i++)
                        tr.gradeX(Object=data[i] status=data[i].status)
                            td #{data[i].created_date}
                            td #{data[i].order_code}
                            td #{data[i].fullname}
                            td #{data[i].email}
                            td #{data[i].phone}
                            td #{data[i].address_delivery}, #{data[i].district_name}, #{data[i].city_name}
                            td
                                -for (var j = 0; j < payment_methods.length; j++)
                                    if payment_methods[j].value == data[i].order_payment_method
                                        | #{payment_methods[j].name}


                            td.noExl(class="actions" on)
                                select(id=data[i].order_id data-code=data[i].order_code full-name=data[i].fullname email=data[i].email onchange='change(this)')
                                    -for (var index = 0; index < statuses.length; index++)
                                        if statuses[index].value == data[i].order_status
                                            option(value=statuses[index].value selected="selected" data-relate=statuses[index].relate) #{statuses[index].name}
                                            -for (var ind = 0; ind < statuses[index].relate.length; ind++)
                                                -for (var inde = 0; inde < statuses.length; inde++)
                                                    if statuses[index].relate[ind] == statuses[inde].value
                                                        option(value=statuses[inde].value data-relate=statuses[inde].relate) #{statuses[inde].name}

            div.totalA(style='display:none;')
                tr.couponTotal
                    td(colspan=6 align="right") Tổng khuyến mãi Coupon (Name)
                    td - 100.000 VNĐ
                tr.orderTotal
                    td(colspan=6 align="right") Tổng tiền
                    td 346.000 VNĐ



            table#template-excel-export-detail.hide()
                thead.thead
                    th Mã đơn hàng
                    th(width="300") Ngày tạo đơn hàng
                    th Tên khách hàng
                    th Số điện thoại
                    th Email
                    th Địa chỉ
                    th Trạng thái
                    th Phương thức thanh toán
                    th Mã sản phẩm
                    th Tên sản phẩm
                    th Số lượng
                    th Giá chưa khuyến mãi
                    th Khuyến mãi
                    th Thuộc CT Khuyến mãi
                    th Thành tiền
                    th Đơn vị tiền
                tbody
                    tr#export-detail
                        td.order_code-1(align="left" )
                        td.order_date(align="left" style="mso-number-format:\"\\@\" ")
                        td.order_customer-1
                        td.order_phonenumber-1(align="left")
                        td.order_email-1
                        td.order_address-1
                        td.order_status-1
                        td.order_payment-1
                        td.order_product_code-1
                        td.order_product_name-1
                        td.order_product_quantity-1
                        td.order_product_price-1
                        td.order_promotion_total-1
                        td.order_promotion_name-1
                        td.order_total_amount-1(align='right') 0
                        td.order_price_unit-1 VNĐ




            table#template-excel-export(style='display:none;')
                thead
                tbody
                    tr
                        td(style="font-weight:bold") Mã đơn hàng
                        td.order_code(align="left")
                        td(style="font-weight:bold") Trạng thái
                        td.order_status
                    tr
                        td(style="font-weight:bold") Tên khách hàng
                        td.order_customer
                        td(style="font-weight:bold") Email
                        td.order_email
                    tr
                        td(style="font-weight:bold") Số điện thoại
                        td.order_phonenumber(align="left")
                        td(style="font-weight:bold") Địa chỉ
                        td.order_address(colspan="2")
                    tr
                        td(style="font-weight:bold") Ngày tạo đơn hàng
                        td.order_date(align="left" style="mso-number-format:\"\\@\" ")
                    tr
                    tr
                        td(colspan="7")
                            table.order-details-gift( border=1)
                                thead
                                    th Mã sản phẩm
                                    th Tên sản phẩm quà tặng
                                    th Số lượng
                                tbody
                                    tr
                                        td.order_product_gift_code
                                        td.order_product_gift_name
                                        td.order_product_gift_quantity 1

                            table.order-details(border=1)
                                thead
                                    th Mã sản phẩm
                                    th Tên sản phẩm
                                    th Số lượng
                                    th Giá
                                    th Khuyến mãi
                                    th Thuộc CT Khuyến mãi
                                    th Thành tiền
                                tbody
                                    tr
                                        td.order_product_code
                                        td.order_product_name
                                        td.order_product_quantity
                                        td.order_product_price
                                        td.order_promotion_total
                                        td.order_promotion_name
                                        td.order_total_amount(align='right') 0 VNĐ

                    tr
                        td
                        td
                        td
                        td
                        td
                        td Tạm tính
                        td.order_total_amount_temp(align='right') 0 VNĐ
                    tr.order_coupon_applied
                        td
                        td
                        td
                        td
                        td
                        td Khuyến mãi coupon
                        td.order_coupon_price(align='right') 0 VNĐ
                    tr
                        td
                        td
                        td
                        td
                        td
                        td Tổng tiền
                        td.order_total(align='right') 0 VNĐ
                    tr
                    tr




block JS
    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")
    script(src="../assets/app/javascripts/export/src/jquery.table2excel.js")

block footerJS

    script.
        var tableClone = $("#template-excel-export").clone();
        var detailTableClone = $(".order-details tbody", tableClone).clone();

        var tableCloneDetail = $("#template-excel-export-detail").clone();

        var giftTableClone = $(".order-details-gift tbody", tableClone).clone();

        function get_gift_product(purchase_order_detail_id, callback) {
            $.ajax({
                url: "danh-sach-don-hang/getGiftProduct",
                type: "post", //send it through get method
                data: JSON.stringify({
                    purchase_order_detail_id: purchase_order_detail_id
                }), contentType: "application/json",
                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        callback(response.data);
                    }
                },
                timeout: 3000 ,
                error: function (jqXHR, textStatus) {
                    if (textStatus === 'timeout') {
                        callback([]);
                        //do something. Try again perhaps?
                    }
                }
            });
        }
        function getGiftList(tableRows, callbackSuccess) {
            var giftObj = {};
            var dataObj = {};
            var table_row_count = tableRows.length;
            tableRows.each(function (index_row, value) {
                if (value.attributes && value.attributes.object != null && value.attributes.object.value != null) {
                    var data = JSON.parse(value.attributes.object.value);

                    $.ajax({
                        url: "danh-sach-don-hang/getPurchaseDetails",
                        type: "post", //send it through get method
                        data: JSON.stringify({
                            order_id: data.id
                        }), contentType: "application/json",
                        success: function (response) {
                            dataObj[data.id] = response;
                            if (response.response_code == "SUCC_EXEC") {
                                response.data.products.forEach(function (content, index) {
                                    if (response.data.orderInfo.promotion_type == 3) {
                                        var order_detail_id = content.order_detail_id;
                                        get_gift_product(order_detail_id, function (gifts) {
                                            giftObj[order_detail_id] = gifts;
                                            if (index_row == (table_row_count - 1)) {
                                                callbackSuccess(dataObj,giftObj);
                                            }
                                        });
                                    }else {
                                        if (index_row == (table_row_count - 1)) {
                                            callbackSuccess(dataObj, []);
                                        }
                                    }
                                });

                            }



                        }

                    });
                }
            });
        }
        var htmls = "";
        function export_excel(isFull) {

            htmls = jQuery('<div/>', {
                id: 'some-id',
                class: 'some-class',
                title: 'now this div has a title!'
            });



            var tableRows = $("#datatable-tabletools>tbody>tr").not(".hide").not(".details");



            var process = 0;
            var max_process = tableRows.length;

            function _generateFile(callbackFinish) {
                var uri = 'data:application/vnd.ms-excel;base64,';
                var template =
                    '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40">' +
                    '<head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]-->' +
                    '<meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8">' +
                    '</head>' +
                    '<body>' +
                    '<table>{table}</table>' +
                    '</body>' +
                    '</html>';
                var base64 = function (s) {
                    return window.btoa(unescape(encodeURIComponent(s)))
                };

                var formatTemplate = function (s, c) {
                    return s.replace(/{(\w+)}/g, function (m, p) {
                        return c[p];
                    })
                };

                var ctx = {
                    worksheet: 'Worksheet',
                    table: "<table>" + htmls.html() + "</table>"
                }

                var link = document.createElement("a");
                link.download = "don-hang-export.xls";
                link.href = uri + base64(formatTemplate(template, ctx));
                link.click();
                callbackFinish();
            }

            var detailHtmlString = "";
            var table_row_count = tableRows.length;
            var delay_time = 0;
                if(isFull) {
                    tableRows.each(function (index_row, value) {

                        if (value.attributes && value.attributes.object != null && value.attributes.object.value != null) {
                            var data = JSON.parse(value.attributes.object.value);

                            $.ajax({
                                url: "danh-sach-don-hang/getPurchaseDetails",
                                type: "post", //send it through get method
                                data: JSON.stringify({
                                    order_id: data.id
                                }), contentType: "application/json",
                                success: function (response) {

                                    var second = 0;
                                    if (response.response_code == "SUCC_EXEC") {
                                        var giftHtmlString = "";

                                        var item = tableClone.clone();
                                        item.attr("id", response.data.orderInfo.order_code);
                                        htmls.append(item);

                                        var orderStatus = "";
                                        var statuses = JSON.parse('!{JSON.stringify(statuses)}');
                                        for (var index = 0; index < statuses.length; index++) {
                                            if (response.data.orderInfo.order_status == statuses[index].value) {
                                                orderStatus = statuses[index].name;
                                            }
                                        }

                                        $("#" + response.data.orderInfo.order_code + " .order_customer", htmls).html(response.data.orderInfo.order_fullname);
                                        $("#" + response.data.orderInfo.order_code + " .order_address", htmls).html(response.data.orderInfo.order_address_delivery);
                                        $("#" + response.data.orderInfo.order_code + " .order_code", htmls).html(response.data.orderInfo.order_code);
                                        $("#" + response.data.orderInfo.order_code + " .order_status", htmls).html(orderStatus);
                                        $("#" + response.data.orderInfo.order_code + " .order_email", htmls).html(response.data.orderInfo.order_email);
                                        $("#" + response.data.orderInfo.order_code + " .order_phonenumber", htmls).html(response.data.orderInfo.order_phone);
                                        $("#" + response.data.orderInfo.order_code + " .order_date", htmls).html(data.created_date);

                                        $("#" + response.data.orderInfo.order_code + " .order_total_amount_temp", htmls).html(format(response.data.total_amount_after_product_promotion) + " VNĐ");
                                        if (response.data.couponApplied) {
                                            //$("#" + response.data.orderInfo.order_code + " .order_coupon_applied", htmls).remove();
                                            $("#" + response.data.orderInfo.order_code + " .order_coupon_price", htmls).html("-" + format(response.data.coupon_discount) + " VNĐ");
                                        }
                                        $("#" + response.data.orderInfo.order_code + " .order_total", htmls).html(format(response.data.final_total_amount) + " VNĐ");

                                        var hasGiftsInOrder = false;
                                        response.data.products.forEach(function (content, index) {
                                            var detailItem = detailTableClone.clone();

                                            $(".order_product_code", detailItem).html(content.product_code);
                                            $(".order_product_name", detailItem).html(content.product_title);
                                            $(".order_product_quantity", detailItem).html(content.order_detail_quantity);
                                            $(".order_product_price", detailItem).html(format((content.order_detail_total_amount) / content.order_detail_quantity) + " VNĐ");


                                            var order_detail_price_promotion = 0;
                                            if (content.order_detail_is_promotion) {

                                                $(".order_promotion_name", detailItem).html(content.promotion_name);

                                                //For Gift
                                                if (content.order_detail_price_promotion == null) {
                                                    hasGiftsInOrder = true;
                                                    max_process++;
                                                    setTimeout(function () {
                                                        // Your code here

                                                        get_gift_product(content.order_detail_id, function (gifts) {
                                                            if(gifts.length>0){
                                                                console.log("have gift");
                                                            }
                                                            gifts.forEach(function (gift) {
                                                                var giftItem = giftTableClone.clone();
                                                                $(".order_product_gift_code", giftItem).html(gift.product_code);
                                                                $(".order_product_gift_name", giftItem).html(gift.product_name);
                                                                giftHtmlString += giftItem.html();
                                                            });
                                                            $("#" + response.data.orderInfo.order_code + " .order-details-gift tbody", htmls).html(giftHtmlString);
                                                            if (gifts.length == 0) {
                                                                $("#" + response.data.orderInfo.order_code + " .order-details-gift", htmls).remove();
                                                            }
                                                            process++;
                                                            if (process == max_process) {
                                                                _generateFile(function () {
                                                                    htmls = "";
                                                                });
                                                            }

                                                        });
                                                    }, delay_time+=100);
                                                } else {
                                                    order_detail_price_promotion = content.order_detail_price_promotion;
                                                    $(".order_promotion_total", detailItem).html(format(-content.order_detail_price_promotion) + " VNĐ");
                                                }

                                                $(".order_total_amount", detailItem).html(format(content.order_detail_total_amount - order_detail_price_promotion) + " VNĐ");

                                            } else {

                                                $(".order_total_amount", detailItem).html(format(content.order_detail_total_amount) + " VNĐ");
                                            }

                                            detailHtmlString += detailItem.html();
                                        });

                                        if (!hasGiftsInOrder) {
                                            $("#" + response.data.orderInfo.order_code + " .order-details-gift", htmls).remove();
                                        }
                                        $("#" + response.data.orderInfo.order_code + " .order-details tbody", htmls).html(detailHtmlString);
                                        detailHtmlString = "";

                                    }
                                    process++;
                                    if (process == max_process) {
                                        _generateFile(function () {
                                            htmls = "";
                                        });
                                    }
                                }

                            });

                        }
                    });

                }else {
                    getGiftList(tableRows,function (dataList,giftList) {
                        tableRows.each(function (index_row, value) {
                            if (value.attributes && value.attributes.object != null && value.attributes.object.value != null) {
                                var data = JSON.parse(value.attributes.object.value);
                                var data_id = data.id;
                                var response = dataList[data_id];
                                var item = tableCloneDetail.clone();
                                htmls.append(item);
                                if (index_row > 0) {
                                    $(".thead", item).remove();
                                }

                                var orderStatus = "";
                                var statuses = JSON.parse('!{JSON.stringify(statuses)}');
                                for (var index = 0; index < statuses.length; index++) {
                                    if (response && response.data && response.data.orderInfo && response.data.orderInfo.order_status == statuses[index].value) {
                                        orderStatus = statuses[index].name;
                                    }
                                }
                                var hasGiftsInOrder = false;
                                if(response) {
                                    response.data.products.forEach(function (content, index) {

                                        if (index > 0) {
                                            item = tableCloneDetail.clone();
                                            item.attr("id", response.data.orderInfo.order_code);
                                            htmls.append(item);
                                            if (index_row >= 0 && index > 0) {
                                                $(".thead", item).remove();
                                            }
                                        }
                                        $(".order_customer-1", item).html(response.data.orderInfo.order_fullname);
                                        $(".order_address-1", item).html(response.data.orderInfo.order_address_delivery);
                                        $(".order_date", item).html(data.created_date);
                                        $(".order_code-1", item).html(response.data.orderInfo.order_code);
                                        $(".order_status-1", item).html(orderStatus);
                                        var temp = JSON.parse(payment_methods.replace(/(&quot\;)/g,"\""));
                                        for(var i in temp){
                                            if(temp[i].value == data.order_payment_method){
                                                $(".order_payment-1", item).html(temp[i].name);
                                                break;
                                            }
                                        }
                                        $(".order_email-1", item).html(response.data.orderInfo.order_email);
                                        $(".order_phonenumber-1", item).html(response.data.orderInfo.order_phone);
                                        $(".order_product_code-1", item).html(content.product_code);
                                        $(".order_product_name-1", item).html(content.product_title);
                                        $(".order_product_quantity-1", item).html(content.order_detail_quantity);
                                        $(".order_product_price-1", item).html(content.product_price);
                                        $(".order_promotion_name-1", item).html(content.promotion_name);
                                        var order_detail_price_promotion = content.order_detail_price_promotion;
                                        $(".order_promotion_total-1", item).html(-content.order_detail_price_promotion);
                                        var total = content.order_detail_total_amount - order_detail_price_promotion;
                                        $(".order_total_amount-1", item).html(total);
                                        $(".order_price_unit-1", item).html("VNĐ");
                                        detailHtmlString += item.html();
                                        hasGiftsInOrder = true;
                                    });

                                    response.data.products.forEach(function (content, index) {

                                        if (response.data.orderInfo.promotion_type == 3) {
                                            var order_detail_id = content.order_detail_id;
                                            if (giftList[order_detail_id] && giftList[order_detail_id].length > 0) {
                                                giftList[order_detail_id].forEach(function (gift) {
                                                    item = tableCloneDetail.clone();
                                                    item.attr("id", response.data.orderInfo.order_code);
                                                    htmls.append(item);
                                                    $(".thead", item).remove();
                                                    $(".order_customer-1", item).html(response.data.orderInfo.order_fullname);
                                                    $(".order_address-1", item).html(response.data.orderInfo.order_address_delivery);
                                                    $(".order_code-1", item).html(response.data.orderInfo.order_code);
                                                    $(".order_status-1", item).html(orderStatus);
                                                    $(".order_email-1", item).html(response.data.orderInfo.order_email);
                                                    $(".order_phonenumber-1", item).html(response.data.orderInfo.order_phone);
                                                    $(".order_product_quantity-1", item).html("1");
                                                    $(".order_product_price-1", item).html(0);
                                                    $(".order_promotion_name-1", item).html(content.promotion_name);
                                                    $(".order_promotion_total-1", item).html("Quà tặng");
                                                    $(".order_total_amount-1", item).html(0);
                                                    $(".order_price_unit-1", item).html("");
                                                    var temp = JSON.parse(payment_methods.replace(/(&quot\;)/g, "\""));
                                                    for (var i in temp) {
                                                        if (temp[i].value == data.order_payment_method) {
                                                            $(".order_payment-1", item).html(temp[i].name);
                                                            break;
                                                        }
                                                    }
                                                    $(".order_product_code-1", item).html(gift.product_code);
                                                    $(".order_product_name-1", item).html(gift.product_name);
                                                    $(".order_price_unit-1", item).html("VNĐ");
                                                    detailHtmlString += item.html();

                                                });
                                            }
                                        }
                                    });


                                    $("#" + response.data.orderInfo.order_code + " .order-details-1 tbody", htmls).html(detailHtmlString);
                                }
                                process++;
                                if (process == max_process) {
                                    _generateFile(function () {
                                        htmls = "";
                                    });
                                }
                            }
                        })
                    })
                }


        }




        function handle(content, src) {
            if (content.code_coupon && content.code_coupon.length > 0) {
                var promotion_name = content.coupon_promotion_name;
                var t = $('#temp-table').DataTable();

                t.row.add([
                    'Tên chương trình khuyến mãi: ' + promotion_name,
                    'Mã coupon: ' + content.code_coupon,
                    'Giá khuyến mãi:' + format(content.price_coupon), ""
                ]).draw();
                showProductWithoutPromotion(content, src);
            } else {
                showProductWithoutPromotion(content, src);
            }
        }
        function showWithoutPromotion(content, src) {
            var t = $('#temp-table').DataTable();

            t.row.add([
                'Mã sản phẩm: ' + content.product_code,
                'Tên sản phẩm: ' + content.product_name,
                'Số lượng: ' + content.quantity,
                'Giá:' + format(content.price_coupon)
            ]).draw();


        }

        function change(e) {
            var id = e.id;
            var e = document.getElementById(id);
            var full_name = e.getAttribute("full-name");
            var email = e.getAttribute("email");
            var order_code = e.getAttribute("data-code");

            var old_status = $("#" + id + " option[selected='selected']").val();
            var new_status = e.options[e.selectedIndex].value;
            var text = e.options[e.selectedIndex].text;
            var relates = e.options[e.selectedIndex].getAttribute("data-relate");
            $.ajax({
                url: "danh-sach-don-hang/update",
                type: "post", //send it through get method
                data: JSON.stringify({
                    order_id: id,
                    old_status: old_status,
                    new_status: new_status,
                    name: full_name,
                    email: email
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        $(e).closest('tr').attr("status",new_status);
                        var statuses = JSON.parse('!{JSON.stringify(statuses)}');
                        if (statuses) {
                            var html =
                                "<option value='" + new_status + "' selected='selected' data-relate='" + relates + "'>" +
                                text +
                                "</option>";

                            for (var index = 0; index < relates.length; index++) {
                                for (var j = 0; j < statuses.length; j++) {
                                    if (statuses[j].value == relates[index]) {
                                        html +=
                                            "<option value='" + statuses[j].value + "' data-relate='[" + statuses[j].relate + "]'>" +
                                            statuses[j].name +
                                            "</option>";
                                        break;
                                    }
                                }
                            }
                            e.innerHTML = html;
                        }

                        new PNotify({
                            title: 'Thông báo',
                            text: 'Cập nhật đơn hàng #' + order_code + " thành công",
                            type: 'success'
                        });
                        $('#text' + id).html(text);

                    } else {
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Cập nhật đơn hàng #' + order_code + " thất bại\n" + response.description,
                            type: 'error'
                        });
                    }

                },
                error: function (xhr) {
                    //Do Something to handle error
                    new PNotify({
                        title: 'Thông báo',
                        text: 'Cập nhật đơn hàng #' + order_code + " thất bại",
                        type: 'error'
                    });
                }
            });


        }
    script(src = "../assets/app/javascripts/quan-ly-don-hang/table-tool.js")
