extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")

    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")
    link(rel="stylesheet" href="../assets/app/vendor/select2/select2.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-datatables-bs3/assets/css/datatables.css")
block info
    style.
        .hide {
            visibility: hidden;
            display: none;
        }

        .un-hide {
            visibility: visible;
            display: inherit;
        }

    script.

        var page_name = "lienhe-page";
        var page_sub_name="danh-sach-lien-he";

        function filter_table(option) {
            var table = document.getElementById('datatable-details');

            var rowLength = table.rows.length;

            for (var i = 1; i < rowLength; i += 1) {
                var row = table.rows[i];

                //your code goes here, looping over every row.
                //cells are accessed as easy

                var cell = row.cells[3];
                var text = cell.outerText;

                if (option == 1) {
                    if (text != "Chưa liên hệ") {
                        row.classList.remove("hide");
                    } else {
                        row.classList.add("hide");
                    }
                } else {
                    if (text == "Chưa liên hệ") {
                        row.classList.remove("hide");
                    } else {
                        row.classList.add("hide");
                    }
                }
            }
        }

        function show_all() {
            var table = document.getElementById('datatable-details');

            var rowLength = table.rows.length;

            for (var i = 1; i < rowLength; i += 1) {
                var row = table.rows[i];

                row.classList.remove("hide");

            }
        }
        function change() {
            var e = document.getElementById("contact-select");
            var option = e.options[e.selectedIndex].value;
            if(option == 0){
                filter_table(0);
            }else if(option == 1) {
                filter_table(1);
            }else if(option == -1){
                show_all();
            }
        }




        function da_lien_he(e, id) {
            $.ajax({
                url: "danh-sach-lien-he/da-lien-he",
                type: "post", //send it through get method
                data: JSON.stringify({
                    id: id
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {

                        new PNotify({
                            title: 'Thông báo',
                            text: 'Chuyển trạng thái liên hệ thành công',
                            type: 'success'
                        });
                        e.parentNode.parentNode.cells[4].innerText = "Đã liên hệ";
                        e.outerHTML = "";
                        delete e;


                    } else {
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Chuyển trạng thái liên hệ thất bại\n' + response.description,
                            type: 'error'
                        });
                    }

                },
                error: function (xhr) {
                    //Do Something to handle error
                    new PNotify({
                        title: 'Thông báo',
                        text: 'Chuyển trạng thái liên hệ thất bại',
                        type: 'error'
                    });
                }
            });
        }
block header
    header.page-header
        h2 Danh sách liên hệ
        div(class="right-wrapper pull-right")
            ol.breadcrumbs
                li
                    a(href="dashboard")
                        i(class="fa fa-home")
                li
                    span Quản lý liên hệ
                li
                    span Danh sách liên hệ

            a(class="sidebar-right-toggle" data-open="sidebar-right")
                i(class="fa fa-chevron-left")

block content

    // start: page
    section.panel
        header(class="panel-heading")
            div(class="panel-actions")
                a(href="#" class="panel-action panel-action-toggle" data-panel-toggle)
                a(href="#" class="panel-action panel-action-dismiss" data-panel-dismiss)

            h2.panel-title Danh sách liên hệ

        div.panel-body


            table.table.table-bordered.table-striped.mb-none#datatable-details(data-src=data)
                .form-group
                    label.col-md-2.control-label Lọc theo trạng thái
                    .col-md-3
                        select#contact-select.form-control.populate(data-plugin-selecttwo='' onclick="change()")
                            option(value="-1") Không có
                            option(value="1") Đã liên hệ
                            option(value="0") Chưa liên hệ

                thead
                    tr
                        th Tên
                        th Email
                        th Số điện thoại
                        th Trạng thái
                        th Ngày tạo
                        th Hành động

                tbody
                    each obj in data
                        tr.gradeX
                            td #{obj.name}
                            td #{obj.email}
                            td #{obj.phone}
                            td
                                if obj.status == 1
                                    | Chưa liên hệ
                                else if obj.status == 2
                                    | Đã liên hệ
                            td #{obj.created_date}
                            td
                                if obj.status == 1
                                    button.btn.btn-primary(onclick='da_lien_he(this,"'+obj.id+'")') Đã liên hệ


block JS
    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/jquery-easypiechart/jquery.easypiechart.js")
    script(src="../assets/app/vendor/flot/jquery.flot.js")
    script(src="../assets/app/vendor/flot-tooltip/jquery.flot.tooltip.js")
    script(src="../assets/app/vendor/flot/jquery.flot.pie.js")
    script(src="../assets/app/vendor/flot/jquery.flot.categories.js")
    script(src="../assets/app/vendor/flot/jquery.flot.resize.js")
    script(src="../assets/app/vendor/jquery-sparkline/jquery.sparkline.js")
    script(src="../assets/app/vendor/raphael/raphael.js")
    script(src="../assets/app/vendor/morris/morris.js")
    script(src="../assets/app/vendor/gauge/gauge.js")
    script(src="../assets/app/vendor/snap-svg/snap.svg.js")
    script(src="../assets/app/vendor/liquid-meter/liquid.meter.js")
    script(src="../assets/app/vendor/jqvmap/jquery.vmap.js")
    script(src="../assets/app/vendor/jqvmap/data/jquery.vmap.sampledata.js")
    script(src="../assets/app/vendor/jqvmap/maps/jquery.vmap.world.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.africa.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.asia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.australia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.europe.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")
    script(src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js")


block footerJS
    script(src="../assets/app/javascripts/quan-ly-lien-he/danh-sach-lien-he")
