extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css")
    link(rel='stylesheet', href='../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css')
    link(rel='stylesheet', href='../assets/app/vendor/select2/select2.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css')
    link(rel='stylesheet', href='../assets/app/vendor/dropzone/css/basic.css')
    link(rel='stylesheet', href='../assets/app/vendor/dropzone/css/dropzone.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css')
    link(rel='stylesheet', href='../assets/app/vendor/summernote/summernote.css')
    link(rel='stylesheet', href='../assets/app/vendor/summernote/summernote-bs3.css')
    link(rel='stylesheet', href='../assets/app/vendor/codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='../assets/app/vendor/codemirror/theme/monokai.css')
    link(rel='stylesheet', href='../assets/app/vendor/tags-input/tags-input.css')

    link(rel='stylesheet', href='../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css')
    link(rel='stylesheet', href='../assets/app/vendor/select2/select2.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css')
    link(rel='stylesheet', href='../assets/app/vendor/dropzone/css/basic.css')
    link(rel='stylesheet', href='../assets/app/vendor/dropzone/css/dropzone.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css')
    link(rel='stylesheet', href='../assets/app/vendor/summernote/summernote.css')
    link(rel='stylesheet', href='../assets/app/vendor/summernote/summernote-bs3.css')
    link(rel='stylesheet', href='../assets/app/vendor/codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='../assets/app/vendor/codemirror/theme/monokai.css')

block info

    script.
        var page_name = "user-page";
        var page_sub_name="doi-mat-khau";
        var user_id= "#{user_id}";
        var ori_password= "#{password}";

block header
    header.page-header
        h2 Sửa user
        div(class="right-wrapper pull-right")
            ol.breadcrumbs
                li
                    a(href="dashboard")
                        i(class="fa fa-home")
                li
                    span Quản lý user
                li
                    span Sửa user

            a(class="sidebar-right-toggle" data-open="sidebar-right")
                i(class="fa fa-chevron-left")

block content

    // start: page
    .row
        .col-lg-12
            section.panel
                header.panel-heading
                    .panel-actions
                        a.panel-action.panel-action-toggle(href='#', data-panel-toggle='')
                        a.panel-action.panel-action-dismiss(href='#', data-panel-dismiss='')
                    h2.panel-title Sửa user
                .panel-body

                    .form-group.need
                        label.col-md-3.control-label Tên người dùng
                        .col-md-9
                            input#ip-username.form-control(type='text' value=user_name name=user_id)
                    .form-group.need
                        label.col-md-3.control-label Mật khẩu
                        .col-md-9
                            input#ip-password.form-control(type='password' value=password)
                    .form-group.need
                        label.col-md-3.control-label Nhập lại mật khẩu
                        .col-md-9
                            input#ip-retype.form-control(type='password' value=password)
                hr


                footer(class="panel-footer")
                    div(class="row")
                        div(class="col-sm-9 col-sm-offset-3")
                            button.btn.btn-primary.btn-delete(onclick='update()')= "Cập nhật thông tin người dùng"




block JS

    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/jquery-easypiechart/jquery.easypiechart.js")
    script(src="../assets/app/vendor/flot/jquery.flot.js")
    script(src="../assets/app/vendor/flot-tooltip/jquery.flot.tooltip.js")
    script(src="../assets/app/vendor/flot/jquery.flot.pie.js")
    script(src="../assets/app/vendor/flot/jquery.flot.categories.js")
    script(src="../assets/app/vendor/flot/jquery.flot.resize.js")
    script(src="../assets/app/vendor/jquery-sparkline/jquery.sparkline.js")
    script(src="../assets/app/vendor/raphael/raphael.js")
    script(src="../assets/app/vendor/morris/morris.js")
    script(src="../assets/app/vendor/gauge/gauge.js")
    script(src="../assets/app/vendor/snap-svg/snap.svg.js")
    script(src="../assets/app/vendor/liquid-meter/liquid.meter.js")
    script(src="../assets/app/vendor/jqvmap/jquery.vmap.js")
    script(src="../assets/app/vendor/jqvmap/data/jquery.vmap.sampledata.js")
    script(src="../assets/app/vendor/jqvmap/maps/jquery.vmap.world.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.africa.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.asia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.australia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.europe.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")

    script(src="../assets/app/vendor/jquery-autosize/jquery.autosize.js")
    script(src="../assets/app/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js")


    //select advance
    script(src='../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js')
    script(src='../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js')
    script(src='../assets/app/vendor/select2/select2.js')
    script(src='../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js')
    script(src='../assets/app/vendor/jquery-maskedinput/jquery.maskedinput.js')
    script(src='../assets/app/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js')
    script(src='../assets/app/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js')
    script(src='../assets/app/vendor/bootstrap-timepicker/js/bootstrap-timepicker.js')
    script(src='../assets/app/vendor/fuelux/js/spinner.js')
    script(src='../assets/app/vendor/dropzone/dropzone.js')
    script(src='../assets/app/vendor/bootstrap-markdown/js/markdown.js')
    script(src='../assets/app/vendor/bootstrap-markdown/js/to-markdown.js')
    script(src='../assets/app/vendor/bootstrap-markdown/js/bootstrap-markdown.js')
    script(src='../assets/app/vendor/codemirror/lib/codemirror.js')
    script(src='../assets/app/vendor/codemirror/addon/selection/active-line.js')
    script(src='../assets/app/vendor/codemirror/addon/edit/matchbrackets.js')
    script(src='../assets/app/vendor/codemirror/mode/javascript/javascript.js')
    script(src='../assets/app/vendor/codemirror/mode/xml/xml.js')
    script(src='../assets/app/vendor/codemirror/mode/htmlmixed/htmlmixed.js')
    script(src='../assets/app/vendor/codemirror/mode/css/css.js')
    script(src='../assets/app/vendor/summernote/summernote.js')
    script(src='../assets/app/vendor/bootstrap-maxlength/bootstrap-maxlength.js')
    script(src='../assets/app/vendor/ios7-switch/ios7-switch.js')
    script(src='../assets/app/vendor/bootstrap-confirmation/bootstrap-confirmation.js')
    script(src="../assets/app/vendor/tags-input/tags-input.js")
    script(src="../assets/app/javascripts/chinh-sach-ban-hang/examples.chinh-sach-ban-hang.js")
    script(src="../assets/app/javascripts/forms/examples.advanced.form.js")
    script(src="../assets/app/javascripts/quan-ly-user-admin/doi-mat-khau.js")
    script.
        $("#ip-username").prop("disabled", true); //Disable



block footerJS


