doctype html
html(lang='en')
    style.
        .orange {
            color: #E95713;
        }
        .inline {
            display: inline;
        }
        #line {
            width: 100%;
            height: 3px;
            background: black;
        }
        #panel1 {
            background: #EEF1F4;
            width: 100%;
            padding-top: 15px;
            padding-left: 8px;
            padding-bottom: 15px;
            height: 280px;
        }
        #tinh-trang {
            background: #E95713;
            color: white;
            width: 350px;
            text-align: center;
            padding: 2px
        }
        #panel2{
            background: #FFF6E0;width: 100%;height: 100%;
        }
        #table {
            cellpadding: 20px;
            cellspacing: 0px;
            width: 100%;
            border: none;
        }
    head
        meta(charset='UTF-8')
    body
        img(src=ori_url+'img/email-header.png', width='100%')
        h3 Kính chào quý khách #{client_name}
        div
            b Thái Long&nbsp;
            | vừa nhận được&nbsp;
            div(style='color: #E95713;display: inline') đơn hàng ##{code}&nbsp;
            | của quý khách đặt ngày&nbsp;
            b(style='color: black') #{now}&nbsp;
            | với hình thức thanh toán là&nbsp;
            b(style='color: black') #{payment_method}.
        br
        div(style='width: 100%;\
    height: 3px;\
    background: black;')
        div(style='background: #EEF1F4;\
    width: 100%;\
    padding-top: 15px;\
    padding-left: 8px;\
    padding-bottom: 15px;\
    padding-right: 8px;')
            div
                span(style="color: #646464") Thời gian giao hàng dự kiến
                br
                b(style="color: black") #{ship_time}
            br
            div(style='background: #E95713;\
                  color: white;\
                  width: 350px;\
                  text-align: center;\
                  padding: 2px;\
                  text-decoration: underline') TÌNH TRẠNG ĐƠN HÀNG
            br
            div(style="color: #646464") Đơn hàng sẽ được giao đến:
            b(style='color: #E95713;') #{client_name}
            br
            b #{address}
            br
            b Phone: #{phone}
        div
            b(style="color: black;") Sau đây là thông tin chi tiết về đơn hàng:
        div(style='background: #FFF6E0; width: 100%; margin-top: 8px; padding: 8px;')
            table(style='cellpadding: 40px;cellspacing: 10px;border: none;')
                each obj in products
                    tr
                        td(style='width: 20%;')
                            img(src=base_url+obj.product_image style="max-width:100%")
                        td(style='width: 30%;padding-left:20px;vertical-align:top')
                            div(style='margin-bottom: 8px;') #{obj.product_title}
                            div(style='margin-bottom: 8px;') Số lượng: #{obj.order_detail_quantity}
                            div(style='margin-bottom: 8px;') Đơn vị bán hàng: Thái Long
                        td(style='width: 30%;text-align: right;text-align: right;vertical-align: top;')
                            | #{((~~obj.order_detail_total_amount - ~~obj.order_detail_price_promotion)/obj.order_detail_quantity).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")} VND
                            br
                            if obj.order_detail_price_promotion > 0
                                span(style='color: red;text-decoration: line-through;') #{(~~obj.order_detail_price).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")} VND
                        td(style='width: 20%;')
                tr
                    td(style='width: 20%;text-align: right')
                    td(style='width: 30%;text-align: right') Thành tiền:
                    td(style='width: 50%;text-align: right') #{total_amount_after_product_promotion.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")} VND
                tr
                    td(style='width: 20%;text-align: right')
                    td(style='width: 30%;text-align: right') Phí giao hàng:
                    td(style='width: 50%;text-align: right') #{ship_fee.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")} VND
                tr
                    td(style='width: 20%;text-align: right')
                    td(style='width: 30%;text-align: right') Giảm giá (Voucher):
                    td(style='width: 50%;text-align: right') #{discount_voucher.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")} VND
                tr(style="margin-top:8px; font-weight: bold;")
                    td(style='width: 20%;text-align: right')
                    td(style='width: 30%;text-align: right') Tổng cộng:
                    td(style='width: 50%;text-align: right') #{final_total_amount.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")} VND
        b Quý khách cần hỗ trợ thêm?
        div
            | Nếu có bất cứ thắc mắc nào, quý khách vui lòng để lại tin nhắn tại trang&nbsp;
            a(href=base_url+"lien-he") Liên Hệ.
