doctype html
html(lang='en')
    style.
        .green {
            color: #8A9524;

        }

        .margin-one {
            margin-top: 150px;
            color: #8A9524;

        }
    script.
        function format(number) {
            if (number == null) {
                return "";
            }
            return number.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");

        }
    head
        meta(charset='UTF-8')
    body
        img(src=ori_url +  'img/email-header.png', width='100%' style="max-height:137px")
        h2 Giao hàng thành công
        div(style='width: 100%;')
            img(style='display: block;margin: auto', src=base_url + 'Picture2.png', width='70%')
        div(style='width: 100%;background: #dfdfdf;padding: 10px; margin-top: 10px;')
            | #{client_name} thân mến,
            br
            | ##{code} của bạn đã được giao đầy đủ với các sản phẩm được liệt kê bên dưới. Thái Long hi vọng bạn hài lòng với các sản phẩm này!
        div(style='')
            img(style='width: 30px;height: 30px;', src=base_url + 'Picture3.png')
            | Chi tiết đơn hàng
        table(style='' cellpadding='20', cellspacing='0', width='100%', border='0')
            -for (var i = 0; i < products.length; i++)
                tr
                    td(style='width: 20%;padding-left:40px')
                        img(style='width: 100%;' src=base_url +  products[i].product_image)
                    td(style='width: 50%;')
                        div #{products[i].product_title}
                        div(style='color:#cd2129;') VNĐ #{((~~products[i].order_detail_total_amount - ~~products[i].order_detail_price_promotion) / products[i].order_detail_quantity).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}
                        if products[i].order_detail_price_promotion > 0
                            div(style='color: black')
                                del (VNĐ #{(~~products[i].order_detail_price).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")})
                        div Số lượng: #{products[i].order_detail_quantity}
                        div Đơn vị bán hàng: Thái Long
        div.margin-one(style='color: #8A9524;')
            img.green(style='width: 30px;height: 30px', src=base_url +  'Picture4.png')
            | Hình thức thanh toán: #{payment_method}

        table(style='margin-top: 10px' cellpadding='0', cellspacing='0', width='100%', border='0')
            tr
                td(style='width: 50%;') Thành tiền
                td(style='width: 15%;' align="right") VNĐ
                td(style='width: 15%;' align="right") #{total_amount_after_product_promotion.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}
            tr
                td(style='width: 50%;') Phí vận chuyển
                td(style='width: 15%;' align="right") VNĐ
                td(style='width: 15%;' align="right") #{ship_fee.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}
            tr
                td(style='width: 50%;') Giảm giá
                td(style='width: 15%;' align="right") VNĐ
                td(style='width: 15%;' align="right") #{discount_voucher.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}
            tr(style='color: #CD2129')
                td(style='width: 50%;') Tổng cộng:
                td(style='width: 15%;' align="right") VNĐ
                td(style='width: 15%;' align="right") #{final_total_amount.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}
        div(style='text-align: center;width: 100%;font-style: italic;margin-top: 10px') (Đây là email tự động, bạn vui lòng không trả lời email này)
        div(style='background: #dfdfdf;margin-top: 10px;padding: 30px;')
            div(style='font-size: 16px;')
                img(style='width: 30px;height: 30px', src=base_url + 'Picture5.png')
                | Lưu ý
            div(style='margin-top: 10px;')
                | Bạn cần liên hệ với Thái Long trong vòng 48 giờ kể từ thời điểm nhận hàng nếu sản phẩm có dấu hiệu hư hỏng/ bể vỡ hoặc không đúng với thông tin trên website để được hỗ trợ.
                br
                | Bạn có thể liên hệ với Thái Long bằng cách để lại tin nhắn tại trang&nbsp;
                a(href=url + "lien-he") Liên Hệ
                | &nbsp;hoặc gửi thư đến đây


