extends authLayout

block content

    script.
        function validateEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        }

        function login() {
            var emailInput = document.getElementsByName("username")[0];
            var passwordInput = document.getElementsByName("pwd")[0];
            if (emailInput.value.length == 0) {
                alert("Bạn chưa nhập tên tài khoản.");
                return;
            }

            if (passwordInput.value.length == 0) {
                alert("Bạn chưa nhập mật mã.");
                return;
            }

            var app_code_name = navigator.appCodeName;
            var app_name = navigator.appName;
            var app_version = navigator.appVersion;
            var platform = navigator.platform;
            var user_agent = navigator.userAgent;
            var product = navigator.product;
            var product_sub = navigator.productSub;
            var vendor = navigator.vendor;

            $.ajax({
                url: "login",
                type: "post",
                data: JSON.stringify({
                    username: emailInput.value,
                    password: passwordInput.value,
                    app_code_name: app_code_name,
                    app_name: app_name,
                    app_version: app_version,
                    platform: platform,
                    user_agent: user_agent,
                    product: product,
                    product_sub: product_sub,
                    vendor: vendor
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_LOGIN") {
                        if (response.data == null || response.data.direct_route == null) {
                            alert("Tài khoản này chưa được cấp quyền.");
                            return;
                        }
                        var url = response.data.direct_route;
                        window.location.href = url;
                    } else if (response.response_code == "ERRO_INVALID_AUTH") {
                        alert("Mật mã hoặc tên tài khoản không đúng.");
                    }
                }
            });

        }


    section.body-sign
        div.center-sign
            a(class='logo pull-left' href='#')
                img(src='../assets/app/images/logo.png' height='54' alt='Lazy Mining')
            div.panel.panel-sign
                div.panel-title-sign.mt-xl.text-right
                    h2.title.text-uppercase.text-bold.m-none <i class="fa fa-user mr-xs"></i> Đăng Nhập
                div.panel-body
                    form(action='index.html' method='post')
                        div.form-group.mb-lg
                            label Tên tài khoản
                            div.input-group.input-group-icon
                                input(name='username' type='email' class='form-control input-lg login')
                                span.input-group-addon
                                    span.icon.icon-lg
                                        i.fa.fa-user
                        div.form-group.mb-lg
                            div.clearfix
                                label.pull-left Mật mã
                                //a(href='resetPasswordUser' class='pull-right') Quên mật mã?
                            div.input-group.input-group-icon
                                input(name='pwd' type='password' class='form-control input-lg login')
                                span.input-group-addon
                                    span.icon.icon-lg
                                        i.fa.fa-lock
                        div.row
                            div.col-sm-8
                                div.checkbox-custom.checkbox-default
                                    //input(id='RememberMe' name='rememberme' type='checkbox')
                                    //label(for='RememberMe') Nhớ mật khẩu
                            div.col-sm-4.text-right
                                button(type='button' class='btn btn-primary hidden-xs' onclick='login()') Đăng nhập
                                button(type='button' class='btn btn-primary btn-block btn-lg visible-xs mt-lg' onclick='login()') Đăng nhập


            p.text-center.text-muted.mt-md.mb-md &copy; Copyright 2018, THÁI LONG: THỰC PHẨM & GIA VỊ CAO CẤP

block JS


