extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")

    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")



block info
    script.
        var page_name = "notification_page";



block header
    header.page-header
        h2 Tổng quan
        div(class="right-wrapper pull-right")
            ol.breadcrumbs
                li
                    a(href="dashboard")
                        i(class="fa fa-home")
                li
                    span Tổng quan

            a(class="sidebar-right-toggle" data-open="sidebar-right")
                i(class="fa fa-chevron-left")

block content

    // start: page
    .inner-toolbar.clearfix
        ul

            li.right
                ul.nav.nav-pills.nav-pills-primary
                    li
                        label Type
                    li.active
                        a(href='#access-log', data-toggle='tab') Access Log
                    li
                        a(href='#error-log', data-toggle='tab') Error Log
                    li
                        a(href='#custom-log', data-toggle='tab') Custom Log
    section.panel
        .panel-body.tab-content
            #access-log.tab-pane.active
                table.table.table-striped.table-no-more.table-bordered.mb-none
                    thead
                        tr
                            th(style='width: 10%')
                                span.text-normal.text-sm Type
                            th(style='width: 15%')
                                span.text-normal.text-sm Date
                            th
                                span.text-normal.text-sm Message
                    tbody.log-viewer
                        each obj in notification
                            tr
                                td.pt-md.pb-md(data-title='Type')
                                    i(class=obj.icon)
                                td.pt-md.pb-md(data-title='Date')
                                    | #{obj.created_date}
                                td.pt-md.pb-md(data-title='Message')
                                    | #{obj.title}

            #error-log.tab-pane
                table.table.table-striped.table-no-more.table-bordered.mb-none
                    thead
                        tr
                            th(style='width: 10%')
                                span.text-normal.text-sm Type
                            th(style='width: 15%')
                                span.text-normal.text-sm Date
                            th
                                span.text-normal.text-sm Message

            #custom-log.tab-pane
                table.table.table-striped.table-no-more.table-bordered.mb-none
                    thead
                        tr
                            th(style='width: 10%')
                                span.text-normal.text-sm Type
                            th(style='width: 15%')
                                span.text-normal.text-sm Date
                            th
                                span.text-normal.text-sm Message
                    tbody.log-viewer





block JS

    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/jquery-easypiechart/jquery.easypiechart.js")
    script(src="../assets/app/vendor/flot/jquery.flot.js")
    script(src="../assets/app/vendor/flot-tooltip/jquery.flot.tooltip.js")
    script(src="../assets/app/vendor/flot/jquery.flot.pie.js")
    script(src="../assets/app/vendor/flot/jquery.flot.categories.js")
    script(src="../assets/app/vendor/flot/jquery.flot.resize.js")
    script(src="../assets/app/vendor/jquery-sparkline/jquery.sparkline.js")
    script(src="../assets/app/vendor/raphael/raphael.js")
    script(src="../assets/app/vendor/morris/morris.js")
    script(src="../assets/app/vendor/gauge/gauge.js")
    script(src="../assets/app/vendor/snap-svg/snap.svg.js")
    script(src="../assets/app/vendor/liquid-meter/liquid.meter.js")
    script(src="../assets/app/vendor/jqvmap/jquery.vmap.js")
    script(src="../assets/app/vendor/jqvmap/data/jquery.vmap.sampledata.js")
    script(src="../assets/app/vendor/jqvmap/maps/jquery.vmap.world.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.africa.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.asia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.australia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.europe.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")
    script(src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js")

    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
block footerJS

