extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")
    link(rel="stylesheet" href="../assets/app/vendor/select2/select2.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-datatables-bs3/assets/css/datatables.css")

block info
    style(type='text/css').
        .bottom {
            visibility: hidden;
            bottom: 0;
            position: absolute;
        }
    script.
        function go(url) {
            window.location = "sua-danh-muc-san-pham?id=" + url;
        }

        var page_name = "quan_ly_footer_page";
        var page_sub_name = "quan-ly-danh-muc-cap-2-footer";
        var page_master_group = "Quản lý footer";
        var page_child_group = "Quản lý danh mục cấp 2 footer";

block header
    header.page-header
        h2 Danh sách danh mục cấp 2 footer
        div(class="right-wrapper pull-right")
            ol.breadcrumbs
                li
                    a(href="dashboard")
                        i(class="fa fa-home")
                li
                    span Quản lý footer
                li
                    span Danh sách danh mục cấp 2 footer

            a(class="sidebar-right-toggle" data-open="sidebar-right")
                i(class="fa fa-chevron-left")

block content

    // start: page
    section.panel

        header(class="panel-heading")
            div(class="panel-actions")
                a(href="#" class="panel-action panel-action-toggle" data-panel-toggle)
                a(href="#" class="panel-action panel-action-dismiss" data-panel-dismiss)
            h2.panel-title Danh sách danh mục cấp 2 footer

        div.panel-body
            .form-group
                select.col-md-9.control-label#product_select(data-plugin-selecttwo='')
                    option(value="-1") Chưa chọn
                    -for (var i = 0; i < sanpham.length; i++)
                        option(value=sanpham[i].product_category_id data-obj=sanpham[i]) #{sanpham[i].product_category_title}
                .col-md-3
                    button#btn-add.btn.btn-primary(onclick="them_san_pham()")= "Thêm danh mục"


            button.bottom#addToTable.btn.btn-primary
                | Add
                i.fa.fa-plus

            table.table.table-bordered.table-striped.mb-none#datatable-tabletools()
                thead
                    tr
                        th Tên danh mục
                        th Số thứ tự
                        th Hành động
                tbody
                    each obj in bestSell
                        tr.gradeX(id='product-'+obj.product_category_id )
                            td #{obj.product_category_name}
                            td.canEdit(id="id"+obj.product_category_id) #{obj.sort_order}
                            td.actions
                                button.btn-edit(class="btn btn-default" onclick='go("' + obj.product_category_id + '")')
                                    i(class="fa fa-pencil")
                                button.btn-del(class="btn btn-default" onclick='remove_product("' + obj.product_category_id + '","' + obj.product_category_name + '")')
                                    i(class="fa fa-trash-o")




block JS
    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/jquery-easypiechart/jquery.easypiechart.js")
    script(src="../assets/app/vendor/flot/jquery.flot.js")
    script(src="../assets/app/vendor/flot-tooltip/jquery.flot.tooltip.js")
    script(src="../assets/app/vendor/flot/jquery.flot.pie.js")
    script(src="../assets/app/vendor/flot/jquery.flot.categories.js")
    script(src="../assets/app/vendor/flot/jquery.flot.resize.js")
    script(src="../assets/app/vendor/jquery-sparkline/jquery.sparkline.js")
    script(src="../assets/app/vendor/raphael/raphael.js")
    script(src="../assets/app/vendor/morris/morris.js")
    script(src="../assets/app/vendor/gauge/gauge.js")
    script(src="../assets/app/vendor/snap-svg/snap.svg.js")
    script(src="../assets/app/vendor/liquid-meter/liquid.meter.js")
    script(src="../assets/app/vendor/jqvmap/jquery.vmap.js")
    script(src="../assets/app/vendor/jqvmap/data/jquery.vmap.sampledata.js")
    script(src="../assets/app/vendor/jqvmap/maps/jquery.vmap.world.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.africa.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.asia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.australia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.europe.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")
    script(src="../assets/app/javascripts/edit-inline-order/order-danh-muc-san-pham.js")
    script.
        $('#datatable-tabletools').editableTableWidget();
block footerJS
    script(src="../assets/app/javascripts/quan-ly-footer/quan-ly-danh-muc-cap-2-footer.js")
    script(src="../assets/app/javascripts/quan-ly-san-pham/table-tool.js")
