extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")

block info
    script.
        var page_name = "khuyenmai-page";
        var page_sub_name="quan-ly-popup-khuyen-mai";
        var page_master_group = "Quản lý khuyến mãi";
        var page_child_group = "Quản lý Popup khuyến mãi";

        var short_url = "quan-ly-popup-khuyen-mai";

        function update() {
            var delayStart = $("#ip-beginstart").val();

            if (delayStart.length == 0) {
                alert("Chưa thêm thời gian bắt đầu xuất hiện Popup");
                return;
            }
            var content = CKEDITOR.instances.editor1.getData();

            if (content.length == 0) {
                alert("Chưa thêm nội dung");
                return;
            }

            var showBanner = $("#ip-show-banner").prop('checked');

            $.ajax({
                url: short_url + "/sua",
                type: "post", //send it through get method
                data: JSON.stringify({
                    delayStart: delayStart,
                    content: content,
                    show: showBanner ? "1" : "0"
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Sửa nội dung thành công',
                            type: 'success'
                        });

                    } else {
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Sửa nội dung thất bại\n' + response.description,
                            type: 'error'
                        });
                    }

                }
            });
        }


block header
    block header
    include includes/headerCustom
    +headerCustom(
    "Quản lý Popup khuyến mãi",
    "Quản lý khuyến mãi")

block content

    // start: page
    .row
        .col-lg-12
            section.panel
                header.panel-heading
                    .panel-actions
                        a.panel-action.panel-action-toggle(href='#', data-panel-toggle='')
                        a.panel-action.panel-action-dismiss(href='#', data-panel-dismiss='')
                    h2.panel-title Quản lý Popup khuyến mãi
                .panel-body
                    .form-group
                        label.col-md-3.control-label Hiện Popup khuyến mãi
                        .col-md-9
                            input#ip-show-banner(type='checkbox')
                    .form-group.need
                        label.col-md-3.control-label Thời gian Popup bắt đầu xuất hiện (Miliseconds)
                        .col-md-9
                            input#ip-beginstart.form-control(type='text' value=delayShow)
                    .form-group.need
                        label.col-md-3.control-label Nội dung Popup
                        .col-md-9
                            .adjoined-bottom
                                .grid-container
                                    .grid-width-100
                                        textarea#editor1(name='editor1', rows='10', cols='80' data-content=contentHTML )
                            button.input-group.mb-md.btn.btn-default.btn-delete(onclick='review_vi()')= "Xem trước"
                footer(class="panel-footer")
                    div(class="row")
                        div(class="col-sm-9 col-sm-offset-3")
                            button.btn-edit.btn.btn-primary.btn-delete(onclick='update()')= "Cập nhật"

block JS

    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/snap-svg/snap.svg.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")

    script.
        CKEDITOR.replace('editor1', {
            filebrowserUploadUrl: 'upload-hinh/uploader'
        });


        var vi = $("#editor1").attr("data-content");
        if (vi.length > 0) {
            CKEDITOR.instances.editor1.setData(vi);
        }

        $("#ip-show-banner").attr("checked", #{hienPopup} == 1);

block footerJS


