extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")

    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css")
    link(rel='stylesheet', href='../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css')
    link(rel='stylesheet', href='../assets/app/vendor/select2/select2.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css')
    link(rel='stylesheet', href='../assets/app/vendor/dropzone/css/basic.css')
    link(rel='stylesheet', href='../assets/app/vendor/dropzone/css/dropzone.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css')
    link(rel='stylesheet', href='../assets/app/vendor/summernote/summernote.css')
    link(rel='stylesheet', href='../assets/app/vendor/summernote/summernote-bs3.css')
    link(rel='stylesheet', href='../assets/app/vendor/codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='../assets/app/vendor/codemirror/theme/monokai.css')
    link(rel='stylesheet', href='../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css')
    link(rel='stylesheet', href='../assets/app/vendor/select2/select2.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css')
    link(rel='stylesheet', href='../assets/app/vendor/dropzone/css/basic.css')
    link(rel='stylesheet', href='../assets/app/vendor/dropzone/css/dropzone.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css')
    link(rel='stylesheet', href='../assets/app/vendor/summernote/summernote.css')
    link(rel='stylesheet', href='../assets/app/vendor/summernote/summernote-bs3.css')
    link(rel='stylesheet', href='../assets/app/vendor/codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='../assets/app/vendor/codemirror/theme/monokai.css')




block info
    style(type='text/css').
        .hide {
            visibility: hidden;
            bottom: 0;
            position: absolute;
        }
    script.
        var page_name = "monanngon-page";
        var page_sub_name="quan-ly-bai-viet-mon-an-ngon";
        var page_master_group = "Quản lý món ăn ngon";
        var page_child_group = "Quản lý bài viết ở top";

block header
    header.page-header
        h2 Quản lý bài viết món ăn ngon
        div(class="right-wrapper pull-right")
            ol.breadcrumbs
                li
                    a(href="dashboard")
                        i(class="fa fa-home")

                li
                    span Bài viết món ăn ngon

                li
                    span Quản lý bài viết món ăn ngon

            a(class="sidebar-right-toggle" data-open="sidebar-right")
                i(class="fa fa-chevron-left")

block content

    // start: page
    .row
        .col-lg-12
            section.panel
                header.panel-heading
                    .panel-actions
                        a.panel-action.panel-action-toggle(href='#', data-panel-toggle='')
                        a.panel-action.panel-action-dismiss(href='#', data-panel-dismiss='')
                    h2.panel-title Chọn bài viết
                .panel-body
                    .form-group
                        label.col-md-3.control-label Bài viết được chọn
                        .col-md-6
                            select#bai_viet_select.form-control.populate(data-plugin-selecttwo='')
                                option(value="-1") Chưa chọn
                                -for (var i = 0; i < normalMonNgon.length; i++)
                                    option(value=normalMonNgon[i].id) #{normalMonNgon[i].title}

                        .col-md-3
                            button#btn-add.btn.btn-primary( onclick="add()") Thêm
                    .form-group
                        label.col-md-3.control-label Danh sách bài viết
                        .col-md-6
                            .table-responsive
                                table.table.mb-none#tb-mon-ngon
                                    thead
                                        tr
                                            th Stt
                                            th Mô tả
                                            th Hành động
                                    tbody

                                        -for (var i = 0; i < topMonNgon.length; i++)
                                            tr(id='content' + topMonNgon[i].id)
                                                td #{i+1}
                                                td #{topMonNgon[i].title}
                                                td
                                                    button.btn-del.btn.btn-primary(onclick='xoa_lien_ket("' + topMonNgon[i].id + '","' + topMonNgon[i].title + '")') Xóa













block JS

    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src='../assets/app/vendor/select2/select2.js')
    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/jquery-easypiechart/jquery.easypiechart.js")
    script(src="../assets/app/vendor/flot/jquery.flot.js")
    script(src="../assets/app/vendor/flot-tooltip/jquery.flot.tooltip.js")
    script(src="../assets/app/vendor/flot/jquery.flot.pie.js")
    script(src="../assets/app/vendor/flot/jquery.flot.categories.js")
    script(src="../assets/app/vendor/flot/jquery.flot.resize.js")
    script(src="../assets/app/vendor/jquery-sparkline/jquery.sparkline.js")
    script(src="../assets/app/vendor/raphael/raphael.js")
    script(src="../assets/app/vendor/morris/morris.js")
    script(src="../assets/app/vendor/gauge/gauge.js")
    script(src="../assets/app/vendor/snap-svg/snap.svg.js")
    script(src="../assets/app/vendor/liquid-meter/liquid.meter.js")
    script(src="../assets/app/vendor/jqvmap/jquery.vmap.js")
    script(src="../assets/app/vendor/jqvmap/data/jquery.vmap.sampledata.js")
    script(src="../assets/app/vendor/jqvmap/maps/jquery.vmap.world.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.africa.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.asia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.australia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.europe.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")
    script(src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js")

    script(src="../assets/app/vendor/jquery-autosize/jquery.autosize.js")
    script(src="../assets/app/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js")

    // Specific Page Vendor
    script(src='../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js')
    script(src='../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js')
    script(src='../assets/app/vendor/select2/select2.js')
    script(src='../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js')
    script(src='../assets/app/vendor/jquery-maskedinput/jquery.maskedinput.js')
    script(src='../assets/app/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js')
    script(src='../assets/app/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js')
    script(src='../assets/app/vendor/bootstrap-timepicker/js/bootstrap-timepicker.js')
    script(src='../assets/app/vendor/fuelux/js/spinner.js')
    script(src='../assets/app/vendor/dropzone/dropzone.js')
    script(src='../assets/app/vendor/bootstrap-markdown/js/markdown.js')
    script(src='../assets/app/vendor/bootstrap-markdown/js/to-markdown.js')
    script(src='../assets/app/vendor/bootstrap-markdown/js/bootstrap-markdown.js')
    script(src='../assets/app/vendor/codemirror/lib/codemirror.js')
    script(src='../assets/app/vendor/codemirror/addon/selection/active-line.js')
    script(src='../assets/app/vendor/codemirror/addon/edit/matchbrackets.js')
    script(src='../assets/app/vendor/codemirror/mode/javascript/javascript.js')
    script(src='../assets/app/vendor/codemirror/mode/xml/xml.js')
    script(src='../assets/app/vendor/codemirror/mode/htmlmixed/htmlmixed.js')
    script(src='../assets/app/vendor/codemirror/mode/css/css.js')
    script(src='../assets/app/vendor/summernote/summernote.js')
    script(src='../assets/app/vendor/bootstrap-maxlength/bootstrap-maxlength.js')
    script(src='../assets/app/vendor/ios7-switch/ios7-switch.js')
    script(src='../assets/app/vendor/bootstrap-confirmation/bootstrap-confirmation.js')



block footerJS

    script(src='../assets/app/javascripts/mon-an-ngon/quan-ly-bai-viet-mon-an-ngon.js')
