extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")
    link(rel="stylesheet" href="../assets/app/vendor/select2/select2.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-datatables-bs3/assets/css/datatables.css")
block info
    style(type='text/css').
        .bottom {
            visibility: hidden;
            bottom: 0;
            position: absolute;
        }
    script.
        function goSanPhamDonVi(url) {
            window.location = "sua-san-pham-don-vi?id=" + url;
        }
        function goSanPhamCombo(url) {
            window.location = "sua-san-pham-combo?id=" + url;
        }
        function deleted(e) {
            var product_id = $(e).attr("product-id");
            var product_name = $(e).attr("product-name");
            $.ajax({
                url: "quan-ly-san-pham-qua-tang/xoa",
                type: "post", //send it through get method
                data: JSON.stringify({
                    id: product_id
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Xóa sản phẩm [' + product_name + "] thành công",
                            type: 'success'
                        });
                        var table = $('#datatable-tabletools').DataTable();
                        var array = [];


                        table
                            .row($("#product-" + product_id))
                            .remove()
                            .draw();

                    } else {
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Xóa sản phẩm [' + product_name + "] thất bại\n" + response.description,
                            type: 'error'
                        });
                    }

                },
                error: function (xhr) {
                    //Do Something to handle error
                    new PNotify({
                        title: 'Thông báo',
                        text: 'Thêm sản phẩm [' + product_name + "] thất bại",
                        type: 'error'
                    });
                }
            });
        }
        var page_name = "sanpham-page";
        var page_sub_name="quan-ly-san-pham-qua-tang";
        var page_master_group = "Quản lý sản phẩm";
        var page_child_group = "Quản lý sản phẩm quà tặng";

block header
    header.page-header
        h2 Danh sách sản phẩm quà tặng
        div(class="right-wrapper pull-right")
            ol.breadcrumbs
                li
                    a(href="dashboard")
                        i(class="fa fa-home")
                li
                    span Quản lý sản phẩm quà tặng
                li
                    span Danh sách sản phẩm quà tặng

            a(class="sidebar-right-toggle" data-open="sidebar-right")
                i(class="fa fa-chevron-left")

block content

    // start: page
    section.panel

        header(class="panel-heading")
            div(class="panel-actions")
                a(href="#" class="panel-action panel-action-toggle" data-panel-toggle)
                a(href="#" class="panel-action panel-action-dismiss" data-panel-dismiss)
            h2.panel-title Danh sách sản phẩm quà tặng

        div.panel-body
            .form-group
                select.col-md-9.control-label#product_select(data-plugin-selecttwo='')
                    option(value="-1") Chưa chọn
                    -for (var i = 0; i < sanpham.length; i++)
                        option(value=sanpham[i].product_id data-code=sanpham[i].product_code data-parent-id=sanpham[i].product_parent_id) #{sanpham[i].product_name}
                .col-md-3
                    button#btn-add.btn.btn-primary(onclick="them_san_pham()")= "Thêm sản phẩm"


            button.bottom#addToTable.btn.btn-primary
                | Add
                i.fa.fa-plus

            table.table.table-bordered.table-striped.mb-none#datatable-tabletools()
                thead
                    tr
                        th Mã sản phẩm
                        th Tên sản phẩm
                        th Hành động
                tbody
                    tr.gradeX()
                        td
                        td
                        td
                    each obj in bestSell
                        tr.gradeX(id='product-'+obj.product_id)
                            td #{obj.product_code}
                            td #{obj.product_name}
                            td.actions
                                if obj.product_parent_id == null
                                    button.btn-edit(class="btn btn-default" onclick='goSanPhamDonVi("' + obj.product_id + '")')
                                        i(class="fa fa-pencil")
                                else
                                    button.btn-edit(class="btn btn-default" onclick='goSanPhamCombo("' + obj.product_id + '")')
                                        i(class="fa fa-pencil")
                                button.btn-del(class="btn btn-default" id='row' + obj.product_id product-id=obj.product_id product-name=obj.product_name obj=obj onclick='deleted(this)' )
                                    i(class="fa fa-trash-o")




block JS

    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/jquery-easypiechart/jquery.easypiechart.js")
    script(src="../assets/app/vendor/flot/jquery.flot.js")
    script(src="../assets/app/vendor/flot-tooltip/jquery.flot.tooltip.js")
    script(src="../assets/app/vendor/flot/jquery.flot.pie.js")
    script(src="../assets/app/vendor/flot/jquery.flot.categories.js")
    script(src="../assets/app/vendor/flot/jquery.flot.resize.js")
    script(src="../assets/app/vendor/jquery-sparkline/jquery.sparkline.js")
    script(src="../assets/app/vendor/raphael/raphael.js")
    script(src="../assets/app/vendor/morris/morris.js")
    script(src="../assets/app/vendor/gauge/gauge.js")
    script(src="../assets/app/vendor/snap-svg/snap.svg.js")
    script(src="../assets/app/vendor/liquid-meter/liquid.meter.js")
    script(src="../assets/app/vendor/jqvmap/jquery.vmap.js")
    script(src="../assets/app/vendor/jqvmap/data/jquery.vmap.sampledata.js")
    script(src="../assets/app/vendor/jqvmap/maps/jquery.vmap.world.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.africa.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.asia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.australia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.europe.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")
block footerJS
    script(src="../assets/app/javascripts/quan-ly-san-pham/quan-ly-san-pham-qua-tang.js")
    script(src="../assets/app/javascripts/quan-ly-san-pham/table-tool.js")
