extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")

    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")



block info
    script.
        var page_name = "quan_ly_footer_page";
        var page_sub_name= "thong_tin_lien_lac_cong_ty";
        var page_master_group = "Quản lý footer";
        var page_child_group = "Thông tin liên lạc công ty";

        function update() {
            var html_vi = CKEDITOR.instances.editor1.getData();
            var html_en = CKEDITOR.instances.editor2.getData();

            if (html_vi.length == 0) {
                alert("Chưa thêm html tiếng việt");
                return;
            }
            if (html_en.length == 0) {
                html_en = html_vi;
            }
            $.ajax({
                url: "thong-tin-lien-lac-cong-ty/sua",
                type: "post", //send it through get method
                data: JSON.stringify({
                    html_vi: html_vi,
                    html_en: html_en
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Sửa nội dung thành công',
                            type: 'success'
                        });

                    } else {
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Sửa nội dung thất bại\n' + response.description,
                            type: 'error'
                        });
                    }

                },
                error: function (xhr) {
                    //Do Something to handle error
                    new PNotify({
                        title: 'Thông báo',
                        text: 'Sửa nội dung thất bại',
                        type: 'error'
                    });
                }
            });
        }


block header
    include includes/headerCustom
    +headerCustom(
    "Thông tin liên lạc công ty",
    "Quản lý footer")


block content

    // start: page
    .row
        .col-lg-12
            section.panel
                header.panel-heading
                    .panel-actions
                        a.panel-action.panel-action-toggle(href='#', data-panel-toggle='')
                        a.panel-action.panel-action-dismiss(href='#', data-panel-dismiss='')
                    h2.panel-title Thông tin liên lạc công ty
                .panel-body

                    .col-md-12
                        .tabs
                            ul.nav.nav-tabs.nav-justified
                                li.active
                                    a.text-center(href='#vi-tab', data-toggle='tab')
                                        i.fa.fa-star
                                        |  Việt Nam
                                li
                                    a.text-center(href='#en-lab', data-toggle='tab') English
                            .tab-content
                                #vi-tab.tab-pane.active


                                    .form-group.need
                                        label.col-md-3.control-label#vi-label(data=contentVI.contentHTML) Nội dung HTML
                                        .col-md-9
                                            .adjoined-bottom
                                                .grid-container
                                                    .grid-width-100
                                                        textarea#editor1(name='editor1', rows='10', cols='80' )

                                    .form-group
                                        label.col-md-3.control-label()
                                        .col-md-4
                                            button.btn.btn-default.btn-delete(onclick='review_vi()')= "Xem trước"


                                #en-lab.tab-pane

                                    .form-group.need
                                        label.col-md-3.control-label#en-label(data=contentEN.contentHTML) Nội dung HTML
                                        .col-md-9
                                            .adjoined-bottom
                                                .grid-container
                                                    .grid-width-100
                                                        textarea#editor2(name='editor1', rows='10', cols='80' )

                                    .form-group
                                        label.col-md-3.control-label()
                                        .col-md-4
                                            button.btn.btn-default.btn-delete(onclick='review_en()')= "Xem trước"


                footer(class="panel-footer")
                    div(class="row")
                        div(class="col-sm-9 col-sm-offset-3")
                            button.btn-edit.btn.btn-primary.btn-delete(onclick='update()')= "Cập nhật"






block JS

    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/snap-svg/snap.svg.js")
    script(src="../assets/app/vendor/liquid-meter/liquid.meter.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js")

    script.
        CKEDITOR.replace('editor1', {
            filebrowserUploadUrl: 'upload-hinh/uploader'
        });
        CKEDITOR.replace('editor2', {
            filebrowserUploadUrl: 'upload-hinh/uploader'
        });

block footerJS

    script.
        var vi = $("#vi-label").attr("data");
        CKEDITOR.instances.editor1.setData(vi);
        var en = $("#en-label").attr("data");
        CKEDITOR.instances.editor2.setData(en);

