extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")

    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")



block info
    script.
        var page_name = "email-page";
        var page_sub_name="soan-thao-email-xac-nhan-dat-hang" ;
        var short_url = "soan-thao-email-xac-nhan-dat-hang";
        function uploadFile(callback) {
            if ($("#file_to_upload").val() != "") {
                var file_data = $('#file_to_upload').prop('files')[0];
                var form_data = new FormData();

                form_data.append('file', file_data);

                $.ajax({
                    url: 'upload-hinh/upload', // point to server-side PHP script
                    dataType: 'text',  // what to expect back from the PHP script, if anything
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: form_data,
                    type: 'post',
                    success: function (data) {
                        // get server responce here
                        data = JSON.parse(data);
                        // clear file field
                        $("#file_to_upload").val("");
                        if (data.response_code == "SUCC_EXEC") {
                            callback(data.data);
                        } else {
                            new PNotify({
                                title: 'Thông báo',
                                text: 'Upload hình ảnh thất bại',
                                type: 'error'
                            });
                        }
                    }
                });
            }
            else if (image_link.length) {
                callback(image_link);
            }
        }
        function add() {
            var subject = $("#ip-subject").val();

            if (subject.length == 0) {
                alert("Chưa thêm subject");
                return;
            }
            var content = CKEDITOR.instances.editor1.getData();

            if (content.length == 0) {
                alert("Chưa thêm content");
                return;
            }

            var email = $("#ip-email").val();

            if (email.length == 0) {
                alert("Chưa thêm email");
                return;
            }

            var pw = $("#ip-pw").val();


            var host = $("#ip-host").val();

            if (host.length == 0) {
                alert("Chưa thêm host");
                return;
            }

            $.ajax({
                url: short_url + "/sua",
                type: "post", //send it through get method
                data: JSON.stringify({
                    subject: subject,
                    content: content,
                    email: email,
                    password: pw,
                    host: host
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Sửa nội dung thành công',
                            type: 'success'
                        });

                    } else {
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Sửa nội dung  thất bại\n' + response.description,
                            type: 'error'
                        });
                    }

                },
                error: function (xhr) {
                    //Do Something to handle error
                    new PNotify({
                        title: 'Thông báo',
                        text: 'Sửa nội dung [#{content.title}] thất bại',
                        type: 'error'
                    });
                }
            });
        }


block header
    header.page-header
        h2 Email xác nhận đặt hàng
        div(class="right-wrapper pull-right")
            ol.breadcrumbs
                li
                    span Soạn thảo Email
                li
                    span Email xác nhận đặt hàng

            a(class="sidebar-right-toggle" data-open="sidebar-right")
                i(class="fa fa-chevron-left")

block content

    // start: page
    .row
        .col-lg-12
            section.panel
                header.panel-heading
                    .panel-actions
                        a.panel-action.panel-action-toggle(href='#', data-panel-toggle='')
                        a.panel-action.panel-action-dismiss(href='#', data-panel-dismiss='')
                    h2.panel-title Email xác nhận đặt hàng
                .panel-body
                    .form-group.need
                        label.col-md-3.control-label Subject
                        .col-md-9
                            input#ip-subject.form-control(type='text' value=subject)
                    .form-group.need
                        label.col-md-3.control-label Content
                        .col-md-9
                            .adjoined-bottom
                                .grid-container
                                    .grid-width-100
                                        textarea#editor1(name='editor1', rows='10', cols='80' data-content=content )
                    .form-group.need
                        label.col-md-3.control-label Email
                        .col-md-9
                            input#ip-email.form-control(type='text' value=email)
                    .form-group
                        label.col-md-3.control-label Password
                        .col-md-9
                            input#ip-pw.form-control(type='password' value=password)
                    .form-group.need
                        label.col-md-3.control-label Host
                        .col-md-9
                            input#ip-host.form-control(type='text' value=host)
                footer(class="panel-footer")
                    div(class="row")
                        div(class="col-sm-9 col-sm-offset-3")
                            button.btn.btn-primary.btn-delete(onclick='add()')= "Cập nhật"






block JS

    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/jquery-easypiechart/jquery.easypiechart.js")
    script(src="../assets/app/vendor/flot/jquery.flot.js")
    script(src="../assets/app/vendor/flot-tooltip/jquery.flot.tooltip.js")
    script(src="../assets/app/vendor/flot/jquery.flot.pie.js")
    script(src="../assets/app/vendor/flot/jquery.flot.categories.js")
    script(src="../assets/app/vendor/flot/jquery.flot.resize.js")
    script(src="../assets/app/vendor/jquery-sparkline/jquery.sparkline.js")
    script(src="../assets/app/vendor/raphael/raphael.js")
    script(src="../assets/app/vendor/morris/morris.js")
    script(src="../assets/app/vendor/gauge/gauge.js")
    script(src="../assets/app/vendor/snap-svg/snap.svg.js")
    script(src="../assets/app/vendor/liquid-meter/liquid.meter.js")
    script(src="../assets/app/vendor/jqvmap/jquery.vmap.js")
    script(src="../assets/app/vendor/jqvmap/data/jquery.vmap.sampledata.js")
    script(src="../assets/app/vendor/jqvmap/maps/jquery.vmap.world.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.africa.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.asia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.australia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.europe.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")

    script.
        CKEDITOR.replace('editor1', {
            filebrowserUploadUrl: 'upload-hinh/uploader'
        });


            var vi = $("#editor1").attr("data-content");
            if (vi.length > 0)
                CKEDITOR.instances.editor1.setData(vi);

block footerJS


