extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")

    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")



block info
    script.
        var page_name = "gioithieu_page";
        var page_number_child_left_menu = 2;
        var is_new = !{is_new};
        var global_id = "!{content.id}";
        var image_link = "!{content.image}";
        var title = "!{content.title}";
        var short_url = "su-menh";
        function uploadFile(callback) {
            if ($("#file_to_upload").val() != "") {
                var file_data = $('#file_to_upload').prop('files')[0];
                var form_data = new FormData();

                form_data.append('file', file_data);

                $.ajax({
                    url: short_url+'/upload', // point to server-side PHP script
                    dataType: 'text',  // what to expect back from the PHP script, if anything
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: form_data,
                    type: 'post',
                    success: function (data) {
                        // get server responce here
                        data = JSON.parse(data);
                        // clear file field
                        $("#file_to_upload").val("");
                        if (data.response_code == "SUCC_EXEC") {
                            callback(data.data);
                        } else {
                            new PNotify({
                                title: 'Thông báo',
                                text: 'upload hình ảnh thất bại',
                                type: 'error'
                            });
                        }
                    }
                });
            }
            else if (image_link.length) {
                callback(image_link);
            }
        }
        function add() {
            var html_vi = CKEDITOR.instances.editor1.getData();
            var html_en = CKEDITOR.instances.editor2.getData();
            if(html_en.length == 0){
                alert("chưa thêm html tiếng anh");
                return;
            }
            if (html_vi.length == 0) {
                alert("chưa thêm html tiếng việt");
                return;
            }
            uploadFile(function (url) {

                $.ajax({
                    url: short_url+"/sua",
                    type: "post", //send it through get method
                    data: JSON.stringify({
                        html_vi: html_vi,
                        html_en: html_en,
                        id: global_id,
                        title: title,
                        image: url
                    }), contentType: "application/json",

                    success: function (response) {
                        if (response.response_code == "SUCC_EXEC") {
                            new PNotify({
                                title: 'Thông báo',
                                text: 'Sửa nội dung [#{content.title}] thành công',
                                type: 'success'
                            });
                            $("#image_res").attr("src", "../upload/"+url);

                        } else {
                            new PNotify({
                                title: 'Thông báo',
                                text: 'Sửa nội dung [#{content.title}] thất bại\n' + response.description,
                                type: 'error'
                            });
                        }

                    },
                    error: function (xhr) {
                        //Do Something to handle error
                        new PNotify({
                            title: 'Thông báo',
                            text: 'Sửa nội dung [#{content.title}] thất bại',
                            type: 'error'
                        });
                    }
                });
            });
        }


block header
    header.page-header
        h2 Tổng quan
        div(class="right-wrapper pull-right")
            ol.breadcrumbs
                li
                    a(href="dashboard")
                        i(class="fa fa-home")
                li
                    span Tổng quan

            a(class="sidebar-right-toggle" data-open="sidebar-right")
                i(class="fa fa-chevron-left")

block content

    // start: page
    .row
        .col-lg-12
            section.panel
                header.panel-heading
                    .panel-actions
                        a.panel-action.panel-action-toggle(href='#', data-panel-toggle='')
                        a.panel-action.panel-action-dismiss(href='#', data-panel-dismiss='')
                    h2.panel-title #{content.title}
                .panel-body
                    .form-group
                        label.col-md-3.control-label Hình ảnh
                        .col-md-9
                            form(enctype='multipart/form-data')
                                input#file_to_upload.form-control(type='file' )
                            if content.image
                                img#image_res.image-sample(src='../upload/' + content.image )
                            else
                                img#image_res.image-sample(src='../assets/app/images/No_Image_Available.jpg' )

                    .col-md-12
                        .tabs
                            ul.nav.nav-tabs.nav-justified
                                li.active
                                    a.text-center(href='#vi-tab', data-toggle='tab')
                                        i.fa.fa-star
                                        |  Vietname
                                li
                                    a.text-center(href='#en-lab', data-toggle='tab') English
                            .tab-content
                                #vi-tab.tab-pane.active


                                    .form-group
                                        if is_new
                                            label.col-md-3.control-label#vi-label() Nội dung HTML
                                        else
                                            label.col-md-3.control-label#vi-label(data=contentVI.contentHTML) Nội dung HTML
                                        .col-md-9
                                            .adjoined-bottom
                                                .grid-container
                                                    .grid-width-100
                                                        textarea#editor1(name='editor1', rows='10', cols='80' )



                                #en-lab.tab-pane

                                    .form-group
                                        if is_new
                                            label.col-md-3.control-label#en-label() Nội dung HTML
                                        else
                                            label.col-md-3.control-label#en-label(data=contentEN.contentHTML) Nội dung HTML
                                        .col-md-9
                                            .adjoined-bottom
                                                .grid-container
                                                    .grid-width-100
                                                        textarea#editor2(name='editor1', rows='10', cols='80' )


                footer(class="panel-footer")
                    div(class="row")
                        div(class="col-sm-9 col-sm-offset-3")
                            button.btn.btn-primary.btn-delete(onclick='add()')= "Cập nhật"






block JS

    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/jquery-easypiechart/jquery.easypiechart.js")
    script(src="../assets/app/vendor/flot/jquery.flot.js")
    script(src="../assets/app/vendor/flot-tooltip/jquery.flot.tooltip.js")
    script(src="../assets/app/vendor/flot/jquery.flot.pie.js")
    script(src="../assets/app/vendor/flot/jquery.flot.categories.js")
    script(src="../assets/app/vendor/flot/jquery.flot.resize.js")
    script(src="../assets/app/vendor/jquery-sparkline/jquery.sparkline.js")
    script(src="../assets/app/vendor/raphael/raphael.js")
    script(src="../assets/app/vendor/morris/morris.js")
    script(src="../assets/app/vendor/gauge/gauge.js")
    script(src="../assets/app/vendor/snap-svg/snap.svg.js")
    script(src="../assets/app/vendor/liquid-meter/liquid.meter.js")
    script(src="../assets/app/vendor/jqvmap/jquery.vmap.js")
    script(src="../assets/app/vendor/jqvmap/data/jquery.vmap.sampledata.js")
    script(src="../assets/app/vendor/jqvmap/maps/jquery.vmap.world.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.africa.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.asia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.australia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.europe.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")
    script(src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js")

    script.
        CKEDITOR.replace('editor1');
        CKEDITOR.replace('editor2');
        if(!is_new){
            var vi = $("#vi-label").attr("data");
            if (vi.length > 0)
                CKEDITOR.instances.editor1.setData(vi);
            var en = $("#en-label").attr("data");
            if (en.length > 0)
                CKEDITOR.instances.editor2.setData(en);
        }

block footerJS
    script(src="../assets/app/javascripts/chinh-sach-ban-hang/examples.chinh-sach-ban-hang.js")

