extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")

    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css")



    link(rel='stylesheet', href='../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css')
    link(rel='stylesheet', href='../assets/app/vendor/select2/select2.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css')
    link(rel='stylesheet', href='../assets/app/vendor/dropzone/css/basic.css')
    link(rel='stylesheet', href='../assets/app/vendor/dropzone/css/dropzone.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css')
    link(rel='stylesheet', href='../assets/app/vendor/summernote/summernote.css')
    link(rel='stylesheet', href='../assets/app/vendor/summernote/summernote-bs3.css')
    link(rel='stylesheet', href='../assets/app/vendor/codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='../assets/app/vendor/codemirror/theme/monokai.css')


    link(rel='stylesheet', href='../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css')
    link(rel='stylesheet', href='../assets/app/vendor/select2/select2.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css')
    link(rel='stylesheet', href='../assets/app/vendor/dropzone/css/basic.css')
    link(rel='stylesheet', href='../assets/app/vendor/dropzone/css/dropzone.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css')
    link(rel='stylesheet', href='../assets/app/vendor/summernote/summernote.css')
    link(rel='stylesheet', href='../assets/app/vendor/summernote/summernote-bs3.css')
    link(rel='stylesheet', href='../assets/app/vendor/codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='../assets/app/vendor/codemirror/theme/monokai.css')

block info
    style(type='text/css').
        .hide {
            display: none;
        }
    script.
        var page_name = "khuyenmai-page";
        var page_sub_name="danh-sach-chuong-trinh-khuyen-mai";
        var promotion_id = "!{promotion.id}";
        var entity_code = "!{promotion.entity_code}";
        var previous_type = "!{promotion.type}";
        var image_link = "!{promotion.image}";
        var page_master_group = "Quản lý khuyến mãi";
        var page_child_group = "Danh sách CT khuyến mãi";

block header
    header.page-header
        h2 Sửa chương trình khuyến mãi
        div(class="right-wrapper pull-right")
            ol.breadcrumbs
                li
                    a(href="dashboard")
                        i(class="fa fa-home")

                li
                    span Quản lý CT khuyến mãi

                li
                    span Sửa CT khuyến mãi

            a(class="sidebar-right-toggle" data-open="sidebar-right")
                i(class="fa fa-chevron-left")

block content

    // start: page
    .row
        .col-lg-12
            section.panel
                header.panel-heading
                    .panel-actions
                        a.panel-action.panel-action-toggle(href='#', data-panel-toggle='')
                        a.panel-action.panel-action-dismiss(href='#', data-panel-dismiss='')
                    h2.panel-title Sửa chương trình khuyến mãi
                .panel-body
                    .form-group.need
                        label.col-md-3.control-label Mã chương trình khuyến mãi
                        .col-md-9
                            input#ip-ma-ctkm.form-control(type='text' value=promotion.code)
                    .form-group.need
                        label.col-md-3.control-label Tên chương trình khuyến mãi
                        .col-md-9
                            input#ip-ten-ctkm.form-control(type='text' value=promotion.name)

                    if promotion.type == 1
                        .form-group.need
                            label.col-md-3.control-label Giảm giá cố định (VNĐ)
                            .col-md-9
                                input#ip-gift.form-control(type='text' value=promotion.fix_price readonly="readonly")
                    if promotion.type == 2
                        .form-group.need
                            label.col-md-3.control-label Giảm giá theo phần trăm (%)
                            .col-md-9
                                input#ip-gift.form-control(type='text'  value=promotion.percent readonly="readonly")
                    if promotion.type == 3
                        .form-group.need
                            label.col-md-3.control-label Quà tặng
                            .col-md-9
                                input#ip-gift.form-control(type='text' value=giftVI.title readonly="readonly")

                    .form-group.need
                        label.col-md-3.control-label Khuyến mãi bắt đầu từ
                        .col-md-6
                            //.input-daterange.input-group(data-plugin-datepicker='')
                            .input-daterange.input-group
                                span.input-group-addon
                                    i.fa.fa-calendar
                                input.form-control#ip-begin-date(type='text', name='start' value=promotion.start_date readonly="readonly")
                                span.input-group-addon đến
                                input.form-control#ip-end-date(type='text', name='end' value=promotion.end_date readonly="readonly")

                    .form-group(style="display:none")
                        label.col-md-3.control-label Giá trị thấp nhất của đơn hàng được áp dụng (VNĐ)
                        .col-md-9
                            input#ip-gia-thap.form-control(type='text' value=promotion.minimum_price
                            onkeyup="format_money_and_edit(this)")

                    .form-group(style="display:none")
                        label.col-md-3.control-label Giá trị khuyến mãi lớn nhất cho đơn hàng (VNĐ)
                        .col-md-9
                            input#ip-gia-cao.form-control(type='text' value=promotion.maximum_price onkeyup="format_money_and_edit(this)")
                    if promotion.type != 1
                        .form-group.need
                            label.col-md-3.control-label Hình ảnh Icon (Kích thước tốt nhất: 140w x 100h)
                            .col-md-7
                                form(enctype='multipart/form-data')
                                    input#file_to_upload.form-control(type='file')
                                    img#file_image.image-sample(src='../upload/'+promotion.image )
                            .col-md-2
                                button.btn.btn-primary(onclick='show_image_lib_ori()') Thư viện ảnh
                    else
                        .form-group.need.hide
                            label.col-md-3.control-label Hình ảnh Icon (Kích thước tốt nhất: 140w x 100h)
                            .col-md-7
                                form(enctype='multipart/form-data')
                                    input#file_to_upload.form-control(type='file')
                                    img#file_image.image-sample(src='../upload/' + promotion.image )
                            .col-md-2
                                button.btn.btn-primary(onclick='show_image_lib_ori()') Thư viện ảnh
                    .form-group.need
                        label.col-md-3.control-label Thứ tự sắp xếp
                        .col-md-9
                            input#ip-order.form-control(type='number' value=promotion.sort_order)

                footer(class="panel-footer")
                    div(class="row")
                        div(class="col-sm-9 col-sm-offset-3")
                            button.btn-edit.btn.btn-primary.btn-delete(onclick='update()')= "Sửa chương trình khuyến mãi"


    if promotion.type == 3
        .row
            .col-lg-12
                section.panel
                    header.panel-heading
                        .panel-actions
                            a.panel-action.panel-action-toggle(href='#', data-panel-toggle='')
                            a.panel-action.panel-action-dismiss(href='#', data-panel-dismiss='')
                        h2.panel-title Sản phẩm quà tặng
                    .panel-body

                        .form-group
                            label.col-md-3.control-label Sản phẩm
                            .col-md-6
                                select#san_pham_gift_select.form-control.populate(data-plugin-selecttwo='')
                                    -for (var i = 0; i < un_gift_product.length; i++)
                                        option(value=un_gift_product[i].product_id data-code=un_gift_product[i].product_code data-name=un_gift_product[i].product_name) #{un_gift_product[i].product_code} | #{un_gift_product[i].product_name}
                            .col-md-3
                                button.btn-edit.btn.btn-primary( onclick="add_product_gift()") Thêm
                        .form-group
                            label.col-md-3.control-label Danh sách sản phẩm quà tặng
                            .col-md-9
                                .table-responsive
                                    table.table.mb-none#tb-product-gift
                                        thead
                                            tr
                                                th Mã sản phẩm
                                                th Tên sản phẩm
                                                th Hành động
                                        tbody
                                            -for (var i = 0; i < gift_product.length; i++)
                                                tr(id='product_gift' + gift_product[i].product_id)
                                                    td #{gift_product[i].product_code}
                                                    td #{gift_product[i].product_name}
                                                    td
                                                        button.btn-edit.btn.btn-primary(onclick='xoa_gift_product("' + promotion.id + '","' + gift_product[i].product_name + '","' + gift_product[i].product_id + '")') Xóa

    .row
        .col-lg-12
            section.panel
                header.panel-heading
                    .panel-actions
                        a.panel-action.panel-action-toggle(href='#', data-panel-toggle='')
                        a.panel-action.panel-action-dismiss(href='#', data-panel-dismiss='')
                    h2.panel-title Liên kết sản phẩm khuyến mãi
                .panel-body

                    if promotion.entity_code == "PCP"
                        .form-group
                            label.col-md-3.control-label Mã coupon
                            .col-md-9
                                input#ip-coupon(type="text" value=promotion.coupon class="form-control" readonly="readonly")
                    else
                        .form-group
                            label.col-md-3.control-label Sản phẩm được chọn
                            .col-md-6
                                select#san_pham_select.form-control.populate(data-plugin-selecttwo='')
                                    -for (var i = 0; i < unSelectedPromotion.length; i++)
                                        option(value=unSelectedPromotion[i].product_id data-code=unSelectedPromotion[i].product_code data-name=unSelectedPromotion[i].product_name) #{unSelectedPromotion[i].product_code} | #{unSelectedPromotion[i].product_name}
                            .col-md-3
                                button.btn.btn-primary( onclick="add()") Thêm
                        .form-group
                            label.col-md-3.control-label Danh sách sản phẩm khuyến mãi
                            .col-md-9
                                .table-responsive
                                    table.table.mb-none#tb-mon-ngon
                                        thead
                                            tr
                                                th Mã sản phẩm
                                                th Tên sản phẩm
                                                th Hành động
                                        tbody
                                            -for (var i = 0; i < selectedPromotion.length; i++)
                                                tr(id='detail' + selectedPromotion[i].product_id)
                                                    td #{selectedPromotion[i].product_code}
                                                    td #{selectedPromotion[i].product_name}
                                                    td
                                                        button.btn-edit.btn.btn-primary(onclick='xoa_lien_ket("' + selectedPromotion[i].product_code + '","' + selectedPromotion[i].product_name + '","' + selectedPromotion[i].product_id + '")') Xóa








block JS

    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src='../assets/app/vendor/select2/select2.js')
    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/jquery-easypiechart/jquery.easypiechart.js")
    script(src="../assets/app/vendor/flot/jquery.flot.js")
    script(src="../assets/app/vendor/flot-tooltip/jquery.flot.tooltip.js")
    script(src="../assets/app/vendor/flot/jquery.flot.pie.js")
    script(src="../assets/app/vendor/flot/jquery.flot.categories.js")
    script(src="../assets/app/vendor/flot/jquery.flot.resize.js")
    script(src="../assets/app/vendor/jquery-sparkline/jquery.sparkline.js")
    script(src="../assets/app/vendor/raphael/raphael.js")
    script(src="../assets/app/vendor/morris/morris.js")
    script(src="../assets/app/vendor/gauge/gauge.js")
    script(src="../assets/app/vendor/snap-svg/snap.svg.js")
    script(src="../assets/app/vendor/liquid-meter/liquid.meter.js")
    script(src="../assets/app/vendor/jqvmap/jquery.vmap.js")
    script(src="../assets/app/vendor/jqvmap/data/jquery.vmap.sampledata.js")
    script(src="../assets/app/vendor/jqvmap/maps/jquery.vmap.world.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.africa.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.asia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.australia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.europe.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")
    script(src="../assets/app/vendor/jquery-autosize/jquery.autosize.js")
    script(src="../assets/app/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js")

    // Specific Page Vendor
    script(src='../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js')
    script(src='../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js')
    script(src='../assets/app/vendor/select2/select2.js')
    script(src='../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js')
    script(src='../assets/app/vendor/jquery-maskedinput/jquery.maskedinput.js')
    script(src='../assets/app/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js')
    script(src='../assets/app/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js')
    script(src='../assets/app/vendor/bootstrap-timepicker/js/bootstrap-timepicker.js')
    script(src='../assets/app/vendor/fuelux/js/spinner.js')
    script(src='../assets/app/vendor/dropzone/dropzone.js')
    script(src='../assets/app/vendor/bootstrap-markdown/js/markdown.js')
    script(src='../assets/app/vendor/bootstrap-markdown/js/to-markdown.js')
    script(src='../assets/app/vendor/bootstrap-markdown/js/bootstrap-markdown.js')
    script(src='../assets/app/vendor/codemirror/lib/codemirror.js')
    script(src='../assets/app/vendor/codemirror/addon/selection/active-line.js')
    script(src='../assets/app/vendor/codemirror/addon/edit/matchbrackets.js')
    script(src='../assets/app/vendor/codemirror/mode/javascript/javascript.js')
    script(src='../assets/app/vendor/codemirror/mode/xml/xml.js')
    script(src='../assets/app/vendor/codemirror/mode/htmlmixed/htmlmixed.js')
    script(src='../assets/app/vendor/codemirror/mode/css/css.js')
    script(src='../assets/app/vendor/summernote/summernote.js')
    script(src='../assets/app/vendor/bootstrap-maxlength/bootstrap-maxlength.js')
    script(src='../assets/app/vendor/ios7-switch/ios7-switch.js')
    script(src='../assets/app/vendor/bootstrap-confirmation/bootstrap-confirmation.js')
    script(src='../assets/app/javascripts/chuong-trinh-khuyen-mai/sua-chuong-trinh-khuyen-mai.js')



block footerJS
    script.
        $('#listenSlider').change(function () {
            $('.output b').text(" " + this.value + "%");
        });
