extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css")
    link(rel='stylesheet', href='../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css')
    link(rel='stylesheet', href='../assets/app/vendor/select2/select2.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css')
    link(rel='stylesheet', href='../assets/app/vendor/dropzone/css/basic.css')
    link(rel='stylesheet', href='../assets/app/vendor/dropzone/css/dropzone.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css')
    link(rel='stylesheet', href='../assets/app/vendor/summernote/summernote.css')
    link(rel='stylesheet', href='../assets/app/vendor/summernote/summernote-bs3.css')
    link(rel='stylesheet', href='../assets/app/vendor/codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='../assets/app/vendor/codemirror/theme/monokai.css')
    link(rel='stylesheet', href='../assets/app/vendor/tags-input/tags-input.css')

block info


    script.
        var page_name = "sanpham-page";
        var page_sub_name="danh-sach-san-pham-don-vi";
        var page_master_group = "Quản lý sản phẩm";
        var page_child_group = "Danh sách sản phẩm đơn vị";
        var product_id = "!{sanpham.id}";
        var image_link = "!{sanpham.image}";
block header
    header.page-header
        h2 Sửa sản phẩm đơn vị
        div(class="right-wrapper pull-right")
            ol.breadcrumbs
                li
                    a(href="dashboard")
                        i(class="fa fa-home")
                li
                    span Quản lý sản phẩm đơn vị
                li
                    span Sửa sản phẩm đơn vị

            a(class="sidebar-right-toggle" data-open="sidebar-right")
                i(class="fa fa-chevron-left")

block content

    // start: page
    .row
        .col-lg-12
            section.panel
                header.panel-heading
                    .panel-actions
                        a.panel-action.panel-action-toggle(href='#', data-panel-toggle='')
                        a.panel-action.panel-action-dismiss(href='#', data-panel-dismiss='')
                    h2.panel-title Sửa sản phẩm đơn vị
                .panel-body.form-bordered
                    .form-group.need
                        label.col-md-3.control-label Danh mục sản phẩm
                        .col-md-9
                            select#product_category_id.form-control.populate(data-plugin-selecttwo='')
                                -for (var i = 0; i < listDanhmuc.length; i++)
                                    if sanpham.product_category_id == listDanhmuc[i].id
                                        option(value=listDanhmuc[i].id selected="true")  #{listDanhmuc[i].name}
                                    else
                                        option(value=listDanhmuc[i].id )  #{listDanhmuc[i].name}

                    .form-group.need
                        label.col-md-3.control-label Mã sản phẩm
                        .col-md-9
                            input#ip-ma-sp.form-control(type='text' value=sanpham.code)

                    .form-group(style='display:none;')
                        label.col-md-3.control-label Số lượng sản phẩm đơn vị
                        .col-md-9
                            input#ip-sl.form-control(type='number' value=sanpham.quantity)

                    .form-group.need
                        label.col-md-3.control-label Hình ảnh đại diện (Kích thước tốt nhất: 485w x 550h)
                        .col-md-7
                            form(enctype='multipart/form-data')
                                input#file_to_upload.form-control(type='file' )
                            img#ip-image-sample(src='../upload/'+sanpham.image class="image-sample")
                        .col-md-2
                            button.btn.btn-primary(onclick='show_image_lib(false)') Thư viện ảnh
                    .form-group
                        label.col-md-3.control-label Hình ảnh phụ (Kích thước tốt nhất: 485w x 550h)
                        .col-md-6
                            form(enctype='multipart/form-data')
                                input#file_to_upload3.form-control(type='file' )
                        .col-md-1
                            button.btn.btn-primary(onclick='them_hinh()') Thêm
                        .col-md-2
                            button.btn.btn-primary(onclick='show_image_lib(true)') Thư viện ảnh
                    .form-group
                        label.col-md-3.control-label Danh sách hình ảnh phụ
                        .col-md-6
                            .table-responsive
                                table.table.mb-none#tb-hinh-anh
                                    thead
                                        tr
                                            th Hình ảnh
                                            th Hành động
                                    tbody
                                        -for (var i = 0; i < imageList.length; i++)
                                            tr(id='hinhanh' + imageList[i].id)
                                                td
                                                    img.image-sample(src=address + imageList[i].image)
                                                td
                                                    button.btn.btn-primary(onclick='xoa_hinh_anh("' + imageList[i].id + '")') Xóa
                    .form-group.need
                        label.col-md-3.control-label Đơn giá (VNĐ)
                        .col-md-9
                            input#ip-price.form-control(type='text'  onkeyup="format_money_and_edit()" value=sanpham.price )

                    .form-group.need
                        label.col-md-3.control-label Khối lượng
                        .col-md-9
                            input#ip-weight.form-control(type='text' value=sanpham.weight)

                    .form-group.need
                        label.col-md-3.control-label Đơn vị tính
                        .col-md-9
                            input#ip-unit.form-control(type='text' value=sanpham.unit)

                    .form-group.need
                        label.col-md-3.control-label Thương hiệu
                        .col-md-9
                            select#brand-select.form-control.populate(data-plugin-selecttwo='')
                                option(value="-1") Chưa chọn
                                -for (var i = 0; i < brand.length; i++)
                                    if sanpham.brand == brand[i].id
                                        option(value=brand[i].id selected="true")  #{brand[i].title}
                                    else
                                        option(value=brand[i].id ) #{brand[i].title}

                    .form-group.need
                        label.col-md-3.control-label Nhãn
                        .col-md-9
                            input#ip-tag.form-control(type='tags' value=sanpham.tags)

                    .form-group.need
                        label.col-md-3.control-label Thứ tự sắp xếp
                        .col-md-9
                            input#ip-order.form-control(type='number' value=sanpham.sort_order)

                    .form-group(style='display:none;')
                        label.col-md-3.control-label Quan trọng
                        .col-md-9
                            if sanpham.is_important == 1 || sanpham.is_important == "1"
                                input#ip-important.form-control(type='checkbox' checked)
                            else
                                input#ip-important.form-control(type='checkbox' )

                    .form-group(style='display:none;')
                        label.col-md-3.control-label Loại sản phẩm
                        .col-md-9
                            select#ip-type
                                -for (var i = 0; i < types.length; i++)
                                    if sanpham.type == types[i].value
                                        option(value=types[i].value selected="selected") #{types[i].name}
                                    else
                                        option(value=types[i].value) #{types[i].name}

                    .col-md-12
                        .tabs
                            ul.nav.nav-tabs.nav-justified
                                li.active
                                    a.text-center(href='#vi-tab', data-toggle='tab')
                                        i.fa.fa-star
                                        |  Việt Nam
                                li
                                    a.text-center(href='#en-lab', data-toggle='tab') English
                            .tab-content
                                #vi-tab.tab-pane.active

                                    .form-group.need
                                        label.col-md-3.control-label Tên sản phẩm
                                        .col-md-9
                                            input#ip-name-vi.form-control(type='text' value=sanphamVI ?sanphamVI.name :"")

                                    //.form-group
                                    //    label.col-md-3.control-label Tiêu đề
                                    //    .col-md-9
                                    //        input#ip-title-vi.form-control(type='text' value=sanphamVI.title)

                                    .form-group.need
                                        label.col-md-3.control-label Mô tả
                                        .col-md-9
                                            textarea#ip-des-vi.form-control(rows='', data-plugin-textarea-autosize='' ) #{sanphamVI ?sanphamVI.description  :""}

                                    .form-group.need
                                        label.col-md-3.control-label(id="vi-label" data=sanphamVI ?sanphamVI.contentHTML :"") Nội dung HTML
                                        .col-md-9
                                            .adjoined-bottom
                                                .grid-container
                                                    .grid-width-100#vi_area
                                                        textarea#editor1(name='editor1', rows='10', cols='80' )

                                    .form-group
                                        label.col-md-3.control-label()
                                        .col-md-4
                                            button.btn.btn-default.btn-delete(onclick='review_vi()')= "Xem trước"
                                    .form-group
                                        label.col-md-3.control-label() Thiết lập SEO
                                        .col-md-9
                                            .input-group.mb-md#snippet-vi(style="display:none")
                                            .input-group.mb-md Meta title
                                            input#meta-title-vi.form-control(type='text' value=sanphamVI ?sanphamVI.meta_title :"")
                                            .input-group.mb-md Meta keyword
                                            input#meta-keyword-vi.form-control(type='text' value=sanphamVI ?sanphamVI.meta_keywords :"")
                                            .input-group.mb-md Meta description
                                            input#meta-description-vi.form-control(type='text' value=sanphamVI ?sanphamVI.meta_description :"")
                                            .input-group.mb-md#output-vi
                                            .input-group.mb-md#contentOutput-vi(style="display:none")
                                #en-lab.tab-pane
                                    .form-group.need
                                        label.col-md-3.control-label Tên sản phẩm
                                        .col-md-9
                                            input#ip-name-en.form-control(type='text' value=sanphamEN ?sanphamEN.name :"")

                                    //.form-group
                                    //    label.col-md-3.control-label Tiêu đề
                                    //    .col-md-9
                                    //        input#ip-title-en.form-control(type='text' value=sanphamEN.title)

                                    .form-group.need
                                        label.col-md-3.control-label Mô tả
                                        .col-md-9
                                            textarea#ip-des-en.form-control(rows='', data-plugin-textarea-autosize='') #{sanphamEN ?sanphamEN.description :""}

                                    .form-group.need
                                        label.col-md-3.control-label(id="en-label" data=sanphamEN ?sanphamEN.contentHTML :"") Nội dung HTML
                                        .col-md-9
                                            .adjoined-bottom
                                                .grid-container
                                                    .grid-width-100
                                                        textarea#editor2(name='editor1', rows='10', cols='80')
                                                            | #{sanphamEN ?sanphamEN.contentHTML :""}

                                    .form-group
                                        label.col-md-3.control-label()
                                        .col-md-4
                                            button.btn.btn-default.btn-delete(onclick='review_en()')= "Xem trước"

                                    .form-group
                                        label.col-md-3.control-label() Thiết lập SEO
                                        .col-md-9
                                            .input-group.mb-md#snippet-en(style="display:none")
                                            .input-group.mb-md Meta title
                                            input#meta-title-en.form-control(type='text' value=sanphamEN ?sanphamEN.meta_title :"")
                                            .input-group.mb-md Meta keyword
                                            input#meta-keyword-en.form-control(type='text' value=sanphamEN ?sanphamEN.meta_keywords :"")
                                            .input-group.mb-md Meta description
                                            input#meta-description-en.form-control(type='text' value=sanphamEN ?sanphamEN.meta_description :"")
                                            .input-group.mb-md#output-en
                                            .input-group.mb-md#contentOutput-en(style="display:none")
                footer(class="panel-footer")
                    div(class="row")
                        div(class="col-sm-9 col-sm-offset-3")
                            button.btn-edit.btn.btn-primary.btn-delete(onclick='update()')= "Cập nhật thông tin sản phẩm"




    .row
        .col-lg-12
            section.panel
                header.panel-heading
                    .panel-actions
                        a.panel-action.panel-action-toggle(href='#', data-panel-toggle='')
                        a.panel-action.panel-action-dismiss(href='#', data-panel-dismiss='')
                    h2.panel-title Liên kết sản phẩm
                .panel-body
                    .form-group
                        label.col-md-3.control-label Món ngon
                        .col-md-6
                            select#mon_ngon_select.form-control.populate(data-plugin-selecttwo='')
                                -for (var i = 0; i < monngonList.length; i++)
                                    option(value=monngonList[i].id) #{monngonList[i].title}
                        .col-md-3
                            button.btn.btn-primary( onclick="add()") Thêm
                    .form-group
                        label.col-md-3.control-label Danh sách
                        .col-md-6
                            .table-responsive
                                table.table.mb-none#tb-mon-ngon
                                    thead
                                        tr
                                            th Tên
                                            th Hành động
                                    tbody
                                        -for (var i = 0; i < lienketList.length; i++)
                                            tr(id='monngon'+lienketList[i].id)
                                                td #{lienketList[i].title}
                                                td
                                                    button.btn.btn-primary(onclick='xoa_lien_ket("'+lienketList[i].id+'","'+lienketList[i].title+'","'+lienketList[i].content_id+'")') Xóa


block JS

    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/jquery-easypiechart/jquery.easypiechart.js")
    script(src="../assets/app/vendor/flot/jquery.flot.js")
    script(src="../assets/app/vendor/flot-tooltip/jquery.flot.tooltip.js")
    script(src="../assets/app/vendor/flot/jquery.flot.pie.js")
    script(src="../assets/app/vendor/flot/jquery.flot.categories.js")
    script(src="../assets/app/vendor/flot/jquery.flot.resize.js")
    script(src="../assets/app/vendor/jquery-sparkline/jquery.sparkline.js")
    script(src="../assets/app/vendor/raphael/raphael.js")
    script(src="../assets/app/vendor/morris/morris.js")
    script(src="../assets/app/vendor/gauge/gauge.js")
    script(src="../assets/app/vendor/snap-svg/snap.svg.js")
    script(src="../assets/app/vendor/liquid-meter/liquid.meter.js")
    script(src="../assets/app/vendor/jqvmap/jquery.vmap.js")
    script(src="../assets/app/vendor/jqvmap/data/jquery.vmap.sampledata.js")
    script(src="../assets/app/vendor/jqvmap/maps/jquery.vmap.world.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.africa.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.asia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.australia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.europe.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")

    script(src="../assets/app/vendor/jquery-autosize/jquery.autosize.js")
    script(src="../assets/app/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js")


    //select advance
    script(src='../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js')
    script(src='../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js')
    script(src='../assets/app/vendor/select2/select2.js')
    script(src='../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js')
    script(src='../assets/app/vendor/jquery-maskedinput/jquery.maskedinput.js')
    script(src='../assets/app/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js')
    script(src='../assets/app/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js')
    script(src='../assets/app/vendor/bootstrap-timepicker/js/bootstrap-timepicker.js')
    script(src='../assets/app/vendor/fuelux/js/spinner.js')
    script(src='../assets/app/vendor/dropzone/dropzone.js')
    script(src='../assets/app/vendor/bootstrap-markdown/js/markdown.js')
    script(src='../assets/app/vendor/bootstrap-markdown/js/to-markdown.js')
    script(src='../assets/app/vendor/bootstrap-markdown/js/bootstrap-markdown.js')
    script(src='../assets/app/vendor/codemirror/lib/codemirror.js')
    script(src='../assets/app/vendor/codemirror/addon/selection/active-line.js')
    script(src='../assets/app/vendor/codemirror/addon/edit/matchbrackets.js')
    script(src='../assets/app/vendor/codemirror/mode/javascript/javascript.js')
    script(src='../assets/app/vendor/codemirror/mode/xml/xml.js')
    script(src='../assets/app/vendor/codemirror/mode/htmlmixed/htmlmixed.js')
    script(src='../assets/app/vendor/codemirror/mode/css/css.js')
    script(src='../assets/app/vendor/summernote/summernote.js')
    script(src='../assets/app/vendor/bootstrap-maxlength/bootstrap-maxlength.js')
    script(src='../assets/app/vendor/ios7-switch/ios7-switch.js')
    script(src='../assets/app/vendor/bootstrap-confirmation/bootstrap-confirmation.js')
    script(src="../assets/app/vendor/tags-input/tags-input.js")
    script(src="../assets/app/javascripts/chinh-sach-ban-hang/examples.chinh-sach-ban-hang.js")
    script(src="../assets/app/javascripts/forms/examples.advanced.form.js")
    script.
        CKEDITOR.replace('editor1', {
            filebrowserUploadUrl: 'upload-hinh/uploader'
        });
        CKEDITOR.replace('editor2', {
            filebrowserUploadUrl: 'upload-hinh/uploader'
        });
    script(src="../assets/app/javascripts/quan-ly-san-pham/sua-san-pham-don-vi.js")
    script(src="../assets/app/vendor/yoast-dev/editContentVI_bundle.js")

block footerJS
    script.
        jQuery(window).load(function () {
            format_money_and_edit();
        });

