extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css")
    link(rel='stylesheet', href='../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css')
    link(rel='stylesheet', href='../assets/app/vendor/select2/select2.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css')
    link(rel='stylesheet', href='../assets/app/vendor/dropzone/css/basic.css')
    link(rel='stylesheet', href='../assets/app/vendor/dropzone/css/dropzone.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css')
    link(rel='stylesheet', href='../assets/app/vendor/codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='../assets/app/vendor/codemirror/theme/monokai.css')
    link(rel='stylesheet', href='../assets/app/vendor/daterangepicker/daterangepicker.css')


block info
    script.
        var page_name = "khuyenmai-page";
        var page_sub_name="tao-coupon";
        var page_master_group = "Quản lý khuyến mãi";
        var page_child_group = "Tạo coupon";

        var start_date = null;
        var end_date = null;

block header
    header.page-header
        h2 Thêm chương trình khuyến mãi
        div(class="right-wrapper pull-right")
            ol.breadcrumbs
                li
                    a(href="dashboard")
                        i(class="fa fa-home")

                li
                    span Quản lý CT khuyến mãi

                li
                    span Thêm CT khuyến mãi

            a(class="sidebar-right-toggle" data-open="sidebar-right")
                i(class="fa fa-chevron-left")

block content

    // start: page
    .row
        .col-lg-12
            section#w1.panel.form-wizard
                header.panel-heading
                    .panel-actions
                        a.panel-action.panel-action-toggle(href='#', data-panel-toggle='')
                        a.panel-action.panel-action-dismiss(href='#', data-panel-dismiss='')
                    h2.panel-title Thêm chương trình khuyến mãi
                .panel-body.panel-body-nopadding
                    .wizard-tabs
                        ul.wizard-steps
                            li.active
                                a#back.text-center(href='#w1-tao-chuong-trinh', data-toggle='tab')
                                    span.badge.hidden-xs 1
                                    |  Tạo CT Khuyến Mãi
                            li
                                a.text-center(href='#w1-profile', data-toggle='tab')
                                    span.badge.hidden-xs 2
                                    |  Tạo Coupon
                            li
                                a.text-center(href='#w1-confirm', data-toggle='tab')
                                    span.badge.hidden-xs 3
                                    |  Áp dụng Coupon
                    .form-horizontal(novalidate='novalidate')
                        .tab-content
                            #w1-tao-chuong-trinh.tab-pane.active
                                .form-group.need
                                    label.col-md-3.control-label Mã chương trình khuyến mãi
                                    .col-md-9
                                        input#ip-ma-ctkm.form-control(type='text')

                                .form-group.need
                                    label.col-md-3.control-label Tên chương trình khuyến mãi
                                    .col-md-9
                                        input#ip-ten-ctkm.form-control(type='text')

                                .form-group.need
                                    label.col-md-3.control-label Thời hạn khuyến mãi
                                    .col-md-9
                                        .input-group
                                            span.input-group-addon
                                                i.fa.fa-calendar
                                            input.form-control#ip-begin-date(type='text', name='start')


                                .form-group.need
                                    label.col-md-3.control-label Loại khuyến mãi
                                    .col-md-9
                                        .radio
                                            input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                                            | Giảm giá cố định (VNĐ)
                                            input#ip-giam-gia-co-dinh.form-control(type='number' onchange="format_money()" onkeydown="format_money")
                                        .radio
                                            input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                                            |  Giảm giá theo phần trăm

                                            .m-md.slider-primary(data-plugin-slider='', data-plugin-options='{ "value": 5, "range": "min", "max": 100 }', data-plugin-slider-output='#listenSlider')
                                                input#listenSlider(type='hidden', value='5')
                                            p.output
                                                | Giảm
                                                b  5%

                                .form-group
                                    label.col-md-3.control-label Giá trị thấp nhất của đơn hàng được áp dụng (VNĐ)
                                    .col-md-9
                                        input#ip-gia-thap.form-control(type='text' onkeyup="format_money_and_edit(this)")

                                .form-group
                                    label.col-md-3.control-label Giá trị khuyến mãi lớn nhất cho đơn hàng (VNĐ)
                                    .col-md-9
                                        input#ip-gia-cao.form-control(type='text' onkeyup="format_money_and_edit(this)")

                                .form-group.need
                                    label.col-md-3.control-label Thứ tự sắp xếp
                                    .col-md-9
                                        input#ip-order.form-control(type='number')
                            #w1-profile.tab-pane
                                .form-group.need
                                    .col-sm-3
                                        .radio-custom
                                            input#radio1(type='radio', name='radioExample')
                                            label(for='radio1') Tạo coupon sử dụng nhiều lần
                                .form-group
                                    label.col-md-2.control-label Số kí tự
                                    .col-md-2
                                        input#number_manual.form-control.input-sm(type='number' )
                                    .col-md-3
                                        a.btn.btn-primary.btn-delete(onclick="create_one_coupon()")
                                            | Tự động sinh
                                .form-group
                                    label.col-md-2.control-label Mã Coupon
                                    .col-md-4
                                        input#coupon.form-control.input-sm(type='text' )
                                .form-group
                                    label.col-md-2.control-label Số lần sử dụng
                                    .col-md-2
                                        input#number_use.form-control.input-sm(type='number' )

                                .form-group.need
                                    .col-sm-3
                                        .radio-custom
                                            input#radio2(type='radio', name='radioExample')
                                            label(for='radio2') Tạo coupon sử dụng 1 lần

                                .form-group
                                    label.col-md-2.control-label Số kí tự
                                    .col-md-2
                                        input#number_auto.form-control.input-sm(type='number' )

                                .form-group
                                    label.col-md-2.control-label Định dạng coupon
                                    .col-md-1
                                        input#text1.form-control.input-sm(type='text', required='')
                                    .col-md-1
                                        label#number-x.control-label() X  X  X  X
                                    .col-md-1
                                        input#text2.form-control.input-sm(type='text', required='')

                                .form-group
                                    label.col-sm-2.control-label Số lượng coupon muốn tạo
                                    .col-sm-3
                                        input#number.form-control.input-sm(type='number', required='')
                                    .col-sm-3
                                        a.btn.btn-primary.btn-delete(onclick="create_multi_coupon()")
                                            | Tự động sinh


                                .form-group
                                    label.col-md-2.control-label Danh sách coupon
                                    .col-md-6
                                        .table-responsive
                                            table.table.mb-none
                                                thead
                                                    tr
                                                        th Mã Coupon
                                                tbody#tb-coupon




                            #w1-confirm.tab-pane
                                .form-group
                                    label.col-md-3.control-label Loại coupon
                                    .col-md-9
                                        .radio
                                            input#optionsRadiosApDung1(type='radio', name='optionsRadiosApDung', value='option1' checked)
                                            | Áp dụng cho đơn hàng
                                        .radio
                                            input#optionsRadiosApDung2(type='radio', name='optionsRadiosApDung', value='option2')
                                            | Áp dụng cho sản phẩm đơn lẻ


                                .form-group
                                    label.col-md-3.control-label Sản phẩm được chọn
                                    .col-md-6
                                        select#san_pham_select.form-control.populate(data-plugin-selecttwo='')
                                            -for (var i = 0; i < unSelectedPromotion.length; i++)
                                                option(value=unSelectedPromotion[i].product_id data-code=unSelectedPromotion[i].product_code data-name=unSelectedPromotion[i].product_name) #{unSelectedPromotion[i].product_code} | #{unSelectedPromotion[i].product_name}
                                    .col-md-3
                                        button.btn.btn-primary( onclick="addSanPhamApDung()") Thêm
                                .form-group
                                    label.col-md-3.control-label Danh sách sản phẩm khuyến mãi
                                    .col-md-9
                                        .table-responsive
                                            table.table.mb-none#tb-mon-ngon
                                                thead
                                                    tr
                                                        th Mã sản phẩm
                                                        th Tên sản phẩm
                                                        th Hành động
                                                tbody
                .panel-footer
                    ul.pager
                        li.previous.disabled
                            a
                                i.fa.fa-angle-left
                                |  Previous
                        li#btn-add.finish.hidden.pull-right
                            a Finish
                        li.next
                            a
                                | Next
                                i.fa.fa-angle-right






block JS

    // Specific Page Vendor
    script(src='../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js')
    script(src='../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js')
    script(src='../assets/app/vendor/select2/select2.js')
    script(src='../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js')
    script(src='../assets/app/vendor/jquery-maskedinput/jquery.maskedinput.js')
    script(src='../assets/app/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js')
    script(src='../assets/app/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js')
    script(src='../assets/app/vendor/bootstrap-timepicker/js/bootstrap-timepicker.js')
    script(src='../assets/app/vendor/fuelux/js/spinner.js')
    script(src='../assets/app/vendor/dropzone/dropzone.js')
    script(src='../assets/app/vendor/bootstrap-markdown/js/markdown.js')
    script(src='../assets/app/vendor/bootstrap-markdown/js/to-markdown.js')
    script(src='../assets/app/vendor/bootstrap-markdown/js/bootstrap-markdown.js')
    script(src='../assets/app/vendor/codemirror/lib/codemirror.js')
    script(src='../assets/app/vendor/codemirror/addon/selection/active-line.js')
    script(src='../assets/app/vendor/codemirror/addon/edit/matchbrackets.js')
    script(src='../assets/app/vendor/codemirror/mode/javascript/javascript.js')
    script(src='../assets/app/vendor/codemirror/mode/xml/xml.js')
    script(src='../assets/app/vendor/codemirror/mode/htmlmixed/htmlmixed.js')
    script(src='../assets/app/vendor/codemirror/mode/css/css.js')
    script(src='../assets/app/vendor/summernote/summernote.js')
    script(src='../assets/app/vendor/bootstrap-maxlength/bootstrap-maxlength.js')
    script(src='../assets/app/vendor/ios7-switch/ios7-switch.js')
    script(src='../assets/app/vendor/bootstrap-confirmation/bootstrap-confirmation.js')
    script(src='../assets/app/vendor/jquery-validation/jquery.validate.js')
    script(src='../assets/app/vendor/bootstrap-wizard/jquery.bootstrap.wizard.js')
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src='../assets/app/vendor/daterangepicker/moment.min.js')
    script(src='../assets/app/vendor/daterangepicker/daterangepicker.js')

block footerJS
    script(src='../assets/app/javascripts/chuong-trinh-khuyen-mai/them-chuong-trinh-khuyen-mai.js')
    script(src='../assets/app/javascripts/chuong-trinh-khuyen-mai/coupon.js')
    script.
        $('#ip-begin-date').daterangepicker({
            timePicker: true,
            startDate: moment().startOf('hour'),
            endDate: moment().startOf('hour').add(32, 'hour'),
            locale: {
                format: 'DD/MM/YYYY hh:mm A'
            }
        });
        $('#ip-begin-date').val("");
        $('#ip-begin-date').on('apply.daterangepicker', function (ev, picker) {
            start_date = picker.startDate;
            end_date = picker.endDate;
        });
        $('#ip-begin-date').on('hide.daterangepicker', function (ev, picker) {
            start_date = picker.startDate;
            end_date = picker.endDate;
        });

        $('#listenSlider').change(function () {
            $('.output b').text(" " + this.value + "%");
        });
