extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")
    link(rel="stylesheet" href="../assets/app/vendor/select2/select2.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-datatables-bs3/assets/css/datatables.css")
    link(rel='stylesheet', href='../assets/app/vendor/daterangepicker/daterangepicker.css')
    link(rel='stylesheet', href='../assets/app/vendor/tags-input/tags-input.css')

block info
    script.
        var page_name = "tintucsukien-page";
        var page_sub_name="them-tin-tuc-su-kien";
        var page_master_group = "Quản lý tin tức sự kiện";
        var page_child_group = "Thêm bài viết";

block header
    include includes/headerCustom
    +headerCustom(
    "Thêm bài viết",
    "Quản lý tin tức - sự kiện")

block content

    // start: page
    .row
        .col-lg-12
            include includes/editContent
            +editContent(
            '',
            false,
            "65b136dc-5122-11e8-9c2d-fa7ae01bbebc",
            "TIN",
            "sua-tin-tuc-su-kien?id=")






block JS

    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-autosize/jquery.autosize.js")
    script(src="../assets/app/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js")

block footerJS


