extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")

    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css")
    link(rel='stylesheet', href='../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css')
    link(rel='stylesheet', href='../assets/app/vendor/select2/select2.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css')
    link(rel='stylesheet', href='../assets/app/vendor/dropzone/css/basic.css')
    link(rel='stylesheet', href='../assets/app/vendor/dropzone/css/dropzone.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css')
    link(rel='stylesheet', href='../assets/app/vendor/summernote/summernote.css')
    link(rel='stylesheet', href='../assets/app/vendor/summernote/summernote-bs3.css')
    link(rel='stylesheet', href='../assets/app/vendor/codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='../assets/app/vendor/codemirror/theme/monokai.css')
    link(rel='stylesheet', href='../assets/app/vendor/tags-input/tags-input.css')

block info
    script.
        var page_name = "sanpham-page";
        var page_sub_name="them-danh-muc-san-pham";
        var page_master_group = "Quản lý sản phẩm";
        var page_child_group = "Thêm danh mục sản phẩm";
        var imageDaiDien = null;
        var imageBanner = null;


block header
    header.page-header
        h2 Thêm danh mục sản phẩm
        div(class="right-wrapper pull-right")
            ol.breadcrumbs
                li
                    a(href="dashboard")
                        i(class="fa fa-home")
                li
                    span Quản lý sản phẩm
                li
                    span Thêm danh mục sản phẩm

            a(class="sidebar-right-toggle" data-open="sidebar-right")
                i(class="fa fa-chevron-left")

block content

    // start: page
    .row
        .col-lg-12
            section.panel
                header.panel-heading
                    .panel-actions
                        a.panel-action.panel-action-toggle(href='#', data-panel-toggle='')
                        a.panel-action.panel-action-dismiss(href='#', data-panel-dismiss='')
                    h2.panel-title Thêm danh mục sản phẩm
                .panel-body.form-bordered

                    .form-group.need
                        label.col-md-3.control-label Hình ảnh đại diện (kích thước chuẩn 485w x 250h)
                        .col-md-7
                            form(enctype='multipart/form-data')
                                input#file_to_upload.form-control(type='file')
                            img#ip-image-sample(class="image-sample")
                        .col-md-2
                            button.btn.btn-primary(onclick='show_image_lib_ori("daidien")') Thư viện ảnh

                    .form-group.need
                        label.col-md-3.control-label Hình ảnh banner (Kích thước tốt nhất: 1200w x 645h)
                        .col-md-7
                            form(enctype='multipart/form-data')
                                input#file_to_upload1.form-control(type='file')
                            img#ip-image-sample1(class="image-sample")
                        .col-md-2
                            button.btn.btn-primary(onclick='show_image_lib_ori("banner")') Thư viện ảnh
                    .form-group
                        label.col-md-3.control-label Link liên kết banner
                        .col-md-9
                            input#ip-link-banner.form-control(type='text' value='')
                    .form-group.hidden
                        label.col-md-3.control-label Danh mục cấp trên
                        .col-md-9
                            select#parent_id.form-control.populate(data-plugin-selecttwo='')
                                option(value="") Không có
                                -for (var i = 0; i < danhmuc.length; i++)
                                    option(value=danhmuc[i].id) #{danhmuc[i].name}




                    .form-group.need
                        label.col-md-3.control-label Thứ tự sắp xếp
                        .col-md-9
                            input#ip-order.form-control(type='number' onchange="format_sort_order();")


                    .col-md-12
                        .tabs
                            ul.nav.nav-tabs.nav-justified
                                li.active
                                    a.text-center(href='#vi-tab', data-toggle='tab')
                                        i.fa.fa-star
                                        |  Việt Nam
                                li
                                    a.text-center(href='#en-lab', data-toggle='tab') English
                            .tab-content
                                #vi-tab.tab-pane.active

                                    .form-group.need
                                        label.col-md-3.control-label Tên danh mục
                                        .col-md-9
                                            input#ip-name-vi.form-control(type='text')

                                    .form-group(style="display:none;")
                                        label.col-md-3.control-label Tiêu đề
                                        .col-md-9
                                            input#ip-title-vi.form-control(type='text')

                                    .form-group(style="display:none;")
                                        label.col-md-3.control-label Mô tả
                                        .col-md-9
                                            textarea#ip-des-vi.form-control(rows='', data-plugin-textarea-autosize='')

                                    .form-group(style="display:none;")
                                        label.col-md-3.control-label Nội dung HTML
                                        .col-md-9
                                            .adjoined-bottom
                                                .grid-container
                                                    .grid-width-100
                                                        textarea#editor1(name='editor1', rows='10', cols='80')
                                                            |

                                    .form-group
                                        label.col-md-3.control-label() Thiết lập SEO
                                        .col-md-9
                                            .input-group.mb-md#snippet-vi(style="display:none")
                                            .input-group.mb-md Meta title
                                            input#meta-title-vi.input-group.mb-md.form-control(type='text' value='')
                                            .input-group.mb-md Meta keyword
                                            input#meta-keyword-vi.input-group.mb-md.form-control(type='text' value='')
                                            .input-group.mb-md Meta description
                                            input#meta-description-vi.input-group.mb-md.form-control(type='text' value='')
                                            .input-group.mb-md#output-vi
                                            .input-group.mb-md#contentOutput-vi(style="display:none")
                                #en-lab.tab-pane
                                    .form-group.need
                                        label.col-md-3.control-label Tên danh mục
                                        .col-md-9
                                            input#ip-name-en.form-control(type='text')

                                    .form-group(style="display:none;")
                                        label.col-md-3.control-label Tiêu đề
                                        .col-md-9
                                            input#ip-title-en.form-control(type='text')

                                    .form-group(style="display:none;")
                                        label.col-md-3.control-label Mô tả
                                        .col-md-9
                                            textarea#ip-des-en.form-control(rows='', data-plugin-textarea-autosize='')

                                    .form-group(style="display:none;")
                                        label.col-md-3.control-label Nội dung HTML
                                        .col-md-9
                                            .adjoined-bottom
                                                .grid-container
                                                    .grid-width-100
                                                        textarea#editor2(name='editor1', rows='10', cols='80')
                                                            |
                                    .form-group
                                        label.col-md-3.control-label() Thiết lập SEO
                                        .col-md-9
                                            .input-group.mb-md#snippet-en(style="display:none")
                                            .input-group.mb-md Meta title
                                            input#meta-title-en.input-group.mb-md.form-control(type='text' value='')
                                            .input-group.mb-md Meta keyword
                                            input#meta-keyword-en.input-group.mb-md.form-control(type='text' value='')
                                            .input-group.mb-md Meta description
                                            input#meta-description-en.input-group.mb-md.form-control(type='text' value='')
                                            .input-group.mb-md#output-en
                                            .input-group.mb-md#contentOutput-en(style="display:none")
                footer(class="panel-footer")
                    div(class="row")
                        div(class="col-sm-9 col-sm-offset-3")
                            button#btn-add.btn.btn-primary.btn-delete(onclick='add()')= "Thêm danh mục"






block JS
    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/jquery-easypiechart/jquery.easypiechart.js")
    script(src="../assets/app/vendor/jquery-sparkline/jquery.sparkline.js")
    script(src="../assets/app/vendor/raphael/raphael.js")
    script(src="../assets/app/vendor/morris/morris.js")
    script(src="../assets/app/vendor/gauge/gauge.js")
    script(src="../assets/app/vendor/snap-svg/snap.svg.js")
    script(src="../assets/app/vendor/liquid-meter/liquid.meter.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")
    script(src="../assets/app/vendor/yoast-dev/editContentVI_bundle.js")
    script(src="../assets/app/vendor/jquery-autosize/jquery.autosize.js")
    script(src="../assets/app/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js")
    script(src="../assets/app//vendor/tags-input/tags-input.js")
    script.
        $(document).on('click', '#daidien', function (e) {
            e.preventDefault();
            $.magnificPopup.close();
            $("#file_to_upload").val("");
            var name = $(".image-lib.has-border").attr("image-name");
            var url = $(".image-lib.has-border").attr("image-url");
            if (name && name.length > 0 && url && url.length > 0) {
                imageDaiDien = name;
                $('#ip-image-sample').attr("src", url);
                $('.image-lib').removeClass("has-border");
            }
        });
        $(document).on('click', '#banner', function (e) {
            e.preventDefault();
            $.magnificPopup.close();
            $("#file_to_upload1").val("");
            var name = $(".image-lib.has-border").attr("image-name");
            var url = $(".image-lib.has-border").attr("image-url");
            if (name && name.length > 0 && url && url.length > 0) {
                imageBanner = name;
                $('#ip-image-sample1').attr("src", url);
                $('.image-lib').removeClass("has-border");
            }
        });
    script.
        CKEDITOR.replace('editor1');
        CKEDITOR.replace('editor2');
block footerJS
    script(src="../assets/app/javascripts/quan-ly-san-pham/them-danh-muc-san-pham.js")
