extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")
    link(rel="stylesheet" href="../assets/app/vendor/select2/select2.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-datatables-bs3/assets/css/datatables.css")
    link(rel='stylesheet', href='../assets/app/vendor/daterangepicker/daterangepicker.css')

block info
    style(type='text/css').
        .hide {
            display: none;
        }

    script.
        var page_name = "khuyenmai-page";
        var page_sub_name="them-chuong-trinh-khuyen-mai";
        var page_master_group = "Quản lý khuyến mãi";
        var page_child_group = "Thêm CT khuyến mãi";

        var start_date = null;
        var end_date = null;

block header
    include includes/headerCustom
    +headerCustom(
    "Thêm CT khuyến mãi",
    "Quản lý CT khuyến mãi")

block content

    // start: page
    .row
        .col-lg-12
            section.panel
                header.panel-heading
                    .panel-actions
                        a.panel-action.panel-action-toggle(href='#', data-panel-toggle='')
                        a.panel-action.panel-action-dismiss(href='#', data-panel-dismiss='')
                    h2.panel-title Thêm chương trình khuyến mãi
                .panel-body
                    .form-group.need
                        label.col-md-3.control-label Mã chương trình khuyến mãi
                        .col-md-9
                            input#ip-ma-ctkm.form-control(type='text')

                    .form-group.need
                        label.col-md-3.control-label Tên chương trình khuyến mãi
                        .col-md-9
                            input#ip-ten-ctkm.form-control(type='text')

                    .form-group.need
                        label.col-md-3.control-label Thời hạn khuyến mãi
                        .col-md-9
                            .input-group
                                span.input-group-addon
                                    i.fa.fa-calendar
                                input.form-control#ip-begin-date(type='text', name='start')

                    .form-group.need
                        label.col-md-3.control-label Loại khuyến mãi
                        .col-md-9
                            .radio
                                input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='' onclick="change(1)")
                                | Giảm giá cố định (VNĐ)
                                input#ip-giam-gia-co-dinh.form-control(type='number' onchange="format_money()" onkeydown="format_money()")
                            .radio
                                input#optionsRadios2(type='radio', name='optionsRadios', value='option2' onclick="change(2)")
                                |  Giảm giá theo phần trăm

                                .m-md.slider-primary(data-plugin-slider='', data-plugin-options='{ "value": 5, "range": "min", "max": 100 }', data-plugin-slider-output='#listenSlider')
                                    input#listenSlider(type='hidden', value='5')
                                p.output
                                    | Giảm
                                    b  5%
                            .radio
                                input#optionsRadios3(type='radio', name='optionsRadios', value='option3' onclick="change(3)")
                                | Quà tặng
                                input#ip-gift.form-control(type='text' )


                    .form-group(style="display:none")
                        label.col-md-3.control-label Giá trị thấp nhất của đơn hàng được áp dụng (VNĐ)
                        .col-md-9
                            input#ip-gia-thap.form-control(type='text' onkeyup="format_money_and_edit(this)")

                    .form-group(style="display:none")
                        label.col-md-3.control-label Giá trị khuyến mãi lớn nhất cho đơn hàng (VNĐ)
                        .col-md-9
                            input#ip-gia-cao.form-control(type='text' onkeyup="format_money_and_edit(this)")

                    .form-group.need.hide#icon-frm
                        label.col-md-3.control-label Hình ảnh Icon (Kích thước tốt nhất: 140w x 100h)
                        .col-md-7
                            form(enctype='multipart/form-data')
                                input#file_to_upload.form-control(type='file')
                                img#image_res
                        .col-md-2
                            button.btn.btn-primary(onclick='show_image_lib_ori()') Thư viện ảnh
                    .form-group.need
                        label.col-md-3.control-label Thứ tự sắp xếp
                        .col-md-9
                            input#ip-order.form-control(type='number')

                    .row.hide#panel-qua-tang
                        .col-lg-12
                            section.panel
                                header.panel-heading
                                    .panel-actions
                                        a.panel-action.panel-action-toggle(href='#', data-panel-toggle='')
                                        a.panel-action.panel-action-dismiss(href='#', data-panel-dismiss='')
                                    h2.panel-title Sản phẩm quà tặng
                                .panel-body

                                    .form-group
                                        label.col-md-3.control-label Sản phẩm
                                        .col-md-6
                                            select#san_pham_gift_select.form-control.populate(data-plugin-selecttwo='')
                                                -for (var i = 0; i < un_gift_product.length; i++)
                                                    option(value=un_gift_product[i].product_id data-code=un_gift_product[i].product_code data-name=un_gift_product[i].product_name) #{un_gift_product[i].product_code} | #{un_gift_product[i].product_name}
                                        .col-md-3
                                            button.btn.btn-primary( onclick="add_product_gift()") Thêm
                                    .form-group
                                        label.col-md-3.control-label Danh sách sản phẩm quà tặng
                                        .col-md-9
                                            .table-responsive
                                                table.table.mb-none#tb-product-gift
                                                    thead
                                                        tr
                                                            th Mã sản phẩm
                                                            th Tên sản phẩm
                                                            th Hành động
                                                    tbody


                    .row
                        .col-lg-12
                            section.panel
                                header.panel-heading
                                    .panel-actions
                                        a.panel-action.panel-action-toggle(href='#', data-panel-toggle='')
                                        a.panel-action.panel-action-dismiss(href='#', data-panel-dismiss='')
                                    h2.panel-title Liên kết sản phẩm khuyến mãi
                                .panel-body

                                    .form-group
                                        label.col-md-3.control-label Sản phẩm được chọn
                                        .col-md-6
                                            select#san_pham_select.form-control.populate(data-plugin-selecttwo='')
                                                -for (var i = 0; i < unSelectedPromotion.length; i++)
                                                    option(value=unSelectedPromotion[i].product_id data-code=unSelectedPromotion[i].product_code data-name=unSelectedPromotion[i].product_name) #{unSelectedPromotion[i].product_code} | #{unSelectedPromotion[i].product_name}
                                        .col-md-3
                                            button.btn.btn-primary( onclick="them_lien_ket()") Thêm
                                    .form-group
                                        label.col-md-3.control-label Danh sách sản phẩm khuyến mãi
                                        .col-md-9
                                            .table-responsive
                                                table.table.mb-none#tb-mon-ngon
                                                    thead
                                                        tr
                                                            th Mã sản phẩm
                                                            th Tên sản phẩm
                                                            th Hành động
                                                    tbody

                footer(class="panel-footer")
                    div(class="row")
                        div(class="col-sm-9 col-sm-offset-3")
                            button#btn-add.btn.btn-primary.btn-delete(onclick='add()')= "Thêm chương trình khuyến mãi"

block JS

    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/jquery-easypiechart/jquery.easypiechart.js")
    script(src="../assets/app/vendor/flot/jquery.flot.js")
    script(src="../assets/app/vendor/flot-tooltip/jquery.flot.tooltip.js")
    script(src="../assets/app/vendor/flot/jquery.flot.pie.js")
    script(src="../assets/app/vendor/flot/jquery.flot.categories.js")
    script(src="../assets/app/vendor/flot/jquery.flot.resize.js")
    script(src="../assets/app/vendor/jquery-sparkline/jquery.sparkline.js")
    script(src="../assets/app/vendor/raphael/raphael.js")
    script(src="../assets/app/vendor/morris/morris.js")
    script(src="../assets/app/vendor/gauge/gauge.js")
    script(src="../assets/app/vendor/snap-svg/snap.svg.js")
    script(src="../assets/app/vendor/liquid-meter/liquid.meter.js")
    script(src="../assets/app/vendor/jqvmap/jquery.vmap.js")
    script(src="../assets/app/vendor/jqvmap/data/jquery.vmap.sampledata.js")
    script(src="../assets/app/vendor/jqvmap/maps/jquery.vmap.world.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.africa.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.asia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.australia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.europe.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")
    script(src="../assets/app/javascripts/edit-inline-order/order-san-pham.js")
    script(src='../assets/app/vendor/daterangepicker/moment.min.js')
    script(src='../assets/app/vendor/daterangepicker/daterangepicker.js')
    script(src='../assets/app/javascripts/chuong-trinh-khuyen-mai/them-chuong-trinh-khuyen-mai.js')

block footerJS

    script.
        $('#ip-begin-date').daterangepicker({
            timePicker: true,
            startDate: moment().startOf('hour'),
            endDate: moment().startOf('hour').add(32, 'hour'),
            locale: {
                format: 'DD/MM/YYYY hh:mm A'
            }
        });

        $('#ip-begin-date').val("");
        $('#ip-begin-date').on('apply.daterangepicker', function (ev, picker) {
            start_date = picker.startDate;
            end_date = picker.endDate;
        });
        $('#ip-begin-date').on('hide.daterangepicker', function (ev, picker) {
            start_date = picker.startDate;
            end_date = picker.endDate;
        });


        $('#listenSlider').change(function () {
            $('.output b').text(" " + this.value + "%");
        });
