extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")

    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css")


    link(rel='stylesheet', href='../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css')
    link(rel='stylesheet', href='../assets/app/vendor/select2/select2.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css')
    link(rel='stylesheet', href='../assets/app/vendor/dropzone/css/basic.css')
    link(rel='stylesheet', href='../assets/app/vendor/dropzone/css/dropzone.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css')
    link(rel='stylesheet', href='../assets/app/vendor/summernote/summernote.css')
    link(rel='stylesheet', href='../assets/app/vendor/summernote/summernote-bs3.css')
    link(rel='stylesheet', href='../assets/app/vendor/codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='../assets/app/vendor/codemirror/theme/monokai.css')
    link(rel='stylesheet', href='../assets/app/vendor/tags-input/tags-input.css')

block info
    script.
        var page_name = "sanpham-page";
        var page_number_child_left_menu = 2;


block header
    header.page-header
        h2 Thêm sản phẩm
        div(class="right-wrapper pull-right")
            ol.breadcrumbs
                li
                    a(href="dashboard")
                        i(class="fa fa-home")

                li
                    span Quản lý sản phẩm

                li
                    span Thêm sản phẩm

            a(class="sidebar-right-toggle" data-open="sidebar-right")
                i(class="fa fa-chevron-left")

block content

    // start: page
    .row
        .col-lg-12
            section.panel
                header.panel-heading
                    .panel-actions
                        a.panel-action.panel-action-toggle(href='#', data-panel-toggle='')
                        a.panel-action.panel-action-dismiss(href='#', data-panel-dismiss='')
                    h2.panel-title Thêm sản phẩm
                .panel-body
                    .form-group
                        label.col-md-3.control-label Danh mục sản phẩm
                        .col-md-9
                            select#product_category_id.form-control.populate(data-plugin-selecttwo='')
                                -for (var i = 0; i < danhmuc.length; i++)
                                    option(value=danhmuc[i].id) #{danhmuc[i].name}
                    .form-group
                        label.col-md-3.control-label Mã sản phẩm
                        .col-md-9
                            input#ip-ma-sp.form-control(type='text')

                    .form-group
                        label.col-md-3.control-label Số lượng sản phẩm đơn vị
                        .col-md-9
                            input#ip-sl.form-control(type='number')

                    .form-group
                        label.col-md-3.control-label Hình ảnh (Kích thước tốt nhất: 485w x 550h)
                        .col-md-9
                            form(enctype='multipart/form-data')
                                input#file_to_upload.form-control(type='file')
                    .form-group
                        label.col-md-3.control-label Đơn giá (VNĐ)
                        .col-md-9
                            input#ip-price.form-control(type='text' +
                            ''  onkeyup="format_money_and_edit()" )

                    .form-group
                        label.col-md-3.control-label Khối lượng
                        .col-md-9
                            input#ip-weight.form-control(type='text')

                    .form-group
                        label.col-md-3.control-label Sản phẩm cấp đơn vị
                        .col-md-9
                            select#parent_id.form-control.populate(data-plugin-selecttwo='')
                                option(value="") Không có
                                -for (var i = 0; i < sanpham.length; i++)
                                    option(value=sanpham[i].id) #{sanpham[i].name}


                    .form-group
                        label.col-md-3.control-label Đơn vị tính
                        .col-md-9
                            input#ip-unit.form-control(type='text')

                    .form-group
                        label.col-md-3.control-label Nhãn
                        .col-md-9
                            input#ip-tag.form-control(type='tags')

                    .form-group
                        label.col-md-3.control-label Thứ tự sắp xếp
                        .col-md-9
                            input#ip-order.form-control(type='number')

                    .form-group(style='display:none;')
                        label.col-md-3.control-label Quan trọng
                        .col-md-9
                            input#ip-important.form-control(type='checkbox')

                    .form-group(style='display:none;')
                        label.col-md-3.control-label Loại sản phẩm
                        .col-md-9
                            select#ip-type
                                -for (var i = 0; i < types.length; i++)
                                    if sanpham.type == types[i].value
                                        option(value=types[i].value selected="selected") #{types[i].name}
                                    else
                                        option(value=types[i].value) #{types[i].name}


                    .col-md-12
                        .tabs
                            ul.nav.nav-tabs.nav-justified
                                li.active
                                    a.text-center(href='#vi-tab', data-toggle='tab')
                                        i.fa.fa-star
                                        |  Việt Nam
                                li
                                    a.text-center(href='#en-lab', data-toggle='tab') English
                            .tab-content
                                #vi-tab.tab-pane.active

                                    .form-group
                                        label.col-md-3.control-label Tên sản phẩm
                                        .col-md-9
                                            input#ip-name-vi.form-control(type='text')



                                    //.form-group
                                    //    label.col-md-3.control-label Tiêu đề
                                    //    .col-md-9
                                    //        input#ip-title-vi.form-control(type='text')

                                    .form-group
                                        label.col-md-3.control-label Mô tả
                                        .col-md-9
                                            textarea#ip-des-vi.form-control(rows='', data-plugin-textarea-autosize='')


                                    .form-group
                                        label.col-md-3.control-label Meta keywords
                                        .col-md-9
                                            input#meta-keyword-vi.form-control(type='text')

                                    .form-group
                                        label.col-md-3.control-label Meta description
                                        .col-md-9
                                            input#meta-description-vi.form-control(type='text')

                                    .form-group
                                        label.col-md-3.control-label Meta title
                                        .col-md-9
                                            input#meta-title-vi.form-control(type='text')


                                    .form-group
                                        label.col-md-3.control-label Nội dung HTML
                                        .col-md-9
                                            .adjoined-bottom
                                                .grid-container
                                                    .grid-width-100
                                                        textarea#editor1(name='editor1', rows='10', cols='80')
                                                            |


                                #en-lab.tab-pane
                                    .form-group
                                        label.col-md-3.control-label Tên sản phẩm
                                        .col-md-9
                                            input#ip-name-en.form-control(type='text')

                                    //.form-group
                                    //    label.col-md-3.control-label Tiêu đề
                                    //    .col-md-9
                                    //        input#ip-title-en.form-control(type='text')

                                    .form-group
                                        label.col-md-3.control-label Mô tả
                                        .col-md-9
                                            textarea#ip-des-en.form-control(rows='', data-plugin-textarea-autosize='')


                                    .form-group
                                        label.col-md-3.control-label Meta keywords
                                        .col-md-9
                                            input#meta-keyword-en.form-control(type='text')

                                    .form-group
                                        label.col-md-3.control-label Meta description
                                        .col-md-9
                                            input#meta-description-en.form-control(type='text')

                                    .form-group
                                        label.col-md-3.control-label Meta title
                                        .col-md-9
                                            input#meta-title-en.form-control(type='text')



                                    .form-group
                                        label.col-md-3.control-label Nội dung HTML
                                        .col-md-9
                                            .adjoined-bottom
                                                .grid-container
                                                    .grid-width-100
                                                        textarea#editor2(name='editor1', rows='10', cols='80')
                                                            |

                footer(class="panel-footer")
                    div(class="row")
                        div(class="col-sm-9 col-sm-offset-3")
                            button.btn.btn-primary.btn-delete(onclick='add()')= "Thêm sản phẩm"






block JS
    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/jquery-easypiechart/jquery.easypiechart.js")
    script(src="../assets/app/vendor/jquery-sparkline/jquery.sparkline.js")
    script(src="../assets/app/vendor/raphael/raphael.js")
    script(src="../assets/app/vendor/morris/morris.js")
    script(src="../assets/app/vendor/gauge/gauge.js")
    script(src="../assets/app/vendor/snap-svg/snap.svg.js")
    script(src="../assets/app/vendor/liquid-meter/liquid.meter.js")
    script(src="../assets/app/vendor/jqvmap/jquery.vmap.js")
    script(src="../assets/app/vendor/jqvmap/data/jquery.vmap.sampledata.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")
    script(src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js")

    script(src="../assets/app/vendor/jquery-autosize/jquery.autosize.js")
    script(src="../assets/app/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js")
    script(src="../assets/app//vendor/tags-input/tags-input.js")
    script.
        CKEDITOR.replace('editor1', {
            filebrowserUploadUrl: 'upload-hinh/uploader'
        });
        CKEDITOR.replace('editor2', {
            filebrowserUploadUrl: 'upload-hinh/uploader'
        });
block footerJS

    script(src="../assets/app/javascripts/quan-ly-san-pham/them-san-pham.js")
