extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")

    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css")




    link(rel='stylesheet', href='../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css')
    link(rel='stylesheet', href='../assets/app/vendor/select2/select2.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css')
    link(rel='stylesheet', href='../assets/app/vendor/dropzone/css/basic.css')
    link(rel='stylesheet', href='../assets/app/vendor/dropzone/css/dropzone.css')
    link(rel='stylesheet', href='../assets/app/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css')
    link(rel='stylesheet', href='../assets/app/vendor/summernote/summernote.css')
    link(rel='stylesheet', href='../assets/app/vendor/summernote/summernote-bs3.css')
    link(rel='stylesheet', href='../assets/app/vendor/codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='../assets/app/vendor/codemirror/theme/monokai.css')

block info
    script.
        var page_name = "monanngon_slider_page";
        var page_number_child_left_menu = 0;
        function add() {
            $('#uploadForm').submit(function () {
                $("#status").empty().text("File is uploading...");
                $(this).ajaxSubmit({

                    error: function (xhr) {
                        status('Error: ' + xhr.status);
                    },

                    success: function (response) {
                        $("#status").empty().text(response);
                        console.log(response);
                    }
                });
                //Very important line, it disable the page refresh.
                return false;
            })
        }

block header
    header.page-header
        h2 Thêm hình ảnh
        div(class="right-wrapper pull-right")
            ol.breadcrumbs
                li
                    a(href="dashboard")
                        i(class="fa fa-home")
                li
                    span Danh sách Slider hình món ăn ngon
                li
                    span Thêm hình ảnh

            a(class="sidebar-right-toggle" data-open="sidebar-right")
                i(class="fa fa-chevron-left")

block content

    // start: page
    .row
        .col-lg-12
            section.panel
                header.panel-heading
                    .panel-actions
                        a.panel-action.panel-action-toggle(href='#', data-panel-toggle='')
                        a.panel-action.panel-action-dismiss(href='#', data-panel-dismiss='')
                    h2.panel-title Thêm hình ảnh
                .panel-body
                    .form-group
                        label.col-md-3.control-label Hình ảnh (Kích thước tốt nhất: 1350w x 565h)
                        .col-md-9
                            form(enctype='multipart/form-data')
                                input#file_to_upload.form-control(type='file')

                    .form-group
                        label.col-md-3.control-label Thứ tự sắp xếp
                        .col-md-9
                            input#ip-order.form-control(type='number')

                    .col-md-12
                        .tabs
                            ul.nav.nav-tabs.nav-justified
                                li.active
                                    a.text-center(href='#vi-tab', data-toggle='tab')
                                        i.fa.fa-star
                                        |  Việt Nam
                                li
                                    a.text-center(href='#en-lab', data-toggle='tab') English
                            .tab-content
                                #vi-tab.tab-pane.active


                                    .form-group
                                        label.col-md-3.control-label Tiêu đề
                                        .col-md-9
                                            input#ip-title-vi.form-control(type='text')

                                    .form-group
                                        label.col-md-3.control-label Mô tả
                                        .col-md-9
                                            textarea#ip-des-vi.form-control(rows='', data-plugin-textarea-autosize='')
                                    .form-group
                                        label.col-md-3.control-label Meta keywords
                                        .col-md-9
                                            input#meta-keyword-vi.form-control(type='text' )

                                    .form-group
                                        label.col-md-3.control-label Meta description
                                        .col-md-9
                                            input#meta-description-vi.form-control(type='text' )

                                    .form-group
                                        label.col-md-3.control-label Meta title
                                        .col-md-9
                                            input#meta-title-vi.form-control(type='text' )

                                    .form-group
                                        label.col-md-3.control-label Nội dung HTML
                                        .col-md-9
                                            .adjoined-bottom
                                                .grid-container
                                                    .grid-width-100
                                                        textarea#editor1(name='editor1', rows='10', cols='80')
                                                            |


                                #en-lab.tab-pane


                                    .form-group
                                        label.col-md-3.control-label Tiêu đề
                                        .col-md-9
                                            input#ip-title-en.form-control(type='text')

                                    .form-group
                                        label.col-md-3.control-label Mô tả
                                        .col-md-9
                                            textarea#ip-des-en.form-control(rows='', data-plugin-textarea-autosize='')
                                    .form-group
                                        label.col-md-3.control-label Meta keywords
                                        .col-md-9
                                            input#meta-keyword-en.form-control(type='text' )

                                    .form-group
                                        label.col-md-3.control-label Meta description
                                        .col-md-9
                                            input#meta-description-en.form-control(type='text' )

                                    .form-group
                                        label.col-md-3.control-label Meta title
                                        .col-md-9
                                            input#meta-title-en.form-control(type='text' )

                                    .form-group
                                        label.col-md-3.control-label Nội dung HTML
                                        .col-md-9
                                            .adjoined-bottom
                                                .grid-container
                                                    .grid-width-100
                                                        textarea#editor2(name='editor1', rows='10', cols='80')
                                                            |

                footer(class="panel-footer")
                    div(class="row")
                        div(class="col-sm-9 col-sm-offset-3")
                            button.btn.btn-primary.btn-delete(onclick='add()')= "Thêm bài viết"






block JS

    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/jquery-easypiechart/jquery.easypiechart.js")
    script(src="../assets/app/vendor/flot/jquery.flot.js")
    script(src="../assets/app/vendor/flot-tooltip/jquery.flot.tooltip.js")
    script(src="../assets/app/vendor/flot/jquery.flot.pie.js")
    script(src="../assets/app/vendor/flot/jquery.flot.categories.js")
    script(src="../assets/app/vendor/flot/jquery.flot.resize.js")
    script(src="../assets/app/vendor/jquery-sparkline/jquery.sparkline.js")
    script(src="../assets/app/vendor/raphael/raphael.js")
    script(src="../assets/app/vendor/morris/morris.js")
    script(src="../assets/app/vendor/gauge/gauge.js")
    script(src="../assets/app/vendor/snap-svg/snap.svg.js")
    script(src="../assets/app/vendor/liquid-meter/liquid.meter.js")
    script(src="../assets/app/vendor/jqvmap/jquery.vmap.js")
    script(src="../assets/app/vendor/jqvmap/data/jquery.vmap.sampledata.js")
    script(src="../assets/app/vendor/jqvmap/maps/jquery.vmap.world.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.africa.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.asia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.australia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.europe.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")
    script(src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js")

    script(src="../assets/app/vendor/jquery-autosize/jquery.autosize.js")
    script(src="../assets/app/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js")
    script.
        CKEDITOR.replace('editor1');
        CKEDITOR.replace('editor2');


block footerJS
    script(src="../assets/app/javascripts/mon-an-ngon/them-slider-mon-an-ngon.js")

