extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")
    link(rel="stylesheet" href="../assets/app/vendor/tags-input/tags-input.css")

block info
    script.
        var page_name = "chinhsachbanhang_page";
        var page_sub_name="them-chinh-sach-ban-hang";
        var page_master_group = "Quản lý chính sách bán hàng";
        var page_child_group = "Thêm bài viết";
        var image_link = null;

block header
    include includes/headerCustom
    +headerCustom(
    "Quản lý chính sách bán hàng",
    "Thêm chính sách bán hàng")
block content

    // start: page
    .row
        .col-lg-12
            include includes/editBannerLink
            +editBannerLink(
            "Thêm chính sách bán hàng",
            "",
            false,true,false)
block JS
    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")
    script(src="../assets/app/vendor/tags-input/tags-input.js")
    script.
        $(function () {
            $("#file_to_upload").change(function () {
               $('#show_check').attr("disabled",false);
            });
        });
        $(document).on('click', '.modal-confirm', function (e) {
            e.preventDefault();
            $.magnificPopup.close();
            $('#file_to_upload').val("");
            var name = $(".image-lib.has-border").attr("image-name");
            var url = $(".image-lib.has-border").attr("image-url");
            if (name && name.length > 0 && url && url.length > 0) {
                image_link = name;
                $('#image_res').attr("src", url);
                $('.image-lib').removeClass("has-border");
            }
        });

block footerJS
    script(src="../assets/app/javascripts/chinh-sach-ban-hang/them-chinh-sach-ban-hang.js")
