extends adminLayout
block css
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="../assets/app/vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../assets/app/vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="../assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="../assets/app/vendor/morris/morris.css")
    link(rel="stylesheet" href="../assets/app/vendor/select2/select2.css")
    link(rel="stylesheet" href="../assets/app/vendor/jquery-datatables-bs3/assets/css/datatables.css")
    link(rel='stylesheet', href='../assets/app/vendor/daterangepicker/daterangepicker.css')

block info
    style(type='text/css').
        .hide {
            display: none;
        }
    script.
        var page_name = "statics-page";
        var page_sub_name="thong-ke-ban-hang-chi-tiet";
        var page_master_group = "Báo cáo";
        var page_child_group = "Thống kê bán hàng chi tiết";

block header
    include includes/headerCustom
    +headerCustom(
    "Thống kê bán hàng chi tiết",
    "Báo cáo")


block content

    // start: page
    section.panel

        header(class="panel-heading")
            .pull-right
                a(href="#" class="btn btn-default" onclick="export_excel()") Xuất file
                a(href="#" class="panel-action panel-action-toggle" data-panel-toggle)
                a(href="#" class="panel-action panel-action-dismiss" data-panel-dismiss)
            h2.panel-title Thống kê bán hàng chi tiết
        div.panel-body.form-bordered
            .form-group.need
                label.col-md-2.control-label() Thời gian báo cáo
                .col-md-6
                    select.input-group.mb-md#select-date.form-control.populate(data-plugin-selecttwo='' onchange="change_sort()")
                        option(value="1") 7 ngày gần đây
                        option(value="2") Tùy chọn
                    .input-group.mb-md.hide#date
                        span.input-group-addon
                            i.fa.fa-calendar
                        input.form-control#ip-begin-date(type='text', name='start')
            button.btn.btn-primary#btt-thongke(onclick='change_sort()') Thống kê bán hàng chi tiết
            table.table.table-bordered.table-striped.mb-none#table-product()
                thead
                    tr
                        th Mã sản phẩm
                        th Tên sản phẩm
                        th Số lượng tồn kho đầu kỳ
                        th Số lượng tồn kho cuối kỳ
                        th Số lượng bán ra
                        th Doanh số

                tbody
                    // each obj in data
                    //     tr.gradeX
                    //         td #{obj.product_code}
                    //         td #{obj.product_name}
                    //         td #{obj.first_store}
                    //         td #{obj.end_store}
                    //         td #{obj.total_product_quantity}
                    //         td #{obj.total}
            div.hide#product1
                table.table.table-bordered.table-striped.mb-none#table-product1()
                    thead
                        tr
                            th Mã sản phẩm
                            th Tên sản phẩm
                            th Số lượng tồn kho đầu kỳ
                            th Số lượng tồn kho cuối kỳ
                            th Số lượng bán ra
                            th Doanh số

                    tbody


block JS
    script(src="../assets/app/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="../assets/app/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="../assets/app/vendor/jquery-appear/jquery.appear.js")
    script(src="../assets/app/vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="../assets/app/vendor/jquery-easypiechart/jquery.easypiechart.js")
    script(src="../assets/app/vendor/flot/jquery.flot.js")
    script(src="../assets/app/vendor/flot-tooltip/jquery.flot.tooltip.js")
    script(src="../assets/app/vendor/flot/jquery.flot.pie.js")
    script(src="../assets/app/vendor/flot/jquery.flot.categories.js")
    script(src="../assets/app/vendor/flot/jquery.flot.resize.js")
    script(src="../assets/app/vendor/jquery-sparkline/jquery.sparkline.js")
    script(src="../assets/app/vendor/raphael/raphael.js")
    script(src="../assets/app/vendor/morris/morris.js")
    script(src="../assets/app/vendor/gauge/gauge.js")
    script(src="../assets/app/vendor/snap-svg/snap.svg.js")
    script(src="../assets/app/vendor/liquid-meter/liquid.meter.js")
    script(src="../assets/app/vendor/jqvmap/jquery.vmap.js")
    script(src="../assets/app/vendor/jqvmap/data/jquery.vmap.sampledata.js")
    script(src="../assets/app/vendor/jqvmap/maps/jquery.vmap.world.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.africa.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.asia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.australia.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.europe.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js")
    script(src="../assets/app/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js")
    script(src="../assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="../assets/app/vendor/select2/select2.js")
    script(src="../assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="../assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="../assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")
    script(src='../assets/app/vendor/daterangepicker/moment.min.js')
    script(src='../assets/app/vendor/daterangepicker/daterangepicker.js')
    script(src='../js/Chart.min.js')


block footerJS
    script(src="../assets/app/javascripts/bao-cao/thong-ke-ban-hang-chi-tiet.js")


