extends layout
block Content

    main#main
        #banner-intro(style="display:none;")
            a(href="#")
                img#bannerCamNang(alt='Cẩm nang món ngon')
        #news_feed(style='display:none;')
            #owl-handbook(style='display:none;')
                .item
                    .news_item
                        .col-lg-8.col-md-7.col-sm-7.col-xx-12.col-xs-12
                            a(href='#')
                                img.slider-image(alt='')
                        .col-lg-4.col-md-5.col-sm-5.col-xx-12.col-xs-12
                            .news_cont
                                h2.slider-title
                                .desc
                                    p.slider-content
                        .clearfix
        .container.box-width.box-bg
            .col-lg-12.top-space
                .col-lg-1
                .col-lg-10
                    .clearfix
                    .new_title_bar.col-lg-12
                        div.col-lg-3
                            div #{i18n.__("Cẩm nang món ngon")}
                        div.col-lg-9
                            div
                    #news
                        .news_list
                            div#news-item(style='display:none;')
                                .col-lg-4.col-md-4.col-sm-4.col-xx-6.col-xs-12.clear-news.news-padding-bottom
                                    .news
                                        a#slide(href='#')
                                            .item-img.news-mon-ngon
                                                img(alt='')
                                        p.date
                                        a(href='#')
                                            h2
                                        .desc
                                        a(href='#')
                                            span.view Xem

                            .clearfix
                            pagination.pages#content-paging
                            .clearfix
                            .list-related(style='display:none;')
                                a(href='#')
                        .clearfix
                .col-lg-1
    script(type='text/javascript', src='/js/Owl/dist/owl.carousel.min.js')
    script.
        $("head").append($("<link rel='stylesheet' href='/js/Owl/dist/assets/owl.carousel.min.css' type='text/css' media='screen' />"));
        $("head").append($("<link rel='stylesheet' href='/js/Owl/dist/assets/owl.theme.default.min.css' type='text/css' media='screen' />"));

        $(".menu-cam-nang-mon-ngon").addClass("active");
        var newsItemClone = $("#news-item").clone();
        var latestNewsItemClone = $(".list-related").clone();
        var topItemClone = $("#owl-handbook").clone();


        function goNewsDetails(content_slug) {
            window.location.href = "/chi-tiet-mon-an-ngon/" + content_slug;
        }

        function loadSlider(order) {
            $.ajax({
                url: "/cam-nang-mon-ngon/getImageInSlider",
                type: "post", //send it through get method
                data: JSON.stringify({
                    order: order
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        if (response.data.sliderItem == null) {
                            return;
                        }

                        var htmlList = "";
                        for (var i = 0; i < response.data.sliderItem.length; i++) {
                            var content = response.data.sliderItem[i];
                            var item = topItemClone.clone();

                            $("a", item).attr("href", "/chi-tiet-mon-an-ngon/" + content.content_slug);
                            if (content.content_image_large != null) {
                                $(".slider-image", item).attr("src", '/upload/' + content.content_image_large);
                            }
                            $(".slider-title", item).html(content.content_title);
                            $(".slider-title", item).attr("onclick", "goNewsDetails(\'" + content.content_slug + "\');")
                            $(".slider-title", item).css("cursor", "pointer");
                            $(".slider-content", item).html(content.content_description);
                            $(".slider-content", item).attr("onclick", "goNewsDetails(\'" + content.content_slug + "\');")
                            $(".slider-content", item).css("cursor", "pointer");
                            htmlList += item.html();
                        }

                        if (response.data.sliderItem.length > 0) {
                            $('#news_feed').css("display", "");
                            $("#owl-handbook").html(htmlList);
                        }

                        if (response.data.sliderItem.length > 1) {
                            $("#owl-handbook").addClass("owl-carousel");
                            $("#owl-handbook").addClass("owl-theme");

                            $("#owl-handbook").owlCarousel({
                                items: 1,
                                autoplay: true,
                                smartSpeed: 1000,
                                autoplayTimeout: parseInt(response.data.tocDo),
                                autoplayHoverPause: true,
                                scrollPerPage: 1,
                                slideSpeed: parseInt(response.data.tocDo),
                                navigation: true,
                                navText: ['', ''],
                                paginationSpeed: parseInt(response.data.tocDo),
                                loop: true,
                                responsive: {
                                    0: {
                                        items: 1,
                                        loop: true
                                    },
                                    600: {
                                        items: 1,
                                        loop: true
                                    },
                                    900: {
                                        items: 1,
                                        loop: true
                                    },
                                    1000: {
                                        items: 1,
                                        loop: true
                                    }
                                }
                            });
                        }

                    }
                }
            });
        }

        function loadContentList(page) {
            $.ajax({
                url: "/cam-nang-mon-ngon/getContentList",
                type: "post", //send it through get method
                data: JSON.stringify({
                    page: page,
                    nbItemsOfPage: !{nbItemsOfPage}
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {

                        var htmlList = "";
                        for (var i = 0; i < response.data.contentList.length; i++) {
                            var content = response.data.contentList[i];
                            var item = newsItemClone.clone().attr("id", "");

                            $("a", item).attr("href", "/chi-tiet-mon-an-ngon/"+content.content_slug);
                            $(".desc", item).html(content.content_description);
                            var date = content.content_created_date;
                            var temp = date.split(" ");
                            $(".date", item).html(temp[0]);
                            $("h2", item).html(content.content_title);
                            $("img", item).attr("src", "/upload/" + content.content_image);
                            htmlList += item.html();

                        }

                        $('#news-item').css("display", "");
                        if (response.data.contentList.length > 0) {
                            $("#news-item").html(htmlList);
                        } else {
                            $('#news-item').html('#{i18n.__("Không có bài viết nào")}');
                        }

                    }
                }
            });
        }

        function loadLatestContentList() {
            $.ajax({
                url: "/getLatestContentList",
                type: "post", //send it through get method
                data: JSON.stringify({
                    content_id: '1'
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {

                        var htmlList = "";
                        for (var i = 0; i < response.data.contentList.length; i++) {
                            var content = response.data.contentList[i];
                            var item = latestNewsItemClone.clone()

                            $("a", item).attr("href", "/chi-tiet-mon-an-ngon/" + content.content_slug);
                            var date = content.content_created_date;
                            var temp = date.split(" ");
                            var d1 = temp[0].split("/")[0] + "/" + temp[0].split("/")[1];
                            $("a", item).html(content.content_title + " ("+d1+")");
                            htmlList += item.html();

                        }

                        if (response.data.contentList.length > 0) {
                            $('.list-related').css("display", "");
                            $(".list-related").html(htmlList);
                        }

                    }
                }
            });
        }

        function renderSliderPaging() {
            if (!{countImageInSlider} <= 1) {
                $('#sliding-paging').css('display', 'none');
            }

            $('#sliding-paging').twbsPagination({
                totalPages: !{countImageInSlider},
                visiblePages: 5,
                first: "",
                last: "",
                prev: "&nbsp;",
                next: "&nbsp;",
                onPageClick: function (event, page) {
                    loadSlider(page);
                }
            });
        }
        function renderContentPaging() {
            if (!{totalPages} <= 1) {
                $('#content-paging').css('display', 'none');
            }

            $('#content-paging').twbsPagination({
                totalPages: !{totalPages},
                visiblePages: 5,
                first: "",
                last: "",
                prev: "&nbsp;",
                next: "&nbsp;",
                onPageClick: function (event, page) {
                    loadContentList(page);
                }
            });
        }



        function loadBanner() {
            $.ajax({
                url: "/cam-nang-mon-ngon/getBanner",
                type: "post", //send it through get method
                data: JSON.stringify({}), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        if (response.data.bannerItem && response.data.bannerItem.content_image) {
                            if (response.data.bannerItem.content_image!= null) {
                                $("#bannerCamNang").attr("src", '/upload/' + response.data.bannerItem.content_image);
                                $("#banner-intro").css("display", "");
                                $("#banner-intro a").attr("href", response.data.bannerItem.content_link);
                            }

                        }

                    }
                }
            });
        }

        $(document).ready(function () {
            $(".menu-khuyen-mai").addClass("active");
            loadBanner();
            // renderSliderPaging();
            // loadSlider();
            renderContentPaging();
            loadLatestContentList();
            load_meta_delicious_food();
        });




