extends layout

block Content
    #fb-root
    link(rel='stylesheet', type='text/css', href='/js/slider/dist/css/lightslider.css')
    script(type='text/javascript', src='/js/slider/dist/js/lightslider.js')
    link(rel='stylesheet', type='text/css', href='/js/slider/dist/css/lightGallery.css')
    script(type='text/javascript', src='/js/slider/dist/js/lightGallery.js')
    style(type='text/css').
        .list_carousel {
            width: 100%;
        }

        .list_carousel .ul {
            list-style: none outside none;
            padding-left: 0;
            margin-bottom: 0;
        }

        .list_carousel li {
            display: block;
            float: left;
            margin-right: 6px;
            cursor: pointer;
        }

        .list_carousel img {
            display: block;
            height: auto;
            max-width: 100%;
        }
    script.
        var product_id = "#{product_id}";
        function get_current_url() {
            var current = window.location.href;
            return current;
        }

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.12&appId=15968943338725820&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    main#main
        #banner-intro(style="display:none;")
            a(href="#")
                img(alt='Công ty cổ phần Opera')
        .empty-space
            .empty-space-child
        .container
            #product
                //.direct
                    ul
                        li
                            a(href='/')
                                img(src='/img/index.png', alt='Trang chủ')
                        li
                            a(href='/san-pham') #{i18n.__("Sản phẩm")}
                        li
                            a#root-category(href='#')
                        li
                            a#subroot-category(href='#')
                        li
                            a.active#product-title(href='#')
                    .clearfix
                .product-detail
                    .row.offset-md-12
                        .col-md-1.col-lg-1.col-xl-1
                        .col-md-2.col-lg-2.col-xl-2.fix-category-content
                            #title-menu-external
                                div
                                    img.sm-square-icon.image-need-lazy-load(data-src="../img/right-arrow.png")
                                    div #{i18n.__("Sản phẩm")}
                            .menu-product-detail
                                ul#product-detail-categories
                                    li
                                        a(href='')
                        .col-md-1.col-lg-1.col-xl-1
                        .col-md-7.col-lg-7.col-xl-7.fix-product-detail
                            .col-md-5
                                #product-detail-menu
                                    //div#root-menu
                                    //div >
                                    div#sub-root-menu
                                .frame_images
                                    #zoom-fig.app-figure
                                        a#Zoom-1.MagicZoom(href='/upload/' + productDetails.product_image, title=productDetails.product_title)
                                            .img
                                                img#product-image(src='/upload/' + productDetails.product_image, alt=productDetails.product_title)

                                    .selectors
                                        .list_carousel
                                            .clearfix
                                            ul#foo3
                                                li(data-thumb='/upload/' + productDetails.product_image data-src='/upload/' + productDetails.product_image)
                                                    a(data-zoom-id='Zoom-1', href='/upload/' + productDetails.product_image, data-image='/upload/' + productDetails.product_image)
                                                        img.image-thumb.image-thumb-active(u='image', src='/upload/' + productDetails.product_image, alt=productDetails.product_title, width='70')
                                                - for (var i = 0; i < imageList.length; i++)
                                                    li(data-thumb='/upload/' + imageList[i].image data-src='/upload/' + imageList[i].image)
                                                        a(data-zoom-id='Zoom-1', href='/upload/' + imageList[i].image, data-image='/upload/' + imageList[i].image)
                                                            img.image-thumb(u='image', src='/upload/' + imageList[i].image, alt=productDetails.product_title, width='70')
                                                li.clear
                                    .clear
                                if productDetails.promotion_type === 3
                                    img#productImageGift(src='/upload/' + productDetails.promotion_image, alt=productDetails.product_title, title=productDetails.gift)
                                    span.top-right #{productDetails.gift}
                                if productDetails.promotion_type === 2
                                    .sale_tag.sale_tag_detail(style="background:url('/upload/"+productDetails.promotion_image+"') no-repeat center;")
                                        p
                                            | #{productDetails.percent}
                                            span %

                            .col-md-7
                                br
                                br
                                br
                                .product-title-header
                                ul.info
                                    li
                                        span #{i18n.__("Mã số")}
                                        span#product-code
                                    li
                                        span #{i18n.__("Trọng lượng")}/#{i18n.__("Dung tích")}
                                        span#weight
                                    if productDetails.promotion_type == 1
                                        li
                                            span #{i18n.__("Giá bán")}
                                            span#pricenew.price.sale
                                            span#price.productPriceOld
                                    else if productDetails.promotion_type == 2
                                        li
                                            span #{i18n.__("Giá bán")}
                                            span#pricenew1.price.sale
                                            span#price1.productPriceOld
                                    else
                                        li
                                            span #{i18n.__("Giá bán")}
                                            span#pricenew.price.sale


                                    li.clearfix
                                        span #{i18n.__("Số lượng")}
                                        .amount
                                            span.calc.minus -
                                            input#amount(type='text', name='amount', value='1', min='1')
                                            span.calc.plus +
                                    li
                                        span #{i18n.__("Thành tiền")}
                                        span.price.total
                                    li
                                        p.buy
                                            span
                                            //img#quick-buy.image-need-lazy-load(data-src="../img/quick-buy.png" onclick="buy()")
                                    div.space
                                        .fb-share-button.margin-left.margin-top(data-href=link, data-layout='button_count', data-size='small', data-mobile-iframe='true')
                                        .margin-left.margin-top
                                            .g-plus(data-action='share', data-height='24')

                        .clearfix.box-bg
                        .col-md-12.box-bg
                            .col-md-1
                            .col-md-10
                                #tabs.box-bg
                                    ul
                                        li.current
                                            a(href='#', title='tab1') #{i18n.__("Thông tin sản phẩm")}
                                        //li
                                            a(href='#', title='tab2') #{i18n.__("Cẩm nang món ngon")}
                                #tab1.hidden1.box-bg
                                    .description
                                    .clearfix
                                    div.content-share
                                        .fb-share-button.margin-left(data-href=link, data-layout='button_count', data-size='small', data-mobile-iframe='true')
                                        .margin-left
                                            .g-plus(data-action='share', data-height='50')
                                    .clearfix
                                    #comment
                                        p #{i18n.__("Ý kiến của bạn")}
                                        span #{i18n.__("Điểm đánh giá")}:
                                        div
                                            img(src='/img/rate.png', alt='')
                                        .comment-content
                                            .fb-comments(data-href=link, data-numposts='10' data-width="100%")
                                //#tab2.hidden1(style='display: none').box-bg
                                    .container
                                        #news
                                            .news_list
                                                div#news-item.hide
                                                    .col-md-4.col-md-4.col-sm-4.col-xx-6.col-xs-12.clear-news
                                                        .news
                                                            a(href='#')
                                                                .item-img
                                                                    img(src='/assets/app/images/No_Image_Available.jpg', alt='')
                                                            p.date
                                                            a(href='#')
                                                                h2
                                                            .desc
                                                            a(href='#')
                                                                span.view Xem
                                                .clearfix
                                                pagination.pages#content-paging
                                                .clearfix
                                                .list-related
                                                    a(href='#')
                                            .clearfix



                                .clearfix
                                .new_title_bar.col-md-12#related-product-title
                                    div.col-md-3
                                        div #{i18n.__("Sản phẩm liên quan")}
                                    div.col-md-9
                                        div
                                .product#related-product
                                    .col-md-3.col-md-3.col-sm-4.col-xx-6.col-xs-12
                                        .item-pro
                                            a(href='#')
                                                .item-img
                                                    img(src='/img/product.png', alt='Đậu thận đỏ đóng hộp')
                                            a(href='#')
                                                h2
                                            span.price.sale
                                                sup đ
                                            span.price_old
                                                sup đ
                                            p.buy
                                                span
                                            .sale_tag
                                                p
                                                    |
                                                    span %
                                            .gif_tag
                                                p
                                .clearfix
                                .title_bar#seen-product-title(style='display:none;')
                                    h3 #{i18n.__("Sản phẩm bạn quan tâm")}
                                .product#seen-product(style='display:none;')
                                    .col-md-3.col-md-3.col-sm-4.col-xx-6.col-xs-12
                                        .item-pro
                                            a(href='#')
                                                .item-img
                                                    img(alt='')
                                            a(href='#')
                                                h2
                                            span.price.sale
                                                sup đ
                                            span.price_old
                                                sup đ
                                            p.buy
                                                span #{i18n.__("Mua ngay")}
                                            .sale_tag
                                                p
                                                    span %
                                            .gif_tag
                                                p
                                    .clearfix
                                .clearfix


    script.

        //$('.mz-loading-shown').css("display", "none");

        var latestNewsItemClone = $(".list-related").clone();
        var productPrice = 0;
        var productPricePercent = 0;
        var productPriceFix = 0;
        var promotionType=0;
        

        
        function loadSeenProducts(rootCategoryID) {
            $.ajax({
                url: "/chi-tiet-san-pham/getSeenProducts",
                type: "post", //send it through get method
                data: JSON.stringify({
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        var newsItem = $("#seen-product");
                        var htmlList = "";
                        for (var i = 0; i < response.data.products.length; i++) {
                            var content = response.data.products[i];
                            var item = newsItem.clone().attr("id", "");
                            $(".item-pro .item-img img", item).attr("src", "../upload/" + content.image);
                            $(".item-pro .item-img img", item).attr("alt", content.title);
                            $(".price", item).html(format_price(content.price) + "<sup>đ</sup>");
                            $("h2", item).html(content.title);
                            htmlList += item.html();
                        }

                        if (response.data.products.length > 0) {
                            $('#seen-product-title').css('display', '');
                            $('#seen-product').css('display', '');
                            newsItem.html(htmlList);
                        }

                    }
                }
            });
        }

        function loadCategoryRoot(rootCategoryID) {
            var _this = this;
            $.ajax({
                url: "/chi-tiet-san-pham/getCategory",
                type: "post", //send it through get method
                data: JSON.stringify({
                    id: rootCategoryID
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        // $("#root-menu").html(response.data.category.product_category_title)
                        loadProductDetailCategories(rootCategoryID);
                        // $("#root-category").html(response.data.category.product_category_title);
                        // $("#root-category").attr("href", "/danh-muc/r/" + response.data.category.product_category_slug);
                    }
                }
            });
        }

        function loadCategory(category_id) {
            $.ajax({
                url: "/chi-tiet-san-pham/getCategory",
                type: "post", //send it through get method
                data: JSON.stringify({
                    id: category_id
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        $("#sub-root-menu").html(response.data.category.product_category_title)
                        // $("#subroot-category").html(response.data.category.product_category_title);
                        // $("#subroot-category").attr("href", "/danh-muc/" + response.data.category.product_category_slug);
                        loadCategoryRoot(category_id);
                        loadBanner(category_id, response.data.category.product_category_parent_id);
                    }
                }
            });
        }

        function loadProductDetail(callback) {
            var thiz = this;
            $.ajax({
                url: "/chi-tiet-san-pham/getProduct",
                type: "post", //send it through get method
                data: JSON.stringify({
                    id: '!{product_id}'
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        thiz.product_category_id = response.data.productDetails.product_category_id;
                        loadRelatedList(response.data.productDetails.product_category_id, '!{product_id}');
                        loadCategory(response.data.productDetails.product_category_id);


                        productPrice = response.data.productDetails.product_price;
                        productPricePercent = (response.data.productDetails.product_price -
                            ((response.data.productDetails.product_price * response.data.productDetails.percent) / 100));
                        productPriceFix = response.data.productDetails.product_price - response.data.productDetails.fix_price;
                        promotionType=response.data.productDetails.promotion_type;



                        $(".product-title-header").html(response.data.productDetails.product_title);
                        $("#product-title").html(response.data.productDetails.product_title);

                        //carosel(response.data.productDetails.product_id, response.data.productDetails.product_title, response.data.productDetails.product_image);

                        $("#product-code").html(response.data.productDetails.product_code);
                        $("#price").html(format_price(response.data.productDetails.product_price) + " VNĐ");
                        $("#pricenew").html(format_price(productPriceFix) + " VNĐ   ");
                        $("#price1").html(format_price(response.data.productDetails.product_price) + " VNĐ");
                        $("#pricenew1").html(format_price(productPricePercent) + " VNĐ   ");
                        $("#weight").html(response.data.productDetails.product_weight);
                        $("#quaTang").html(response.data.productDetails.gift);
                        $("#tab1 .description").html(response.data.productDetails.product_contentHTML);

                        if(response.data.productDetails.order_quantity >= 1){
                            $(".amount input").val(response.data.productDetails.order_quantity);
                        }else {
                            $(".amount input").val(1);
                        }

                        $(".amount input").attr("onchange", "onQuantityChanged()");
                        $(".amount .plus").attr("onclick", "plusQuantity()");
                        $(".amount .minus").attr("onclick", "minusQuantity()");


                        $(".product-detail .buy span").attr("onclick", "addMoreCart('" + response.data.productDetails.product_id + "')");

                        $(".total").html(format_price(totalPriceAmount() * $("#amount").val()) + " VNĐ");

                        callback();

                    }
                }
            });
        }


        function loadProductDetailCategories(product_category_id) {
            $.ajax({
                url: "/getProductCategoriesRoot",
                type: "post", //send it through get method
                cache: true,
                timeout: 10000,
                data: "", contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {

                        var root = $("#product-detail-categories");
                        root.attr("id", "");
                        var rootClone = root.clone();
                        root.html('');
                        jQuery.each(response.data.contentList, function (index, content) {

                            var item = rootClone.clone();
                            $("a", item).html(content.product_category_title).css("cssText", "text-transform: none !important;");
                            $("a", item).attr("href", "/danh-muc/r/" + content.product_category_slug);

                            var a = root.html();
                            $("li", item).attr("id", content.product_category_id);
                            if (index == 0) {
                                $("li", item).css("border-top", "0px");
                            }
                            $("li", item).removeClass("active-menu-category");
                            if (content.product_category_id == product_category_id) {
                                $("li", item).addClass("active-menu-category");
                            }
                            item.css("list-style-type","none");
                            root.html(root.html() + item.html());
                        });


                    }
                }
            });

        }

        function loadBanner(category_id, root_category_id) {
            $.ajax({
                url: "/getBanner",
                type: "post", //send it through get method
                data: JSON.stringify({
                    category_id: category_id,
                    root_category_id: root_category_id
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        if (response.data) {
                            $("#banner-intro").css("display", "");
                            $("#banner-intro a").attr("href", response.data.banner_link);
                            $("#banner-intro img").attr("src", '/upload/' + response.data.banner_image);
                        }
                    }
                }
            });
        }

        function totalPriceAmount() {
            if (promotionType === 1) {


                return productPriceFix;
            }
            else if (promotionType === 2) {


                return productPricePercent;
            }

            return productPrice;

        }
        function loadRelatedList(product_category_id, product_id) {
            $.ajax({
                url: "/chi-tiet-san-pham/getRelatedProducts",
                type: "post", //send it through get method
                data: JSON.stringify({
                    product_category_id: product_category_id,
                    product_id: product_id
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {

                        if (response.data.contentList.length == 0) {
                            $("#related-product-title").css("display", "none");
                            $("#related-product").css("display", "none");
                            return;
                        }

                        var newsItem = $("#related-product");
                        var htmlList = "";
                        for (var i = 0; i < response.data.contentList.length; i++) {
                            var content = response.data.contentList[i];
                            var item = newsItem.clone().attr("id", "");

                            createProductUI(item, content);
                            $(".clearfix", item).css("display", "none");
                            if (i % 4 == 3) {
                                $(".clearfix", item).css("display", "");
                            }

                            htmlList += item.html();

                        }
                        newsItem.html(htmlList);

                    }
                }
            });
        }

        function loadWishList(product_category_id) {
            $.ajax({
                url: "/chi-tiet-san-pham/getWishProducts",
                type: "post", //send it through get method
                data: JSON.stringify({
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {

                        if (response.data.contentList.length == 0) {
                            $("#seen-product-title").css("display", "none");
                            $("#seen-product").css("display", "none");
                            return;
                        }

                        var newsItem = $("#seen-product");
                        var htmlList = "";

                        for (var i = 0; i < response.data.contentList.length; i++) {
                            var content = response.data.contentList[i];
                            var item = newsItem.clone().attr("id", "");

                            $("a", item).attr("href", "/chi-tiet-san-pham/" + content.product_slug);
                            $("h2", item).html(content.product_title);
                            $(".item-img img", item).attr("src", "/upload/" + content.product_image);
                            $(".item-img img", item).attr("alt", content.product_title);
                            $("p.buy span", item).attr("onclick", "buyNow('" + content.product_id + "')");

                            if (content.type == 1) {
                                $(".sale", item).html(format_price(content.product_price - content.fix_price) + "<sup>đ</sup>");
                                $(".price_old", item).html(format_price(content.product_price) + "<sup>đ</sup>");
                                $(".sale_tag", item).css("display", "none");
                                $(".gif_tag", item).css("display", "none");
                            } else if (content.type == 2) {
                                $(".sale", item).html(format_price(content.product_price * (100 - content.percent) / 100) + "<sup>đ</sup>");
                                $(".price_old", item).html(format_price(content.product_price) + "<sup>đ</sup>");
                                $(".sale_tag p", item).html("-" + content.percent + "<span>%</span>");
                                $(".gif_tag", item).css("display", "none");
                            } else if (content.type == 3) {
                                $(".gif_tag p", item).html(content.gift);
                            } else {
                                $(".sale_tag", item).css("display", "none");
                                $(".price_old", item).css("display", "none");
                                $(".price", item).removeClass("sale");
                                $(".gif_tag", item).css("display", "none");
                                $(".price", item).html(format_price(content.product_price) + "<sup>đ</sup>");
                            }

                            htmlList += item.html();

                        }
                        newsItem.html(htmlList);

                    }
                }
            });
        }

        function loadLatestContentList() {
            $.ajax({
                url: "/getLatestContentList",
                type: "post", //send it through get method
                data: JSON.stringify({content_id: 1}), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {

                        var htmlList = "";
                        for (var i = 0; i < response.data.contentList.length; i++) {
                            var content = response.data.contentList[i];
                            var item = latestNewsItemClone.clone()
                            $("a", item).attr("href", "/chi-tiet-mon-an-ngon/" + content.content_slug);
                            var date = content.content_created_date;
                            //date = moment(date).format('dd/MM/YYYY');
                            $("a", item).html(content.content_title + " (" + date + ")");
                            htmlList += item.html();
                        }
                        $(".list-related").html(htmlList);

                    }
                }
            });
        }

        function loadContentList(page, nbItemsOfPage) {
            $.ajax({
                url: "/chi-tiet-san-pham/getContentList",
                type: "post", //send it through get method
                data: JSON.stringify({
                    product_id: '!{product_id}',
                    page: page,
                    nbItemsOfPage: nbItemsOfPage
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        var newsItem = $("#news-item").removeClass("hide");
                        var htmlList = "";
                        for (var i = 0; i < response.data.contentList.length; i++) {
                            var content = response.data.contentList[i];
                            var item = newsItem.clone().attr("id", "");

                            $("a", item).attr("href", "/chi-tiet-mon-an-ngon/"+content.content_slug);
                            $(".desc", item).html(content.content_description);
                            //var date = moment(content.content_created_date).format('DD/MM/YYYY HH:mm:ss');
                            $(".date", item).html(content.content_created_date);
                            $("h2", item).html(content.content_title);
                            $("img", item).attr("src", "/upload/" + content.content_image);
                            htmlList += item.html();

                        }

                        newsItem.css("display", "");
                        if (response.data.contentList.length > 0) {
                            newsItem.html(htmlList);
                        } else {
                            newsItem.html('#{i18n.__("Không có bài viết nào")}');
                        }

                    }
                }
            });
        }

        function renderContentPaging() {


            $.ajax({
                url: "/chi-tiet-san-pham/countAllMonAnNgonLienQuanSanPham",
                type: "post", //send it through get method
                data: JSON.stringify({
                    product_id: '!{product_id}'
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        if (response.data.contentTotalPages <= 1) {
                            $('#content-paging').css('display', 'none');
                        }

                        $('#content-paging').twbsPagination({
                            totalPages: response.data.contentTotalPages,
                            visiblePages: 5,
                            first: "",
                            last: "",
                            prev: "&nbsp;",
                            next: "&nbsp;",
                            onPageClick: function (event, page) {
                                loadContentList(page, response.data.nbItemsOfPage);
                            }
                        });

                    }
                }
            });



        }

        function onQuantityChanged() {
            alert("lk");
            var quantity = parseInt($("#amount").val());
            if (quantity < 0) {
                $("#amount").val(0);
            }

            $(".total").html(format_price(totalPriceAmount() * $("#amount").val()) + " VNĐ");
        }

        function changeQuantity(product_id) {
            var quantity = $("#amount").val();
            if (quantity == "" || isNaN(parseInt(quantity)) || parseInt(quantity) < 1) {
                updateProductToCart(product_id, 0, function (new_quantity) {
                    $("#amount").val(new_quantity);
                    $(".total").html(format_price(totalPriceAmount() * $("#amount").val()) + " VNĐ");
                    loadCartBadge();
                });
                return;
            }
            updateProductToCart(product_id, parseInt(quantity), function (new_quantity) {
                alert("Bạn hiện đang có " + parseInt(new_quantity) + " sản phẩm trong giỏ hàng.");
                $("#amount").val(new_quantity);
                $(".total").html(format_price(totalPriceAmount() * $("#amount").val()) + " VNĐ");
                loadCartBadge();
            });
        }


        function goPrevious() {
        }
        function plusQuantity() {
            var quantity = parseInt($("#amount").val()) + 1;
            $("#amount").val(quantity < 0 ? 0 : quantity);
            $(".total").html(format_price(totalPriceAmount() * $("#amount").val()) + " VNĐ");
        }

        function minusQuantity() {
            var quantity = parseInt($("#amount").val()) - 1;
            $("#amount").val(quantity < 0 ? 0 : quantity);
            $(".total").html(format_price(totalPriceAmount() * $("#amount").val()) + " VNĐ");
        }

        function addMoreCart(product_id) {
            var currentQuantity = $("#amount").val();
            changeQuantity(product_id, currentQuantity);
        }

        function addToCartWithProductID(product_id, quantity) {
            var currentQuantity = $("#amount").val();
            if (parseInt(currentQuantity) + parseInt(quantity) < 1) {
                updateProductToCart(product_id, 0, function (new_quantity) {
                    $("#amount").val(new_quantity);
                    loadCartBadge();
                });
                return;
            }

            addToCart(product_id, parseInt(quantity), function (new_quantity) {
                alert("Bạn hiện đang có " + parseInt(new_quantity) + " sản phẩm trong giỏ hàng.");
                $("#amount").val(parseInt(new_quantity));
                loadCartBadge();
            });
        }

        function carosel(productId, productTitle, productImage) {

            function insertImage(productImage, productTitle) {
                var slideProductItemClone = $("#foo3").clone();
                var item = slideProductItemClone.clone();

                return item;
            }

            $.ajax({
                url: "/chi-tiet-san-pham/getSliderProductImages",
                type: "post", //send it through get method
                data: JSON.stringify({
                    product_id: productId
                }), contentType: "application/json",

                success: function (response) {

                    var htmlList = "";
                    var item = insertImage(productImage, productTitle);
                    htmlList += item.html();

                    if (response.response_code == "SUCC_EXEC") {

                        for (var i = 0; i < response.data.contentList.length; i++) {
                            var content = response.data.contentList[i];
                            var item = insertImage(content.image, productTitle);
                            htmlList += item.html();

                        }

                        //htmlList += "<li class='clear'></li>";
                        $("#foo3").html(htmlList);
                        $("#product-image").attr("src", "/upload/" + productImage);
                        $("#product-image").attr("alt", productTitle);

                    }
                }
            });


        }
        function buy(){
            var product = "#{product_id}";
            buyNow(product)
        }
        $(document).ready(function () {
            var product = "#{product_id}";
            console.log("product")
            console.log(product)
            load_meta_product_detail();
            loadProductDetail(function () {
            });
            renderContentPaging();
            loadWishList();
            loadLatestContentList();
            $('#foo3').lightSlider({
                gallery: false,
                slideMargin: 0,
                keyPress: true,
                controls: true,
                vThumbWidth: 50,
                enableDrag: false,
                prevHtml: '<button style="background: transparent;border: none">&lt;\t</button>',
                nextHtml: '<button style="background: transparent;border: none">&gt;\t</button>',
                pager: false,
                currentPagerPosition: 'left',
                onSliderLoad: function (el) {
                }
            });
        });


