extends layout
block Content
    script.
        var content_id = "#{content_id}"
    main#main
        #banner-intro(style="display:none;")
            a(href="#")
                img(alt='Công ty cổ phần opera')
        .container.box-width.box-bg
            .col-lg-12.top-space
                .col-lg-1
                .col-lg-10
                    .new_title_bar.col-lg-12
                        div.col-lg-12
                            img.sm-square-icon.image-need-lazy-load(data-src="../img/right-arrow.png")
                            a(href='/cam-nang-mon-ngon') #{i18n.__("Cẩm nang món ngon")}
                            img.sm-square-icon.image-need-lazy-load(data-src="../img/right-arrow.png")
                            a.active#content-title(href='javascript:void(0)')
                            .line-wrapper-news
                                .line-news
                    #product
                        .direct
                            //ul
                                //li
                                    a(href='/')
                                        img(src='/img/index.png', alt='Trang chủ')
                                li
                                    a(href='/cam-nang-mon-ngon') #{i18n.__("Cẩm nang món ngon")}
                                li
                                    a.active#content-title(href='javascript:void(0)')
                            .clearfix
                        #content-detail.info

                        .clearfix
                    .clearfix
                    .list-related(style='display:none;')
                        a(href='#')
                .col-lg-1

    script.
        var latestNewsItemClone = $(".list-related").clone();

        function loadContentDetail() {
            $.ajax({
                url: "/chi-tiet-mon-an-ngon/getContent",
                type: "post", //send it through get method
                data: JSON.stringify({
                    id: '!{content_id}'
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {

                        $("#content-title").html(response.data.contentDetails.content_title);
                        $("#content-image").attr("src", "/upload/" + response.data.contentDetails.content_image);
                        $("#content-image").attr("alt", response.data.contentDetails.content_title);
                        $("#content-detail").html(response.data.contentDetails.content_contentHTML);
                        setTimeout(function () {
                            var width = $("#content-title").width();
                            $(".line-wrapper-news").css("padding-left", 270 + width);
                        }, 1000);

                    }
                }
            });
        }

        function loadLatestContentList() {
            $.ajax({
                url: "/getLatestContentList",
                type: "post", //send it through get method
                data: JSON.stringify({
                    content_id: '!{content_id}'
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {

                        var htmlList = "";
                        for (var i = 0; i < response.data.contentList.length; i++) {
                            var content = response.data.contentList[i];
                            var item = latestNewsItemClone.clone()
                            if(content.id != '!{content_id}'){
                                $("a", item).attr("href", "/chi-tiet-mon-an-ngon/" + content.content_slug);
                                var date = content.content_created_date;
                                //date = moment(date).format('dd/MM/YYYY HH:mm:ss');
                                $("a", item).html(content.content_title + " (" + date + ")");
                                htmlList += item.html();
                            }
                        }

                        if (response.data.contentList.length > 0) {
                            $('.list-related').css("display", "");
                            $(".list-related").html(htmlList);
                        }

                    }
                }
            });
        }

        function loadBanner() {
            $.ajax({
                url: "/chi-tiet-mon-an-ngon/getBanner",
                type: "post", //send it through get method
                data: JSON.stringify({
                    content_id: '!{content_id}'
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        if (response.data.bannerItem && response.data.bannerItem.content_image_banner) {
                            $("#banner-intro").css("display", "");
                            $("#banner-intro img").attr("src", '/upload/' + response.data.bannerItem.content_image_banner);
                            $("#banner-intro a").attr("href", response.data.bannerItem.content_link);
                        }

                    }
                }
            });
        }

        $(document).ready(function () {
            loadContentDetail();
            load_meta_delicious_food_detail();
            // loadLatestContentList();
            loadBanner();
        });