extends layout
block Content
    main#main
        #banner-intro
            img(src='img/slider2.png', alt='Công ty cổ phần opera')
        .container
            #introduce
                #menu-left
                    span #{person.name}
                    ul
                        li
                            a(href='thong-tin-tai-khoan') #{i18n.__("Thông tin tài khoản")}
                        li.active
                            a(href='lich-su-mua-hang') #{i18n.__("Lịch sử đơn hàng")}
                        li
                            a(href='so-dia-chi') #{i18n.__("Sổ địa chỉ")}
                        li
                            a(href='#' onclick='front_logout()') #{i18n.__("Đăng xuất")}
                #content
                    .title
                        h1 #{i18n.__("Lịch sử đơn hàng")}
                    .info-user
                        table#tblOrdered(cellpadding='5', cellspacing='0', border='1', bordercolor='#939597', width='100%')
                            thead
                                tr
                                    td(width='15%') #{i18n.__("Mã sản phẩm")}
                                    td(width='35%') #{i18n.__("Tên sản phẩm")}
                                    td(width='30%') #{i18n.__("Giá")}
                                    td(width='20%') #{i18n.__("Số lượng")}
                                    td(width='25%') #{i18n.__("Thành tiền")}
                            tbody
                                -for (var i = 0; i < order_detail.length; i++)
                                    tr
                                        td #{order_detail[i].product_code}
                                        td #{order_detail[i].product_title}
                                        td.price #{(order_detail[i].cal_price)}
                                        td #{order_detail[i].order_detail_quantity}
                                        td.price #{order_detail[i].cal_total}
                .clearfix

    script(type='text/javascript', src='js/lich-su-mua-hang.js')
