extends layout
block Content
    script.
        var content_id = "#{mainContent.content_id}"
    main#main
        if mainContent && mainContent.content_image
            #banner-intro
                a(href=mainContent.content_link)
                    img(src='/upload/'+mainContent.content_image, alt='Công ty cổ phần opera')
        .container.box-width.box-bg
            .col-lg-12.top-space
                .col-lg-1
                .col-lg-2
                    .menu-product-detail
                        #title-menu-external-left
                            div
                                img.sm-square-icon.image-need-lazy-load(data-src="../img/right-arrow.png")
                                div #{i18n.__("Chính sách bán hàng")}
                        .menu-product-detail.add-padding-right
                            ul#product-detail-categories(data=contentList)
                                li.active-menu-category
                                    a(href='')
                .col-lg-1
                .col-lg-7.fix-product-detail
                    .new_title_bar.col-lg-12
                        div.col-lg-3
                            div.remove-text-font #{i18n.__("Quy định chung")}
                        div.col-lg-9
                            div
                    #introduce
                        #content
                            if mainContent
                                //.title
                                    h1 #{mainContent.content_title}
                                .content!= mainContent.content_contentHTML
                            else
                                //.title
                                .content

                        .clearfix
                .col-lg-1
    script.
        $(document).ready(function () {
            $(".menu-chinh-sach").addClass("active");
            function loadLeftMenu(){
                var _this = this;
                var array = JSON.parse($("#product-detail-categories").attr("data"));
                var root = $("#product-detail-categories");
                root.attr("id", "");
                var rootClone = root.clone();
                root.html('');
                jQuery.each(array, function (index, content) {

                    var item = rootClone.clone();
                    $("a", item).html(content.content_title).css("cssText", "text-transform: none !important;");
                    $("a", item).attr("href", "/chinh-sach/" + content.content_slug);

                    var a = root.html();
                    if (index == 0) {
                        $("li", item).css("border-top", "0px");
                    }
                    $("li", item).removeClass("active-menu-category");
                    if (content.content_id == content_id) {
                        $("li", item).addClass("active-menu-category");
                    }
                    item.css("list-style-type", "none");
                    root.html(root.html() + item.html());
                });
            }
            loadLeftMenu();
            load_meta_chinh_sach();
        });