extends layout
block Content
    style(type='text/css').
        .bottom {
            visibility: hidden;
            bottom: 0;
            position: absolute;
        }
        .temp{
            top:0;
            width: max-content!important;
            padding-left: 350px;
            position: absolute;
        }
        .black {
            color: black!important;
        }
        .left {
            float: left!important;
        }


        #account1 li {
            float: right;
            text-align: center;
        }

        #account1 li:last-child {
            position: relative;
        }

        #account1 li:last-child a {
            width: 60%;
            background: url('../img/user.png') no-repeat top center;
        }

        #account1 li a {
            outline: none;
        }

        #account1 li:last-child a {
            font-size: 13px;
            font-family: 'UTMHelve';
            color: #939597;
            outline: none;
        }

        #account1 li:first-child {
            width: 100%;
        }

        #account1 li:first-child img {
            float: right;
            margin-top: 5px;
        }

        #account1 li:first-child span {
            float: right;
            color: #E51B23;
        }

        #account1 li .info-account {
            position: absolute;
            top: 100%;
            left: -20px;
            width: 180px;
            background-color: #E0E7EB;
            z-index: 1001;
            padding: 10px;
            text-align: left;
            display: none;
            margin-left: 350px !important;
            margin-top: 30px !important;
        }

        #account1 li .info-account a {
            display: block;
            width: 100%;

            position: relative;
            background: none;
            padding: 5px 0px 5px 22px;
            border-bottom: 1px solid #626366;
            color: #626366;
            font-size: 14px;
            outline: none;
        }






    main.box-width.box-bg
        .col-lg-12.top-space.box-bg
            .col-lg-1
            .col-lg-10
                //.step
                    .container
                        .col-md-8.col-lg-8.col-sm-6.col-xx-12.col-xs-12
                            span www.opera.vn
                        .col-md-4.col-lg-4.col-sm-6.col-xx-12.col-xs-12
                            ul
                                li.active
                                    a(href='#') 1.#{i18n.__("Địa chỉ")}
                                li
                                    a(href='#') 2.#{i18n.__("Thanh toán")}
                        .clearfix
                .container
                    #cart
                        .col-md-7.col-lg-7.col-sm-12.col-xx-12.col-xs-12
                            .col-lg-3
                                img.web-logo-cart(src="../img/web-icon.png")
                            .clearfix
                            .col-lg-12.path-cart
                                div #{i18n.__("Giỏ hàng")}
                                div >
                                div #{i18n.__("Thông tin giao hàng")}
                            .clearfix
                            //.cart-address
                                .col-md-8.col-lg-8.col-sm-12.col-xx-12.col-xs-12
                                    p.left #{i18n.__("Địa chỉ giao hàng của quý khách")}
                                    //ul#account1.left
                                        li
                                            a.temp.black() #{i18n.__("Đăng nhập để đặt hàng")}
                                            .info-account
                                                fb:login-button(scope="public_profile,email" onlogin="checkLoginState();")

                                .col-md-4.col-lg-4.col-sm-4.col-xx-12.col-xs-12

                                .clearfix
                            br
                            br
                            br
                            .col-lg-8.add-text-align.cart-title #{i18n.__("Thông tin giao hàng")}
                            .clearfix
                            .address-frm
                                form(action='')
                                    //.col-md-3.col-lg-3.col-sm-3.col-xx-5.col-xs-12
                                        label(for='') #{i18n.__("Email")}
                                    .col-md-5.col-lg-12.col-sm-5.col-xx-7.col-xs-12
                                        input.add-input#name(type='text', placeholder=i18n.__("Họ và tên"), name='name')
                                    .clearfix
                                    .col-lg-12
                                        .col-md-5.col-lg-8.col-sm-5.col-xx-7.col-xs-12
                                            input.add-input#email(type='text', placeholder=i18n.__("Email"), name='email')
                                        .col-md-5.col-lg-4.col-sm-5.col-xx-7.col-xs-12.cart-frm-padding
                                            input.add-input#phone(type='text', placeholder=i18n.__("Số điện thoại"), name='phone')
                                    //.col-md-4.col-lg-4.col-sm-4.col-xx-12.col-xs-12
                                        p
                                    .clearfix
                                    .col-md-5.col-lg-12.col-sm-5.col-xx-7.col-xs-12
                                        input.add-input#address(type='text', name='address', placeholder=(i18n.__("Địa chỉ (tầng, số nhà, đường, phường/xã)")))
                                    //.col-md-3.col-lg-3.col-sm-3.col-xx-5.col-xs-12
                                        label(for='') #{i18n.__("Tên")}

                                    //.col-md-4.col-lg-4.col-sm-4.col-xx-12.col-xs-12
                                        p
                                    .clearfix
                                    .col-lg-12.card-select-group
                                        .col-lg-6.cart-add-select#first-select
                                            .col-lg-12.cart-add-select-border
                                                .col-lg-9
                                                    .col-lg-12
                                                        div.cart-add-text-up #{i18n.__("Tỉnh / Thành")}
                                                    .col-lg-12
                                                        //div.cart-add-text-down Chọn tỉnh / thành
                                                        select#city(name='city' onchange="change_city()")
                                                            option#option(value='-1') #{i18n.__("Chọn Tỉnh / Thành")}
                                                .col-lg-1
                                                    div.cart-add-vertical-line
                                                .col-lg-1
                                                    img.cart-down-arrow(src="../img/down-arrow-grey.png",width=10,height=10)
                                                .col-lg-1
                                        .col-lg-6.cart-add-select#second-select
                                            .col-lg-12.cart-add-select-border
                                                .col-lg-9
                                                    .col-lg-12
                                                        div.cart-add-text-up #{i18n.__("Quận / Huyện")}
                                                    .col-lg-12
                                                        select#district(name='district')
                                                            option(value='-1') #{i18n.__("Chọn Quận / Huyện")}
                                                .col-lg-1
                                                    div.cart-add-vertical-line
                                                .col-lg-1
                                                    img.cart-down-arrow(src="../img/down-arrow-grey.png",width=10,height=10)
                                                .col-lg-1
                                        //.col-lg-4.cart-add-select#last-select
                                            .col-lg-12.cart-add-select-border.add-float-right
                                                .col-lg-9
                                                    .col-lg-12
                                                        div.cart-add-text-up #{i18n.__("Phường / Xã")}
                                                    .col-lg-12
                                                        select(name='district')
                                                            option(value='-1') #{i18n.__("Chọn Phường / Xã")}
                                                .col-lg-1
                                                    div.cart-add-vertical-line
                                                .col-lg-1
                                                    img.cart-down-arrow(src="../img/down-arrow-grey.png",width=10,height=10)
                                                .col-lg-1
                                        .col-lg-4

                                    //.col-md-3.col-lg-3.col-sm-3.col-xx-5.col-xs-12
                                        label(for='') #{i18n.__("Tỉnh/Thành phố")}
                                    //.col-md-5.col-lg-5.col-sm-5.col-xx-7.col-xs-12
                                        select#city(name='city' onchange="change_city()")
                                            option#option(value='-1') #{i18n.__("Lựa chọn")}
                                    //.col-md-4.col-lg-4.col-sm-4.col-xx-12.col-xs-12
                                        p
                                    .clearfix
                                    .col-lg-12
                                        br
                                        div#cart-miss-info.visible-hidden-element Vui lòng nhập đầy đủ thông tin chi tiết để nhận hàng nhanh hơn
                                    br
                                    br
                                    .col-lg-12
                                        br
                                        div.cart-text-title-form Phương thức vận chuyển
                                    .clearfix
                                    br
                                    .col-lg-12#transfer-method
                                        img(src="../img/cart-method.png")
                                        div Vui lòng chọn Tỉnh / Thành để có danh sách phương thức vận chuyển
                                    br
                                    br
                                    .col-lg-12
                                        br
                                        div.cart-text-title-form Phương thức thanh toán
                                    .clearfix
                                    br
                                    .col-lg-12#transfer-method-list
                                        .col-lg-12.item
                                            input(type='radio', name='gender', value="0" checked="true")
                                            | Thanh toán khi nhận hàng (COD)
                                        .col-lg-12.item
                                            input(type='radio', name='gender', value="0" disabled='true')
                                            | Thanh toán online qua cổng Napas bằng thẻ ATM nội địa
                                        .col-lg-12.item
                                            input(type='radio', name='gender', value="0" disabled='true')
                                            | Thanh toán online qua cổng Napas bằng thẻ Visa/Master Card
                                        .col-lg-12.item.last-item
                                            input(type='radio', name='gender', value="0" disabled='true')
                                            | Thanh toán online qua ví MoMo
                                    .clearfix
                                    br
                                    .clearfix
                                    .col-lg-12.foot-cart
                                        br
                                        a(href='/gio-hang') < Giỏ hàng
                                        button(onclick="create_order(); return false" date-text="#{i18n.__('Đã đặt hàng thành công')}") Hoàn tất đơn hàng
                                        div.visible-hidden-element#text-alert #{i18n.__("Đã đặt hàng thành công")}
                                    //.col-md-3.col-lg-3.col-sm-3.col-xx-5.col-xs-12
                                        label(for='') #{i18n.__("Quận/Huyện")}
                                    //.col-md-5.col-lg-5.col-sm-5.col-xx-7.col-xs-12
                                        select#district(name='district')
                                            option(value='-1') #{i18n.__("Lựa chọn")}
                                    //.col-md-4.col-lg-4.col-sm-4.col-xx-12.col-xs-12
                                        p #{i18n.__("Để đảm bảo cho việc giao hàng vui lòng nhập chính xác Quận và Phường")}
                                    //.clearfix
                                    //.col-md-3.col-lg-3.col-sm-3.col-xx-5.col-xs-12
                                        label(for='')
                                            | #{i18n.__("Địa chỉ nhận hàng")}
                                            br
                                            | (#{i18n.__("Tầng, số nhà, đường")})

                                    //.col-md-4.col-lg-4.col-sm-4.col-xx-12.col-xs-12
                                        p
                                    //.clearfix
                                    //.col-md-3.col-lg-3.col-sm-3.col-xx-5.col-xs-12
                                        label(for='') #{i18n.__("Điện thoại di dộng")}

                                    //.col-md-4.col-lg-4.col-sm-4.col-xx-12.col-xs-12
                                        p
                                            | #{i18n.__("Operamart hoặc tổng đài tự động của chúng tôi sẽ liên hệ quý khách theo số điện thoại này để xác nhận thông báo giao hàng")}
                                    .clearfix
                                    //.col-md-12.col-lg-12.col-sm-12.col-xx-12.col-xs-12
                                        p.check-address
                                            input#diff(type='checkbox', name='check')
                                            |  #{i18n.__("Thông tin thanh toán khác địa chỉ giao hàng")}
                        .col-md-1.col-lg-1.col-sm-12.col-xx-12.col-xs-12
                        .col-md-4.col-lg-4.col-sm-12.col-xx-12.col-xs-12
                            .summary-order
                                //.col-md-7.col-lg-7.col-sm-7.col-xx-7.col-xs-7
                                    span.total-amount
                                        | #{i18n.__("Đơn hàng")} (
                                        span#count-product 1
                                        |  #{i18n.__("Sản phẩm")})
                                //.col-md-5.col-lg-5.col-sm-5.col-xx-5.col-xs-5.align-right
                                    a.change-order(href='gio-hang')
                                        | #{i18n.__("thay đổi")}
                                .clearfix
                                .content-summary
                                    //p.time-shipper
                                        span #{ship_time}
                                    .list-pro-order
                                        table#product-list(width='100%', cellpadding='0', cellspacing='0', border='0')
                                            tbody
                                                tr.bottom#item
                                                    td(width='25%')
                                                        div.number() 30
                                                        a(href='')
                                                            img.img-url(src='/img/product2.png', alt='')

                                                    td(width='45%')
                                                        h3.h3
                                                        p.quatang-product.red
                                                    td(width='30%', align='right')
                                                        p.price-p
                                                        p.khuyen-mai-product.red
                                                        p.quantity-p
                                                        p.total-p
                                    .cart-line
                                    .clearfix
                                    br
                                    .col-lg-12
                                        .col-md-6.col-lg-9.col-sm-6.col-xx-6.col-xs-7.add-padding-right-ten
                                            input#promotion(type='text', name='promotion', placeholder='Mã giảm giá')
                                        .col-md-6.col-lg-3.col-sm-6.col-xx-6.col-xs-5#promotion-code
                                            input(type='button', value='Sử dụng' onclick="activeCoupon();")
                                    .clearfix
                                    br
                                    .cart-line
                                    br
                                    .total-money
                                        .col-md-7.col-lg-7.col-sm-7.col-xx-7.col-xs-7.add-float-left
                                            | #{i18n.__("Tạm tính")}
                                        .col-md-5.col-lg-5.col-sm-5.col-xx-5.col-xs-5.align-right
                                            span.add-text-bold#sum 0đ
                                        .clearfix
                                        #khuyen-mai-span(style="display:none")
                                            .col-md-7.col-lg-7.col-sm-7.col-xx-7.col-xs-7.add-float-left
                                                | #{i18n.__("Khuyến mãi")}
                                            .col-md-5.col-lg-5.col-sm-5.col-xx-5.col-xs-5.align-right
                                                #khuyen-mai
                                        .clearfix
                                        .col-md-7.col-lg-7.col-sm-7.col-xx-7.col-xs-7.add-float-left
                                            | #{i18n.__("Phí vận chuyển")}
                                        .col-md-5.col-lg-5.col-sm-5.col-xx-5.col-xs-5.align-right
                                            span#phi-van-chuyen
                                        .clearfix
                                        //.col-md-7.col-lg-7.col-sm-7.col-xx-7.col-xs-7
                                        //    | #{i18n.__("Tổng phí vận chuyển")}
                                        //.col-md-5.col-lg-5.col-sm-5.col-xx-5.col-xs-5.align-right
                                        //    span.red#tong-phi-van-chuyen
                                        //.clearfix
                                    br
                                    .cart-line
                                    br
                                    .total-money
                                        .col-md-5.col-lg-3.col-sm-7.col-xx-7.col-xs-7.add-text-bold
                                            | #{i18n.__("Tổng cộng")}
                                        .col-md-7.col-lg-9.col-sm-5.col-xx-5.col-xs-5.align-right
                                            span.money-text VND
                                            span#total 0đ
                                        .clearfix
                                    .col-lg-12.cart-text Thái Long sẽ XÁC NHẬN đơn hàng bằng TIN NHẮN SMS hoặc GỌI ĐIỆN. Bạn vui lòng kiểm tra TIN NHẮN hoặc NGHE MÁY ngay khi đặt hàng thành công và CHỜ NHẬN HÀNG

                                //.promotion-code
                                    p
                                        img(src='img/code.png', alt='')
                                        | Sử dụng mã khuyến mãi

                                    .clearfix
                                    p
                                        | Sau khi áp dụng, mã khuyến mại có thể không dùng được trong vòng 15 phút.
                                        img(src='img/note.png', alt='')
                                    .clearfix

                        .clearfix
                        //.time-shipping
                            h3 #{i18n.__("Thời gian giao hàng dự kiến")}
                            .content
                                p.item-1
                                    img(src='img/transport.png', alt='')
                                    |   #{i18n.__("CHI PHÍ GIAO HÀNG")}
                                p.item-2
                                    | #{i18n.__("Phí vận chuyển tiêu chuẩn")}:
                                    span#span-phi-van-chuyen
                                p.item-3
                                    | #{ship_time}
                                .item-4#list_item
                                    button.edit-info(onclick="create_order()" )
                                        | #{i18n.__("Tiếp tục")} >>
            .col-lg-1
    script(type='text/javascript', src='js/chon-dia-chi-giao-hang.js')

    script.
        var page_name = "chon-dia-chi-giao-hang";
        function logined() {
            $.ajax({
                url: "updateUsername",
                type: "post", //send it through get method
                data: "", contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        $('#login-to-order').html("#{i18n.__("Chào")}" + response.data);
                    }
                }
            });
        }
        var couponActive = false;
        function activeCoupon() {
            if (couponActive) {
                return;
            }
            var coupon = $("#promotion").val();
            $.ajax({
                url: "chon-dia-chi-giao-hang/activeCoupon",
                type: "post", //send it through get method
                data: JSON.stringify({
                    coupon: coupon
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        couponActive = true;
                        $("#promotion").prop('disabled', true);
                        $("#khuyen-mai-span").css("display", "");
                        $("#khuyen-mai").html("-" + format_price(response.data.promotion) + "đ");
                        total_amount = total_amount - response.data.promotion;
                        $('#total').html(format_price(total_amount) + " đ");
                    } else {
                        couponActive = false;
                        alert("#{i18n.__("Mã không hợp lệ.")}");
                    }
                }
            });
        }

        function showTimeShipping() {
            $.ajax({
                url: "getTimeShipping",
                type: "post", //send it through get method
                data: "", contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        // nothing
                    }
                }
            });

        }

        $("#account1 li:last-child a").click(function (event) {
            event.preventDefault();
            if ($(this).next().length > 0) {
                if ($(this).next().hasClass('active')) {
                    $(this).next().slideUp();
                    $(this).next().removeClass('active')
                } else {
                    $(this).next().addClass('active')
                    $(this).next().slideDown();
                }
            }
        });

        function loadCountProduct() {
            $.ajax({
                url: "getCartBadge",
                type: "post", //send it through get method
                data: JSON.stringify({}),
                contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        $("#count-product").html(response.data.badge);
                    }
                }
            });
        }

        function loadCart() {
            $.ajax({
                url: "getCart",
                type: "post", //send it through get method
                data: JSON.stringify({}), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {

                        if (response.data.products.length == 0) {
                            return;
                        }
                        var total = 0;
                        var htmlList = "";
                        var cartItem = $("#item");
                        var phi_van_chuyen = parseInt(response.data.phi_van_chuyen);
                        $("#phi-van-chuyen").html(format_price(phi_van_chuyen) + "đ");
                        $("#span-phi-van-chuyen").html(format_price(phi_van_chuyen) + "đ");
                        $("#tong-phi-van-chuyen").html(format_price(phi_van_chuyen) + "đ");

                        $('#sum').html(format_price(response.data.total_amount_after_product_promotion) + "đ");
                        $('#total').html(format_price(response.data.final_total_amount) + "đ");
                        total_amount = response.data.final_total_amount;

                        response.data.products.forEach(function (content) {

                            total_quantity++;
                            var order_quantity = content.product_order_quantity;
                            var item = cartItem.clone().removeClass("bottom").addClass("cart-td");
                            item.attr("id", content.product_id);
                            item.find(".img-url").attr("src", "../upload/" + content.product_image);
                            item.find(".img-url").attr("alt", content.product_title);
                            item.find(".h3").html(content.product_title);
                            // item.find(".quantity-p").html("x" + order_quantity);
                            item.find(".number").html(order_quantity);
                            item.find(".price-p").html(format_price(content.product_price) + "đ");

                            var promotion_amount = 0;
                            calcDiscount(content.product_price, content, false, function (discount) {
                                $(".khuyen-mai-product", item).css("display", "");
                                if (discount.type == 1) {
                                    promotion_amount = discount.discount_amount * order_quantity;
                                    total -= promotion_amount;

                                    $(".price-p", item).html(format_price(content.product_price - discount.discount_amount) + "đ");
                                    $(".price-p", item).addClass("red");
                                    $(".khuyen-mai-product", item).html("(" + format_price(content.product_price) + "đ)");
                                    $(".khuyen-mai-product", item).addClass("old-price");
                                    $(".khuyen-mai-product", item).removeClass("red");

                                } else if (discount.type == 3) {
                                    loadProductGift(content.product_id, function (productGifts, available) {
                                        if (available) {
                                            $(".quatang-product", item).html("#{i18n.__("Tặng")} " + productGifts[0].gift);
                                        } else {
                                            $(".quatang-product", item).html("#{i18n.__("Không còn sản phẩm quà tặng")} ");
                                        }
                                    });
                                }
                            });

                            item.find(".total-p").html(format_price(content.product_price * order_quantity - promotion_amount) + "đ");
                            total += content.product_price * order_quantity;
                            var $tableBody = $('#product-list').find("tbody");
                            var $trLast = $tableBody.find("tr:last");
                            $trLast.after(item);

                            htmlList += '<p>' + content.product_title + '</p>';
                        });

                        $('#list_item').prepend(htmlList);
                    }
                }
            });
        }

        function check_loaded() {
            $.ajax({
                url: "chon-dia-chi-giao-hang/checkLoaded",
                type: "post", //send it through get method
                data: JSON.stringify({
                }),
                contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        if (response.data) {
                            window.location = "san-pham";
                        }
                    }
                }
            });
        }

        function ExpandSelect(select, maxOptionsVisible) {

            //
            // ExpandSelect 1.00
            // Copyright (c) Czarek Tomczak. All rights reserved.
            //
            // License:
            //      New BSD License (free for any use, read more at https://www.opensource.org/licenses/bsd-license.php)
            //
            // Project's website:
            //      https://code.google.com/p/expandselect/
            //

            if (typeof maxOptionsVisible == "undefined") {
                maxOptionsVisible = 20;
            }
            if (typeof select == "string") {
                select = document.getElementById(select);
            }
            if (typeof window["ExpandSelect_tempID"] == "undefined") {
                window["ExpandSelect_tempID"] = 0;
            }
            window["ExpandSelect_tempID"]++;

            var rects = select.getClientRects();

            // ie: cannot populate options using innerHTML.
            function PopulateOptions(select, select2) {
                select2.options.length = 0; // clear out existing items
                for (var i = 0; i < select.options.length; i++) {
                    var d = select.options[i];
                    select2.options.add(new Option(d.text, i))
                }
            }

            var select2 = document.createElement("SELECT");
            //select2.innerHTML = select.innerHTML;
            PopulateOptions(select, select2);
            select2.style.cssText = "visibility: hidden;";
            if (select.style.width) {
                select2.style.width = select.style.width;
            }
            if (select.style.height) {
                select2.style.height = select.style.height;
            }
            select2.id = "ExpandSelect_" + window.ExpandSelect_tempID;

            select.parentNode.insertBefore(select2, select.nextSibling);
            select = select.parentNode.removeChild(select);

            if (select.length > maxOptionsVisible) {
                select.size = maxOptionsVisible;
            } else {
                select.size = select.length;
            }

            if ("pageXOffset" in window) {
                var scrollLeft = window.pageXOffset;
                var scrollTop = window.pageYOffset;
            } else {
                // ie <= 8
                // Function taken from here: http://help.dottoro.com/ljafodvj.php
                function GetZoomFactor() {
                    var factor = 1;
                    if (document.body.getBoundingClientRect) {
                        var rect = document.body.getBoundingClientRect();
                        var physicalW = rect.right - rect.left;
                        var logicalW = document.body.offsetWidth;
                        factor = Math.round((physicalW / logicalW) * 100) / 100;
                    }
                    return factor;
                }

                var zoomFactor = GetZoomFactor();
                var scrollLeft = Math.round(document.documentElement.scrollLeft / zoomFactor);
                var scrollTop = Math.round(document.documentElement.scrollTop / zoomFactor);
            }

            select.style.position = "absolute";
            select.style.left = (rects[0].left + scrollLeft) + "px";
            select.style.top = (rects[0].top + scrollTop) + "px";
            select.style.zIndex = "1000000";

            var keydownFunc = function (e) {
                e = e ? e : window.event;
                // Need to implement hiding select on "Escape" and "Enter".
                if (e.altKey || e.ctrlKey || e.shiftKey || e.metaKey) {
                    return 1;
                }
                // Escape, Enter.
                if (27 == e.keyCode || 13 == e.keyCode) {
                    select.blur();
                    return 0;
                }
                return 1;
            };

            if (select.addEventListener) {
                select.addEventListener("keydown", keydownFunc, false);
            } else {
                select.attachEvent("onkeydown", keydownFunc);
            }

            var tempID = window["ExpandSelect_tempID"];

            var clickFunc = function (e) {
                e = e ? e : window.event;
                if (e.target) {
                    if (e.target.tagName == "OPTION") {
                        select.blur();
                    }
                } else {
                    // IE case.
                    if (e.srcElement.tagName == "SELECT" || e.srcElement.tagName == "OPTION") {
                        select.blur();
                    }
                }
            };

            if (select.addEventListener) {
                select.addEventListener("click", clickFunc, false);
            } else {
                select.attachEvent("onclick", clickFunc);
            }

            var blurFunc = function () {
                if (select.removeEventListener) {
                    select.removeEventListener("blur", arguments.callee, false);
                    select.removeEventListener("click", clickFunc, false);
                    select.removeEventListener("keydown", keydownFunc, false);
                } else {
                    select.detachEvent("onblur", arguments.callee);
                    select.detachEvent("onclick", clickFunc);
                    select.detachEvent("onkeydown", keydownFunc);
                }
                select.size = 1;
                select.style.position = "static";
                select = select.parentNode.removeChild(select);
                var select2 = document.getElementById("ExpandSelect_" + tempID);
                select2.parentNode.insertBefore(select, select2);
                select2.parentNode.removeChild(select2);

            };

            if (select.addEventListener) {
                select.addEventListener("blur", blurFunc, false);
            } else {
                select.attachEvent("onblur", blurFunc);
            }

            document.body.appendChild(select);
            select.focus();
        }

        check_loaded();
        //logined();
        loadCountProduct();
        //showTimeShipping();
        $("#first-select").click(function () {
            ExpandSelect("city");
        });
        $("#second-select").click(function () {
            ExpandSelect("district");
        });
        setTimeout(function () {
            loadCart();
        }, 3000);
