extends layout
block Content
    style(type='text/css').
        .bottom {
            visibility: hidden;
            bottom: 0;
            position: absolute;
        }

    main#main
        .step
            .container
                .col-md-8.col-lg-8.col-sm-8.col-xx-12.col-xs-12
                    span www.opera.vn
                .col-md-4.col-lg-4.col-sm-4.col-xx-12.col-xs-12
                    ul
                        li
                            a(href='chon-dia-chi-giao-hang') #{i18n.__("Địa chỉ")}
                        li.active
                            a(href='#') #{i18n.__("Thanh toán")}
                .clearfix
        .container
            #cart
                .col-md-8.col-lg-8.col-sm-12.col-xx-12.col-xs-12
                    .time-shipping-method
                        h3 #{i18n.__("Phương thức thanh toán")}
                        .content
                            ul
                                li
                                    input#method1(type='radio', name='method-checkout')
                                    label(for='method1')
                                        .method
                                            img(src='img/method1.png', alt='')
                                            ul
                                                li #{i18n.__("Thanh toán khi nhận hàng")}
                                                li
                                                    | #{i18n.__("Quý khách sẽ thanh toán bằng tiền mặt hoặc thẻ khi Opera giao hàng cho quý khách.")}
                                    .clearfix
                                //li
                                    input#method2(type='radio', name='method-checkout')
                                    label(for='method2')
                                        .method
                                            img(src='img/method2.png', alt='')
                                            ul
                                                li #{i18n.__("Thanh toán bằng thẻ ATM")}
                                                li #{i18n.__("Quý khách sẽ được chuyển tới Napas để thanh toán.")}
                                    .clearfix
                                //li
                                    input#method3(type='radio', name='method-checkout')
                                    label(for='method3')
                                        .method
                                            img(src='img/method3.png', alt='')
                                            ul
                                                li #{i18n.__("Thanh toán bằng thẻ thanh toán quốc tế")}
                                                li #{i18n.__("Quý khách sẽ được chuyển đế Onepay để thanh toán.")}
                                    .clearfix

                    .edit-info-shipping
                        p
                            a(href="chon-dia-chi-giao-hang")
                                img(src='img/change.png', alt='')
                                | #{i18n.__("Chỉnh sửa thông tin giao hàng")}
                        .col-md-6.col-lg-6.col-sm-6.col-xx-6.col-xs-12
                        .col-md-6.col-lg-6.col-sm-6.col-xx-6.col-xs-12
                            input.edit-info(type='button', value=i18n.__("Thanh toán") onclick='pay("'+order_id+'")')
                        .col-md-5.col-lg-5.col-sm-5.col-xx-5.col-xs-12
                        .col-md-7.col-lg-7.col-sm-7.col-xx-12.col-xs-12
                            p.note
                                | #{i18n.__("Bằng việc ấn nút Thanh toán trên, Quý khách xác nhận đã kiểm tra kỹ đơn hàng với")}
                                span  #{i18n.__("Điều khoản & Điều kiện giao dịch")}
                                |  #{i18n.__("của Operamart")}
                        .clearfix
                .col-md-4.col-lg-4.col-sm-12.col-xx-12.col-xs-12
                    .summary-order
                        .col-md-7.col-lg-7.col-sm-7.col-xx-7.col-xs-7
                            span.total-amount
                                | #{i18n.__("Đơn hàng")} (
                                span#count-product 1
                                |  #{i18n.__("Sản phẩm")})
                        .col-md-5.col-lg-5.col-sm-5.col-xx-5.col-xs-5.align-right
                            a.change-order(href='gio-hang')
                                | #{i18n.__("thay đổi")}
                        .clearfix
                        .content-summary
                            p.time-shipper
                                span #{ship_time}
                            .list-pro-order
                                table#product-list(width='100%', cellpadding='0', cellspacing='0', border='0')
                                    tbody
                                        tr.bottom#item
                                            td(width='25%')
                                                a(href='')
                                                    img.img-url(src='img/product2.png', alt='')
                                            td(width='45%')
                                                h3.h3
                                                p.quatang-product.red
                                            td(width='30%', align='right')
                                                p.price-p
                                                p.khuyen-mai-product.red
                                                p.quantity-p
                                                p.total-p

                            .total-money
                                .col-md-7.col-lg-7.col-sm-7.col-xx-7.col-xs-7
                                    | #{i18n.__("Tổng tiền")}
                                .col-md-5.col-lg-5.col-sm-5.col-xx-5.col-xs-5.align-right
                                    span.red#sum 0đ
                                .clearfix
                                span#khuyen-mai-span(style="display:none")
                                    .col-md-7.col-lg-7.col-sm-7.col-xx-7.col-xs-7
                                        | #{i18n.__("Khuyến mãi")}
                                    .col-md-5.col-lg-5.col-sm-5.col-xx-5.col-xs-5.align-right
                                        span.red#khuyen-mai
                                .clearfix
                                .col-md-7.col-lg-7.col-sm-7.col-xx-7.col-xs-7
                                    | #{i18n.__("Phí vận chuyển")}
                                .col-md-5.col-lg-5.col-sm-5.col-xx-5.col-xs-5.align-right
                                    span.red#phi-van-chuyen
                                .clearfix
                                //.col-md-7.col-lg-7.col-sm-7.col-xx-7.col-xs-7
                                //    | #{i18n.__("Tổng phí vận chuyển")}
                                //.col-md-5.col-lg-5.col-sm-5.col-xx-5.col-xs-5.align-right
                                //    span.red#tong-phi-van-chuyen
                                //.clearfix
                            .total-money
                                .col-md-7.col-lg-7.col-sm-7.col-xx-7.col-xs-7
                                    | #{i18n.__("Số tiền cần thanh toán")}
                                .col-md-5.col-lg-5.col-sm-5.col-xx-5.col-xs-5.align-right
                                    span.red#total 0đ
                                .clearfix
                .clearfix

    script(type='text/javascript', src='js/chon-phuong-thuc-thanh-toan.js')
    script.
        function loadCart() {
            $.ajax({
                url: "chon-phuong-thuc-thanh-toan/getOrder",
                type: "post", //send it through get method
                data: JSON.stringify({
                    order_id: '!{order_id}'
                }), contentType: "application/json",
                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {

                        if (response.data.products.length == 0) {
                            return;
                        }
                        var htmlList = "";
                        var cartItem = $("#item");
                        var phi_van_chuyen = parseInt(response.data.phi_van_chuyen);
                        $("#phi-van-chuyen").html(format_price(phi_van_chuyen) + " VNĐ");
                        $("#span-phi-van-chuyen").html(format_price(phi_van_chuyen) + " VNĐ");
                        $("#tong-phi-van-chuyen").html(format_price(phi_van_chuyen) + " VNĐ");
                        $("#count-product").html(response.data.products.length);

                        $('#sum').html(format_price(response.data.total_amount_after_product_promotion) + " VNĐ");
                        $('#total').html(format_price(response.data.final_total_amount) + " VNĐ");

                        if (response.data.couponApplied) {
                            $("#khuyen-mai-span").css("display", "");
                            $("#khuyen-mai").html("-" + format_price(response.data.coupon_discount) + " VNĐ");
                        }

                        response.data.products.forEach(function (content) {
                            var price = content.product_price;
                            var order_quantity = content.order_detail_quantity;
                            var productTitle = content.product_title
                            var item = cartItem.clone().removeClass("bottom");
                            item.find(".img-url").attr("src", "../upload/" + content.product_image);
                            item.find(".img-url").attr("alt", productTitle);
                            item.find(".h3").html(productTitle);
                            item.find(".quantity-p").html("x" + order_quantity);
                            item.find(".price-p").html(format_price(price) + " VNĐ");

                            var promotion_amount = 0;
                            calcDiscount(content.product_price, content, false, function (discount) {
                                $(".khuyen-mai-product", item).css("display", "");
                                if (discount.type == 1) {

                                    promotion_amount = discount.discount_amount * order_quantity;

                                    $(".price-p", item).html(format_price(content.product_price - discount.discount_amount) + " VNĐ");
                                    $(".price-p", item).addClass("red");
                                    $(".khuyen-mai-product", item).html("(" + format_price(content.product_price) + "VNĐ)");
                                    $(".khuyen-mai-product", item).addClass("old-price");
                                    $(".khuyen-mai-product", item).removeClass("red");

                                } else if (discount.type == 3) {
                                    loadProductGift(content.product_id, function (productGifts, available) {
                                        if (available) {
                                            $(".quatang-product", item).html("#{i18n.__("Tặng")} " + productGifts[0].gift);
                                        } else {
                                            $(".quatang-product", item).html("#{i18n.__("Không còn sản phẩm quà tặng")} ");
                                        }
                                    });

                                }
                            });

                            item.find(".total-p").html(format_price(content.order_detail_total_amount - promotion_amount) + " VNĐ");
                            var $tableBody = $('#product-list').find("tbody");
                            var $trLast = $tableBody.find("tr:last");
                            $trLast.after(item);

                            htmlList += '<p>'+productTitle+'</p>';
                        });
                        $('#list_item').prepend(htmlList);


                    }
                }
            });
        }

        function pay(order_id) {
            var method1 = $('#method1').prop("checked");
            var method2 = $('#method2').prop("checked");
            var method3 = $('#method3').prop("checked");
            if (!method1 && !method2 && !method3) {
                alert("#{i18n.__("Chưa chọn phương thức thanh toán")}");
                return;
            }
            var pay_method = 1;
            if (method2) pay_method = 2;
            if (method3) pay_method = 3;
            $.ajax({
                url: "chon-phuong-thuc-thanh-toan/update",
                type: "post", //send it through get method
                data: JSON.stringify({
                    id: order_id,
                    pay_method: pay_method,
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        alert("#{i18n.__("Đã đặt hàng thành công")}");
                        window.location.href = response.data;

                    }
                }
            });

        }

        function showTimeShipping() {
            $.ajax({
                url: "getTimeShipping",
                type: "post", //send it through get method
                data: JSON.stringify({}),
                contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        // nothing
                    }
                }
            });

        }

        function check_loaded() {
            $.ajax({
                url: "chon-phuong-thuc-thanh-toan/checkLoaded",
                type: "post", //send it through get method
                data: JSON.stringify({
                    order_id: '!{order_id}'
                }),
                contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        if(response.data){
                            window.location = "san-pham";
                        }
                    }
                }
            });
        }

        check_loaded();
        loadCart();
        showTimeShipping();