extends layout
block Content
    script.
        var content_id_check = "#{root_category_id}"
    main#main
        #banner-intro(style="display:none;")
            a(href="#")
                img(alt='Công ty cổ phần opera')
        .container.box-width.box-bg.product-category
            .col-lg-12.top-space
                .col-lg-1
                .col-lg-2
                    #title-menu-external
                        div
                            img.sm-square-icon(src="../../img/right-arrow.png")
                            div #{i18n.__("Sản phẩm")}
                    .menu-product-detail
                        ul#product-detail-categories
                            li
                                a(href='')
                .col-lg-1
                .col-lg-7.fix-category
                    .new_title_bar.col-lg-12
                        .col-lg-12.prod-wrapper
                            div#title-change
                            div.line-wrapper
                                .line
                    #introduce

                        #content
                            //.title
                                h1
                            .content
                                .product(style='display:none;')
                                    .col-lg-4.col-md-4.col-sm-4.col-xx-6.col-xs-12.clear-news
                                        .item-pro
                                            a(href='#')
                                                .item-img
                                                    img(alt='')
                                            a(href='#')
                                                h2
                                            span.price.sale
                                                |
                                                sup đ
                                            span.price_old
                                                |
                                                sup đ
                                            p.buy
                                                span
                                            .sale_tag
                                                p
                                                    |
                                                    span %
                                            .gif_tag
                                                p
                                    .clearfix
                                .clearfix
                                ul.pagination.pages#product-paging
                        .clearfix
                .col-lg-1



    script(defer='').
        $(document).ready(function () {
            load_meta_danh_muc();
            function loadProductCategoriesDanhMuc() {
                $.ajax({
                    url: "/getProductCategoriesRoot",
                    type: "post", //send it through get method
                    data: JSON.stringify({}), contentType: "application/json",

                    success: function (response) {
                        if (response.response_code == "SUCC_EXEC") {

                            var root = $("#product-categories-left");
                            root.attr("id", "");
                            var rootClone = root.clone();
                            root.html('');

                            jQuery.each(response.data.contentList, function (index, content) {
                                var item = rootClone.clone();
                                $("a:first-child", item).html(content.product_category_title);
                                $("a:first-child", item).attr("href", "/danh-muc/r/"+content.product_category_slug);

                                var rootSub = $("ul", item);
                                var rootSubClone = rootSub.clone();
                                rootSub.html('');

                                $("li", item).attr("id", content.product_category_id);

                                if ('!{root_category_id}' == content.product_category_id) {
                                    $("li", item).attr("class", "active");
                                    $("#content .title h1").html(content.product_category_title);
                                }

                                root.html(root.html() + item.html());

                                $.ajax({
                                    url: "/getProductCategoriesChildren",
                                    type: "post", //send it through get method
                                    data: JSON.stringify({parent_id: content.product_category_id}),
                                    contentType: "application/json",
                                    success: function (response1) {
                                        if (response1.response_code == "SUCC_EXEC") {
                                            var htmlList1 = "";
                                            jQuery.each(response1.data.contentList, function (index, content1) {

                                                var item1 = rootSubClone.clone();
                                                $("a:first-child", item1).html(content1.product_category_title);
                                                $("a:first-child", item1).attr("href", "/danh-muc/"+content1.product_category_slug)

                                                if ('!{category_id}' == content1.product_category_id) {
                                                    $("li", item1).attr("class", "active");
                                                    $("#content .title h1").html(content1.product_category_title);
                                                }

                                                rootSub.html(rootSub.html() + item1.html());
                                            });

                                            $("#"+response1.data.root_category_id +" ul", root).html(rootSub.html());

                                        }
                                    }
                                });


                            });


                        }
                    }
                });

            }

            var productItemClone = $("#content .content .product").clone();
            function loadProductList(page) {
                $.ajax({
                    url: "/danh-muc/getProductByCategoryID",
                    type: "post", //send it through get method
                    data: JSON.stringify({
                        category_id: '!{category_id}',
                        root_category_id: '!{root_category_id}',
                        page: page,
                        nbItemsOfPage: !{nbItemsOfPage}
                    }), contentType: "application/json",

                    success: function (response) {
                        if (response.response_code == "SUCC_EXEC") {

                            var htmlList = "";
                            for (var i = 0; i < response.data.contentList.length; i++) {
                                var content = response.data.contentList[i];
                                var item = productItemClone.clone();

                                createProductUI(item, content);
                                $(".clearfix", item).css("display", "none");
                                if (i % 3 == 2) {
                                    $(".clearfix", item).css("display", "");
                                }
                                htmlList += item.html();

                            }

                            $('#content .content .product').css("display", "");
                            if (response.data.contentList.length > 0) {
                                $("#content .content .product").html(htmlList);
                            } else {
                                $('#content .content .product').html('#{i18n.__("Không có sản phẩm nào")}');
                                $('#content .content .product').removeClass("product");
                            }




                        }
                    }
                });
            }

            function renderProductPaging() {
                if (!{totalPages} <= 1) {
                    $('#product-paging').css('display', 'none');
                }

                $('#product-paging').twbsPagination({
                    totalPages: !{totalPages},
                    visiblePages: 5,
                    first: "",
                    last: "",
                    prev: "&nbsp;",
                    next: "&nbsp;",
                    onPageClick: function (event, page) {
                        loadProductList(page);
                    }
                });
            }

            function loadBanner() {
                $.ajax({
                    url: "/getBanner",
                    type: "post", //send it through get method
                    data: JSON.stringify({
                        category_id: category_id,
                        root_category_id: root_category_id
                    }), contentType: "application/json",

                    success: function (response) {
                        if (response.response_code == "SUCC_EXEC") {
                            if (response.data && response.data.banner_image) {
                                $("#banner-intro").css("display", "");
                                $("#banner-intro a").attr("href", response.data.banner_link);
                                $("#banner-intro img").attr("src", '/upload/' + response.data.banner_image);
                            }
                        }
                    }
                });
            }

            function loadProductDetailCategories() {
                var thiz = this;
                $.ajax({
                    url: "/getProductCategoriesRoot",
                    type: "post", //send it through get method
                    cache: true,
                    timeout: 10000,
                    data: "", contentType: "application/json",

                    success: function (response) {
                        if (response.response_code == "SUCC_EXEC") {

                            var root = $("#product-detail-categories");
                            root.attr("id", "");
                            var rootClone = root.clone();
                            root.html('');
                            jQuery.each(response.data.contentList, function (index, content) {

                                var item = rootClone.clone();
                                $("a", item).html(content.product_category_title).css("cssText", "text-transform: none !important;");
                                $("a", item).attr("href", "/danh-muc/r/" + content.product_category_slug);

                                var a = root.html();
                                $("li", item).attr("id", content.product_category_id);
                                if (index == 0) {
                                    $("li", item).css("border-top", "0px");
                                }
                                $("li", item).removeClass("active-menu-category");
                                if(content.product_category_id == thiz.content_id_check){
                                    $("li", item).addClass("active-menu-category");
                                    $("#title-change").html(content.product_category_title);
                                    var witdh = $("#title-change").width();
                                    $(".line-wrapper").css("padding-left",witdh+ 20);
                                }
                                item.css("list-style-type", "none");
                                root.html(root.html() + item.html());
                            });


                        }
                    }
                });

            }
            $(".menu-san-pham").addClass("active");
            var category_id = null;
            var root_category_id = null;

            category_id = "#{category_id}";
            root_category_id = "#{root_category_id}";
            //loadProductCategoriesDanhMuc();
            loadProductDetailCategories();
            renderProductPaging();
            loadBanner();

        });


