extends layout
block Content
    main#main
        .container.box-width.box-bg.remove-text-align
            .col-lg-12.top-space
                .col-lg-1
                .col-lg-10
                    h3.title-cart
                        a(href="san-pham") #{i18n.__("Tiếp tục mua hàng")}
                    #cart
                        .name-user #{i18n.__("Giỏ hàng của tôi")}
                        .col-md-8.col-lg-8.col-sm-12.col-xx-12.col-xs-12
                            table#tblCart(width='100%', cellpadding='0', cellspacing='0', border='0')
                                thead
                                    tr
                                        td(width='60%') 1#{i18n.__("Sản phẩm")}
                                        td(width='16%') #{i18n.__("Giá")}
                                        td(width='19%') #{i18n.__("Số lượng")}
                                        td(width='5%')
                                tbody
                                    tr#cart-item
                                        td
                                            .col-md-4.col-lg-4.col-sm-4.col-xx-12.col-xs-12
                                                a(href='')
                                                    .img
                                                        img(src='img/product2.png', alt='')
                                            .col-md-8.col-lg-8.col-sm-8.col-xx-12.col-xs-12
                                                h3 Combo 2 lon nước cốt dừa Thai Coconut 165ml Xuất xứ Thái Lan
                                                p.status #{i18n.__("Còn hàng")}
                                                //a.favorite #{i18n.__("Thêm vào danh sách yêu thích")}
                                        td
                                            p.price 36.000VND
                                            p.khuyen-mai.red

                                        td
                                            .amount
                                                span.calc.minus -
                                                input(type='text', name='amount', value='1', min='1')
                                                span.calc.plus +
                                                span.clearfix
                                        td
                                            .remove
                                                img(src='img/remove.png', alt='')
                        .col-md-4.col-lg-4.col-sm-12.col-xx-12.col-xs-12
                            .info-order
                                h3 #{i18n.__("Thông tin đơn hàng")}
                                //.col-md-7.col-lg-7.col-sm-7.col-xx-7.col-xs-7
                                //    span #{i18n.__("Tạm tính")}
                                //.col-md-5.col-lg-5.col-sm-5.col-xx-5.col-xs-5
                                //    span.align-right#temporary 36.000VND
                                //.clearfix
                                .col-md-7.col-lg-7.col-sm-7.col-xx-7.col-xs-7
                                    span.total #{i18n.__("Tổng tiền")}:
                                .col-md-5.col-lg-5.col-sm-5.col-xx-5.col-xs-5
                                    span.total.align-right#total-big 36.000VND
                                .clearfix
                                .align-center
                                    a.edit-info(href='chon-dia-chi-giao-hang')
                                        | #{i18n.__("TIẾN HÀNH THANH TOÁN")}
                        .clearfix
                .col-lg-1
    script.

        var tblCartClone = $("#tblCart").clone();
        var cartItemClone = $("#tblCart tbody").clone();
        var total_amount = 0;
        var temp_amount = 0;
        var promotion_amount = 0;
        var allCarts = [];
        var gift_list = [];


        function calcDiscount(total_before, promotionObj, isCoupon, callback) {
            console.log("1");
            if (isCoupon
                && promotionObj.minimum_price != null && total_before < promotionObj.minimum_price) { // no discount
                console.log("2");
                callback({
                    type: promotionObj.promotion_type,
                    valid: true,
                    no_discount: "#{i18n.__("Bạn không đủ số tiền để khuyến mãi")}"
                });
                console.log("3");
                return;
            }

            if (promotionObj.promotion_type == 1) {
                console.log("4");
                if (promotionObj.fix_price > total_before) {
                    promotionObj.fix_price = total_before;
                }
                console.log("5");
                callback({
                    type: 1,
                    discount_amount: promotionObj.fix_price
                });
                console.log("6");
            } else if (promotionObj.promotion_type == 2) {
                console.log("7");
                var discount_amount = total_before * promotionObj.percent / 100;
                console.log("8");
                if (isCoupon
                    && promotionObj.maximum_price != null && promotionObj.maximum_price < discount_amount) {
                    discount_amount = promotionObj.maximum_price;
                }
                console.log("9");
                callback({
                    type: 1,
                    discount_amount: discount_amount
                });
                console.log("10");
            } else if (promotionObj.promotion_type == 3) {
                console.log("11");
                if (isCoupon) {
                    console.log("12");
                    return;
                }
                console.log("13");
                callback({
                    type: 3,
                    valid: true,
                    gift: promotionObj.gift
                });
                console.log("14");
            }
        }
        function removeCart(product_id) {
            $.ajax({
            url: "gio-hang/removeCart",
            type: "post", //send it through get method
            data: JSON.stringify({
                product_id: product_id
            }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        loadCartBadge();

                        $("#"+product_id).remove();
                        if (response.data.product_length == 0) {
                            showNoProduct();
                            return;
                        }
                        $("#tblCart thead tr td:first-child").html(response.data.product_length + " #{i18n.__("Sản phẩm")}");

                        calcAmounts(product_id, 0);
                    }
                }
            });
        }

        function changeQuantity(field, product_id) {
            field.old = field.recent;
            field.recent = field.value;

            var old_quantity = field.old == null || field.old.length == 0 ? 0 : parseInt(field.old);
            var quantity = field.recent;
            if (quantity == "" || isNaN(parseInt(quantity)) || parseInt(quantity) < 1) {
                updateProductToCart(product_id, 1, function (new_quantity) {
                    $('#' + product_id + " .amount input").val(new_quantity);
                    calcAmounts(product_id, new_quantity);
                });
                return;
            }
            updateProductToCart(product_id, parseInt(quantity), function(new_quantity) {
                $('#'+product_id+" .amount input").val(new_quantity);
                calcAmounts(product_id, new_quantity);
            });
        }

        function showNoProduct() {
            var text = '!{i18n.__("Chưa có sản phẩm")}';
            $("#tblCart").html(text);
            $("#temporary").html("0 VND");
            $(".info-order #total-big").html("0 VND");
            $(".info-order").css("display", "none");
        }

        function addToCartWithProductID(product_id, quantity) {
            var currentQuantity = $("#"+product_id+" input").val();
            if (parseInt(currentQuantity) + parseInt(quantity) < 1) {
                $("#"+product_id+" input").val(1);
                calcAmounts(product_id, 1);
                return;
            }

            addToCart(product_id, parseInt(quantity), function(new_quantity) {
                $('#'+product_id+" .amount input").val(parseInt(new_quantity));
                calcAmounts(product_id, new_quantity);
            });
        }
        
        function calcAmounts(product_id, new_quantity) {
            temp_amount = 0;
            total_amount = 0;
            promotion_amount = 0;
            allCarts.forEach(function(content) {
                if (content.product_id == product_id) {
                    content.product_order_quantity = new_quantity;
                }
                temp_amount += content.product_price * content.product_order_quantity;

                calcDiscount(content.product_price, content, false, function (discount) {
                    if (discount.type == 1) {
                        var total_discount = discount.discount_amount * content.product_order_quantity;
                        promotion_amount += total_discount;
                    }
                });
            });

            total_amount = temp_amount;
            $("#temporary").html(format_price(temp_amount - promotion_amount) + "VNĐ");
            $(".info-order #total-big").html(format_price(total_amount- promotion_amount) + "VNĐ");
        }




        function loadCart() {
            $.ajax({
                url: "getCart",
                type: "post", //send it through get method
                data: JSON.stringify({
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {

                        if (response.data.products.length == 0) {
                            showNoProduct();
                            return;
                        }

                        $(".info-order").css("display", "");




                        var htmlList = "";
                        allCarts = response.data.products;


                        response.data.products.forEach(function (content) {

                            var item = cartItemClone.clone();
                            $("tr", item).attr("id", content.product_id);

                            $(".price", item).html(format_price(content.product_price) + "VNĐ");

                            calcDiscount(content.product_price, content, false, function(discount) {
                                $(".khuyen-mai-span", item).css("display", "");
                                if (discount.type == 1) {
                                    var total_discount = discount.discount_amount * content.product_order_quantity;
                                    promotion_amount += total_discount;

                                    $(".price", item).addClass("red");
                                    $(".khuyen-mai", item).addClass("old-price");
                                    $(".khuyen-mai", item).removeClass("red");
                                    $(".khuyen-mai", item).html("-" + format_price(content.product_price) + "VNĐ");
                                    $(".price", item).html(format_price(content.product_price - discount.discount_amount) + "VNĐ");

                                }else if(discount.type == 3){
                                    loadProductGift(content.product_id, function(productGifts, available) {
                                        if (available) {
                                            $("#"+content.product_id+" .khuyen-mai").html("#{i18n.__("Tặng")} " + productGifts[0].gift);
                                        }else {
                                            $("#"+content.product_id+" .khuyen-mai").html("#{i18n.__("Không còn sản phẩm quà tặng")} ");
                                        }
                                    });
                                }

                            });


                            $("h3", item).html(content.product_description);
                            $("a", item).attr("href", "chi-tiet-san-pham?id="+content.product_id);
                            $(".img img", item).attr("src", "../upload/" + content.product_image);
                            $(".img img", item).attr("alt", content.product_title);
                            $(".remove", item).attr("onclick", "removeCart('"+content.product_id+"')");
                            $(".amount input", item).attr("value", content.product_order_quantity);
                            $(".amount input", item).attr("onchange", "changeQuantity(this, '"+content.product_id+"')");
                            $(".amount .plus", item).attr("onclick", "addToCartWithProductID('"+content.product_id+"', 1)");
                            $(".amount .minus", item).attr("onclick", "addToCartWithProductID('"+content.product_id+"', -1)");

                            htmlList += item.html();
                        });
                        $("tbody", tblCartClone).html(htmlList);
                        $("#tblCart").html(tblCartClone.html());
                        $("#temporary").html(format_price(response.data.final_total_amount) + "VNĐ");
                        $(".info-order #total-big").html(format_price(response.data.total_amount_after_product_promotion) + "VNĐ");
                        $("#tblCart thead tr td:first-child").html(response.data.products.length + " #{i18n.__("Sản phẩm")}");

                        total_amount = response.data.final_total_amount;
                        temp_amount = response.data.total_amount_after_product_promotion
                    }
                }
            });
        }

        showNoProduct();
        loadCart();

