extends layout
block Content
    main#main.box-width.box-bg.fix-float
        #banner-intro
            a(href=mainContent.content_link)
                if mainContent
                    img(src='/upload/' + mainContent.content_image, alt='Công ty cổ phần opera')
                else
                    img(alt='Công ty cổ phần opera')
        .container
            #introduce(style='display:none')
                #menu-left
                    span #{i18n.__("Giới thiệu")}
                    ul
                        each content in contentList
                            if content.content_id == mainContent.content_id
                                li.active
                                    a(href='/gioi-thieu/'+content.content_slug) #{content.content_title}
                            else
                                li
                                    a(href='/gioi-thieu/'+content.content_slug) #{content.content_title}

                #content
                    if mainContent
                        .title
                            h1 #{mainContent.content_title}
                        .content!= mainContent.content_contentHTML
                    else
                        .title
                        .content


                .clearfix


    script.
        $(".menu-gioi-thieu").addClass("active");
        $(document).ready(function () {
            // load_meta_gioi_thieu("#{mainContent.content_id}");
        });