extends layout
block Content

    main#main
        .container.box-width.box-bg.fix-mix-height

            .col-lg-12.top-space
                .col-lg-1
                .col-lg-10
                    .clearfix
                    .new_title_bar.col-lg-12.top-space
                        div.col-lg-4
                            div #{i18n.__("Hệ thống nhà phân phối")}
                        div.col-lg-8
                            div
                    img#img-branch()

                .col-lg-1
    script.
        $(document).ready(function () {
            function loadImage(){
                $.ajax({
                    url: "/admin/chinh-sua-banner-chi-nhanh/get",
                    type: "get", //send it through get method
                    data: JSON.stringify({}), contentType: "application/json",

                    success: function (response) {
                        if(response.length == 0) return;
                        var status = response[0].content_status;
                        if(status == 1){
                            var url = "/upload/"+response[0].content_image;
                            $("#img-branch").attr("src",url);
                            $("#img-branch").css("margin-top","20px!important");

                        }
                    }
                });
            }
            $(".menu-he-thong").addClass("active");
            loadImage();
        });




