extends layout
block Content
    script.
        var option = "#{option}";
        var tags = "#{tags}";
        var promotionTotalPages = "#{promotionTotalPages}";
        var nbItemsOfPage = #{nbItemsOfPage};
    main#main
        #banner-intro
            img(src='img/slider5.png', alt='Công ty cổ phần opera')
        .container
            #product

                .title_bar
                    h3 #{i18n.__("Kết quả tìm kiếm")}
                .product#promotion-item(style='display:none;')
                    .col-lg-3.col-md-3.col-sm-4.col-xx-6.col-xs-12
                        .item-pro
                            a(href='#')
                                .item-img
                                    img(src='img/product.png', alt='Đậu thận đỏ đóng hộp')
                            a(href='#')
                                h2 Đậu thận đỏ đóng hộp
                            span.price.sale
                                | 40.000
                                sup đ
                            span.price_old
                                | 44.000
                                sup đ
                            p.buy
                                span #{i18n.__("Mua ngay")}
                            .sale_tag
                                p
                                    | -10
                                    span %
                            .gif_tag
                                p *Tặng khăn lau bếp
                    .clearfix
                .clearfix
                ul.pagination.pages#promotion-paging
                .clearfix

    script.
        $(".menu-san-pham").addClass("active");

        var promotionItemClone = $("#promotion-item").clone();
        function loadPromotionList(option, tags, page) {
            $.ajax({
                url: "ket-qua-tim-kiem/search",
                type: "post", //send it through get method
                data: JSON.stringify({
                    page: page,
                    nbItemsOfPage: nbItemsOfPage,
                    option: option,
                    tags: tags
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {

                        var htmlList = "";
                        for (var i = 0; i < response.data.contentList.length; i++) {
                            var content = response.data.contentList[i];
                            var item = promotionItemClone.clone().attr("id", "");

                            createProductUI(item, content);
                            $(".clearfix", item).css("display", "none");
                            if (i % 4 == 3) {
                                $(".clearfix", item).css("display", "");
                            }

                            htmlList += item.html();

                        }

                        $('#promotion-item').css("display", "");
                        if (response.data.contentList.length > 0) {
                            $("#promotion-item").html(htmlList);
                        } else {
                            $('#promotion-item').removeClass("product");
                            $('#promotion-item').html('#{i18n.__("Không có sản phẩm nào")}');
                        }

                    }
                }
            });
        }

        function renderPromotionPaging() {
            if (promotionTotalPages <= 1) {
                $('#promotion-paging').css('display', 'none');
            }

            $('#promotion-paging').twbsPagination({
                totalPages: promotionTotalPages,
                visiblePages: 5,
                first: "",
                last: "",
                prev: "&nbsp;",
                next: "&nbsp;",
                onPageClick: function (event, page) {
                    loadPromotionList(option, tags, page);
                }
            });
        }

        $(document).ready(function () {
            renderPromotionPaging();
        });
