extends layout
block Content
    main#main
        #banner-intro(style="display:none;")
            a(href="#")
                img(src='img/slider5.png', alt='Công ty cổ phần opera')
        .container.box-width.box-bg
            .col-lg-12.top-space
                .col-lg-1
                .col-lg-10
                    #product
                        .clearfix
                        //.title_bar
                            h3 #{i18n.__("Sản phẩm khuyến mãi")}
                        .new_title_bar.col-lg-12
                            div.col-lg-3
                                div #{i18n.__("Sản phẩm khuyến mãi")}
                            div.col-lg-9
                                div
                        .product#promotion-item(style='display:none;')
                            .col-lg-3.col-md-3.col-sm-4.col-xx-6.col-xs-12
                                .item-pro
                                    a(href='#')
                                        .item-img
                                            img(src='img/product.png', alt='Đậu thận đỏ đóng hộp')
                                    a(href='#')
                                        h2 Đậu thận đỏ đóng hộp
                                    span.price.sale
                                        | 40.000
                                        sup đ
                                    span.price_old
                                        | 44.000
                                        sup đ
                                    p.buy
                                        span
                                    .sale_tag
                                        p
                                            | -10
                                            span %
                                    .gif_tag
                                        p *Tặng khăn lau bếp
                            .clearfix
                        .clearfix
                        ul.pagination.pages#promotion-paging(style='display:none;')
                        .clearfix
                .col-lg-1
    script.
        $(".menu-khuyen-mai").addClass("active");
        var promotionItem = $("#promotion-item").clone();

        function loadPromotionList(page) {
            $.ajax({
                url: "khuyen-mai/getPromotionList",
                type: "post", //send it through get method
                data: JSON.stringify({
                    page: page,
                    nbItemsOfPage: !{nbItemsOfPage}
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {

                        var htmlList = "";
                        for (var i = 0; i < response.data.contentList.length; i++) {
                            var content = response.data.contentList[i];
                            var item = promotionItem.clone().attr("id", "");
                            createProductUI(item, content);
                            $(".clearfix", item).css("display", "none");
                            if (i % 4 == 3) {
                                $(".clearfix", item).css("display", "");
                            }
                            htmlList += item.html();

                        }

                        $('#promotion-item').css("display", "");
                        if (response.data.contentList.length > 0) {
                            $("#promotion-item").html(htmlList);
                        } else {
                            $('#promotion-item').removeClass("product");
                            $('#promotion-item').html('#{i18n.__("Không có sản phẩm nào")}');
                        }

                    }
                }
            });
        }

        function renderPromotionPaging() {
            if (!{promotionTotalPages} <= 1) {
                $('#promotion-paging').css('display', 'none');
            }

            $('#promotion-paging').twbsPagination({
                totalPages: !{promotionTotalPages},
                visiblePages: 5,
                first: "",
                last: "",
                prev: "&nbsp;",
                next: "&nbsp;",
                onPageClick: function (event, page) {
                    loadPromotionList(page);
                }
            });
        }

        function loadBanner() {
            $.ajax({
                url: "khuyen-mai/getBanner",
                type: "post", //send it through get method
                data: JSON.stringify({}), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        if (response.data.bannerItem && response.data.bannerItem.image) {
                            $("#banner-intro").css("display", "");
                            $("#banner-intro a").attr("href", response.data.bannerItem.content_link);
                            $("#banner-intro img").attr("src", '../upload/' + response.data.bannerItem.image);
                        }

                    }
                }
            });
        }

        $(document).ready(function () {
            renderPromotionPaging();
            load_meta_promotion();
            loadBanner();
        });