doctype html
html(lang='vi')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no')
        link#favicon(rel='shortcut icon', href='/img/favicon.png', type='image/x-icon')
        title Opera
        meta(name='description', content='izicons')
        meta(name='keywords', content='izicons')
        meta(name='robots', content='izicons')
        meta(name='google', content='notranslate')
        meta(name='revisit-after', content='1 days')
        meta(name='ICBM', content='')
        meta(name='geo.position', content='')
        meta(name='geo.placename', content='')
        meta(name='author', content='')
        meta(property='og:url', content='https://izicons.vn')
        meta(property='og:type', content='website')
        meta(property='og:title', content='izicons')
        meta(property='og:description', content='izicons')
        meta(property='og:image', content='img/logo.png')
        meta(property='fb:app_id', content='860412427416933')
        meta(name="google-signin-client_id" content="608072505988-kg7crqqm2iusvh5cnrgiescf9hrim57o.apps.googleusercontent.com")


        link(rel='stylesheet', type='text/css', href='/css/ddsmoothmenu.css')
        link(rel='stylesheet', type='text/css', href='/css/ddsmoothmenu-v.css')
        link(rel='stylesheet', type='text/css', href='/mmenu/dist/css/jquery.mmenu.all.css')
        link(rel='stylesheet', type='text/css', href='/css/style.css')
        link(rel='stylesheet', type='text/css', href='/css/common.css')
        link(rel='stylesheet', type='text/css', href='/css/font-awesome/css/font-awesome.css')
        link(rel='stylesheet', type='text/css', href='/css/custom.css')
        link(rel='stylesheet', type='text/css', href='/css/w3.css')
        link(rel='stylesheet', type='text/css', href='/js/magiczoomplus/magiczoomplus.css')
        link(rel='stylesheet', type='text/css', href='/js/colorbox/example2/colorbox.css')
        link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.css')

        script(type='text/javascript', src='/js/jquery-1.9.1.js')

        script(type='text/javascript', language='javascript', src='/bootstrap/js/bootstrap.min.js' defer='true')
        script(type='text/javascript', src='/mmenu/dist/js/jquery.mmenu.all.min.js' defer='true')
        script(type='text/javascript', src='/js/script.js' defer='true')
        script(type='text/javascript', src='/js/ddsmoothmenu.js' defer='true')
        script(type='text/javascript', src='/js/operaMart.js' defer='true')
        script(type='text/javascript', src='/js/magiczoomplus/magiczoomplus.js' defer='true')
        script(type='text/javascript', src='/js/jquery.carouFredSel-6.2.0-packed.js' defer='true')
        script(type='text/javascript', src='/js/colorbox/jquery.colorbox.js' defer='true')
        script(type='text/javascript', src='/js/plugins-scroll.js' defer='true')
        script(type='text/javascript', src='/js/generic.js' defer='true')
        script(type='text/javascript', src='/js/load_meta.js')
        script(type='text/javascript', src='/js/jquery.twbsPagination.min.js')
        script(src='https://apis.google.com/js/platform.js', defer='true')
        script(type='text/javascript', src='/assets/app/vendor/fullcalendar/lib/moment.min.js' defer='true')
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDRYuEFSnSzTkJ3-2iLg1fFPMYwjcXyB1c' , defer='true')

        style(type='text/css').
            .float-right {
                float:right !important;
            }
            .invisible{
                visibility: hidden;
                bottom: 0;
                position: absolute;
            }
            #map-canvas-modal {
                width: 100%;
                height: 594px !important;
                padding-bottom: 5px !important;
            }
            .margin-left {
                float: left;
                margin-left: 60px!important;
            }
            .space {
                padding: 35px 0px!important;
            }
            div.abcRioButton.abcRioButtonLightBlue{
                width: 100%!important;
            }



            /* background overlay */

            #mPlayer {
                display: none;
                background: rgba(0, 0, 0, .8);
                position: fixed;
                width: 100%;
                height: 100%;
                z-index: 20;
                left: 0;
                top: 0;
            }

            /* video player */

            #mPlayer DIV {
                position: fixed;
                background: #000;
                width: 560px; /* width of YouTube Player */
                height: 315px; /* height of YouTube Player */
                left: calc(50vw - 280px); /* 280 is .5(560), centers x axis*/
                top: calc(50vh - 157px); /* 157 is .5(315), centers y axis*/
            }



        script.

            function revert_money_to_normal(number) {
                number = number.replace(/[^0-9 ]/g, "");
                return number;
            }


            function format_price(number) {
                if (number == null) {
                    return "";
                }
                number = ~~number;
                return number.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
            }

            function createProductUI(itemUI, content) {
                $("a", itemUI).attr("href", "/chi-tiet-san-pham/" + content.product_slug);
                $("h2", itemUI).html(content.product_title);
                $(".item-img img", itemUI).attr("src", "/upload/" + content.product_image);
                $(".item-img img", itemUI).attr("alt", content.product_title);
                $("p.buy span", itemUI).attr("onclick", "buyNow('" + content.product_id + "')");

                if (content.promotion_type == 1) {
                    var cal_price = content.product_price - content.fix_price;
                    if(cal_price < 0) cal_price = content.product_price;

                    $(".sale_tag", itemUI).attr("style", "background:"+"url('/upload/"+content.promotion_image+"') no-repeat center;");
                    $(".sale", itemUI).html(format_price(cal_price) + "<sup>đ</sup>");
                    $(".price_old", itemUI).html(format_price(content.product_price) + "<sup>đ</sup>");
                    $(".sale_tag", itemUI).css("display", "none");
                    $(".gif_tag", itemUI).css("display", "none");
                } else if (content.promotion_type == 2) {
                    var product_price = content.product_price;
                    var maximum_price = content.maximum_price;
                    var percent = content.percent;
                    var cal_promotion_price = product_price * percent / 100;
                    $(".sale_tag", itemUI).attr("style", "background:"+"url('/upload/"+content.promotion_image+"') no-repeat center;");
                    $(".sale", itemUI).html(format_price(content.product_price - cal_promotion_price) + "<sup>đ</sup>");
                    $(".price_old", itemUI).html(format_price(content.product_price) + "<sup>đ</sup>");
                    $(".sale_tag p", itemUI).html("-" + content.percent + "<span>%</span>");
                    $(".gif_tag", itemUI).css("display", "none");
                } else if (content.promotion_type == 3) {
                    $(".gif_tag", itemUI).attr("style", "background:"+"url('/upload/"+content.promotion_image+"') no-repeat bottom center;");
                    $(".gif_tag p", itemUI).html(content.gift);
                    $(".sale_tag", itemUI).css("display", "none");
                    $(".price_old", itemUI).css("display", "none");
                    $(".price", itemUI).removeClass("sale");
                    $(".price", itemUI).html(format_price(content.product_price) + "<sup>đ</sup>");
                } else {
                    $(".sale_tag", itemUI).css("display", "none");
                    $(".price_old", itemUI).css("display", "none");
                    $(".price", itemUI).removeClass("sale");
                    $(".gif_tag", itemUI).css("display", "none");
                    $(".price", itemUI).html(format_price(content.product_price) + "<sup>đ</sup>");
                }
            }

        script.
            function statusChangeCallback(response) {
                // nothing
            }
            function checkLoginState(abc) {

                FB.getLoginStatus(function (response) {
                    if (response.authResponse) {
                        var access_token = FB.getAuthResponse()['accessToken'];
                        var user_id = response.authResponse.userID;
                        FB.api('/me?fields=id,name,email,birthday', function (response2) {
                            var name = response2.name;
                            var email = response2.email;
                            FB.api(
                                '/' + user_id + '/picture?redirect=false',
                                'GET',
                                {},
                                function (response1) {
                                    // Insert your code here
                                    var url = response1.data.url;
                                    login_social(url, name, email, user_id, "FACEBOOK");
                                }
                            );


                        });
                    } else {
                        console.log('User cancelled login or did not fully authorize.');
                    }
                    statusChangeCallback(response);
                });
            }
            function login_social(url,name,email,user_id,platform) {
                $.ajax({
                    url: "/dang-ky-social",
                    type: "post",
                    xhrFields: {
                        withCredentials: true
                    },
                    data: JSON.stringify({
                        url: url,
                        name: name,
                        email: email,
                        client_id: user_id,
                        platform: platform
                    }),//send it through get method
                    contentType: "application/json",

                    success: function (response) {
                        if (response.response_code == "SUCC_EXEC") {
                            updateUsername();

                            if (typeof page_name !== 'undefined') {
                                // the variable is defined
                                if (page_name == "chon-dia-chi-giao-hang") {
                                    $('#email').val(email);
                                    $('#name').val(name);
                                }
                            } else {
                                if (response.data && response.data.redirect) {
                                    location.href = response.data.redirect;
                                }
                            }
                        }
                    }
                });
            }

        script(src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async="")
        script.
            var OneSignal = window.OneSignal || [];
            OneSignal.push(function () {
                OneSignal.init({
                    appId: "7a8ec375-c51e-4edc-bc69-7e6acb52960a"
                });
            });

        script.
            var loc = window.location;
            var currentURL = loc.host;
            if(currentURL == "lazymining.com:1234"){
                window.fbAsyncInit = function () {
                    FB.init({
                        appId: "860412427416933",
                        xfbml: true,
                        version: 'v3.0'
                    });
                    FB.AppEvents.logPageView();
                };

            }else {
                window.fbAsyncInit = function () {
                    FB.init({
                        appId: '2037388736533190',
                        cookie: true,
                        xfbml: true,
                        version: 'v2.10'
                    });
                    FB.getLoginStatus(function (response) {
                        statusChangeCallback(response);
                    });

                };
            }


            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

    body
        //noscript#deferred-styles

        // #fb-root
        // script.
        //     (function (d, s, id) {
        //         var js, fjs = d.getElementsByTagName(s)[0];
        //         if (d.getElementById(id)) return;
        //         js = d.createElement(s);
        //         js.id = id;
        //         js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.0&appId=1596894333872580&autoLogAppEvents=1';
        //         fjs.parentNode.insertBefore(js, fjs);
        //     }(document, 'script', 'facebook-jssdk'));

        // nav#menu_mobi.mm-menu.mm-horizontal.mm-offcanvas(style='font-family: Calibri;')
        //     ul
        //         li
        //             a(href='/') Trang chủ
        //         li
        //             a.menu-gioi-thieu(href='/gioi-thieu') #{i18n.__("Giới thiệu")}
        //         li
        //             a.menu-san-pham(href='/san-pham') #{i18n.__("Sản phẩm")}
        //             ul
        //                 li
        //                     a(href='') THỰC PHẨM CAO CẤP
        //                     ul
        //                         li
        //                             a(href='') Thực phẩm Nhật Bản
        //         li
        //             a.menu-khuyen-mai(href='/khuyen-mai') #{i18n.__("Khuyến mãi")}
        //             ul
        //                 li
        //                     a(href='/khuyen-mai') #{i18n.__("Sản phẩm khuyến mãi")}
        //                 li
        //                     a(href='/tin-tuc-su-kien') #{i18n.__("Tin tức - sự kiện")}
        //         li
        //             a.menu-cam-nang-mon-ngon(href='/cam-nang-mon-ngon') #{i18n.__("Cẩm nang món ngon")}
        //         li
        //             a.menu-chinh-sach(href='/chinh-sach') #{i18n.__("Chính sách bán hàng")}
        //         li
        //             a.menu-lien-he(href='/lien-he') #{i18n.__("Liên hệ")}
        //         li
        //             a(href='#')
        //                 img(width='24', src='/img/user.png', alt='Cart')

        //             ul
        //                 li
        //                     a.fb(href='')
        //                         span Đăng nhập bằng Facebook
        //                     a.gg(href='')
        //                         span Đăng nhập bằng Google
        //                     fb:login-button(size="medium" scope="public_profile,email"  onlogin="checkLoginState"  )
        //                     .g-signin2(data-onsuccess='google_sign_in')
        //         li
        //             a.viewCart(href='/gio-hang')
        //                 img(width='24', src='/img/cart.png', alt='Cart')
        //                 |  #{i18n.__("Giỏ hàng")}
        //                 span.cart-badge (1)
        #container
            //.loader
            //    .loader-overlay
            //    .loader-animate #{i18n.__("Đang tải")}...
            header#header
                // a(href='#menu_mobi')
                //     .menu_mobi
                //         span
                // ul#lang-m
                //     li
                //         a(href='#' onclick='changeLanguage("vi");')
                //             img(src='/img/lang_vi.png', alt='Lang vi')
                //     li
                //         a(href='#' onclick='changeLanguage("en");')
                //             img(src='/img/lang_en.png', alt='Lang en')
                .container
                    .row
                        .col-md-6 
                            span Kênh Người Bán 
                            span | 
                            span Tải ứng dụng
                            
                        .col-md-6
                            .float-right
                                span Thông Báo 
                                span | 
                                span Trợ Giúp
                                span | 
                                span Đăng Ký 
                                span | 
                                span Đăng Nhập

                    .row.top15.bottom15
                        .col-md-2.col-lg-2.col-sm-5.col-xx-5.col-xs-12
                            // #logo
                            //     a(href='/')
                            //         img.image-need-lazy-load(data-src='/img/logo.png')
                        .col-md-8.col-lg-7.col-sm-7.col-xx-7.col-xs-12
                            #search
                                input#keyword.text_search(type='text', size='25', placeholder=i18n.__("Tìm sản phẩm bạn mong muốn"), onkeypress="doEnter(event,'keyword');")
                                input.button_search(type='button', value='Tìm kiếm', onclick="onSearch(event,'keyword');")
                        .col-md-2.col-lg-1.col-sm-12.col-xx-12.col-xs-12
                            #cart-wrap
                                a.viewCart(href='/gio-hang')
                                    span.cart-badge 1
                                    img(src='/img/cart.png', alt='Cart')

                // #top
                //     .container
                //         nav#smoothmenu1.ddsmoothmenu
                //             ul.menu_top
                //                 li
                //                     a.menu-trang-chu(href='/')
                //                         img(src='/img/home.png')
                //                 li
                //                     a.menu-gioi-thieu(href='/gioi-thieu') #{i18n.__("Giới thiệu")}
                //                 li.menu-san-pham-parent
                //                     a.menu-san-pham(href='/san-pham') #{i18n.__("Sản phẩm")}
                //                     ul#product-categories
                //                         li
                //                             a(href='')
                //                             .sub
                //                                 a(href='')
                //                 li
                //                     a.menu-khuyen-mai(href='/khuyen-mai') #{i18n.__("Khuyến mãi")}
                //                     ul
                //                         li
                //                             a(href='/khuyen-mai') #{i18n.__("Sản phẩm khuyến mãi")}
                //                         li
                //                             a(href='/tin-tuc-su-kien') #{i18n.__("Tin tức - sự kiện")}
                //                 li
                //                     a.menu-cam-nang-mon-ngon(href='/cam-nang-mon-ngon') #{i18n.__("Cẩm nang món ngon")}
                //                 li
                //                     a.menu-chinh-sach(href='/chinh-sach') #{i18n.__("Chính sách bán hàng")}
                //                 li
                //                     a.menu-lien-he(href='/lien-he') #{i18n.__("Liên hệ")}
            block Content

            footer#footer
                #footer_top
                    .container
                        .col-md-3.col-lg-3.col-sm-6.col-xx-6.col-xs-12.intro-bot-col
                            .frm_2.wow.info.fadeIn(class="data-wow-delay='0'", data-wow-offset='100', data-wow-duration='1', data-wow-delay='0s', style='visibility: visible; animation-delay: 0s; animation-name: fadeIn;')
                                p.title_ft Chăm sóc khách hàng
                                #company-info
                        .col-md-3.col-lg-3.col-sm-6.col-xx-6.col-xs-12.category-bot-col
                            .frm_1.wow.fadeIn(class="data-wow-delay='0'", data-wow-offset='100', data-wow-duration='1', data-wow-delay='0s', style='visibility: visible; animation-delay: 0s; animation-name: fadeIn;')
                                p.title_ft Về IZZI
                        .col-md-3.col-lg-3.col-sm-6.col-xx-6.col-xs-12.policy-bot-col
                            .frm_1.wow.fadeIn(class="data-wow-delay='0'", data-wow-offset='100', data-wow-duration='1', data-wow-delay='0s', style='visibility: visible; animation-delay: 0s; animation-name: fadeIn;')
                                p.title_ft Thanh toán
                        .col-md-3.col-lg-3.col-sm-6.col-xx-6.col-xs-12
                            .frm_3.wow.fadeIn(class="data-wow-delay='0'", data-wow-offset='100', data-wow-duration='1', data-wow-delay='0s', style='visibility: visible; animation-delay: 0s; animation-name: fadeIn;')
                                p.title_ft Theo dõi chúng tôi
                #copyright    
                    .container
                        #bottom.wow.fadeInUp(class="data-wow-delay='0'", data-wow-offset='100', data-wow-duration='1', data-wow-delay='0s', style='visibility: visible; animation-delay: 0s; animation-name: fadeInUp;')
                            | Copyright 2018 @ OPERA - World Premium Goods. All rights reserved.
                            .clear
                #footer_bottom
                    .container
                        .row
                            .col-md-3 CHÍNH SÁCH BẢO MẬT
                            .col-md-3 QUY CHẾ HOẠT ĐỘNG
                            .col-md-3 CHÍNH SÁCH VẬN CHUYỂN
                            .col-md-3 CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN
                        .row
                            a(href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=43895")
                                img(src="/img/dathongbao.png")
                        .row
                            span Công ty TNHH IZZI
                        .row
                            span Địa chỉ: Tầng 29, Tòa nhà trung tâm Lotte Hà Nội, 54 Liễu Giai, phường Cống Vị, Quận Ba Đình, Hà Nội. Tổng đài hỗ trợ: 19001221 - Email: support@shopee.vn
                            br
                            span Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch & Đầu tư TP Hà Nội cấp lần đầu ngày 10/02/2015
                            span © 2015 - Bản quyền thuộc về Công ty TNHH Shopee
            .clear
            
                    
            // a(href='#totop', title='top')
            //     img.totop(src='/img/top.png', alt='Go to top')
            // .news-sign(style="display:none;")
            //     a(href='#', data-toggle='tooltip', data-placement='right', title='Đăng ký nhận thông báo khuyến mãi')
            //         img(src='/img/notify.png', alt='')
            // #callnow
            //     ul
            //         li
            //             a#contact-call.blink_me(href='#')
            //                 img(src='/img/call-m.png')
            //                 |  Call
            //         li
            //             a#contact-sms(href='#')
            //                 img(src='/img/sms.png')
            //                 |  SMS
            //         li
            //             a#contact-map(href='#')
            //                 img(src='/img/map-m.png')
            //                 |  Map
            // noscript#deferred-styles
            //     link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.css')

            div(style='display:none')
                #login_content
                    .title-login
                        | Đăng ký
                    .content-login
                        p Đăng nhập vào Operamart bằng các tài khoản xã hội
                        a.fb(href='')
                            span Đăng nhập bằng Facebook
                        a.gg(href='')
                            span Đăng nhập bằng Google
                #cart_content
                    .popup-cart
                        p Giỏ hàng của bạn (1 sản phẩm)
                        table#popup-cart(cellpadding='0', cellspacing='0', border='0')
                            thead
                                tr
                                    td(width='54%') Sản phẩm
                                    td(width='16%') Đơn giá
                                    td(width='14%') Số lượng
                                    td(width='16%') Thành tiền
                            tbody
                                tr
                                    td
                                        .col-md-4.col-lg-4.col-sm-4.col-xx-12.col-xs-12
                                            a(href='')
                                                .img
                                                    img(src='/img/product2.png', alt='')
                                        .col-md-8.col-lg-8.col-sm-8.col-xx-12.col-xs-12
                                            h3 Combo 2 lon nước cốt dừa Thai Coconut 165ml Xuất xứ Thái Lan
                                            p.location OperaMart
                                            a.remove-product Bỏ sản phẩm
                                    td
                                        span 30.000VNĐ
                                    td
                                        select#price(name='price')
                                            option(value='1') 1
                                            option(value='2') 2
                                            option(value='3') 3
                                    td
                                        span 30.000VNĐ
                        .next-step
                            .col-md-6.col-lg-6.col-sm-6.col-xx-6.col-xs-12
                                a.continue(href='product.html') Tiếp tục mua hàng
                            .col-md-6.col-lg-6.col-sm-6.col-xx-6.col-xs-12.align-right
                                a.edit-info(href='checkout.html')
                                    | TIẾN HÀNH THANH TOÁN
                            .clearfix
            h1.visit_hidden.fn.vcard Opera



            #videoModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                .modal-dialog
                    .modal-content
                        .modal-body
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                            iframe(width='100%', height='350', src='', frameborder='0', allowfullscreen='')


            script.
                $(document).ready(function () {
                    $(".loader").delay(1000).fadeOut("slow");
                });

                $(".popup").on("click", function (e) {
                    e.preventDefault();
                    e.stopPropagation();

                    $(".page").removeClass("show-popup");
                });

                $(".popup > iframe").on("click", function (e) {
                    e.stopPropagation();
                });
            // Go to www.addthis.com/dashboard to customize your tools
            script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55974c657e024cf2' defer='')
        #mapModal.modal.fade(role='dialog')
            .modal-dialog.modal-md
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal') ×
                        h4.modal-title Bản đồ
                    .modal-body#map-canvas-modal
                    .modal-footer
                        button.btn.btn-danger(type='button', data-dismiss='modal') Đóng
        #promotionModal.modal.fade(role='dialog')
            .modal-dialog.modal-md
                .modal-content
                    button.close(type='button', data-dismiss='modal') ×
                    .promotion-popup-content

    // script(type='text/javascript', src='/js/lazy-img.js' )

    script.
        var global_pos = "";
        $(document).ready(function(){
            $(".loader").delay(1000).fadeOut("slow");
        });
        function loadContactInfo() {
            $.ajax({
                url: "/getTongDaiContact",
                type: "get", //send it through get method
                cache: true,
                timeout: 10000,
                data: "", contentType: "application/json",
                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        var call_number = response.data.call_number;
                        var sms_number = response.data.sms_number;
                        var lat = response.data.lat;
                        var long = response.data.long;
                        $("#contact-call").attr("href", "tel:"+call_number);
                        $("#contact-sms").attr("href", "sms:"+sms_number);
                        $("#contact-map").attr("latitude", lat);
                        $("#contact-map").attr("longitude", long);
                        $("#contact-map").on("click", function () {
                            var lat = this.attributes.latitude.nodeValue;
                            var long = this.attributes.longitude.nodeValue;
                            change_pos(lat+","+long);
                            $('#mapModal').modal('show');

                        });

                    }
                }
            });
        }

        function loadScript() {
            $.ajax({
                url: "/getScript",
                type: "get", //send it through get method
                cache: true,
                timeout: 10000,
                data: "", contentType: "application/json",
                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {

                        // console.log($('head'));
                        //
                        //
                        var script = document.createElement("script")
                        script.type = "text/javascript";

                        if (script.readyState) {  //IE
                            script.onreadystatechange = function () {
                                if (script.readyState == "loaded" ||
                                    script.readyState == "complete") {
                                    script.onreadystatechange = null;
                                    callback();
                                }
                            };
                        } else {  //Others
                            script.onload = function () {
                                callback();
                            };
                        }
                        script.innerHTML = response.data.headscript;

                        console.log(343453434534);
                        console.log(script);

                        $('head').append(script);
                        console.log($('head'));

                    }
                }
            });
        }



        function change_pos(text) {
            var partsOfStr = text.split(',');
            var lat = partsOfStr[0].replace(/\s/g, '');
            var lng = partsOfStr[1].replace(/\s/g, '');

            global_pos = {lat: Number(lat), lng: Number(lng)};

            $("#modal_click").click();
        }
        function show_contact(name) {
            if(name == "facebook"){
                $.ajax({
                    url: "/contact",
                    type: "post", //send it through get method
                    data: JSON.stringify({name: name}), contentType: "application/json",

                    success: function (response) {
                        if (response.response_code == "SUCC_EXEC") {
                            document.location.href = response.data;
                        }
                    }
                });
            }else if(name == "youtube"){
                $.ajax({
                    url: "/contact",
                    type: "post", //send it through get method
                    data: JSON.stringify({name: name}), contentType: "application/json",

                    success: function (response) {
                        if (response.response_code == "SUCC_EXEC") {
                            var url = response.data;
                            var win = window.open(url, '_blank');
                            if (win) {
                                //Browser has allowed it to be opened
                                win.focus();
                            } else {
                                //Browser has blocked it
                                alert('Please allow popups for this website');
                            }

                        }
                    }
                });
            }else if(name == "zalo") {
                $.ajax({
                    url: "/contact",
                    type: "post", //send it through get method
                    data: JSON.stringify({name: name}), contentType: "application/json",

                    success: function (response) {
                        if (response.response_code == "SUCC_EXEC") {
                            document.location.href = "https://" + response.data;
                        }
                    }
                });
            }
        }
        var loadDeferredStyles = function () {
            var addStylesNode = document.getElementById("deferred-styles");
            var replacement = document.createElement("div");
            replacement.innerHTML = addStylesNode.textContent;
            document.head.appendChild(replacement)
            addStylesNode.parentElement.removeChild(addStylesNode);
        };
        var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
            window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
        if (raf) raf(function () {
            window.setTimeout(loadDeferredStyles, 0);
        });
        else window.addEventListener('load', loadDeferredStyles);
        function front_logout() {

            if(currentURL == "lazymining.com:1234"){
                $.ajax({
                    url: "/get_platform",
                    type: "post", //send it through get method
                    data: JSON.stringify({}), contentType: "application/json",

                    success: function (response) {
                        if (response.response_code == "SUCC_EXEC") {
                            var platform = response.data;
                            if (platform == "GOOGLE") {
                                $.ajax({
                                    url: "/front_logout",
                                    type: "post", //send it through get method
                                    data: JSON.stringify({}), contentType: "application/json",

                                    success: function (response) {
                                        if (response.response_code == "SUCC_EXEC") {
                                            window.location.href = "san-pham";
                                        }
                                    }
                                });
                            } else if (platform == "FACEBOOK") {
                                FB.getLoginStatus(function (response) {
                                    if (response.authResponse) {
                                        var access_token = FB.getAuthResponse()['accessToken'];

                                                FB.api("/me/permissions", "DELETE", function (response){

                                                if (response && !response.error) {
                                                    $.ajax({
                                                        url: "/front_logout",
                                                        type: "post", //send it through get method
                                                        data: JSON.stringify({}), contentType: "application/json",

                                                        success: function (response) {
                                                            if (response.response_code == "SUCC_EXEC") {
                                                                window.location.href = "san-pham";
                                                            }
                                                        }
                                                    });
                                                }
                                            }
                                        );
                                    }
                                })
                            }
                        }
                    }
                });
            }else {

                $.ajax({
                    url: "/get_platform",
                    type: "post", //send it through get method
                    data: JSON.stringify({}), contentType: "application/json",

                    success: function (response) {
                        if (response.response_code == "SUCC_EXEC") {
                            var platform = response.data;
                            if (platform == "GOOGLE") {
                                $.ajax({
                                    url: "/front_logout",
                                    type: "post", //send it through get method
                                    data: JSON.stringify({}), contentType: "application/json",

                                    success: function (response) {
                                        if (response.response_code == "SUCC_EXEC") {
                                            window.location.href = "san-pham";
                                        }
                                    }
                                });
                            } else if (platform == "FACEBOOK") {
                                FB.api("/me/permissions", "delete", function (response) {
                                    $.ajax({
                                        url: "/front_logout",
                                        type: "post", //send it through get method
                                        data: JSON.stringify({}), contentType: "application/json",

                                        success: function (response) {
                                            if (response.response_code == "SUCC_EXEC") {
                                                window.location.href = "san-pham";
                                            }
                                        }
                                    });
                                });
                            }

                        }
                    }
                });




            }

        }

        $('#mapModal').on('shown.bs.modal', function () {
            load_map();
        })
        function loadProductCategories() {
            $.ajax({
                url: "/getProductCategoriesRoot",
                type: "post", //send it through get method
                cache: true,
                timeout: 10000,
                data: "", contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {

                        var root = $("#product-categories");
                        root.attr("id", "");
                        var rootClone = root.clone();
                        root.html('');
                        var minHeight = 200+(response.data.contentList.length*40);
                        $('.product-category').css('min-height',minHeight.toString()+"px");
                        $('.side-san-pham').find('.mm-counter').html(response.data.contentList.length)
                        jQuery.each(response.data.contentList, function (index, content) {

                            var item = rootClone.clone();
                            $("a", item).html(content.product_category_title).css("cssText", "text-transform: none !important;");
                            $("a", item).attr("href", "/danh-muc/r/" + content.product_category_slug);

                            // var rootSub = $(".sub", item);
                            // var rootSubClone = rootSub.clone();
                            // rootSub.html('');
                            var a = root.html();
                            $("li", item).attr("id", content.product_category_id);
                            if(index == 0){
                                $("li", item).css("border-top","0px");
                            }
                            root.html(root.html() + item.html());
                            $('#side-product-menu').find('.mm-listview').append(item.html());
                            // $.ajax({
                            //     url: "/getProductCategoriesChildren",
                            //     type: "post", //send it through get method
                            //     data: JSON.stringify({parent_id: content.product_category_id}),
                            //     contentType: "application/json",
                            //     success: function (response1) {
                            //         if (response1.response_code == "SUCC_EXEC") {
                            //
                            //
                            //             var htmlList1 = "";
                            //             jQuery.each(response1.data.contentList, function (index, content1) {
                            //                 var root = $("#product-categories");
                            //                 root.attr("id", "");
                            //                 var rootClone = root.clone();
                            //                 root.html('');
                            //
                            //
                            //                 var item = rootClone.clone();
                            //                 $("a", item).html(content.product_category_title).css("cssText", "text-transform: none !important;");
                            //                 $("a", item).attr("href", "/danh-muc/r/" + content.product_category_slug);
                            //
                            //                 var rootSub = $(".sub", item);
                            //                 var rootSubClone = rootSub.clone();
                            //                 rootSub.html('');
                            //
                            //                 $("li", item).attr("id", content.product_category_id);
                            //
                            //                 root.html(root.html() + item.html());
                            //
                            //
                            //
                            //                 // var item1 = rootSubClone.clone();
                            //                 // $("a:first-child", item1).attr("href", "/danh-muc/" + content1.product_category_slug);
                            //                 // $("a:first-child", item1).html(content1.product_category_title);
                            //                 // rootSub.html(rootSub.html() + item1.html());
                            //             });
                            //             $("#"+response1.data.root_category_id +" .sub", root).html(rootSub.html());
                            //
                            //         }
                            //     }
                            // });



                        });


                    }
                }
            });

        }

        function loadDanhMucCap2Footer() {
            $.ajax({
                url: "/getDanhMucCap2InFooter",
                type: "get", //send it through get method
                cache: true,
                timeout: 10000,
                data: JSON.stringify({
                }), contentType: "application/json",

                success: function (response) {
                    var contentString = "";
                    contentString += "<li><a href='/khuyen-mai'>#{i18n.__("Khuyến mãi")}</a></li>";
                    contentString += "<li><a href='/san-pham-moi'>#{i18n.__("Sản phẩm mới")}</a></li>";
                    if (response.response_code == "SUCC_EXEC") {


                        for (var i = 0; i < response.data.contentList.length; i++) {
                            var content = response.data.contentList[i];
                            contentString += "<li><a href='/danh-muc/" + content.product_category_slug + "'>" + content.product_category_title + "</a></li>";
                        }

                        $("#danhMucCap2").html(contentString);
                    }
                }
            });
        }

        function loadChinhSachTitles(order) {
            $.ajax({
                url: "/getChinhSachBanHangLinks",
                type: "get", //send it through get method
                cache: true,
                timeout: 10000,
                headers: {
                    "My-First-Header": "first value",
                    "My-Second-Header": "second value"
                },
                data: JSON.stringify({
                    order: order
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {

                        var contentString = "";
                        for (var i = 0; i < response.data.contentList.length; i++) {
                            var content = response.data.contentList[i];
                            contentString += "<li><a href='/chinh-sach/"+content.content_slug+"'>"+content.content_title+"</a></li>";
                        }

                        $("#footerChinhSachBanHang").html(contentString);
                    }
                }
            });
        }

        function loadQuanly() {
            $.ajax({
                url: "/getQuanly",
                type: "get", //send it through get method
                cache: true,
                timeout: 10000,
                data: "", contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {

                        var contentString = "";
                        contentString+=response.data;
                        $('#company-info').append(contentString);

                    }
                }
            });
        }

        function updateProductToCart(product_id, quantity, callback) {
            $.ajax({
                url: "/updateProductToCart",
                type: "post", //send it through get method
                data: JSON.stringify({
                    product_id: product_id,
                    quantity: quantity
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        if (response.data.reach_limit) {
                            alert("#{i18n.__("Không đủ số lượng tồn kho.")}");
                            callback(response.data.limit_quantity);
                        } else {
                            callback(response.data.new_quantity);
                        }
                    }
                }
            });
        }

        function updateUsername() {
            $.ajax({
                url: "/updateUsername",
                type: "get", //send it through get method
                cache: true,
                timeout: 1000,
                data: "", contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        $('.account-view').css("display", "");
                        $('.account_username').html(response.data);
                        $('.non-login').css("display", "none");


                        //$('.a_username').attr("onclick", "window.location.href='/thong-tin-tai-khoan';");
                        //$('.info-account').remove();
                        //$('.temp').addClass('bottom');
                    }
                }
            });
        }

        function loadCartBadge() {
            $.ajax({
                url: "/getCartBadge",
                type: "get", //send it through get method
                cache: true,
                timeout: 10000,
                data: JSON.stringify({}),
                contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        if (response.data.badge == 0) {
                            $(".cart-badge").css("display", "none");
                            return;
                        }
                        $(".cart-badge").css("display", "");
                        $(".cart-badge").html(response.data.badge);

                    }
                }
            });
        }
        function load_map() {

            var myLatLng = global_pos;
            var a = document.getElementById("mapModal");
            var map = new google.maps.Map(document.getElementById('map-canvas-modal'), {
                zoom: 16,
                center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map
            });

        }

        function loadAllBranches() {
            $.ajax({
                url: "/getAllBranches",
                type: "get", //send it through get method
                cache: true,
                timeout: 10000,
                data: JSON.stringify({
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {

                        var newsItem = $("#branches");
                        var htmlList = "";
                        for (var i = 0; i < response.data.branches.length; i++) {
                            var content = response.data.branches[i];
                            var item = newsItem.clone();
                            $("li", item).attr("data-backdrop", "");
                            $("li", item).attr("onclick", "change_pos('"+content.description+"')");
                            $("li", item).attr("data-toggle", "modal");
                            $("li", item).attr("data-target", "#mapModal");
                            $("li", item).html(content.title);

                            htmlList += item.html();

                        }
                        newsItem.html(htmlList);

                    }
                }
            });

        }
        function onSearch() {
            var e = document.getElementById("category");
            var option = e.options[e.selectedIndex].value;
            var text = $('#keyword').val();
            location.href = "/ket-qua-tim-kiem?option="+option+"&tags="+text;
        }

        function getPromotionPopupInfo() {
            $.ajax({
                url: "/getPromotionPopupInfo",
                type: "post", //send it through get method
                data: JSON.stringify({}),
                contentType: "application/json",
                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        if (response.data.show == "0") {
                            return;
                        }
                        setTimeout(function() {
                            $('#promotionModal .promotion-popup-content').html(response.data.contentHTML);
                            $('#promotionModal').modal('show');
                        }, response.data.delayShow);
                    }
                }
            });
        }

        function addToCart(product_id, quantity, callback) {
            $.ajax({
                url: "/addToCart",
                type: "post", //send it through get method
                data: JSON.stringify({
                    product_id: product_id,
                    quantity: quantity
                }),
                contentType: "application/json",
                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        if (response.data.reach_limit) {
                            alert("#{i18n.__("Không đủ số lượng tồn kho.")}");
                        } else {
                            callback(response.data.new_quantity);
                        }



                    }
                }
            });
        }

        function buyNow(product_id) {
            addToCart(product_id, 1, function() {
                window.location.href = "/gio-hang";
            });


        }


    script.
        function calcDiscount(total_before, promotionObj, isCoupon, callback) {
            if (isCoupon
                && promotionObj.minimum_price != null && total_before < promotionObj.minimum_price) { // no discount
                callback({
                    type: promotionObj.promotion_type,
                    valid: true,
                    no_discount: "#{i18n.__("Bạn không đủ số tiền để khuyến mãi")}"
                });
                return;
            }

            if (promotionObj.promotion_type == 1) {
                if (promotionObj.fix_price > total_before) {
                    promotionObj.fix_price = total_before;
                }
                callback({
                    type: 1,
                    discount_amount: promotionObj.fix_price
                });
            } else if (promotionObj.promotion_type == 2) {
                var discount_amount = total_before * promotionObj.percent / 100;
                if (isCoupon
                    && promotionObj.maximum_price != null && promotionObj.maximum_price < discount_amount) {
                    discount_amount = promotionObj.maximum_price;
                }
                callback({
                    type: 1,
                    discount_amount: discount_amount
                });
            } else if (promotionObj.promotion_type == 3) {
                if (isCoupon) {
                    return;
                }
                callback({
                    type: 3,
                    valid: true,
                    gift: promotionObj.gift
                });
            }
        }

        function loadProductGift(product_id, callback) {
            $.ajax({
                url: "/loadProductGift",
                type: "post", //send it through get method
                data: JSON.stringify({
                    product_id: product_id
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        if (response.data) {
                            callback(response.data.product_gifts, response.data.available);
                        }
                    }
                }
            });
        }

        function show_image() {
            $('.image-need-lazy-load').lazy();
        }
        var can_log_in = false;
        function google_sign_in (googleUser) {
            if (!can_log_in) {
                return;
            }
            var profile = googleUser.w3;
            var userProfile = googleUser.getBasicProfile();
            var id_token_test = googleUser.getAuthResponse().id_token;

            var image_url = profile.Paa;
            var name = profile.ig;
            var email = profile.U3;
            var id_token = googleUser.El;
            //googleUser.disconnect();
            /*var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
                login_social(image_url, name, email, id_token);
            });*/
            login_social(image_url, name, email, id_token,"GOOGLE");
        };
        function loadMediaInfo() {
            $.ajax({
                url: "/admin/quan-ly-thong-tin-truyen-thong/get",
                type: "get", //send it through get method
                data: JSON.stringify({
                }), contentType: "application/json",

                success: function (response) {
                    console.log("media");
                    console.log(response);
                    var facebook = response.facebook.value;
                    var youtube = response.youtube.value;
                    var zalo = response.zalo.value;
                    $("#fb-md").attr("href",facebook);
                    $("#yt-md").attr("href",youtube);
                    $("#zl-md").attr("href",zalo);
                }
            });
        }
        function loadLangChange() {
            $.ajax({
                url: "/get-lang",
                type: "get", //send it through get method
                data: JSON.stringify({}), contentType: "application/json",

                success: function (response) {
                    if(response == "vi"){
                    $("#select-lang").find("button").html("Tiếng việt");
                    }else {
                        $("#select-lang").find("button").html("English");
                    }
                }
            });
        }
        $(document).ready(function () {
            setTimeout(function () {
                can_log_in = true;
            }, 3000);
            show_image();
            loadProductCategories();
            loadChinhSachTitles();
            loadAllBranches();
            loadCartBadge();
            loadQuanly();
            updateUsername();
            loadDanhMucCap2Footer();
            loadContactInfo();
            getPromotionPopupInfo();
            loadScript();
            loadMediaInfo();
            loadLangChange();
        });
