extends layout
block Content
    main#main
        #banner-intro
            img(src='img/slider2.png', alt='Công ty cổ phần opera')
        .container
            #introduce
                #menu-left
                    span #{person.name}
                    ul
                        li
                            a(href='thong-tin-tai-khoan') #{i18n.__("Thông tin tài khoản")}
                        li.active
                            a(href='lich-su-mua-hang') #{i18n.__("Lịch sử đơn hàng")}
                        li
                            a(href='so-dia-chi') #{i18n.__("Sổ địa chỉ")}
                        li
                            a(href='#' onclick='front_logout()') #{i18n.__("Đăng xuất")}
                #content
                    .title
                        h1 #{i18n.__("Lịch sử đơn hàng")}
                    .info-user
                        table#tblOrdered(cellpadding='5', cellspacing='0', border='1', bordercolor='#939597', width='100%')
                            thead
                                tr
                                    td(width='12%') #{i18n.__("Ngày xử lý")}
                                    td(width='12%') #{i18n.__("Mã đơn hàng")}
                                    td(width='17%') #{i18n.__("Trạng thái đơn hàng")}
                                    td(width='12%') #{i18n.__("Tổng tiền đơn hàng")}
                                    td(width='33%') #{i18n.__("Địa chỉ nhận hàng")}
                                    td(width='14%') #{i18n.__("Thông tin chi tiết")}
                            tbody
                                -for (var i = 0; i < history.length; i++)

                                    tr
                                        td
                                            | #{moment(history[i].action_date,"YYYY-MM-DDTHH:mm:ss.SSSZ").format('HH:mm:ss')}
                                            br
                                            | #{moment(history[i].action_date,"YYYY-MM-DDTHH:mm:ss.SSSZ").format('DD/MM/YYYY')}
                                        td #{history[i].code}
                                        if history[i].status == 1
                                            td() Đơn hàng mới
                                        else if history[i].status == 2
                                            td() Nhân viên đã gọi xác nhận
                                        else if history[i].status == 3
                                            td() Đã xuất hàng
                                        else if history[i].status == 4
                                            td() Đã giao và thanh toán
                                        else if history[i].status == 5
                                            td() Đang tạo đơn hàng
                                        else if history[i].status == 6
                                            td() Đang thanh toán
                                        td.price #{history[i].total_amount}
                                        td #{history[i].address_delivery}, #{history[i].ward_name}, #{history[i].district_name}, #{history[i].city_name}
                                        td
                                            a(href='chi-tiet-lich-su-don-hang?id='+history[i].purchase_order_id) #{i18n.__("Xem chi tiết")}

                .clearfix

    script(type='text/javascript', src='js/lich-su-mua-hang.js')
