extends layout

block Content
    main#main
        #banner-intro(style='display:none;')
            a(href='#')
                img(src='', alt='Công ty cổ phần opera')
        .container.box-width.box-bg
            .col-lg-12.top-space
                .col-lg-1
                .col-lg-10
                    .new_title_bar.col-lg-12
                        div.col-lg-2
                            div #{i18n.__("Thông tin liên hệ")}
                        div.col-lg-10.add-padding-left
                            div
                    #contact
                        #info-contact.col-lg-8.col-md-8.col-sm-8.col-xx-12.col-xs-12.add-text-align
                            //.title
                                h2
                            .contact-info#info

                        .clearfix
                    #send-contact
                        .col-lg-6.col-md-6.col-sm-6.col-xx-12.col-xs-12
                            .form
                                img(src='img/user.png', alt='')
                                input#name_ip(type='text', placeholder='Họ và tên', name='name')
                            .form
                                img(src='img/email.png', alt='')
                                input#email_ip(type='text', placeholder='Email', name='email')
                            .form
                                img(src='img/map.png', alt='')
                                input#address_ip(type='text', placeholder='Địa chỉ', name='address')
                            .form
                                img(src='img/call.png', alt='')
                                input#tel_ip(type='text', placeholder='Điện thoại', name='phonenumber')
                        .col-lg-6.col-md-6.col-sm-6.col-xx-12.col-xs-12
                            .form
                                img(src='img/content.png', alt='')
                                textarea#content-contact(name='content', placeholder='Nội dung liên lạc (*)', rows='10')
                        .col-lg-6.col-md-6.col-sm-6.col-xx-12.col-xs-12
                            .form
                                .col-lg-4.col-md-4.col-sm-4.col-xx-4.col-xs-4
                                    p
                                        | Mã bảo vệ:
                                        span.red (*)
                                .col-lg-8.col-md-8.col-sm-8.col-xx-8.col-xs-8
                                    span#capcha
                                    input#capcha_ip(type="text")

                        .col-lg-6.col-md-6.col-sm-6.col-xx-12.col-xs-12
                            .send
                                button( onclick="send()") Gởi
                                button(onclick="reset()") Làm lại

                        .clearfix
                .col-lg-1
    script.

        function refreshCaptcha() {
            $.ajax({
                url: "lien-he/captcha",
                type: "post", //send it through get method
                data: JSON.stringify({}), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        $("#capcha").html("");
                        $("#capcha").prepend(response.data.captcha.data);
                        captchaText = response.data.captcha.text;
                    }
                },
                error: function (xhr) {
                    reset()
                }
            });
        }

        function reset() {
            document.getElementById("name_ip").value = "";
            document.getElementById("email_ip").value = "";
            document.getElementById("address_ip").value = "";
            document.getElementById("tel_ip").value = "";
            document.getElementById("content-contact").value = "";
            document.getElementById("capcha_ip").value = "";
            refreshCaptcha();
        }
        function send() {
            var name = $("#name_ip").val();
            var email = $("#email_ip").val();
            var address = $("#address_ip").val();
            var tel = $("#tel_ip").val();
            var content = $("#content-contact").val();
            var capcha = $("#capcha_ip").val();
            if(name.length == 0){
                alert("chưa nhập tên");
                return;
            }
            if (email.length == 0) {
                alert("chưa nhập email");
                return;
            }
            if (address.length == 0) {
                alert("chưa nhập địa chỉ");
                return;
            }
            if (tel.length == 0) {
                alert("chưa nhập số điện thoại");
                return;
            }
            if (content.length == 0) {
                alert("chưa nhập nội dung liên lạc");
                return;
            }
            if(capcha != captchaText){
                alert("capcha nhập chưa đúng");
                return;
            }


            $.ajax({
                url: "lien-he",
                type: "post", //send it through get method
                data: JSON.stringify({
                    name: name,
                    email: email,
                    address: address,
                    tel: tel,
                    content: content
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        alert("Đã tạo liên hệ thành công");
                    } else {
                        alert("tạo liên hệ thất bại");
                    }
                    reset()
                },
                error: function (xhr) {
                    //Do Something to handle error
                    reset()
                }
            });

        }



        function add_content() {
            refreshCaptcha();
        }

        function getLienHeContent() {
            $.ajax({
                url: "lien-he/lienhe_content",
                type: "post", //send it through get method
                data: JSON.stringify({
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        if (response.data.content) {
                            $("#info-contact .title h2").html(response.data.content.title);
                            $("#info").append(response.data.content.contentHTML);
                        }

                    } else {
                        // nothing
                    }
                },
                error: function (xhr) {
                    //Do Something to handle error
                    reset()
                }
            });
        }

        function getBanner() {
            $.ajax({
                url: "lien-he/getBanner",
                type: "post", //send it through get method
                data: JSON.stringify({}), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        if (response.data.bannerItem && response.data.bannerItem.image) {
                                $("#banner-intro").css("display", "");
                                $("#banner-intro img").attr("src", '../upload/' + response.data.bannerItem.image);
                                $("#banner-intro a").attr("href", response.data.bannerItem.content_link);
                        }

                    } else {
                        // nothing
                    }
                },
                error: function (xhr) {
                    //Do Something to handle error
                    reset()
                }
            });
        }
        function load_meta() {
            $.ajax({
                url: "lien-he/getMeta",
                type: "post",
                data: "",
                contentType: "application/json",
                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        var title = response.data.meta_title;
                        var key = response.data.meta_keywords;
                        var description = response.data.meta_description;
                        $('meta[name=keywords]').attr('content', key);
                        $('meta[name=description]').attr('content', description);
                        $('title').html(title);
                    }
                }
            });
        }
        $(document).ready(function () {
            $(".menu-lien-he").addClass("active");
            var captchaText = "fd42";
            add_content();
            getLienHeContent();
            getBanner();
            load_meta();
        });