extends layout
block Content
    main#main
        #banner-intro(style="display:none;")
            a(href="#")
                img(src='img/slider5.png', alt='Công ty cổ phần opera')
        .container.box-width.box-bg
            .col-lg-12.top-space
                .col-lg-1
                .col-lg-10
                    #product
                        .new_title_bar.col-lg-12
                            div.col-lg-3
                                div #{i18n.__("Danh mục ngành hàng")}
                            div.col-lg-9
                                div
                        .product#category-item
                            .col-lg-4.col-md-4.col-sm-6.col-xx-6.col-xs-12
                                .item_cat
                                    a(href='#')
                                        img(src='img/category1.png', alt='Thực phẩm cao cấp')
                                        h2 Thực phẩm cao cấp
                        .clearfix
                        .new_title_bar.col-lg-12
                            div.col-lg-3
                                div #{i18n.__("Sản phẩm khuyến mãi")}
                            div.col-lg-9
                                div
                        .product#promotion-item(style='display:none;')
                            .col-lg-3.col-md-3.col-sm-4.col-xx-6.col-xs-12
                                .item-pro
                                    a(href='#')
                                        .item-img
                                            img(src='img/product.png', alt='Đậu thận đỏ đóng hộp')
                                    a(href='#')
                                        h2 Đậu thận đỏ đóng hộp
                                    span.price.sale
                                        | 40.000
                                        sup đ
                                    span.price_old
                                        | 44.000
                                        sup đ
                                    p.buy
                                        span
                                    .sale_tag
                                        p
                                            | -10
                                            span %
                                    .gif_tag
                                        p *Tặng khăn lau bếp
                            .clearfix
                        .clearfix
                        ul.pagination.pages#promotion-paging
                        .clearfix
                        .new_title_bar.col-lg-12
                            div.col-lg-3
                                div #{i18n.__("Sản phẩm bán chạy")}
                            div.col-lg-9
                                div
                        .product#bestseller-item(style='display:none;')
                            .col-lg-3.col-md-3.col-sm-4.col-xx-6.col-xs-12
                                .item-pro
                                    a(href='#')
                                        .item-img
                                            img(src='img/product.png', alt='Đậu thận đỏ đóng hộp')
                                    a(href='#')
                                        h2 Đậu thận đỏ đóng hộp
                                    span.price.sale
                                        | 40.000
                                        sup đ
                                    span.price_old
                                        | 44.000
                                        sup đ
                                    p.buy
                                        span
                                    .sale_tag
                                        p
                                            | -10
                                            span %
                                    .gif_tag
                                        p *Tặng khăn lau bếp
                            .clearfix

                        .clearfix
                        ul.pagination.pages#bestsellers-paging
                        .clearfix
                .col-lg-1
    script.

        function loadCategoriesRoot() {
            $.ajax({
                url: "/getProductCategoriesRoot",
                type: "post", //send it through get method
                contentType: "application/json",
                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        var root = $("#category-item");
                        root.attr("id", "");
                        var rootClone = root.clone();
                        root.html('');
                        jQuery.each(response.data.contentList, function (index, content) {
                            var item = rootClone.clone();
                            $("a", item).attr("href", "/danh-muc/r/"+content.product_category_slug);
                            $("img", item).attr("src", "/upload/" + content.product_category_image);
                            $("img", item).attr("alt", content.product_category_title);
                            $("h2", item).html(content.product_category_title);
                            root.html(root.html() + item.html());
                        });
                    }
                }
            });
        }

        var bestSellerItemClone = $("#bestseller-item").clone();
        function loadBestSellersList(page) {
            $.ajax({
                url: "san-pham/getBestSellerList",
                type: "post", //send it through get method
                data: JSON.stringify({
                    page: page,
                    nbItemsOfPage: !{nbItemsOfPage}
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {

                        var htmlList = "";
                        for (var i = 0; i < response.data.contentList.length; i++) {
                            var content = response.data.contentList[i];
                            var item = bestSellerItemClone.clone().attr("id", "");
                            createProductUI(item, content);
                            $(".clearfix", item).css("display", "none");
                            if (i % 4 == 3) {
                                $(".clearfix", item).css("display", "");
                            }
                            htmlList += item.html();
                        }

                        $('#bestseller-item').css("display", "");
                        if (response.data.contentList.length > 0) {
                            $("#bestseller-item").html(htmlList);
                        } else {
                            $('#bestseller-item').removeClass("product");
                            $('#bestseller-item').html('#{i18n.__("Không có sản phẩm nào")}');
                        }


                    }
                }
            });
        }

        var promotionItemClone = $("#promotion-item").clone();
        function loadPromotionList(page) {
            $.ajax({
                url: "san-pham/getPromotionList",
                type: "post", //send it through get method
                data: JSON.stringify({
                    page: page,
                    nbItemsOfPage: !{nbItemsOfPage}
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {

                        var htmlList = "";
                        for (var i = 0; i < response.data.contentList.length; i++) {
                            var content = response.data.contentList[i];
                            var item = promotionItemClone.clone().attr("id", "");

                            createProductUI(item, content);
                            $(".clearfix", item).css("display", "none");
                            if (i % 4 == 3) {
                                $(".clearfix", item).css("display", "");
                            }
                            htmlList += item.html();

                        }

                        $('#promotion-item').css("display", "");
                        if (response.data.contentList.length > 0) {
                            $("#promotion-item").html(htmlList);
                        } else {
                            $('#promotion-item').removeClass("product");
                            $('#promotion-item').html('#{i18n.__("Không có sản phẩm nào")}');
                        }



                    }
                }
            });
        }

        function renderPromotionPaging() {
            if (!{promotionTotalPages} <= 1) {
                $('#promotion-paging').css('display', 'none');
            }

            $('#promotion-paging').twbsPagination({
                totalPages: !{promotionTotalPages},
                visiblePages: 5,
                first: "",
                last: "",
                prev: "&nbsp;",
                next: "&nbsp;",
                onPageClick: function (event, page) {
                    loadPromotionList(page);
                }
            });
        }

        function renderBestSellersPaging() {
            if (!{bestSellersTotalPages} <= 1) {
                $('#bestsellers-paging').css('display', 'none');
            }
            $('#bestsellers-paging').twbsPagination({
                totalPages: !{bestSellersTotalPages},
                visiblePages: 5,
                first: "",
                last: "",
                prev: "&nbsp;",
                next: "&nbsp;",
                onPageClick: function (event, page) {
                    loadBestSellersList(page);
                }
            });
        }

        function loadBanner() {
            $.ajax({
                url: "san-pham/getBanner",
                type: "post", //send it through get method
                data: JSON.stringify({}), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        if (response.data && response.data.banner_image) {
                            $("#banner-intro").css("display", "");
                            $("#banner-intro a").attr("href", response.data.banner_link);
                            $("#banner-intro img").attr("src", '/upload/' + response.data.banner_image);
                        }

                    }
                }
            });
        }


        $(document).ready(function () {

            $(".menu-san-pham").addClass("active");
            loadCategoriesRoot();
            renderPromotionPaging();
            renderBestSellersPaging();
            loadBanner();
            load_meta_product();
        });

