extends layout
block Content
    main#main
        #banner-intro
            img(src='img/slider5.png', alt='Công ty cổ phần opera')
        .container.box-width.box-bg
            .col-lg-12.top-space
                .col-lg-1
                .col-lg-10
                    #product
                        .new_title_bar.col-lg-12
                            div.col-lg-2
                                div #{i18n.__("Sản phẩm mới")}
                            div.col-lg-10
                                div
                        .product#product-item(style='display:none;')
                            .col-lg-3.col-md-3.col-sm-4.col-xx-6.col-xs-12
                                .item-pro
                                    a(href='#')
                                        .item-img
                                            img
                                    a(href='#')
                                        h2
                                    span.price.sale
                                        |
                                        sup đ
                                    span.price_old
                                        |
                                        sup đ
                                    p.buy
                                        span
                                    .sale_tag
                                        p
                                            |
                                            span %
                                    .gif_tag
                                        p
                            .clearfix
                        .clearfix
                        ul.pagination.pages#product-paging
                        .clearfix
                .col-lg-1
    script.

        $(".menu-san-pham").addClass("active");

        function loadCategoriesRoot() {
            $.ajax({
                url: "/getProductCategoriesRoot",
                type: "post", //send it through get method
                contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {

                        var root = $("#category-item");
                        root.attr("id", "");
                        var rootClone = root.clone();
                        root.html('');

                        jQuery.each(response.data.contentList, function (index, content) {
                            var item = rootClone.clone();
                            $("a", item).attr("href", "/danh-muc/r/"+content.product_category_slug);
                            $("img", item).attr("src", "/upload/" + content.product_category_image);
                            $("img", item).attr("alt", content.product_category_title);
                            $("h2", item).html(content.product_category_title);
                            root.html(root.html() + item.html());
                        });


                    }
                }
            });
        }


        var productItemClone = $("#product-item").clone();
        function loadProductList(page) {
            $.ajax({
                url: "/san-pham-moi/getProductList",
                type: "post", //send it through get method
                data: JSON.stringify({
                    page: page,
                    nbItemsOfPage: !{nbItemsOfPage}
                }), contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {

                        var htmlList = "";
                        for (var i = 0; i < response.data.contentList.length; i++) {
                            var content = response.data.contentList[i];
                            var item = productItemClone.clone().attr("id", "");

                            createProductUI(item, content);
                            $(".clearfix", item).css("display", "none");
                            if (i % 4 == 3) {
                                $(".clearfix", item).css("display", "");
                            }

                            htmlList += item.html();

                        }

                        $('#product-item').css("display", "");
                        if (response.data.contentList.length > 0) {
                            $("#product-item").html(htmlList);
                        } else {
                            $('#product-item').removeClass("product");
                            $('#product-item').html('#{i18n.__("Không có sản phẩm nào")}');
                        }

                    }
                }
            });
        }

        function renderProductPaging() {
            if (!{productTotalPages} <= 1) {
                $('#product-paging').css('display', 'none');
            }
            $('#product-paging').twbsPagination({
                totalPages: !{productTotalPages},
                visiblePages: 5,
                first: "",
                last: "",
                prev: "&nbsp;",
                next: "&nbsp;",
                onPageClick: function (event, page) {
                    loadProductList(page);
                }
            });
        }


        $(document).ready(function () {
            loadCategoriesRoot();
            renderProductPaging();
        });
