extends layout
block Content
    style(type='text/css').
        .bottom{
            visibility: hidden;
            bottom: 0;
            position: absolute;
        }

        .item {
            color: #626366;
            margin: 15px 0px;
        }

        .item span {
            padding-left: 45px;
            display: block;
        }

        .item td {
            padding: 10px 0px;
        }

        .item span {
            padding-left: 15px;
        }

        .item {
            font-size: 14px;
        }



    script.
        var global_array = !{JSON.stringify(personAddress)}
        if(global_array == "") global_array = [];
    main#main
        #banner-intro
            img(src='img/slider2.png', alt='Công ty cổ phần opera')
        .container
            #introduce
                #menu-left
                    span #{username}
                    ul
                        li
                            a(href='thong-tin-tai-khoan') #{i18n.__("Thông tin tài khoản")}
                        li
                            a(href='lich-su-mua-hang') #{i18n.__("Lịch sử đơn hàng")}
                        li.active
                            a(href='so-dia-chi') #{i18n.__("Sổ địa chỉ")}
                        li
                            a(href='#' onclick='front_logout()') #{i18n.__("Đăng xuất")}
                #content
                    .title
                        h1 #{i18n.__("Sổ địa chỉ")}





                    -for (var i = 0; i < personAddress.length; i++)
                        .info-user
                            .col-lg-9.col-md-9.col-sm-9.col-xx-9.col-xs-12
                                .name-user
                                    img(src='img/book.png', alt='')
                                    |    #{personAddress[i].type_name}
                                    if JSON.parse(JSON.stringify(personAddress[i].is_default)).data == 1
                                        span.default-span  (Địa chỉ mặc định)
                                table.item(cellpadding='5', cellspacing='0', border='0', width='100%')
                                    tbody
                                        tr
                                            td(width='30%')
                                                span Điện thoại
                                            td(width='70%') #{personAddress[i].phone}
                                        tr
                                            td
                                                span Email
                                            td #{personAddress[i].email}
                                        tr
                                            td
                                                span Địa chỉ
                                            td #{personAddress[i].address} ,#{district_ward_list[i].district.title} ,#{district_ward_list[i].city.title}
                            .col-lg-3.col-md-3.col-sm-3.col-xx-3.col-xs-12
                                a.edit-info(href='thay-doi-so-dia-chi?id='+personAddress[i].id)
                                    | #{i18n.__("Chỉnh sửa")}
                            .clearfix

                    .info-user.bottom#clone
                        .col-lg-9.col-md-9.col-sm-9.col-xx-9.col-xs-12
                            .name-user
                                img.name(src='img/book.png', alt='')
                                |  asd
                                span.default_span
                            table.item(cellpadding='5', cellspacing='0', border='0', width='100%')
                                tbody
                                    tr
                                        td(width='30%')
                                            span Điện thoại
                                        td.phone-td(width='70%')
                                    tr
                                        td
                                            span Email
                                        td.email-td
                                    tr
                                        td
                                            span Địa chỉ
                                        td.address-td
                        .col-lg-3.col-md-3.col-sm-3.col-xx-3.col-xs-12
                            a.link.edit-info()
                                | #{i18n.__("Chỉnh sửa")}
                        .clearfix
                    a#add_button.edit-info(type="button" onclick="show_ui()")
                        | #{i18n.__("Thêm Địa Chỉ ")}
                    .clearfix
                        .item
                            br
                            .clearfix
                            br
                            .info-book-address.bottom#item
                                .col-lg-3.col-md-3.col-sm-3.col-xx-12.col-xs-12
                                .col-lg-6.col-md-6.col-sm-6.col-xx-9.col-xs-12
                                    form#book-modify(action='')
                                        br
                                        p #{i18n.__("Họ tên")}
                                        input#fullName(type='text', placeholder='Nguyễn Văn A')
                                        p #{i18n.__("Số điện thoại")} (#{i18n.__("Nhân viên Operamart sẽ liên hệ số điện thoại nay")})
                                        input#phoneNumber(type='text', placeholder='0939675326')
                                        p #{i18n.__("Email")} (#{i18n.__("không bắt buộc")})
                                        input#email(type='text', placeholder='nguyenvana@gmail.com')
                                        p #{i18n.__("Tỉnh/Thành phố")}
                                        select#city(name='city' onchange="change_city(this)")
                                            option(value='-1')
                                            each obj in city_list
                                                option(value=obj.id) #{obj.title}
                                        p #{i18n.__("Quận/Huyện")}
                                        select#district(name='district' )
                                            option(value='-1')
                                        p #{i18n.__("Địa chỉ chi tiết")}
                                        input#address(type='text', placeholder='21 Nguyễn Ư Di, P5')
                                        .clearfix
                                        input#default(type='checkbox')
                                        |  #{i18n.__("Đặt làm địa chỉ mặc định")}
                                        .clearfix
                                        input.edit-info.button-sua(type='button', value=i18n.__("Cập nhật") onclick="add(this)")
                                .col-lg-3.col-md-3.col-sm-3.col-xx-3.col-xs-12
                                    p.btnCancel
                                        img.delete(src='img/delete.png', alt='cancel' onclick="hide_ui(this)")
                                .clearfix



                .clearfix


    script(type='text/javascript', src='js/so-dia-chi.js')
