extends layout
block Content
    main#main
        .container
            #cart
                .payment
                    .col-md-6.col-lg-6.col-sm-5.col-xx-12.col-xs-12
                    .col-md-6.col-lg-6.col-sm-7.col-xx-12.col-xs-12
                        img(src='img/logo1.png', alt='')
                    .clearfix
                    .line
                    .col-md-6.col-lg-6.col-sm-5.col-xx-12.col-xs-12
                    .col-md-6.col-lg-6.col-sm-7.col-xx-12.col-xs-12
                        .info-payment
                            table(cellspacing='0', cellpadding='0', border='0', width='100%')
                                tr
                                    td(width='25%', valign='top')
                                        | #{i18n.__("Tên đơn vị")}:
                                    td(width='75%')
                                        | OPERA
                                        br
                                        |                                            (www.opera.vn)
                                tr
                                    td
                                        | #{i18n.__("Đơn hàng")}:
                                    td
                                        | xxxxxxxxx
                                tr
                                    td
                                        | #{i18n.__("Tên đơn vị")}:
                                    td
                                        p.price 56.000VND
                                tr
                                    td(colspan='2')
                                        p
                                            img(src='img/lock.png', alt='')
                                            |  #{i18n.__("Mời nhập thông tin thẻ và bấm thanh toán")}
                                tr
                                    td(colspan='2')
                                        div(style='width: 100%;')
                                            .col-md-3.col-lg-3.col-sm-3.col-xx-3.col-xs-12
                                                label(for='') #{i18n.__("Số thẻ")}:
                                            .col-md-9.col-lg-9.col-sm-9.col-xx-9.col-xs-12
                                                input#cardNumber(type='text', name='cardNumber')
                                            .clearfix
                                            .col-md-3.col-lg-3.col-sm-3.col-xx-3.col-xs-12
                                                label(for='') #{i18n.__("Loại thẻ")}:
                                            .col-md-9.col-lg-9.col-sm-9.col-xx-9.col-xs-12
                                                img(src='img/visa.png', alt='')
                                            .clearfix
                                            .col-md-3.col-lg-3.col-sm-3.col-xx-3.col-xs-12
                                                label(for='') #{i18n.__("Ngày hết hạn")}:
                                            .col-md-9.col-lg-9.col-sm-9.col-xx-9.col-xs-12
                                                select#month(name='month')
                                                    option(value='') #{i18n.__("Tháng")}
                                                    option(value='1') 1
                                                    option(value='2') 2
                                                    option(value='3') 3
                                                    option(value='4') 4
                                                    option(value='5') 5
                                                    option(value='6') 6
                                                    option(value='7') 7
                                                    option(value='8') 8
                                                    option(value='9') 9
                                                    option(value='10') 10
                                                    option(value='11') 11
                                                    option(value='12') 12
                                                select#year(name='year')
                                                    option(value='') #{i18n.__("Năm")}
                                                    option(value='2019') 2019
                                            .clearfix
                                            .col-md-3.col-lg-3.col-sm-3.col-xx-3.col-xs-12
                                                label(for='') CSC
                                            .col-md-9.col-lg-9.col-sm-9.col-xx-9.col-xs-12
                                                input#csc(type='text', name='csc')
                                                span.csc #{i18n.__("CSC là gì?")}
                                            .clearfix
                                            br
                                            p #{i18n.__("Địa chỉ hóa đơn")}
                                            .clearfix
                                            .col-md-3.col-lg-3.col-sm-3.col-xx-3.col-xs-12
                                                label(for='') #{i18n.__("Địa chỉ")}*:
                                            .col-md-9.col-lg-9.col-sm-9.col-xx-9.col-xs-12
                                                input#address(type='text', value='21 Nguyen ư di', name='address')
                                            .clearfix
                                            .col-md-3.col-lg-3.col-sm-3.col-xx-3.col-xs-12
                                                label(for='') #{i18n.__("Quận/Huyện")}*:
                                            .col-md-9.col-lg-9.col-sm-9.col-xx-9.col-xs-12
                                                input#district(type='text', value='Quận 2', name='district')
                                            .clearfix
                                            .col-md-3.col-lg-3.col-sm-3.col-xx-3.col-xs-12
                                                label(for='') #{i18n.__("Tỉnh/Thành phố")}:
                                            .col-md-9.col-lg-9.col-sm-9.col-xx-9.col-xs-12
                                                input#city(type='text', value='Hồ Chí Minh', name='city')
                                            .clearfix
                                            .col-md-3.col-lg-3.col-sm-3.col-xx-3.col-xs-12
                                                label(for='') #{i18n.__("Mã bưu điện")}:
                                            .col-md-9.col-lg-9.col-sm-9.col-xx-9.col-xs-12
                                                input#postCode(type='text', value='', name='postCode')
                                            .clearfix
                                            .col-md-3.col-lg-3.col-sm-3.col-xx-3.col-xs-12
                                                label(for='') #{i18n.__("Quốc gia")}*:
                                            .col-md-9.col-lg-9.col-sm-9.col-xx-9.col-xs-12
                                                select#national(name='national')
                                                    option(value='vietnam') Việt Nam
                                            .clearfix
                                tr
                                    td(colspan='2', align='right')
                                        a.edit-info(href='#')
                                            | #{i18n.__("Thanh toán")}
                                        a.cancel-payment(href='#') #{i18n.__("Hủy giao dịch")}
                    .clearfix

    script.
        //function loadCart() {
        //    $.ajax({
        //        url: "gio-hang/getCart",
        //        type: "post", //send it through get method
        //        data: JSON.stringify({
        //        }), contentType: "application/json",
        //
        //        success: function (response) {
        //            if (response.response_code == "SUCC_EXEC") {
        //
        //                if (response.data.products.length == 0) {
        //                    var text = '!{i18n.__("Chưa có sản phẩm")}';
        //                    $("#tblCart").html(text);
        //                    $("#temporary").html("0 VND");
        //                    $(".info-order .total").html("0 VND");
        //                    return;
        //                }
        //                var total = 0;
        //                var htmlList = "";
        //                var cartItem = $("#tblCart tbody tr");
        //                for (var i = 0; i < response.data.products.length; i++) {
        //                    var content = response.data.products[i];
        //                    var item = cartItem.clone();
        //                    $(".price", item).html(content.price);
        //                    $("h3", item).html(content.description);
        //                    $(".img img", item).attr("src", "../upload/" + content.image);
        //                    $(".img img", item).attr("alt", content.title);
        //                    htmlList += item.html();
        //                    total += content.price * content.order_quantity;
        //                }
        //                cartItem.html(htmlList);
        //                $("#temporary").html(total + "VND");
        //                $(".info-order .total").html(total + "VND");
        //
        //            }
        //        }
        //    });
        //}
        //loadCart();