extends layout
block Content
    style(type='text/css').
        .bottom{
            visibility: hidden;
            bottom: 0;
            position: absolute;
        }

        .item {
            color: #626366;
            margin: 15px 0px;
        }

        .item span {
            padding-left: 45px;
            display: block;
        }

        .item td {

            padding: 10px 0px;
        }

        .item span {
            padding-left: 15px;
        }

        .item {
            font-size: 12px;
        }



    script.
        var global_array = !{JSON.stringify(personAddress)}
        if(global_array == "") global_array = [];
    main#main
        #banner-intro
            img(src='img/slider2.png', alt='Công ty cổ phần opera')
        .container
            #introduce
                #menu-left
                    span #{username}
                    ul
                        li
                            a(href='thong-tin-tai-khoan') #{i18n.__("Thông tin tài khoản")}
                        li
                            a(href='lich-su-mua-hang') #{i18n.__("Lịch sử đơn hàng")}
                        li.active
                            a(href='so-dia-chi') #{i18n.__("Sổ địa chỉ")}
                        li
                            a(href='#' onclick='front_logout()') #{i18n.__("Đăng xuất")}
                #content
                    .title
                        h1 Sổ địa chỉ
                    .info-user
                        .col-lg-9.col-md-9.col-sm-9.col-xx-9.col-xs-12
                            .name-user
                                img(src='img/book.png', alt='')
                                |    #{personAddress.type_name}
                                if personAddress.is_default == 1
                                    span (Địa chỉ mặc định)
                            table#tblBookInfo(cellpadding='5', cellspacing='0', border='0', width='100%')
                                tbody
                                    tr
                                        td(width='34%')
                                            span Điện thoại
                                        td(width='66%') #{personAddress.phone}
                                    tr
                                        td
                                            span Email
                                        td #{personAddress.email}
                                    tr
                                        td
                                            span Địa chỉ
                                        td #{personAddress.street}

                        .clearfix
                        .info-book-address
                            .col-lg-3.col-md-3.col-sm-3.col-xx-12.col-xs-12
                            .col-lg-6.col-md-6.col-sm-6.col-xx-9.col-xs-12
                                form#book-modify()
                                    p Họ tên
                                    input#fullName(type='text', value=personAddress.type_name)
                                    p Số điện thoại (Nhân viên Operamart sẽ liên hệ số điện thoại nay)
                                    input#phoneNumber(type='text', value=personAddress.phone)
                                    p Email (không bắt buộc)
                                    input#email(type='text', value=personAddress.email)
                                    p Tỉnh/Thành phố
                                    select#city(name='city' onchange="change_city()")
                                        option(value='-1')
                                        each obj in city_list
                                            if obj.id == personAddress.city_id
                                                option(value=obj.id selected="selected") #{obj.title}
                                            else
                                                option(value=obj.id) #{obj.title}
                                    p Quận/Huyện
                                    select#district(name='district' )
                                        option(value='-1')
                                        each obj in district_list
                                            if obj.id == personAddress.district_id
                                                option(value=obj.id selected="selected") #{obj.title}
                                            else
                                                option(value=obj.id) #{obj.title}
                                    p Địa chỉ chi tiết
                                    input#address(type='text', value=personAddress.address)
                                    .clearfix
                                    if personAddress.is_default == 1
                                        input#default(type='checkbox' checked)
                                        |  Đặt làm địa chỉ mặc định
                                    else
                                        input#default(type='checkbox')
                                        |  Đặt làm địa chỉ mặc định
                                    .clearfix
                                    input.edit-info(type='button', value='Cập nhật' onclick='update("'+personAddress.id+'")')
                            .col-lg-3.col-md-3.col-sm-3.col-xx-3.col-xs-12
                                p.btnCancel
                                    img(src='img/delete.png', alt='cancel' onclick='delete_address("'+personAddress.id+'")')
                            .clearfix
                .clearfix


    script(type='text/javascript', src='js/thay-doi-so-dia-chi.js')
