extends layout
block Content
    main#main
        #banner-intro
            img(src='img/slider2.png', alt='Công ty cổ phần opera')
        .container
            #introduce
                #menu-left
                    span#span_name #{person.name}
                    ul
                        li.active
                            a(href='thong-tin-tai-khoan') #{i18n.__("Thông tin tài khoản")}
                        li
                            a(href='lich-su-mua-hang') #{i18n.__("Lịch sử đơn hàng")}
                        li
                            a(href='so-dia-chi') #{i18n.__("Sổ địa chỉ")}
                        li
                            a(href='#' onclick='front_logout()') #{i18n.__("Đăng xuất")}
                #content
                    .title
                        h1 #{i18n.__("Thông tin tài khoản")}
                    .info-user
                        form#info-accout-edit
                            .col-lg-3.col-md-3.col-sm-4.col-xx-4.col-xs-12
                                label(for='') #{i18n.__("Họ và tên")}*
                            .col-lg-9.col-md-9.col-sm-8.col-xx-8.col-xs-12
                                input#fullName(type='text', name='fullName', value=person.name)
                            .clearfix
                            .col-lg-3.col-md-3.col-sm-4.col-xx-4.col-xs-12
                                label(for='') #{i18n.__("Email")}*
                            .col-lg-9.col-md-9.col-sm-8.col-xx-8.col-xs-12
                                input#email(type='text', name='email', value=person.email disabled)
                            .clearfix
                            .col-lg-3.col-md-3.col-sm-4.col-xx-4.col-xs-12
                                label(for='') #{i18n.__("Số điện thoại")}
                            .col-lg-9.col-md-9.col-sm-8.col-xx-8.col-xs-12
                                input#phoneNumber(type='text', name='phoneNumber', value=person.phone)
                            .clearfix
                            .col-lg-3.col-md-3.col-sm-4.col-xx-4.col-xs-12
                                label(for='') #{i18n.__("Giới tính")}*
                            .col-lg-9.col-md-9.col-sm-8.col-xx-8.col-xs-12
                                if person.gender == 1
                                    input#gender(type='radio', name='sex', checked='checked', value='male')
                                    |  #{i18n.__("Nam")}     
                                    input(type='radio', name='sex', value='female')
                                    |  #{i18n.__("Nữ")}
                                else
                                    input(type='radio', name='sex', value='male')
                                    |  #{i18n.__("Nam")}     
                                    input(type='radio', name='sex', checked='checked', value='female')
                                    |  #{i18n.__("Nữ")}
                            .clearfix
                            .col-lg-3.col-md-3.col-sm-4.col-xx-4.col-xs-12
                                label(for='') #{i18n.__("Ngày sinh")}
                            .col-lg-9.col-md-9.col-sm-8.col-xx-8.col-xs-12
                                .birthday
                                    .col-lg-4.col-md-4.col-sm-4.col-xx-4.col-xs-4
                                        select#day(name='day')
                                            -for (var i = 1; i < 32; i++)
                                                if i == dateObject.day
                                                    option(value=i selected=true) #{i}
                                                else
                                                    option(value=i) #{i}
                                    .col-lg-4.col-md-4.col-sm-4.col-xx-4.col-xs-4
                                        select#month(name='month')
                                            -for (var i = 1; i < 13; i++)
                                                if i == dateObject.month
                                                    option(value=i selected=true) #{i}
                                                else
                                                    option(value=i) #{i}
                                    .col-lg-4.col-md-4.col-sm-4.col-xx-4.col-xs-4
                                        select#year(name='year')
                                            -for (var i = 1960; i < current_year; i++)
                                                if i == dateObject.year
                                                    option(value=i selected=true) #{i}
                                                else
                                                    option(value=i) #{i}
                            .clearfix
                            .col-lg-3.col-md-3.col-sm-4.col-xx-5.col-xs-12
                                label(for='')  
                            .col-lg-9.col-md-9.col-sm-8.col-xx-7.col-xs-12
                                input.edit-info(type='button', value=i18n.__("Lưu thông tin") onclick="update()")
                            .clearfix
                .clearfix

    script.
        function update() {
            var username = $('#fullName').val();
            var email = $('#email').val();
            var phoneNumber = $('#phoneNumber').val();
            var gender = $('#gender').prop( "checked" );
            if(gender){
                gender = 1;
            }else {
                gender = 0;
            }
            var a = document.getElementById('day');
            var day = a.options[a.selectedIndex].text;
            var b = document.getElementById('month');
            var month = b.options[b.selectedIndex].text;
            var c = document.getElementById('year');
            var year = c.options[c.selectedIndex].text;
            $.ajax({
                url: "thong-tin-tai-khoan/update",
                type: "post",
                data: JSON.stringify({
                    username: username,
                    email: email,
                    phoneNumber: phoneNumber,
                    gender: gender,
                    day: day,
                    month: month,
                    year: year
                }),
                contentType: "application/json",

                success: function (response) {
                    if (response.response_code == "SUCC_EXEC") {
                        document.getElementById("span_name").innerText = username;
                        alert("#{i18n.__("Cập nhật thành công")}");
                    }
                }
            });

        }