extends layout

block Content
    link(rel='stylesheet', type='text/css', href='/js/bootstrap-carousel-touch-slider/bootstrap-touch-slider.css')
    main#main.box-width.box-bg.fix-float
        .row.top17
            .col-md-0.col-lg-2
            .col-md-12.col-lg-7.left17.right17
                #slider
                    #myCarousel.carousel.slide(class="bs-slider fade  control-round indicators-line" data-ride='carousel' data-interval="false" )
                        // Wrapper for slides
                        .carousel-inner
                            -for (var i = 0; i < sliderList.length; i++)
                                if i == 0
                                    .item.active
                                        img.need-scale(src="/upload/"+sliderList[i].image , alt='Los Angeles')
                                else
                                    .item
                                        img.need-scale(src="/upload/"+sliderList[i].image , alt='Chicago')
                        // Left and right controls
                        a.left.carousel-control(href='#myCarousel', data-slide='prev')
                            span.glyphicon.glyphicon-chevron-left
                            span.sr-only Previous
                        a#next.right.carousel-control(href='#myCarousel', data-slide='next')
                            span.glyphicon.glyphicon-chevron-right
                            span.sr-only Next
        .back
        .container
            .row DANH MỤC
            .row
                .product
                    .col-lg-2.col-md-2.col-sm-6.col-xx-6.col-xs-12
                        .item_cat
                            a(href='#')
                                img(src='img/category1.png', alt='Thực phẩm cao cấp')
                                h2 Thực phẩm cao cấp
                    .col-lg-2.col-md-2.col-sm-6.col-xx-6.col-xs-12
                        .item_cat
                            a(href='#')
                                img(src='img/category1.png', alt='Thực phẩm cao cấp')
                                h2 Thực phẩm cao cấp

        br
        br
        .container
            .row DÀNH RIÊNG CHO BẠN
            .row
                .product-for-you
                    .col-lg-2.col-md-2.col-sm-6.col-xx-6.col-xs-12
                        .item-pro
                            a(href='chi-tiet-san-pham/thung-24-chai-nuoc-mam-thai-long-phan-thiet-nhan-vang-hao-hang-20n-500ml')
                                .item-img
                                    img(src='img/product.png', alt='Đậu thận đỏ đóng hộp')
                            a(href='chi-tiet-san-pham/thung-24-chai-nuoc-mam-thai-long-phan-thiet-nhan-vang-hao-hang-20n-500ml')
                                h2 Máy Ảnh Canon 750D + Lens 18-55 IS STM (Lê Bảo Minh) - Hàng Chính hãng
                            span.price.sale
                                | 40.000
                                sup đ
                            span.price_old
                                | 44.000
                                sup đ
                    .col-lg-2.col-md-2.col-sm-6.col-xx-6.col-xs-12
                        .item-pro
                            a(href='chi-tiet-san-pham/thung-24-chai-nuoc-mam-thai-long-phan-thiet-nhan-vang-hao-hang-20n-500ml')
                                .item-img
                                    img(src='img/product.png', alt='Đậu thận đỏ đóng hộp')
                            a(href='chi-tiet-san-pham/thung-24-chai-nuoc-mam-thai-long-phan-thiet-nhan-vang-hao-hang-20n-500ml')
                                h2 Máy Ảnh Canon 750D + Lens 18-55 IS STM (Lê Bảo Minh) - Hàng Chính hãng
                            span.price.sale
                                | 40.000
                                sup đ
                            span.price_old
                                | 44.000
                                sup đ
                    .col-lg-2.col-md-2.col-sm-6.col-xx-6.col-xs-12
                        .item-pro
                            a(href='chi-tiet-san-pham/thung-24-chai-nuoc-mam-thai-long-phan-thiet-nhan-vang-hao-hang-20n-500ml')
                                .item-img
                                    img(src='img/product.png', alt='Đậu thận đỏ đóng hộp')
                            a(href='chi-tiet-san-pham/thung-24-chai-nuoc-mam-thai-long-phan-thiet-nhan-vang-hao-hang-20n-500ml')
                                h2 Máy Ảnh Canon 750D + Lens 18-55 IS STM (Lê Bảo Minh) - Hàng Chính hãng
                            span.price.sale
                                | 40.000
                                sup đ
                            span.price_old
                                | 44.000
                                sup đ
                    .col-lg-2.col-md-2.col-sm-6.col-xx-6.col-xs-12
                        .item-pro
                            a(href='chi-tiet-san-pham/thung-24-chai-nuoc-mam-thai-long-phan-thiet-nhan-vang-hao-hang-20n-500ml')
                                .item-img
                                    img(src='img/product.png', alt='Đậu thận đỏ đóng hộp')
                            a(href='chi-tiet-san-pham/thung-24-chai-nuoc-mam-thai-long-phan-thiet-nhan-vang-hao-hang-20n-500ml')
                                h2 Máy Ảnh Canon 750D + Lens 18-55 IS STM (Lê Bảo Minh) - Hàng Chính hãng
                            span.price.sale
                                | 40.000
                                sup đ
                            span.price_old
                                | 44.000
                                sup đ
                    .col-lg-2.col-md-2.col-sm-6.col-xx-6.col-xs-12
                        .item-pro
                            a(href='chi-tiet-san-pham/thung-24-chai-nuoc-mam-thai-long-phan-thiet-nhan-vang-hao-hang-20n-500ml')
                                .item-img
                                    img(src='img/product.png', alt='Đậu thận đỏ đóng hộp')
                            a(href='chi-tiet-san-pham/thung-24-chai-nuoc-mam-thai-long-phan-thiet-nhan-vang-hao-hang-20n-500ml')
                                h2 Máy Ảnh Canon 750D + Lens 18-55 IS STM (Lê Bảo Minh) - Hàng Chính hãng
                            span.price.sale
                                | 40.000
                                sup đ
                            span.price_old
                                | 44.000
                                sup đ
                    .col-lg-2.col-md-2.col-sm-6.col-xx-6.col-xs-12
                        .item-pro
                            a(href='chi-tiet-san-pham/thung-24-chai-nuoc-mam-thai-long-phan-thiet-nhan-vang-hao-hang-20n-500ml')
                                .item-img
                                    img(src='img/product.png', alt='Đậu thận đỏ đóng hộp')
                            a(href='chi-tiet-san-pham/thung-24-chai-nuoc-mam-thai-long-phan-thiet-nhan-vang-hao-hang-20n-500ml')
                                h2 Máy Ảnh Canon 750D + Lens 18-55 IS STM (Lê Bảo Minh) - Hàng Chính hãng
                            span.price.sale
                                | 40.000
                                sup đ
                            span.price_old
                                | 44.000
                                sup đ
                    .col-lg-2.col-md-2.col-sm-6.col-xx-6.col-xs-12
                        .item-pro
                            a(href='chi-tiet-san-pham/thung-24-chai-nuoc-mam-thai-long-phan-thiet-nhan-vang-hao-hang-20n-500ml')
                                .item-img
                                    img(src='img/product.png', alt='Đậu thận đỏ đóng hộp')
                            a(href='chi-tiet-san-pham/thung-24-chai-nuoc-mam-thai-long-phan-thiet-nhan-vang-hao-hang-20n-500ml')
                                h2 Máy Ảnh Canon 750D + Lens 18-55 IS STM (Lê Bảo Minh) - Hàng Chính hãng
                            span.price.sale
                                | 40.000
                                sup đ
                            span.price_old
                                | 44.000
                                sup đ
                .clearfix


    script(type='text/javascript', language='javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js' defer='true')
    script(type='text/javascript', language='javascript', src='/js/bootstrap-carousel-touch-slider/bootstrap-touch-slider.js' defer='true')

    script.


        $(document).ready(function () {
            $('#myCarousel').bsTouchSlider();
            $("#myCarousel").on("touchstart", function (event) {
                var xClick = event.originalEvent.touches[0].pageX;
                $(this).one("touchmove", function (event) {
                    var xMove = event.originalEvent.touches[0].pageX;
                    if (Math.floor(xClick - xMove) > 5) {
                        $("#next").click();
                    }
                });
                $(".carousel").on("touchend", function () {
                    $(this).off("touchmove");
                });
            });
            function next() {
                $("#next").click();
            }

            function syc_slider_speed() {
                $.ajax({
                    url: "/getSliderSpeed",
                    type: "post", //send it through get method
                    cache: false,
                    timeout: 10000,
                    data: "", contentType: "application/json",

                    success: function (response) {
                        if (response.response_code == "SUCC_EXEC") {
                            var speed = response.data.value;


                            interval = setInterval(function () {
                                next();
                            }, speed);


                        }
                    }
                });
            }

            syc_slider_speed();
            load_meta_index_front_end()
            $(".menu-trang-chu").addClass("active");
            $('#main').css('position', 'initial');
            $('#main').css('display', 'inherit');
        });