div.inner-wrapper
    // start: sidebar
    aside(id="sidebar-left" class="sidebar-left")
        div.sidebar-header
            div.sidebar-title Điều hướng
            div(class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle")
                i(class="fa fa-bars" aria-label="Toggle sidebar")
        div.nano
            div.nano-content
                nav(id="menu" class="nav-main" role="navigation")
                    ul(class='nav nav-main' id="left-menu" style="display:none;")
                        li.nav-parent#gioithieu_page
                            a
                                i(class="glyphicon glyphicon-exclamation-sign" aria-hidden="true")
                                span Giới thiệu
                            ul(class="nav nav-children")
                                li.nav-parent#cong_ty_co_phan_page
                                    a(href='cong-ty-co-phan-opera')
                                        span Giá trị cốt lõi của Thái Long
                                //li.nav-parent#chinh_sach_chat_luong_page
                                    a(href='chinh-sach-chat-luong')
                                        span Tầm nhìn - Sứ Mệnh - Chính sách chất lượng

                        li.nav-parent#quan_ly_footer_page
                            a
                                i(class="glyphicon glyphicon-th-list" aria-hidden="true")
                                span Quản lý footer
                            ul(class="nav nav-children")
                                li.nav-parent#thong_tin_lien_lac_cong_ty
                                    a(href='thong-tin-lien-lac-cong-ty')
                                        span Thông tin liên lạc công ty
                                //li.nav-parent
                                //    a(href='quan-ly-thong-tin-truyen-thong')
                                //        span Quản lý thông tin truyền thông
                                li.nav-parent#quan-ly-danh-muc-cap-2-footer
                                    a(href='quan-ly-danh-muc-cap-2-footer')
                                        span Quản lý danh mục cấp 2 footer
                                li.nav-parent#danh-sach-chinh-sach-ban-hang-shorcut
                                    a(href='danh-sach-chinh-sach-ban-hang')
                                        span Chính sách bán hàng
                                li.nav-parent#thong-tin-truyen-thong
                                    a(href='quan-ly-thong-tin-truyen-thong')
                                        span Thông tin truyền thông
                        li.nav-parent#trangchu_slider_page
                            a
                                i(class="glyphicon glyphicon-home" aria-hidden="true")
                                span Quản lý trang chủ
                            ul(class="nav nav-children")
                                li.nav-parent#them-slider-home
                                    a(href='them-slider-home')
                                        span Thêm slide hình
                                li.nav-parent#danh-sach-slider-home
                                    a(href='danh-sach-slider-home')
                                        span Danh sách slide hình

                                li.nav-parent#quan-ly-meta-trang-chu
                                    a(href='quan-ly-meta-trang-chu')
                                        span Quản lý meta trang chủ

                                li.nav-parent#quan-ly-toc-do-slider-trang-chu
                                    a(href='quan-ly-toc-do-slider-trang-chu')
                                        span Quản lý tốc độ slider trang chủ

                        li.nav-parent#chinhsachbanhang_page
                            a
                                i(class="glyphicon glyphicon-info-sign" aria-hidden="true")
                                span Quản lý chính sách bán hàng
                            ul(class="nav nav-children")
                                li.nav-parent#them-chinh-sach-ban-hang
                                    a(href='them-chinh-sach-ban-hang')
                                        span Thêm bài viết
                                li.nav-parent#danh-sach-chinh-sach-ban-hang
                                    a(href='danh-sach-chinh-sach-ban-hang')
                                        span Danh sách bài viết

                        li.nav-parent#sanpham-page
                            a()
                                i(class="glyphicon glyphicon-book" aria-hidden="true")
                                span Quản lý sản phẩm
                            ul(class="nav nav-children")
                                li.nav-parent#them-danh-muc-san-pham
                                    a(href='them-danh-muc-san-pham')
                                        span Thêm danh mục sản phẩm
                                li.nav-parent#danh-sach-danh-muc-san-pham
                                    a(href='danh-sach-danh-muc-san-pham')
                                        span Danh sách danh mục sản phẩm
                                li.nav-parent#them-san-pham-don-vi
                                    a(href='them-san-pham-don-vi')
                                        span Thêm sản phẩm đơn vị
                                li.nav-parent#danh-sach-san-pham-don-vi
                                    a(href='danh-sach-san-pham-don-vi')
                                        span Danh sách sản phẩm đơn vị
                                li.nav-parent#themSanPhamCombo
                                    a(href='them-san-pham-combo')
                                        span Thêm sản phẩm combo
                                li.nav-parent#danh-sach-san-pham-combo
                                    a(href='danh-sach-san-pham-combo')
                                        span Danh sách sản phẩm combo
                                li.nav-parent#chinh-sua-banner-san-pham
                                    a(href='chinh-sua-banner-san-pham')
                                        span Cập nhật banner tổng quan
                                li.nav-parent#quan-ly-san-pham-qua-tang
                                    a(href='quan-ly-san-pham-qua-tang')
                                        span Quản lý sản phẩm quà tặng
                                li.nav-parent#quan-ly-san-pham-ban-chay
                                    a(href='quan-ly-san-pham-ban-chay')
                                        span Quản lý sản phẩm bán chạy
                                li.nav-parent#quan-ly-meta-tong-quan-san-pham
                                    a(href='quan-ly-meta-tong-quan-san-pham')
                                        span Quản lý meta tổng quan sản phẩm
                                li.nav-parent#them-thuong-hieu
                                    a(href='them-thuong-hieu')
                                        span Thêm thương hiệu
                                li.nav-parent#danh-sach-thuong-hieu
                                    a(href='danh-sach-thuong-hieu')
                                        span Quản lý thương hiệu
                        li.nav-parent#khuyenmai-page
                            a()
                                i(class="glyphicon glyphicon-folder-close" aria-hidden="true")
                                span Quản lý khuyến mãi
                            ul(class="nav nav-children")
                                li.nav-parent#them-chuong-trinh-khuyen-mai
                                    a(href='them-chuong-trinh-khuyen-mai')
                                        span Thêm CT khuyến mãi
                                li.nav-parent#danh-sach-chuong-trinh-khuyen-mai
                                    a(href='danh-sach-chuong-trinh-khuyen-mai')
                                        span Danh sách CT khuyến mãi
                                li.nav-parent#tao-coupon
                                    a(href='tao-coupon')
                                        span Tạo coupon
                                li.nav-parent#danh-sach-chuong-trinh-coupon
                                    a(href='danh-sach-chuong-trinh-coupon')
                                        span Danh sách CT Coupon
                                li.nav-parent#danh-sach-coupon
                                    a(href='danh-sach-coupon')
                                        span Danh sách tất cả Coupon
                                li.nav-parent#quan-ly-meta-tong-quan-khuyen-mai
                                    a(href='quan-ly-meta-tong-quan-khuyen-mai')
                                        span Quản lý meta tổng quan khuyến mãi
                                li.nav-parent#chinh-sua-banner-khuyen-mai
                                    a(href='chinh-sua-banner-khuyen-mai')
                                        span Cập nhật banner tổng quan
                                li.nav-parent#quan-ly-san-pham-khuyen-mai
                                    a(href='quan-ly-san-pham-khuyen-mai')
                                        span Quản lý sản phẩm khuyến mãi
                                li.nav-parent#quan-ly-popup-khuyen-mai
                                    a(href='quan-ly-popup-khuyen-mai')
                                        span Quản lý Popup khuyến mãi
                        li.nav-parent#tintucsukien-page
                            a()
                                i(class="glyphicon glyphicon-dashboard" aria-hidden="true")
                                span Quản lý tin tức sự kiện
                            ul(class="nav nav-children")
                                li.nav-parent#them-tin-tuc-su-kien
                                    a(href='them-tin-tuc-su-kien')
                                        span Thêm bài viết
                                li.nav-parent#danh-sach-tin-tuc-su-kien
                                    a(href='danh-sach-tin-tuc-su-kien')
                                        span Danh sách bài viết
                                li.nav-parent#chinh-sua-banner-tin-tuc-su-kien
                                    a(href='chinh-sua-banner-tin-tuc-su-kien')
                                        span Cập nhật banner tổng quan
                                li.nav-parent#quan-ly-meta-tin-tuc-su-kien
                                    a(href='quan-ly-meta-tin-tuc-su-kien')
                                        span Quản lý meta tổng quan tin tức
                                li.nav-parent#quan-ly-bai-viet-tin-tuc-su-kien
                                    a(href='quan-ly-bai-viet-tin-tuc-su-kien')
                                        span Quản lý bài viết ở top
                                li.nav-parent#quan-ly-toc-do-slider-tin-tuc
                                    a(href='quan-ly-toc-do-slider-tin-tuc')
                                        span Quản lý tốc độ slider ở top
                        li.nav-parent#monanngon-page
                            a()
                                i(class="glyphicon glyphicon-cutlery" aria-hidden="true")
                                span Quản lý món ăn ngon
                            ul(class="nav nav-children")
                                li.nav-parent#them-mon-an-ngon
                                    a(href='them-mon-an-ngon')
                                        span Thêm bài viết
                                li.nav-parent#danh-sach-mon-an-ngon
                                    a(href='danh-sach-mon-an-ngon')
                                        span Danh sách bài viết
                                li.nav-parent#chinh-sua-banner-mon-an-ngon
                                    a(href='chinh-sua-banner-mon-an-ngon')
                                        span Cập nhật banner tổng quan
                                li.nav-parent#quan-ly-meta-tong-quan-mon-ngon
                                    a(href='quan-ly-meta-tong-quan-mon-ngon')
                                        span Quản lý meta tổng quan món ngon
                                li.nav-parent#quan-ly-bai-viet-mon-an-ngon
                                    a(href='quan-ly-bai-viet-mon-an-ngon')
                                        span Quản lý bài viết ở top
                                li.nav-parent#quan-ly-toc-do-slider-mon-an-ngon
                                    a(href='quan-ly-toc-do-slider-mon-an-ngon')
                                        span Quản lý tốc độ slider ở top

                        li.nav-parent#lienhe-page
                            a()
                                i(class="glyphicon glyphicon-phone-alt" aria-hidden="true")
                                span Quản lý liên hệ
                            ul(class="nav nav-children")
                                li.nav-parent#chinh-sua-lien-he
                                    a(href='chinh-sua-lien-he')
                                        span Chỉnh sửa liên hệ
                                li.nav-parent#danh-sach-lien-he
                                    a(href='danh-sach-lien-he')
                                        span Danh sách liên hệ
                                li.nav-parent#quan-ly-lien-he-footer
                                    a(href='quan-ly-lien-he-footer')
                                        span Quản lý liên hệ footer

                        li.nav-parent#email-page
                            a()
                                i(class="glyphicon glyphicon-envelope" aria-hidden="true")
                                span Soạn thảo Email
                            ul(class="nav nav-children")
                                li.nav-parent#cau-hinh-email
                                    a(href='cau-hinh-email')
                                        span Cấu hình email
                                li.nav-parent#soan-thao-email
                                    a(href='soan-thao-email')
                                        span Email xác nhận đã đăng ký
                        li.nav-parent#chinhanh-page
                            a()
                                i(class="glyphicon glyphicon-tower" aria-hidden="true")
                                span Quản lý chi nhánh (để sau)
                            ul(class="nav nav-children")
                                li.nav-parent#them-chi-nhanh-cua-hang
                                    a(href='them-chi-nhanh-cua-hang')
                                        span Thêm chi nhánh
                                li.nav-parent#danh-sach-chi-nhanh-cua-hang
                                    a(href='danh-sach-chi-nhanh-cua-hang')
                                        span Danh sách chi nhánh
                                li.nav-parent#cap-nhat-banner-chi-nhanh
                                    a(href='chinh-sua-banner-chi-nhanh')
                                        span Cập nhật banner chi nhánh

                        //li.nav-parent#customer-page
                            a()
                                i(class="glyphicon glyphicon-oil" aria-hidden="true")
                                span Quản lý khách hàng thân thiết
                            ul(class="nav nav-children")
                                li.nav-parent#danh-sach-khach-hang-than-thiet
                                    a(href='danh-sach-khach-hang-than-thiet')
                                        span Danh sách khách hàng thân thiết
                        li.nav-parent#warehouse-page
                            a()
                                i(class="glyphicon glyphicon-oil" aria-hidden="true")
                                span Quản lý kho
                            ul(class="nav nav-children")
                                li.nav-parent#danh-sach-nhap-kho
                                    a(href='danh-sach-nhap-kho')
                                        span Kho hàng
                        li.nav-parent#order-page
                            a()
                                i(class="glyphicon glyphicon-credit-card" aria-hidden="true")
                                span Quản lý đơn hàng
                            ul(class="nav nav-children")
                                li.nav-parent#danh-sach-don-hang
                                    a(href='danh-sach-don-hang')
                                        span Danh sách đơn hàng
                        li.nav-parent#statics-page
                            a()
                                i(class="glyphicon glyphicon-credit-card" aria-hidden="true")
                                span Báo cáo
                            ul(class="nav nav-children")
                                li.nav-parent#bao-cao-ban-hang
                                    a(href='bao-cao-ban-hang')
                                        span Báo cáo bán hàng
                                li.nav-parent#thong-ke-ban-hang
                                    a(href='thong-ke-ban-hang')
                                        span Thống kê bán hàng tổng hợp
                                li.nav-parent#bao-cao-doanh-so-theo-nganh-hang
                                    a(href='bao-cao-doanh-so-theo-nganh-hang')
                                        span Báo cáo doanh số theo ngành hàng
                                li.nav-parent#thong-ke-ban-hang-chi-tiet
                                    a(href='thong-ke-ban-hang-chi-tiet')
                                        span Thống kê bán hàng chi tiết
                                li.nav-parent#bao-cao-ban-hang-day-du
                                    a(href='bao-cao-ban-hang-day-du')
                                        span Báo cáo bán hàng đầy đủ

                        li.nav-parent#user-page
                            a()
                                i(class="glyphicon glyphicon-credit-card" aria-hidden="true")
                                span Quản lý user
                            ul(class="nav nav-children")
                                li.nav-parent#them-user-admin
                                    a(href='them-user-admin')
                                        span Thêm user
                                li.nav-parent#danh-sach-user-admin
                                    a(href='danh-sach-user-admin')
                                        span Danh sách user
                                li.nav-parent#them-quyen
                                    a(href='them-quyen')
                                        span Thêm quyền
                                li.nav-parent#danh-sach-quyen
                                    a(href='danh-sach-quyen')
                                        span Danh sách quyền
                        li.nav-parent#scrit-page
                            a()
                                i(class="glyphicon glyphicon-credit-card" aria-hidden="true")
                                span Script
                            ul(class="nav nav-children")
                                li.nav-parent#insert-script-tag
                                    a(href='insert-script-tag')
                                        span Script tag
                        //li.nav-parent#ship-page
                            a()
                                i(class="glyphicon glyphicon-credit-card" aria-hidden="true")
                                span Quản lý thời gian giao hàng
                            ul(class="nav nav-children")
                                li.nav-parent#insert-ship-time
                                    a(href='insert-ship-time')
                                        span Sửa thời gian giao hàng

                //hr.separator
                //div(class='sidebar-widget widget-tasks')
                //    div.widget-header
                //        h6 Các thuật toán
                //        div.widget-toggle +
                //    div.widget-content
                //        ul(class='list-unstyled m-none')
                //            li
                //                a(href='#') Ethash
                //            li
                //                a(href='#') CryptoNight
                //            li
                //                a(href='#') Equihash

                //hr.separator
                //div(class='sidebar-widget widget-stats')
                //    div.widget-header
                //        h6 Tình trạng các máy đào
                //        div.widget-toggle +
                //    div.widget-content
                //        ul
                //            li
                //                span.stats-title Số máy đang hoạt động
                //                span.stats-complete 85%
                //                div.progress
                //                    div(class="progress-bar progress-bar-primary progress-without-number" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;")
                //                        span.sr-only 85% Complete
                //            li
                //                span.stats-title Số máy trục trặc thường xuyên (trên 5 lần 1 ngày)
                //                span.stats-complete 10%
                //                div.progress
                //                    div(class="progress-bar progress-bar-primary progress-without-number" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;")
                //                        span.sr-only 10% Complete
    // end: sidebar
    section(role="main" class="content-body")
        block header
        block content